@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

}

<h4>@ViewData["Title"]</h4>
    <body>
        @*<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - Centarix Management System</title>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            load the jquery ui stylesheet
            <link rel="stylesheet" href="~/css/jquery-ui.min.css">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            load jquery ui
            <script src="~/lib/jquery/jquery-ui.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

        </head>
        <body>
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ourNavBar">
                    <div class="container-fluid">
                        <div class="container-fluid justify-content-start float-left d-inline-block" style="width:auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix Logo only.png" height="20" alt="Logo" /></a>
                        </div>
                        <div class="container-fluid justify-content-end">
                            <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
                                    </li>
                                    <li class="nav-item">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>*@
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div class="row">
            <div class="col-md-6">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </body>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
