@model PrototypeWithAuth.ViewModels.AddContactViewModel
<script src="~/js/vendorcontactinfopartial.js"></script>
@{

    var disabled = "";
    if (Model.IsEdit)
    {
        disabled = "disabled";
    }
}

@{
    var cardId = "contact-info-" + Model.Index;

    var hiddenContactIdID = "VendorContacts_" + Model.Index + "__VendorContact_VendorContactID";
    var hiddenContactIdName = "VendorContacts[" + Model.Index + "].VendorContact.VendorContactID";
    var hiddenContactDeleteID = "VendorContacts_" + Model.Index + "__Delete";
    var hiddenContactDeleteName = "VendorContacts[" + Model.Index + "].Delete";

    var contactNameID = "VendorContacts_" + Model.Index + "__VendorContact_VendorContactName";
    var contactNameName = "VendorContacts[" + Model.Index + "].VendorContact.VendorContactName";
    var contactEmailID = "VendorContacts_" + Model.Index + "__VendorContact_VendorContactEmail";
    var contactEmailName = "VendorContacts[" + Model.Index + "].VendorContact.VendorContactEmail";
    var contactPhoneID = "VendorContacts_" + Model.Index + "__VendorContact_VendorContactPhone";
    var contactPhoneName = "VendorContacts[" + Model.Index + "].VendorContact.VendorContactPhone";
}
<div class="contact-info" id="@cardId">

    <input type="hidden" id="@hiddenContactIdID" name="@hiddenContactIdName" value="@Model.VendorContact.VendorContactID" />
    <input type="hidden" id="@hiddenContactDeleteID" name="@hiddenContactDeleteName" value="false" class="contact-deletes" />

    <div class="row mb-0">
        <div class="col-10 mr-4">@*empty div b/c need same margins as below*@</div>
        <div class="col-1">
            <button type="button" class="close vendor-contact-close float-right pr-2 pt-2 mark-readonly" @disabled ContactCardID="@Model.Index" aria-label="Close" style="float: right;">X</button>
        </div>
    </div>
    <br />
    <div class="row mb-3 ">
        <div class="col-6 mr-4  ">
            <label id="@contactNameID" name="@contactNameName" class="control-label ">Name</label>
            <input id="@contactNameID" name="@contactNameName" value="@Model.VendorContact.VendorContactName" class="form-control-plaintext border-bottom vendor-contact contact-name mark-readonly" @disabled />
        </div>
        <div class="col-5  ">
            <label class="control-label">Category</label>
            <input class="form-control-plaintext border-bottom mark-readonly" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 mr-4">
            <label id="@contactEmailID" name="@contactEmailName" class="control-label ">Email</label>
            <input id="@contactEmailID" name="@contactEmailName" value="@Model.VendorContact.VendorContactEmail" class="form-control-plaintext border-bottom contact-email vendor-contact mark-readonly" @disabled />
        </div>
        <div class="col-5 mb-5 ">
            <label id="@contactPhoneID" name="@contactPhoneName" class="control-label ">Phone</label>
            <input id="@contactPhoneID" name="@contactPhoneName" value="@Model.VendorContact.VendorContactPhone" class="form-control-plaintext border-bottom contact-phone  vendor-contact mark-readonly" @disabled />
        </div>
    </div>
</div>
