@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel;
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{ string buttonClass = "";
    string navLinkClass = "";
    string backgroundColor = "";
    if (Model.SectionType.Equals(AppUtility.MenuItems.LabManagement))

    {
        Layout = "~/Views/Shared/RequestNavView.cshtml";
        buttonClass = "lab-man-background-color";
        navLinkClass = "lab-man-nav-link";
        backgroundColor = "var(--lab-man-color)";
    }
    else
    {
        Layout = "~/Views/Shared/RequestNavView.cshtml";
        buttonClass = "accounting-background-color";
        navLinkClass = "supplier-nav-link";
        backgroundColor = " var(--acc-color)";
    }
    <div class="card col-8 offset-2 mt-4" style="width:100%; box-shadow: 0px 2px 6px #5656567A;">
        <div class="card-body" id="addVendorModal">
            <form action="" id="createModalForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                @Html.HiddenFor(c => c.SectionType)
                <div class="new-modal-header border-bottom container-fluid" style="padding: 0.5em 6em">
                    <div class="row mt-3 mb-5">
                        <div class="col-8 offset-0">
                            <div class="mt-1 heading-1">New Supplier</div>
                        </div>
                        <div class="col-4">
                            <input type="submit" id="addSupplier" value="Add Supplier" asp-action="Create" class="@buttonClass  custom-button custom-button-font disabled-submit" style="float: right;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center">
                                <ul class="nav nav-tabs container-fluid pr-0 border-bottom-0" style="display:inline-flex; justify-content:space-between; color:#666666;">
                                    <li class="nav-item"><a data-toggle="tab" href="#details" id="vendor-details-tab" class="nav-link  @navLinkClass "><i class="icon-storefront-24px" style="font-size: 2rem;"></i><br />Details</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#categories" id="vendor-categories-tab" class="nav-link  @navLinkClass" disabled><i class="icon-category-24px1" style="font-size: 2rem;"></i><br />Categories</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#payment" id="vendor-payments-tab" class="nav-link @navLinkClass" disabled><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Payment</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="vendor-comment-tab" href="#comments" class="nav-link  @navLinkClass " disabled><i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />Comments</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="vendor-contact-tab" href="#contact" class="nav-link   @navLinkClass " disabled><i class="icon-centarix-icons-17" e.css style="font-size: 2rem;"></i><br />Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-modal-body">
                    <div class="container-fluid div-tabs p-5" style="background: #FFF; padding: 2em;" @*border: 2px solid #EAEAEB;"*@>
                        <div class="tab-content">
                            <div id="details" class="tab-pane fade">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label asp-for="Vendor.VendorEnName" class="control-label"></label>
                                        <input asp-for="Vendor.VendorEnName" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorEnName" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label asp-for="Vendor.VendorHeName" class="control-label"></label>
                                        <input asp-for="Vendor.VendorHeName" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorHeName" class="text-danger-centarix "></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="control-label">Category Type</label>
                                        <select class="mdb-select md-form colorful-select dropdown-primary" asp-for="VendorCategoryTypes" multiple required id="VendorCategoryTypes">
                                            @foreach (var categoryType in Model.CategoryTypes)
                                            {
                                                <option value="@categoryType.CategoryTypeID">
                                                    @categoryType.CategoryTypeDescription
                                                </option>

                                            }

                                        </select>
                                        <span asp-validation-for="VendorCategoryTypes" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="Vendor.VendorBuisnessID" class="control-label"></label>
                                        <input asp-for="Vendor.VendorBuisnessID" class="form-control-plaintext border-bottom align-with-select" />
                                        <span asp-validation-for="Vendor.VendorBuisnessID" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <label asp-for="Vendor.VendorCountry" class="control-label"></label>
                                        <input asp-for="Vendor.VendorCountry" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorCountry" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-3">
                                        <label asp-for="Vendor.VendorCity" class="control-label"></label>
                                        <input asp-for="Vendor.VendorCity" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorCity" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-3">
                                        <label asp-for="Vendor.VendorStreet" class="control-label"></label>
                                        <input asp-for="Vendor.VendorStreet" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorStreet" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-3">
                                        <label asp-for="Vendor.VendorZip" class="control-label"></label>
                                        <input asp-for="Vendor.VendorZip" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorZip" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorTelephone" class="control-label"></label>
                                        <input asp-for="Vendor.VendorTelephone" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorTelephone" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorCellPhone" class="control-label"></label>
                                        <input asp-for="Vendor.VendorCellPhone" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorCellPhone" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorFax" class="control-label"></label>
                                        <input asp-for="Vendor.VendorFax" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorFax" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label asp-for="Vendor.OrdersEmail" class="control-label"></label>
                                        <input asp-for="Vendor.OrdersEmail" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.OrdersEmail" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Vendor.InfoEmail" class="control-label"></label>
                                        <input asp-for="Vendor.InfoEmail" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.InfoEmail" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorWebsite" class="control-label"></label>
                                        <input asp-for="Vendor.VendorWebsite" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorWebsite" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="categories" class="tab-pane fade">
                                <div class="row mb-3">
                                    <div class="col-2">
                                        <label class="control-label">Sub category 1</label>
                                        <input class="form-control-plaintext border-bottom" />
                                    </div>
                                    <div class="col-2">
                                        <label class="control-label">Sub category 2</label>
                                        <input class="form-control-plaintext border-bottom" />
                                    </div>
                                    <div class="col-2">
                                        <label class="control-label">Sub category 3</label>
                                        <input class="form-control-plaintext border-bottom" />
                                    </div>
                                    <div class="col-2">
                                        <label class="control-label">Sub category 4</label>
                                        <input class="form-control-plaintext border-bottom" />
                                    </div>
                                    <div class="col-2">
                                        <label class="control-label">Sub category 5</label>
                                        <input class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                            </div>
                            <div id="payment" class="tab-pane fade">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorBank" class="control-label"></label>
                                        <input asp-for="Vendor.VendorBank" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorBank" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorBankBranch" class="control-label"></label>
                                        <input asp-for="Vendor.VendorBankBranch" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorBankBranch" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Vendor.VendorAccountNum" class="control-label"></label>
                                        <input asp-for="Vendor.VendorAccountNum" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorAccountNum" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label asp-for="Vendor.VendorSwift" class="control-label"></label>
                                        <input asp-for="Vendor.VendorSwift" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorSwift" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="Vendor.VendorBIC" class="control-label"></label>
                                        <input asp-for="Vendor.VendorBIC" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorBIC" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label asp-for="Vendor.VendorGoldAccount" class="control-label"></label>
                                        <input asp-for="Vendor.VendorGoldAccount" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Vendor.VendorGoldAccount" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                            </div>

                            <div id="comments" class="tab-pane fade">

                                <div class="text-right p-2 row popover-div">
                                    <div class="col-9"> <h2 class="text-left">Comments, Warnings, and Discounts</h2></div>

                                    <div class=" container col-2">
                                        <ul class="list-unstyled">
                                            <li><button href="#" id="addSupplierComment" type="button" data-toggle="popover" data-placement="bottom" data-container="body" class="btn btn-circle btn-xl" style="background-color:@backgroundColor;">   +</button></li>

                                            <div style="display:none;" id="popover-content">

                                                @foreach (var item in Model.CommentTypes)
                                                {<div class="row px-3">
                                                        @if (item.Equals(AppUtility.CommentTypeEnum.Comment))
                                                        {
                                                        <i class="icon-comment-24px" style="color: #30BCC9; padding-top: .55rem; font-size: 1.25rem;"></i>
                                                        }
                                                        else
                                                        {
                                                        <i class="icon-report_problem-24px-2" style="color: var(--danger-color); padding-top: .55rem; font-size: 1.25rem;"></i>
                                                        }
                                                        <button type="button" id="@item" class="no-box-shadow btn bg-transparent row p-0 text-capitalize text-dark" style="font-size:1rem; font-weight:400;" onclick="$.fn.addComment('@item')">@item</button><hr class="m-0" />

                                                    </div>
                                                        }
                                                    </div>

                                        </ul>
                                    </div>
                                </div>
                                <div id="comment-info">
                                    @for (int i = 0; i < Model.VendorComments.Count(); i++)
                                    {
                                    <div class="table comment-info border p-2 mb-3" style="display:none">
                                        @Html.HiddenFor(x => x.VendorComments[i].IsActive, htmlAttributes: new { @class = "comment-active" })
                                        @Html.HiddenFor(x => x.VendorComments[i].VendorComment.CommentType, htmlAttributes: new { @class = "comment-type" })

                                        <div class="row ml-2  border-bottom-0">
                                            <div class="col-1 mt-auto mb-auto ">
                                                <img src="~/images/css/profile_circle_big.png" height="45" alt="default User image" />
                                            </div>
                                            <div class="col-9 ">
                                                <div class=" p-3 ">
                                                    <label class="m-0"> @UserManager.GetUserAsync(User).Result.FirstName</label>
                                                    <label class="m-0">@UserManager.GetUserAsync(User).Result.LastName</label>
                                                    <label class="m-0">@DateTime.Now.ToString("MMMM") @DateTime.Now.Day, @DateTime.Now.Year @DateTime.Now.ToString("hh:mm tt") </label>

                                                    <input asp-for="@Model.VendorComments[i].VendorComment.CommentText" class="form-control-plaintext border-bottom m-0 p-0" />
                                                    <span asp-validation-for="@Model.VendorComments[i].VendorComment.CommentText" class="text-danger-centarix"></span>
                                                </div>

                                            </div>
                                            <div class=" col-2 ">  <i class=" float-right m-4" style="padding-top: .55rem; font-size: 1.25rem;"></i></div>

                                        </div>
                                    </div>
                                    }
                                </div>


                            </div>
                            <div id="contact" class="tab-pane fade">
                                <div id="contact-info">

                                    @for (int i = 0; i < Model.VendorContacts.Count(); i++)
                                    {
                                        <div class=" contact-info" style="display:none">
                                            @Html.HiddenFor(x => x.VendorContacts[i].IsActive, htmlAttributes: new { @class = "contact-active" })
                                            <div class="row mb-3 ">
                                                <div class="col-6 mr-4  ">
                                                    <label asp-for="@Model.VendorContacts[i].VendorContact.VendorContactName" class="control-label"></label>
                                                    <input asp-for="@Model.VendorContacts[i].VendorContact.VendorContactName" class="form-control-plaintext border-bottom vendor-contact" />
                                                    <span asp-validation-for="@Model.VendorContacts[i].VendorContact.VendorContactName" class="text-danger-centarix"></span>
                                                </div>
                                                <div class="col-5  ">
                                                    <label class="control-label">Category</label>
                                                    <input class="form-control-plaintext border-bottom" />
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-6 mr-4">
                                                    <label asp-for="@Model.VendorContacts[i].VendorContact.VendorContactEmail" class="control-label"></label>
                                                    <input asp-for="@Model.VendorContacts[i].VendorContact.VendorContactEmail" class="form-control-plaintext border-bottom  vendor-contact" />
                                                    <span asp-validation-for="@Model.VendorContacts[i].VendorContact.VendorContactEmail" class="text-danger-centarix"></span>
                                                </div>
                                                <div class="col-5 mb-5 ">
                                                    <label asp-for="@Model.VendorContacts[i].VendorContact.VendorContactPhone" class="control-label"></label>
                                                    <input asp-for="@Model.VendorContacts[i].VendorContact.VendorContactPhone" class="form-control-plaintext border-bottom  vendor-contact" />
                                                    <span asp-validation-for="@Model.VendorContacts[i].VendorContact.VendorContactPhone" class="text-danger-centarix"></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="text-center">
                                    <input id="addSuplierContact" type="button" value="+ Add contact name" class="btn  btn-rounded border no-box-shadow pt-1 pb-1 pr-5 pl-5 text-capitalize " style="font-size:1rem;" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>


    }


    @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
