@model PrototypeWithAuth.Models.Vendor

@{
    ViewData["Title"] = "DetailsForPayment";
    Layout = "~/Views/Shared/SuppliersNavView.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorEnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorEnName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorHeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorHeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorBuisnessID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorBuisnessID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContactPhone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContactPhone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContactPhone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContactPhone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorBank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorBankBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorBankBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorAccountNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorAccountNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorSwift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorSwift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorBIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorBIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorGoldAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorGoldAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.VendorID">Delete</a> |
    <a asp-action="IndexForPayment">Back to List</a>
</div>
