@model PrototypeWithAuth.ViewModels.CreateSupplierViewModel;
@using PrototypeWithAuth.ViewModels;
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{
    string showDetails = "";
    string showCategories = "";
    string showPayment = "";
    string showComments = "";
    string showContact = "";
    switch (Model.Tab)
    {
        case 1:
            showDetails = " active show ";
            break;
        case 2:
            showCategories = " active show ";
            break;
        case 3:
            showPayment = " active show ";
            break;
        case 4:
            showComments = " active show ";
            break;
        case 5:
            showContact = " active show ";
            break;

    }

    string backgroundColor = "";
    string switchClass = "";
    if (Model.SectionType.Equals(AppUtility.MenuItems.LabManagement))
    {
        backgroundColor = "var(--lab-man-color)";
        switchClass = "suppliers";
    }
    else
    {
        backgroundColor = " var(--acc-color)";
        switchClass = "accounting";
    }
}
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<script src="~/js/Validation/CreateVendorFormValidation.js"></script>


<input type="hidden" class="old-name" value="@Model.Vendor.VendorEnName" />
<div class="container-fluid edit-modal-body box-shadow" style="background: #FFF; border: 2px solid #EAEAEB;">
    <input type="hidden" class="setupdropdowns" value="true" />
    @for (int ct = 0; ct < Model.VendorCategoryTypes.Count; ct++)
    {
        <input type="hidden" asp-for="VendorCategoryTypes[0]" class="vendor-cat-types" />
    }
    <div class=" row text-right mb-0">
        <div class="switch col-12 switch-margin">
            <label>
                <label class="edit-mode-switch-description">Edit Mode Off</label>
                <input type="checkbox" class="turn-edit-on-off @switchClass" name="details" value="@Model.Vendor.VendorID">
                <span class="lever"></span>
            </label>
        </div>
    </div>

    <div class="tab-content">
        <div id="details" class="tab-pane fade  @showDetails">
            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name">Vendor Details</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorHeName" class="control-label"></label>
                        <input asp-for="Vendor.VendorHeName" class="form-control-plaintext border-bottom  mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorHeName" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label">Category Type</label>
                        @Html.DropDownListFor(m => m.VendorCategoryTypes,
    new SelectList(Model.CategoryTypes, "CategoryTypeID", "CategoryTypeDescription"),
     new { @class = "mdb-select custom select-dropdown form-control-plaintext mark-readonly", @multiple = "multiple", @disabled = "disabled" })
                        @*<select class=" mdb-select custom select-dropdown form-control-plaintext mark-readonly" asp-for="VendorCategoryTypes" multiple disabled>
                                @foreach (var categoryType in Model.CategoryTypes)
                                {
                                    <option value="@categoryType.CategoryTypeID">
                                        @categoryType.CategoryTypeDescription
                                    </option>

                                }

                            </select>*@
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorBuisnessID" class="control-label"></label>
                        <input asp-for="Vendor.VendorBuisnessID" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorBuisnessID" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorCountry" class="control-label"></label>
                        <input asp-for="Vendor.VendorCountry" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorCountry" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorCity" class="control-label"></label>
                        <input asp-for="Vendor.VendorCity" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorCity" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorStreet" class="control-label"></label>
                        <input asp-for="Vendor.VendorStreet" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorStreet" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorZip" class="control-label"></label>
                        <input asp-for="Vendor.VendorZip" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorZip" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorTelephone" class="control-label"></label>
                        <input asp-for="Vendor.VendorTelephone" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorTelephone" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorCellPhone" class="control-label"></label>
                        <input asp-for="Vendor.VendorCellPhone" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorCellPhone" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorFax" class="control-label"></label>
                        <input asp-for="Vendor.VendorFax" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorFax" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.OrdersEmail" class="control-label"></label>
                        <input asp-for="Vendor.OrdersEmail" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.OrdersEmail" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.InfoEmail" class="control-label"></label>
                        <input asp-for="Vendor.InfoEmail" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.InfoEmail" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorWebsite" class="control-label"></label>
                        <input asp-for="Vendor.VendorWebsite" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorWebsite" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="categories" class="tab-pane fade @showCategories">
            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name">Categories</span>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Sub category 1</label>
                        <input class="form-control-plaintext border-bottom mark-readonly" disabled />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Sub category 2</label>
                        <input class="form-control-plaintext border-bottom mark-readonly" disabled />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Sub category 3</label>
                        <input class="form-control-plaintext border-bottom mark-readonly" disabled />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Sub category 4</label>
                        <input class="form-control-plaintext border-bottom mark-readonly" disabled />
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="control-label">Sub category 5</label>
                        <input class="form-control-plaintext border-bottom mark-readonly" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div id="payment" class="tab-pane fade @showPayment">
            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name">Payment</span>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorBank" class="control-label"></label>
                        <input asp-for="Vendor.VendorBank" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorBank" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorBankBranch" class="control-label"></label>
                        <input asp-for="Vendor.VendorBankBranch" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorBankBranch" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorAccountNum" class="control-label"></label>
                        <input asp-for="Vendor.VendorAccountNum" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorAccountNum" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorSwift" class="control-label"></label>
                        <input asp-for="Vendor.VendorSwift" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorSwift" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorBIC" class="control-label"></label>
                        <input asp-for="Vendor.VendorBIC" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorBIC" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Vendor.VendorGoldAccount" class="control-label"></label>
                        <input asp-for="Vendor.VendorGoldAccount" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Vendor.VendorGoldAccount" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="comments" class="tab-pane fade @showComments">
            <div class="row modal-tab-name">

            </div>
            <div class="p-2 row popover-div">
                <span class="heading-1 col-10 modal-tab-name">Comments, Warnings, and Discounts</span>
                <div class=" col-2 pr-0 text-right">

                    <ul class="list-unstyled m-0">
                        <li>
                            <button href="#" id="addSupplierComment" type="button" data-toggle="popover" data-placement="bottom" data-container="body" data-trigger="focus" class="btn btn-circle btn-xl mark-readonly " disabled style="        background-color: @backgroundColor;
        height: 45px;
        width: 45px;
">
                                <span style="        color: white;
        font-size: 3rem;
        margin: auto;
        position: absolute;
        bottom: 22%;
        right: 10.5%;
"> +</span>
                            </button>
                        </li>

                        <div style="display:none;" id="popover-content">
                            @foreach (var item in Model.CommentTypes)
                            {<div class="row px-3 comment-btn">
                                    @if (item.Equals(AppUtility.CommentTypeEnum.Comment))
                                    {
                                        <i class="icon-comment-24px" style="color: #30BCC9; padding-top: .55rem; font-size: 1.25rem;"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-report_problem-24px" style="color: var(--danger-color); padding-top: .55rem; font-size: 1.25rem;"></i>
                                    }
                                    <button type="button" id="@item" class="no-box-shadow btn bg-transparent row p-0 text-capitalize text-dark" style="font-size:1rem; font-weight:400;" onclick="$.fn.addSupplierComment('@item')">@item</button><hr class="m-0" />

                                </div>
                            }

                        </div>
                    </ul>
                </div>
            </div>
            <div id="comment-info">
                @for (int i = 0; i < Model.VendorComments.Count(); i++)
                {
                    <input type="hidden" value="@Model.VendorComments.Count" id="comment-index" />
                    <input type="hidden" asp-for="VendorComments[i].VendorCommentID" />

                    await Html.RenderPartialAsync("CommentInfoPartialView", new AddCommentViewModel { VendorComment = Model.VendorComments[i], Index = i, IsEdit = true });

                }
            </div>
        </div>
        <div id="contact" class="tab-pane fade @showContact">
            <div id="contact-info">
                <div class="row modal-tab-name">
                    <span class="heading-1 col-12 modal-tab-name">Contact Info</span>
                </div>
                <input type="hidden" value="@Model.VendorContacts.Count" id="contact-index" />
                @for (int x = 0; x < Model.VendorContacts.Count(); x++)
                @*@{var x = 0; }
                @foreach(var vendorContact in Model.VendorContacts)*@
                {

                    await Html.RenderPartialAsync("ContactInfoPartial", new AddContactViewModel { VendorContact = Model.VendorContacts[x].VendorContact, Index = x, IsEdit = true });
                    
                }
            </div>
            <div class="text-center">
                <input id="addSuplierContact" type="button" value="+ Add contact name" class="btn  btn-rounded border no-box-shadow pt-1 pb-1 pr-5 pl-5 text-capitalize mark-readonly" disabled style="font-size:1rem;" />
            </div>

        </div>
    </div>
</div>
@if (Model.Tab != 0)
{
    <script>
        $.fn.ChangeCheckboxesToFilledIn();
    </script>
}
<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $.fn.SetUpDropdowns();
        });
        $.fn.SetUpDropdowns = function () {
            $(".vendor-cat-types").each(function () {
                $("#VendorCategoryTypes option[value='" + $(this).val() + "']").attr("selected", true);
                console.log("value of cat type is: " + $(this).val());
            });
        };
    });
</script>
