@model IEnumerable<PrototypeWithAuth.Models.Vendor>
@using PrototypeWithAuth.AppData

@{
    ViewData["Title"] = "Index";

    string pageType = TempData[AppUtility.TempDataTypes.PageType.ToString()].ToString();
    var pagetype = TempData[AppUtility.TempDataTypes.PageType.ToString()];
    if (TempData["CategoryType"].Equals(1))
    {
        Layout = "~/Views/Shared/RequestNavView.cshtml";
    }
    else if (TempData["CategoryType"].Equals(2))
    {
        Layout = "~/Views/Shared/OperationsNavView.cshtml";
    }
}

@*<p>
    <a asp-action="Create"><img src="~/images/css/inventory/icons/add_circle_outline_colored.png" alt="Create New" /></a><small>(not supposed to be here)</small>
</p>*@

<div class="">

    <table class="table table-headerspaced table-noheaderlines table-hover text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorID)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.VendorEnName)*@
                    Vendor Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.VendorHeName)*@
                    Hebrew Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorBuisnessID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OrdersEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorTelephone)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="vendor-list-item">
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorID)
                    </td>
                    <td>
                        @if (TempData["CategoryType"].Equals(1))
                        {
                            <a href="@Url.ActionLink("Index", "Requests", new { vendorID = @item.VendorID, @PageType = pageType }, null)">
                                @Html.DisplayFor(modelItem => item.VendorEnName)
                            </a>
                        }
                        else if (TempData["CategoryType"].Equals(2))
                        {
                            <a href="@Url.ActionLink("Index", "Operations", new { vendorID = @item.VendorID, @PageType = pageType }, null)">
                                @Html.DisplayFor(modelItem => item.VendorEnName)
                            </a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorHeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorBuisnessID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OrdersEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorTelephone)
                    </td>
                    <!--<td>

                        @Html.ActionLink("orders", "Index", "Requests", new { vendorID = @item.VendorID, @PageType = pageType }, null)
                    </td>-->
                
                </tr>
            }
        </tbody>
    </table>
</div>