@model IEnumerable<PrototypeWithAuth.Models.Vendor>
@using PrototypeWithAuth.AppData

@{
    ViewData["Title"] = "IndexForLabManage";
    Layout = "~/Views/Shared/SuppliersNavViewForLabManage.cshtml";
    // string pageType = TempData["PageType"].ToString();
}

<div class="ml-5">
    <table class="table table-headerspaced table-noheaderlines text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorID)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.VendorEnName)*@
                    Vendor Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.VendorHeName)*@
                    Hebrew Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorBuisnessID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OrdersEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorTelephone)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="vendor-list-item">
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorID)
                    </td>
                    <td>
                        <a asp-action="DetailsForPayment" asp-route-id="@item.VendorID" class="acc-link-clr" asp-route-SectionType="@AppUtility.MenuItems.LabManagement">@Html.DisplayFor(modelItem => item.VendorEnName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorHeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorBuisnessID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OrdersEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorTelephone)
                    </td>
                    @*<td>

                            @Html.ActionLink("orders", "Index", "Requests", new { vendorID = @item.VendorID, @PageType = pageType }, null)
                        </td>*@
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.VendorID">Edit</a> |*@

                        @*<a asp-action="Delete" asp-route-id="@item.VendorID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>