@model IEnumerable<PrototypeWithAuth.Models.Vendor>
@using PrototypeWithAuth.AppData

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    string pageType = TempData["PageType"].ToString();
}

@*this is not in the surrent mockup
    <h1>Index</h1>
*@
<p>
    <a asp-action="Create"><img src="~/images/css/inventory/icons/add_circle_outline_colored.png" alt="Create New" /></a><small>(not supposed to be here)</small>
</p>

<div class="mx-5">

    <table class="table table-headerspaced table-noheaderlines text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorID)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.VendorEnName)*@
                    Vendor Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.VendorHeName)*@
                    Hebrew Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorBuisnessID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OrderEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorContactPhone1)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="vendor-list-item">
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorEnName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorHeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorBuisnessID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OrderEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorContactPhone1)
                    </td>
                    <!--<td>

                        @Html.ActionLink("orders", "Index", "Requests", new { vendorID = @item.VendorID, @PageType = pageType }, null)
                    </td>-->
                    <td>
                        <a asp-action="Details" asp-route-id="@item.VendorID"><img src="~/images/css/inventory/icons/view-eye.png" alt="Details" /></a>

                        <!--| <a asp-action="Edit" asp-route-id="@item.VendorID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.VendorID">Delete</a> -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>