@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels._ExternalCalibrationViewModel
<script src="~/js/calibrationpartials.js"></script>

@{
    var NameID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__CalibrationName";
    var NameName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].CalibrationName";
    var NameClass = "ExternalCalibrations.CalibrationName";

    var DateID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__Date";
    var DateName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].Date";

    var DaysID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__Days";
    var DaysName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].Days";

    var MonthsID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__Months";
    var MonthsName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].Months";

    var RepeatID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__IsRepeat";
    var RepeatName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].IsRepeat";

    var radioButtonsName = "IsECGroup" + Model.ExternalCalibrationIndex;
    var onceID = "once" + Model.ExternalCalibrationIndex;
    var repeatID = "repeat" + Model.ExternalCalibrationIndex;

    var onceChecked = "";
    var repeatChecked = "";
    if (Model.ExternalCalibration.IsRepeat)
    {
        repeatChecked = "checked=checked";
    }
    else
    {
        onceChecked = "checked=checked";
    }

    var DescID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__Description";
    var DescName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].Description";

    var shortDate = Model.ExternalCalibration.Date.Date;

    var divName = "externalcalibration-outer-div ECDiv" + Model.ExternalCalibrationIndex;

    var DeletedID = "ExternalCalibrations_" + Model.ExternalCalibrationIndex + "__IsDeleted";
    var DeletedName = "ExternalCalibrations[" + Model.ExternalCalibrationIndex + "].IsDeleted";
}

<div class="@divName" ecIndex="@Model.ExternalCalibrationIndex">

    <input type="hidden" asp-for="RequestID" />
    <input type="hidden" id="@DeletedID" name="@DeletedName" />
    <div class="row">
        <div class="col-10">
            <span class="heading-1 modal-tab-name">
                <input id="@NameID" name="@NameName" class="border-bottom form-control-plaintext" value="@Model.ExternalCalibration.CalibrationName" />
            </span>
        </div>
        <div class="col-2">
            @if (Model.IsNew || Model.ExternalCalibration.Date > DateTime.Now)
            {
                <button class="removeNewExternalCalibration close modal-close-padding modal-close-style text" index="@Model.ExternalCalibrationIndex">X</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label class="control-label" asp-for="ExternalCalibration.Date"></label>
            <input asp-for="ExternalCalibration.Date" id="@DateID" name="@DateName" class="border-bottom form-control-plaintext" type="date" />
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <label class="control-label" asp-for="ExternalCalibration.Days"></label>
            @*since once is automatically clicked the following will come up as disabled*@
            <input id="@DaysID" name="@DaysName" class="border-bottom form-control-plaintext" min="0" value="@Model.ExternalCalibration.Days" disabled />
        </div>
        <div class="col-1">
            <label class="control-label" asp-for="ExternalCalibration.Months"></label>
            <input id="@MonthsID" name="@MonthsName" class="border-bottom form-control-plaintext" min="0" value="@Model.ExternalCalibration.Months" disabled />
        </div>
        <div class="col-1 offset-1">
            <input type="hidden" id="@RepeatID" name="@RepeatName" class="HiddenIsRepeat" tabindex="@Model.ExternalCalibration" value="@Model.ExternalCalibration.IsRepeat" />
            <div class="custom-control custom-radio mr-4  repeat-type">
                <input @onceChecked class="custom-control-input isRepeat" id="@onceID" type="radio" value="false" name="@radioButtonsName" />
                @* @Html.RadioButtonFor(model => model.Repair.IsRepeat, false, htmlAttributes: new { @class = "custom-control-input isRepeat", @id = onceID })*@
                <label class="radio-button externalCalibration custom-control-label pt-1 pl-2" for="@onceID">Once</label>
            </div>
            <div class="custom-control custom-radio mr-4  repeat-type">
                <input @repeatChecked class="custom-control-input isRepeat" id="@repeatID" type="radio" value="true" name="@radioButtonsName" />
                @*@Html.RadioButtonFor(model => model.Repair.IsRepeat, true, htmlAttributes: new { @class = "custom-control-input isRepeat", @id = repeatID })*@
                <label class="radio-button externalCalibration custom-control-label pt-1 pl-2" for="@repeatID">Repeat</label>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-12 border rounded" style="min-height:8rem">
            <input id="@DescID" name="@DescName" value="@Model.ExternalCalibration.Description" placeholder="short explanation..." class="form-control-plaintext" />
        </div>
    </div>
</div>