@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels._InternalCalibrationViewModel
<script src="~/js/calibrationpartials.js"></script>

@{
    var NameID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__CalibrationName";
    var NameName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].CalibrationName";
    var NameClass = "InternalCalibrationsCalibrationName";

    var DateID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__Date";
    var DateName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].Date";
    var DateClass = "InternalCalibrationsDate";

    var DaysID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__Days";
    var DaysName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].Days";
    var DaysClass = "InternalCalibrationsDays";

    var MonthsID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__Months";
    var MonthsName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].Months";
    var MonthsClass = "InternalCalibrationsMonths";

    var RepeatID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__IsRepeat";
    var RepeatName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].IsRepeat";
    var RepeatClass = "InternalCalibrationsIsRepeat ICIsRepeat" + Model.InternalCalibrationIndex;

    var radioButtonsName = "IsRepeatGroup" + Model.InternalCalibrationIndex;
    var onceID = "once-ic" + Model.InternalCalibrationIndex;
    var repeatID = "repeat-ic" + Model.InternalCalibrationIndex;

    var onceChecked = "";
    var repeatChecked = "";
    if (Model.InternalCalibration.IsRepeat)
    {
        repeatChecked = "checked=checked";
    }
    else
    {
        onceChecked = "checked=checked";
    }

    var DescID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__Description";
    var DescName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].Description";

    var shortDate = Model.InternalCalibration.Date.Date;

    var divName = "internalcalibration-outer-div ICDiv" + Model.InternalCalibrationIndex;

    var DeletedID = "InternalCalibration_" + Model.InternalCalibrationIndex + "__IsDeleted";
    var DeletedName = "InternalCalibration[" + Model.InternalCalibrationIndex + "].IsDeleted";
}

<div class="@divName" icIndex="@Model.InternalCalibrationIndex">

    <input type="hidden" asp-for="RequestID" />
    <input type="hidden" id="@DeletedID" name="@DeletedName" />
    <div class="row">
        <div class="col-10">
            <span class="heading-1 modal-tab-name">
                <input id="@NameID" name="@NameName" class="border-bottom form-control-plaintext @NameClass" value="@Model.InternalCalibration.CalibrationName" />
            </span>
        </div>
        <div class="col-2">
            @if (Model.IsNew || Model.InternalCalibration.Date > AppUtility.ElixirDate())
            {
                <button type="button" class="close modal-close-padding modal-close-style removeNewInternalCalibration" aria-label="Close"  index="@Model.InternalCalibrationIndex">
                    <span aria-hidden="true">&times;</span>
                </button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label class="control-label" asp-for="InternalCalibration.Date"></label>
            <input asp-for="InternalCalibration.Date" id="@DateID" name="@DateName" class="@DateClass border-bottom form-control-plaintext" type="date" />
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <label class="control-label" asp-for="InternalCalibration.Days"></label>
            @*since once is automatically clicked the following will come up as disabled*@
            <input id="@DaysID" name="@DaysName" class="@DaysClass border-bottom form-control-plaintext" calIndex="@Model.InternalCalibrationIndex" min="0" value="@Model.InternalCalibration.Days" disabled />
        </div>
        <div class="col-1">
            <label class="control-label" asp-for="InternalCalibration.Months"></label>
            <input id="@MonthsID" name="@MonthsName" class="@MonthsClass border-bottom form-control-plaintext" calIndex="@Model.InternalCalibrationIndex" min="0" value="@Model.InternalCalibration.Months" disabled />
        </div>
        <div class="col-1 offset-1">
            <input type="hidden" id="@RepeatID" name="@RepeatName" class="HiddenIsRepeat @RepeatClass " tabindex="@Model.InternalCalibrationIndex" value="@Model.InternalCalibration.IsRepeat" />
            <div class="custom-control custom-radio mr-4  repeat-type">
                <input @onceChecked class="custom-control-input isRepeat" id="@onceID" type="radio" value="false" name="@radioButtonsName" />
                <label class="radio-button internalCalibration custom-control-label pt-1 pl-2" for="@onceID">Once</label>
            </div>
            <div class="custom-control custom-radio mr-4  repeat-type">
                <input @repeatChecked class="custom-control-input isRepeat" id="@repeatID" type="radio" value="true" name="@radioButtonsName" />
                <label class="radio-button internalCalibration custom-control-label pt-1 pl-2" for="@repeatID">Repeat</label>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-12 border rounded" style="min-height:8rem">
            <input id="@DescID" name="@DescName" value="@Model.InternalCalibration.Description" placeholder="short explanation..." class="form-control-plaintext" />
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(".createCalibration").validate({
            rules: {
            }
        });
        var InternalCalibrationIsRepeat = function (index) {
            return $(".ICIsRepeat" + index).val() == "true";
        }
        $(".InternalCalibrationsCalibrationName").each(function () {
            $(this).rules("add", {
                required: true
            });
        });
        $(".InternalCalibrationsDate").each(function () {
            $(this).rules("add", {
                required: true
            });
        });
        $(".InternalCalibrationsDays").each(function () {
            var index = $(this).attr("calIndex");
            $(this).rules("add", {
                required: InternalCalibrationIsRepeat(index),
                integer: true,
                number: true,
                min: 1
            });
        });
        $(".InternalCalibrationsMonths").each(function () {
            var index = $(this).attr("calIndex");
            $(this).rules("add", {
                required: InternalCalibrationIsRepeat(index),
                integer: true,
                number: true,
                min: 1
            });
        });
    });
</script>