
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Controllers
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@using PrototypeWithAuth.ViewModels

@model CreateCalibrationViewModel;

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    if (!AppUtility.IsAjaxRequest(Context.Request))
    {
        Layout = "~/Views/Shared/RequestNavView.cshtml";
    }

}
<script src="~/js/calibrationpartials.js"></script>
<div class="col-12  mx-auto on-form-modal supplier-form" style="width: 60%">
    <div class="on-form-modal-border">
        <form action="" id="myForm" class="createCalibration" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
            <input type="hidden" asp-for="RequestID" />
            <div class="new-modal-header border-bottom container-fluid" style="padding: 0">
                <div class="row">
                    <div class="col-7 form-group modal-line-1-header modal-sides">
                        <div class="mt-1 heading-1">@Model.ProductDescription</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="container-fluid div-tabs text-center modal-sides">
                            <ul class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0 nav-tabs-icons" style="">
                                <li class="nav-item"><a data-toggle="tab" href="#instructions" class="nav-link   lab-man-nav-link "><i class="icon-assignment-24px" style="font-size: 2rem;"></i><br />Instructions</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#repairs" class="nav-link  lab-man-nav-link" disabled><i class="icon-category-24px1" style="font-size: 2rem;"></i><br />Repairs</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#externalCalibration" class="nav-link next-tab  lab-man-nav-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />External Calibration</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#internalCalibration" class="nav-link next-tab  lab-man-nav-link "><i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />In House Maintainance</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#history" class="nav-link next-tab   lab-man-nav-link"><i class="icon-history-24px" e.css style="font-size: 2rem;"></i><br />History</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-modal-body">
                <div class="container-fluid div-tabs no-box-shadow p-0">
                    <div class="tab-content">
                        <div id="instructions" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row"><span class="heading-1 modal-tab-name">Instructions</span></div>

                                @{
                                    var urlAction = Url.Action("DocumentsModal", "Requests");
                                    var fontSize = "2rem";
                                }

                                <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />

                                <div class="row document-margin-bottom">
                                    <div class=" document-margin ">
                                        @{
                                            var filterClass = "opac87";
                                            if (Model.ManualFileStrings != null && Model.ManualFileStrings.Count > 0)
                                            {
                                                filterClass = "lab-man-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal labManagement" data-string="@AppUtility.RequestFolderNamesEnum.Manual.ToString()" data-id="@Model.RequestID" id="@AppUtility.RequestFolderNamesEnum.Manual.ToString()" data-val="@true" showSwitch="@false">
                                            <div class="card document-border ">
                                                <div class="document-card text-center">
                                                    <i class="icon-centarix-icons-03 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Manual</label>
                                    </div>
                                    <div class=" document-margin ">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.WarrantyFileStrings != null && Model.WarrantyFileStrings.Count > 0)
                                            {
                                                filterClass = "lab-man-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal labManagement" data-string="@AppUtility.RequestFolderNamesEnum.Warranty.ToString()" data-id="@Model.RequestID" id="@AppUtility.RequestFolderNamesEnum.Warranty.ToString()" data-val="@true" showSwitch="@false">
                                            <div class="card document-border">
                                                <div class=" document-card text-center">
                                                    <i class="icon-book-24px @filterClass document-icon" alt="order" style="font-size:@fontSize;"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Warranty</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.PicturesFileStrings != null && Model.PicturesFileStrings.Count > 0)
                                            {
                                                filterClass = "lab-man-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal labManagement" data-string="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-id="@Model.RequestID" id="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-val="@true" showSwitch="@false">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-camera_alt-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Pictures</label>
                                    </div>
                                    <div class="">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.MoreFileStrings != null && Model.MoreFileStrings.Count > 0)
                                            {
                                                filterClass = "lab-man-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal labManagement" data-string="@AppUtility.RequestFolderNamesEnum.More.ToString()" data-id="@Model.RequestID" id="@AppUtility.RequestFolderNamesEnum.More.ToString()" data-val="@true" showSwitch="@false">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-chrome_reader_mode-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">More</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div id="repairs" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="text-center">
                                    <input type="button" value="+ Add Repair" class="btn  btn-rounded border no-box-shadow pt-1 pb-1 pr-5 pl-5 text-capitalize addRepair " style="font-size:1rem;" />
                                </div>
                                @{ var repairIndex = 0;}
                                <div id="repairsListDiv">
                                    @for (var i = 0; i < Model.Repairs.Count; i++)
                                    {
                                        <input type="hidden" asp-for="Repairs[i].CalibrationID" />
                                        <input type="hidden" asp-for="Repairs[i].RequestID" />
                                        await Html.RenderPartialAsync("_Repairs",
                                            new _RepairsViewModel()
                                            {
                                                RequestID = Model.RequestID,
                                                Repair = Model.Repairs[i],
                                                RepairIndex = i,
                                                IsNew = false
                                            }
                                            );
                                        repairIndex = i + 1;
                                    }
                                </div>
                                <input type="hidden" id="repairIndex" value="@repairIndex" />
                                <div class="row mt-3 text-center">
                                    <div class="col-12">
                                        @*<input type="submit" class="text custom-button custom-button-font lab-man-background-color saveRepairs between-button-margin " value="Save" />*@
                                        <input type="submit" class="text custom-button custom-button-font lab-man-background-color saveRepairs between-button-margin" asp-action="SaveRepairs" value="Save" />
                                        @*<button class="text custom-button custom-button-font lab-man-background-color saveRepairs  between-button-margin">Save</button>*@
                                        <button class="custom-button custom-cancel text dont-save-request-edits ">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="externalCalibration" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="text-center">
                                    <input type="button" value="+ Add External Calibration" class="btn  btn-rounded border no-box-shadow pt-1 pb-1 pr-5 pl-5 text-capitalize addExternalCalibration " style="font-size:1rem;" />
                                </div>
                                @{ var externalCalibrationIndex = 0;}
                                <div id="ecListDiv">
                                    @for (var i = 0; i < Model.ExternalCalibrations.Count; i++)
                                    {
                                        <input type="hidden" asp-for="ExternalCalibrations[i].CalibrationID" />
                                        <input type="hidden" asp-for="ExternalCalibrations[i].RequestID" />
                                        await Html.RenderPartialAsync("_ExternalCalibration",
                                            new _ExternalCalibrationViewModel()
                                            {
                                                RequestID = Model.RequestID,
                                                ExternalCalibration = Model.ExternalCalibrations[i],
                                                ExternalCalibrationIndex = i,
                                                IsNew = false
                                            }
                                            );
                                        externalCalibrationIndex = i + 1;
                                    }
                                </div>
                                <input type="hidden" id="externalCalibrationIndex" value="@externalCalibrationIndex" />
                                <div class="row mt-3 text-center">
                                    <div class="col-12">
                                        @*<input type="submit" class="text custom-button custom-button-font lab-man-background-color saveRepairs between-button-margin " value="Save" />*@
                                        <input type="submit" class="text custom-button custom-button-font lab-man-background-color saveExternalCalibrations between-button-margin" asp-action="SaveExternalCalibrations" value="Save" />
                                        @*<button class="text custom-button custom-button-font lab-man-background-color saveRepairs  between-button-margin">Save</button>*@
                                        <button class="custom-button custom-cancel text dont-save-request-edits ">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="internalCalibration" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="text-center">
                                    <input type="button" value="+ Add Internal Calibration" class="btn  btn-rounded border no-box-shadow pt-1 pb-1 pr-5 pl-5 text-capitalize addInternalCalibration " style="font-size:1rem;" />
                                </div>
             
                                @{ var icIndex = 0;}
                                <div id="icListDiv">
                                    @for (var i = 0; i < Model.InternalCalibration.Count; i++)
                                    {
                                        <input type="hidden" asp-for="InternalCalibration[i].CalibrationID" />
                                        <input type="hidden" asp-for="InternalCalibration[i].RequestID" />
                                        await Html.RenderPartialAsync("_InternalCalibration",
                                            new _InternalCalibrationViewModel()
                                            {
                                                RequestID = Model.RequestID,
                                                InternalCalibration = Model.InternalCalibration[i],
                                                InternalCalibrationIndex = i,
                                                IsNew = false
                                            }
                                            );
                                        icIndex = i + 1;
                                    }
                                </div>
                                <input type="hidden" id="icIndex" value="@icIndex" />
                                <div class="row mt-3 text-center">
                                    <div class="col-12">
                                        <input type="submit" class="text custom-button custom-button-font lab-man-background-color saveInternalCalibrations between-button-margin" asp-action="SaveInternalCalibrations" value="Save" />
                                        <button class="custom-button custom-cancel text dont-save-request-edits ">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="history" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row modal-tab-name">
                                    <span class="heading-1 col-12 modal-tab-name">History</span>
                                </div>
                                <table class="table table-headerspaced table-noheaderlines table-hover text-center">
                                    <thead>
                                        <tr>
                                            <td>
                                                Date
                                            </td>
                                            <td>
                                                Name
                                            </td>
                                            <td>
                                                Description
                                            </td>

                                            <td>
                                                Type
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PastCalibrations)
                                        {
                                            <tr class="inv-list-item">
                                                <td>
                                                    @item.Date.ToShortDateString()
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>

                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

        </form>
    </div>
</div>
