@model PrototypeWithAuth.ViewModels.LocationIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLocationView.cshtml";
}

<script src="~/js/site.js" asp-append-version="true"></script>
@if (@User.IsInRole("Admin") || @User.IsInRole("Manager"))
{
    <div class="row">
        <div class="col-2 offset-1">
            <button class="inv-button load-add-location"  data-target="item" data-backdrop="static" data-keyboard="false" href="item">
                ADD LOCATION
            </button>
        </div>
        
    </div>
}
<br />
<div class="row">
    <div class="col-md-3 border colOne">
        <br />

        <table class="table table-sm table-hover">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(item => item.LocationsDepthOfZero.FirstOrDefault().LocationInstanceName)
                        @*"Name"*@
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.LocationsDepthOfZero)
                {

                    <tr>
                        <td>
                            <button class="btn btn-block load-sublocation-view" value="@item.LocationInstanceID">@item.LocationInstanceName</button>
                        </td> @*Freezer names*@
                    </tr>
                }

            </tbody>


        </table>

    </div>
    <div class="col-md-3 border colTwoSublocations text-center">

    </div>
    <div class="col-md-6 border VisualBoxColumn">
        @*<button class="btn btn-block">Zoom In</button>
            Box Placeholder*@
    </div>
</div>

