@model PrototypeWithAuth.ViewModels.SubLocationViewModel
<script src="~/js/Sublocation.js"></script>
<script src="~/js/site.js"></script>
<script src="~/lib/bootstrap/dist/js/mdb.min.js"></script>
<link href="~/lib/bootstrap/dist/css/mdb.css" rel="stylesheet" />
@{
    var i = 0;
    var parentType = Model.LocationTypes?.FirstOrDefault().LocationTypeParentID;

    <input style="display: none;" asp-for="LocationTypeParentID" value="@parentType" />
    switch (parentType)
    {
        case 100: //-196 <input style="display: none;" asp-for="LocationTypeParentID" value="@parentType" />
            <div class="row mx-0 px-0">
                <div class="col-4 pl-0 pr-2">
                    <span class="addLocationFont">@Html.DisplayFor(modelItem => Model.LocationTypes.ToList()[0].LocationTypePluralName):</span>
                    <input asp-for="LocationInstances[0].Height" min="0" class="form-control-plaintext border-bottom" />
                    <input asp-for="LocationInstances[0].LocationTypeID" value="@Model.LocationTypes.ToList()[0].LocationTypeID" style="display: none;" />
                </div>
                <div class="col-4 px-2">
                    <span class="addLocationFont">
                        @Html.DisplayFor(modelItem => Model.LocationTypes.ToList()[1].LocationTypePluralName):
                    </span>
                    <input asp-for="LocationInstances[1].Height" min="0" class="form-control-plaintext border-bottom" />
                    <input asp-for="LocationInstances[1].LocationTypeID" value="@Model.LocationTypes.ToList()[1].LocationTypeID" style="display: none;" />
                </div>
                <div class="col-4 pl-2 pr-0">
                    <span class="addLocationFont">@Html.DisplayFor(modelItem => Model.LocationTypes.ToList()[2].LocationTypePluralName):</span>
                    @Html.DropDownListFor(
                        m => m.LocationInstances[2].Height,
                        Model.BoxTypes,
                        "",
                        new { @class = "mdb-select custom select-dropdown form-control-plaintext " }
                    )
                    <input asp-for="LocationInstances[2].LocationTypeID" value="@Model.LocationTypes.ToList()[2].LocationTypeID" style="display: none;" />
                </div>
            </div>
            break;
        case 200: //-80
            <div class="row">
                <div class="col-6">
                    <span class="addLocationFont">
                        @Model.LocationTypes.ToList()[0].LocationTypePluralName
                        <input asp-for="LocationInstances[0].Height" min="0" class="form-control-plaintext border-bottom" />
                        <input asp-for="LocationInstances[0].LocationTypeID" value="@Model.LocationTypes.ToList()[0].LocationTypeID" style="display: none;" />
                    </span>
                </div>
                <div class="col-6">
                    <span class="addLocationFont">
                        Empty @Model.LocationTypes.ToList()[0].LocationTypePluralName
                    </span>
                    <div class="form-group">
                        <div class=" form-control-plaintext border-bottom p-0 " style="max-height: 3rem;">
                            <span class="choose p-0"></span>
                            <div class="dropdown-multiple pr-2 ">
                                <div class="select">

                                    <span class="caret py-0">
                                        ▼
                                    </span>
                                    <span class="addLocationFont"></span>
                                </div>
                                <div class="locationinstances dropdown-menu dropdown-menu-multiple">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="addLocationFont">
                        @Model.LocationTypes.ToList()[1].LocationTypePluralName
                        <input asp-for="LocationInstances[1].Height" min="0" class="form-control-plaintext border-bottom" />
                        <input asp-for="LocationInstances[1].LocationTypeID" value="@Model.LocationTypes.ToList()[1].LocationTypeID" style="display: none;" />
                    </span>
                </div>
                <div class="col-6">
                    <span class="addLocationFont">
                        @Model.LocationTypes.ToList()[2].LocationTypePluralName
                        <input asp-for="LocationInstances[2].Height" min="0" class="form-control-plaintext border-bottom" />
                        <input asp-for="LocationInstances[2].LocationTypeID" value="@Model.LocationTypes.ToList()[2].LocationTypeID" style="display: none;" />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="addLocationFont">@Html.DisplayFor(modelItem => Model.LocationTypes.ToList()[3].LocationTypePluralName)</span>
                    @Html.DropDownListFor(
                        m => m.LocationInstances[3].Height,
                        Model.BoxTypes,
                        "",
                        new { @class = "mdb-select custom select-dropdown form-control-plaintext " }
                    )
                    <input asp-for="LocationInstances[3].LocationTypeID" value="@Model.LocationTypes.ToList()[3].LocationTypeID" style="display: none;" />
                </div>
            </div>
            break;
        case 300: //-20
        case 400: //-4 (for now this is the same as above)
            <div class="row">
                <div class="col-4">
                    <span style="line-height:2.5rem; font-size:1.2rem;">
                        @Model.LocationTypes.ToList()[0].LocationTypePluralName
                        <input asp-for="LocationInstances[0].Height" min="0" class="form-control-plaintext border-bottom" />
                        <input asp-for="LocationInstances[0].LocationTypeID" value="@Model.LocationTypes.ToList()[0].LocationTypeID" style="display: none;" />
                    </span>
                </div>
            </div>
            break;
        case 500: //-25
            <div class="row">
                <input asp-for="LocationInstances[0].LocationTypeID" value="@Model.LocationTypes.ToList()[0].LocationTypeID" style="display: none;" />
                <div class="col-6">
                    <span style="line-height:2.5rem; font-size:1.2rem;">
                        Height
                        <input asp-for="LocationInstances[0].Height" min="0" class="form-control-plaintext border-bottom" />
                    </span>
                </div>
                <div class="col-6">
                    <span style="line-height:2.5rem; font-size:1.2rem;">
                        Width
                        <input asp-for="LocationInstances[0].Width" min="0" class="form-control-plaintext border-bottom" />
                    </span>
                </div>
            </div>
            break;
        default:
            <div class="container" style="display:flex; justify-content:space-around;">

                @foreach (var item in Model.LocationTypes)
                {
                    <div @*style="background-color: rgba(48, 188, 201, 0.06)"*@>
                        <div>
                            <span class="addLocationFont">@Html.DisplayFor(modelItem => item.LocationTypeName):</span>
                        </div>
                        <div class="form-inline" style="justify-content:center;">
                            <input asp-for="LocationInstances[i].Height" min="0" class="form-control-plaintext border-bottom" style="width:3rem;" /> &nbsp; x &nbsp;
                            <input asp-for="LocationInstances[i].Width" min="0" class="form-control-plaintext border-bottom" style="width:3rem;" />
                        </div>
                        <div style="justify-content:center;">
                            <div>
                                <input asp-for="LocationInstances[i].LocationTypeID" value="@item.LocationTypeID" type="hidden" />
                            </div>
                        </div>

                    </div>

                    i++;
                }
            </div>
            break;
    }

}
