@model PrototypeWithAuth.ViewModels.ExpensesPaymentListViewModel
@*@model IEnumerable<PrototypeWithAuth.Models.ParentRequest>*@

@{
    ViewData["Title"] = "ExpensesPaymentList2";
    Layout = "~/Views/Shared/PaymentView.cshtml";
}

@*@*<h1>Expenses</h1>

@foreach (var group in Model.GroupBy(x => new {x.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory, x.OrderDate.Month}))
    {

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentRequests.FirstOrDefault().OrderDate.Month)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var parentRequest in Model.ParentRequests.GroupBy(x => x.OrderDate.Month))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => parentRequest.FirstOrDefault().OrderDate.Month)

            </td>
        </tr>
    }

    @foreach (var parentCategory in Model.ParentCategories)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayFor(modelParentRequestCategory => parentCategory.ParentCategoryDescription)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var parentRequest in Model.ParentRequests.Where(x => x.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategoryID.Equals(parentCategory.ParentCategoryID)).GroupBy(x => x.OrderDate.Month))
        {
            @if (parentRequest.ElementAt(parentRequest.Key).Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategoryID == parentCategory.ParentCategoryID)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => parentRequest.FirstOrDefault().Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                    @Html.DisplayFor(modelItem => parentRequest.FirstOrDefault().Requests.FirstOrDefault().Cost)
                </td>
            </tr>
        }
    }
</table>*@





