@using System.Globalization;
@model PrototypeWithAuth.ViewModels.ExpensesListViewModel
@{
    ViewData["Title"] = "ExpensesList";
    Layout = "~/Views/Shared/ExpensesNavView.cshtml";
}
@*<<<<< Expenses Side Navbar >>>>>>*@
<div style="display: flex;">
    <div style="width: 110px; height:900px" class=" border-right box-shadow text-center p-3">
        <ul style="position:fixed" class="nav flex-column nav-pills nav-stacked mb-lg-3">
            <li class="nav-item my-4">
                <a href="#" class="expenses-color">
                    <i class="icon-monetization_on-24px" style="font-size:2rem;"></i><br />
                    Summary
                </a>
            </li>
            @*<li class="nav-item my-4 ">
                <a href="#" class="bold-hover-effects">
                    <i class="icon-pie_chart-24px-2" style="font-size:1.5rem;"></i><br />
                    Pie Charts
                </a>
            </li>
            <li class="nav-item my-4 ">
                <a href="#" class="font-weight-bold expenses-color">
                    <i class="icon-table_chart-24px-1" style="font-size:1.5rem;"></i><br />
                    Tables
                </a>
            </li>
            <li class="nav-item my-4 ">
                <a href="#" class="bold-hover-effects">
                    <i class="icon-insert_chart-24px" style="font-size:1.5rem;"></i><br />
                    Graphs
                </a>
            </li>*@
        </ul>
    </div>

    @*<<<<< Expenses Main Content >>>>>*@
    <div style="flex-grow: 1;" class="m-5">

        <table class="table table-noheaderlines table-headerspaced table-hover">
            <thead>
                <tr>
                    <th>
                        Month
                    </th>
                    <th>
                        Plastics
                    </th>
                    <th>
                        Reagents
                    </th>
                    <th>
                        Proprietry
                    </th>
                    <th>
                        Reusable
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.monthlyTotals)
                {
                    DateTime year = new DateTime(item.Year, 1, 1); //converting year into a datetime so we can format it to the last two digits - note that the last two parameters are a default value, jsut so that we can access the correct datetime method - there is no inhereit meaning in the last two "1"s

                    <tr>
                        <td>
                            @item.Month/@year.ToString("yy")
                        </td>
                        <td>
                            @String.Format("{0:C}", Convert.ToInt32(item.PlasticsTotal))
                        </td>
                        <td>
                            @String.Format("{0:C}", Convert.ToInt32(item.ReagentsTotal))
                        </td>
                        <td>
                            @String.Format("{0:C}", Convert.ToInt32(item.ProprietyTotal))
                        </td>
                        <td>
                            @String.Format("{0:C}", Convert.ToInt32(item.ReusableTotal))
                        </td>
                        <td style="font-weight:700" class="expenses-color">
                            @String.Format("{0:C}", Convert.ToInt32(item.GrandTotal))
                        </td>

                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>