@using System.Globalization;
@model IEnumerable<PrototypeWithAuth.Models.ParentRequest>
@{
    ViewData["Title"] = "GeneralPaymentList";
    Layout = "~/Views/Shared/PaymentView.cshtml";
}
<div style="display:flex">

    <div style="width: 100px; min-height:60rem;" class="p-2 border-right sidebar-shadow text-center">
        @*<<<<< side navbar >>>>>*@
        <ul class="nav flex-column nav-pills nav-stacked mt-4">
            @{int yearCount = 0;}
            @foreach (var group in Model.GroupBy(m => m.OrderDate.Year))
            {
                <li class="nav-item m-3">
                    <a href="#@group.Key">
                        <strong style="color:#A26FF0;"> @group.Key </strong>
                    </a>
                </li>
                yearCount++;
            }
        </ul>

    </div>
    @*<<<< content >>>>>*@
    <div style="flex-grow:1;" class="ml-4 mt-5">

        @foreach (var group in Model.GroupBy(x => new { x.OrderDate.Year, x.OrderDate.Month }))
        {
            <table class="table table-noheaderlines table-headerspaced table-hover" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th style="width:8%;">
                            @*No*@
                            @Html.DisplayNameFor(model => model.OrderNumber)
                        </th>
                        <th style="width:25%;">
                            @*Item*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.ProductName)
                        </th>
                        <th style="width:10%;">
                            @*OrderDate*@
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th style="width:10%;">
                            @*Category*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                        </th>
                        <th style="width:10%;">
                            @*Type*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.ProductSubcategory.ProductSubcategoryDescription)
                        </th>
                        <th style="width:15%;">
                            @*Supplier*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.Vendor.VendorEnName)
                        </th>
                        <th style="width:15%;">
                            @*Price*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Cost)
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @{int total = 0;}

                    @foreach (var item in group)
                    {
                        total++;
                        //int index = 0;
                        @if (total.Equals(group.Count()))
                        {
                            <h5 id=@item.OrderDate.Year>
                                @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.OrderDate.Month) [@total]
                            </h5>

                        }
                        var cult = System.Globalization.CultureInfo.CurrentCulture;
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modeIteml => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductSubcategory.ProductSubcategoryDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.Vendor.VendorEnName)
                            </td>

                            <td>
                                @{
                                    decimal cost = (decimal)item.Requests.FirstOrDefault().Cost;
                                    string formattedCost = cost.ToString("C02");

                                    //Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Cost);
                                }
                                @formattedCost
                            </td>

                            <td class="text-right">
                                <button class="load-request-details btn btn-link" value="@item.Requests.FirstOrDefault().RequestID"> <img src="~/images/css/accounting/icons/view.png" alt="Details" /> </button>
                            </td>
                        </tr>


                    }
                </tbody>

            </table>
            <br />
        }

    </div>
</div>


<script>
    hide = true;
    $('body').on("click", function () {
        if (hide) $('.acc-sidebar').removeClass('active');
        hide = true;
    });

    // add and remove .active
    $('body').on('click', '.acc-sidebar', function () {

        var self = $(this);

        //if (self.hasClass('active')) {
        //    $('.acc-sidebar').removeClass('active');
        //    return false;
        //}

        $('.acc-sidebar').removeClass('active');

        self.toggleClass('active');
        hide = false;
    });
</script>


