@using System.Globalization;
@model IEnumerable<PrototypeWithAuth.Models.ParentRequest>
@{
    ViewData["Title"] = "GeneralPaymentList";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

        @foreach (var group in Model.GroupBy(x => new { x.OrderDate.Year, x.OrderDate.Month }))
        {
            <table class="table table-noheaderlines table-headerspaced table-hover" style="table-layout:fixed;">
                <thead>
                    <tr class="text-center">
                        <th style="width:12%;">
                            @*No*@
                            @Html.DisplayNameFor(model => model.OrderNumber)
                        </th>
                        <th widht="8%">

                        </th>
                        <th style="width:13%;">
                            @*Item*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.ProductName)
                        </th>
                        <th style="width:10%;">
                            @*OrderDate*@
                            Units
                        </th>
                        <th style="width:10%;">
                            @*Category*@
                            Price
                            @*@Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)*@
                        </th>
                        <th style="width:10%;">
                            @*Type*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.Vendor.VendorEnName)
                        </th>
                        <th style="width:15%;">
                            @*Supplier*@
                            @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                        </th>
                        <th style="width:15%;">
                            @*Price*@
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @{int total = 0;}

                    @foreach (var item in group)
                    {
                        total++;
                        //int index = 0;
                        @if (total.Equals(group.Count()))
                        {
                            <div class="heading-1 d-inline-flex" id=@item.OrderDate.Year>
                                @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.OrderDate.Month) &nbsp; <div class="text pt-2 pb-0">[@total]</div>
                            </div>

                        }
                        var cult = System.Globalization.CultureInfo.CurrentCulture;
                        <tr class="text-center">

                            <td class="text-center">
                                <div class="form-check text-center">
                                    <input type="checkbox" class="form-check-input" id="@item.ParentRequestID" /><br />
                                    <label for="@item.ParentRequestID" class="form-check-label pl-0" style="margin-left: -1.7rem">
                                        @Html.DisplayFor(modelItem => item.OrderNumber)
                                    </label>
                                </div>
                            </td>
                            <td>
                                <img src="~/images/css/inventory/Type/bottle.png" alt="Image" width="75" />
                            </td>
                            <td>
                                <button class="load-request-details btn btn-link acc-link-clr" value="@item.Requests.FirstOrDefault().RequestID">  @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductName)</button>
                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Unit) @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().UnitType.UnitTypeDescription)<br />
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().SubUnit) @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().SubUnitType.UnitTypeDescription)<br />
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().SubSubUnit) @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().SubSubUnitType.UnitTypeDescription)
                            </td>
                            <td>
                                @{
                                    var ItemCost = item.Requests.FirstOrDefault().Cost;
                                    var decItemCost = (decimal)ItemCost;
                                    var stringItemCost = decItemCost.ToString("C02");
                                }
                                @stringItemCost
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.Vendor.VendorEnName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                            </td>

                            <td>
                                @Html.DisplayFor(modeltem => item.OrderDate)
                            </td>
                        </tr>


                    }
                </tbody>

            </table>
            <br />
        }


<script>
    hide = true;
    $('body').on("click", function () {
        if (hide) $('.acc-sidebar').removeClass('active');
        hide = true;
    });

    // add and remove .active
    $('body').on('click', '.acc-sidebar', function () {

        var self = $(this);

        //if (self.hasClass('active')) {
        //    $('.acc-sidebar').removeClass('active');
        //    return false;
        //}

        $('.acc-sidebar').removeClass('active');

        self.toggleClass('active');
        hide = false;
    });
</script>


