@model PrototypeWithAuth.ViewModels.PaymentNotificationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PaymentView.cshtml";
}
@{
    double totalToPay = 0;
    double totalPayNow = 0;
}

@*<<<<< Accounting Sidebar >>>>>*@
<div style="display: flex">

    <div style="width: 110px; min-height:60rem; font-size:small;" class="p-2 border-right sidebar-shadow text-center ourNavBar">
        <ul style="position:fixed" class="nav flex-column nav-pills nav-stacked mb-lg-3">
            <li class="nav-item mb-4 mt-3 acc-sidebar active">
                <a href="#@Model.TitleList.ElementAt(0).Key" class="bold-hover-effects"> <img src="~/images/css/accounting/icons/to_pay.png" alt="To Pay" /> <br /> @Model.TitleList.ElementAt(0).Key <br />[@Model.TitleList.ElementAt(0).Value] </a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="#@Model.TitleList.ElementAt(1).Key" class="bold-hover-effects"> <img src="~/images/css/accounting/icons/no_invoice.png" alt="No Invoice" /> <br /> @Model.TitleList.ElementAt(1).Key <br />[@Model.TitleList.ElementAt(1).Value] </a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="#@Model.TitleList.ElementAt(2).Key" class="bold-hover-effects"> <img src="~/images/css/accounting/icons/didnt_arrive.png" alt="Didnt Arrive" /> <br /> @Model.TitleList.ElementAt(2).Key <br />[@Model.TitleList.ElementAt(2).Value] </a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="#@Model.TitleList.ElementAt(3).Key" class="bold-hover-effects"> <img src="~/images/css/accounting/icons/pay_now.png" alt="Pay Now" /> <br /> @Model.TitleList.ElementAt(3).Key <br />[@Model.TitleList.ElementAt(3).Value] </a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="#@Model.TitleList.ElementAt(4).Key" class="bold-hover-effects"> <img src="~/images/css/accounting/icons/partial_delivery.png" alt="Partial Delivery" /> <br /> @Model.TitleList.ElementAt(4).Key <br />[@Model.TitleList.ElementAt(4).Value] </a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="#@Model.TitleList.ElementAt(5).Key" class="bold-hover-effects"> <img src="~/images/css/accounting/icons/for_clarification.png" alt="To Pay" /> <br /> @Model.TitleList.ElementAt(5).Key <br />[@Model.TitleList.ElementAt(5).Value] </a>
            </li>

        </ul>
    </div>
    @*<<<< Content >>>>>*@
    <div style="flex-grow: 1; position:relative;" class="m-4">
    
        <table class="table table-noheaderlines table-headerspaced" >

            @for (int index = 0; index < Model.TitleList.Count; index++)
            {
                var currentTitle = Model.TitleList.ElementAt(index);
                <tbody>
                    <tr style="border-color:transparent;">
                        <th colspan="8" style="border-color:transparent;">
                            <h5 id="@currentTitle.Key">
                                <strong>@currentTitle.Key</strong> [@currentTitle.Value]
                                @if (index == 0)
                                {
                                    <span>&emsp; Total: </span><span class="totalToPay"></span>
                                }
                                @if (index == 3)
                                {
                                    <span>&emsp; Total: </span><span class="totalPayNow"></span>
                                }
                            </h5>
                        </th>
                    </tr>
                </tbody>
   
                <tbody>
                    <tr style="border-color:transparent;">
                        <th  style="width:8%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().OrderNumber)
                        </th>

                        <th style="width:25%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().Requests.FirstOrDefault().Product.ProductName)
                        </th>
                        <th style="width:10%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().OrderDate)
                        </th>
                        <th style="width:10%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                        </th>
                        <th style="width:10%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().Requests.FirstOrDefault().Product.ProductSubcategory.ProductSubcategoryDescription)
                        </th>
                        <th style="width:15%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().Requests.FirstOrDefault().Product.Vendor.VendorEnName)
                        </th>
                        <th style="width:15%;">
                            @Html.DisplayNameFor(model => model.ParentRequests.ElementAt(index).FirstOrDefault().Requests.FirstOrDefault().Cost)

                        </th>
                    </tr>
                </tbody>



                @foreach (var item in Model.ParentRequests.ElementAt(index)) //go through the full list but
                {
                    bool onlyOneRequest = true;
                    if (item.Requests.Count() > 1)
                    {
                        onlyOneRequest = false;

                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNumber)

                        </td>
                        <td>
                            @if (onlyOneRequest)
                            {

                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductName);
                            }
                            else
                            {

                                @Html.DisplayFor(modelItem => item.ParentRequestID);
                            }
                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @if (onlyOneRequest)
                            {
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ParentRequestID);
                            }
                        </td>
                        <td>
                            @if (onlyOneRequest)
                            {
                                @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.ProductSubcategory.ProductSubcategoryDescription)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.ParentRequestID);
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requests.FirstOrDefault().Product.Vendor.VendorEnName)
                        </td>
                        <td>
                            @{
                                decimal cost = (decimal)item.Requests.FirstOrDefault().Cost;
                                string formattedCost = cost.ToString("C02");
                            }
                            @if (index == 0) // 0 is the index for the TO Pay list
                            {
                                totalToPay += item.Requests.FirstOrDefault().Cost;
                            }
                            else if (index == 3)
                            {
                                totalPayNow += item.Requests.FirstOrDefault().Cost;
                            }
                            @if (onlyOneRequest)
                            {




                                @formattedCost;

                            }
                            else
                            {

                            }
                        </td>

                        <td>
                            @*in the future this should be taking all requests and not just one*@
                            <button class="load-request-details btn btn-link" value="@item.Requests.FirstOrDefault().RequestID"> <img src="~/images/css/accounting/icons/view.png" alt="Details" /> </button>
                        </td>
                    </tr>

                }


            }
        </table>
    </div>
</div>
<script type="text/javascript">


    $("document").ready(

        function () {
            $(".totalToPay").html("@String.Format("{0:C}", totalToPay)");
            $(".totalPayNow").html("@String.Format("{0:C}", totalPayNow)");
        }
    );

    hide = true;
    $('body').on("click", function () {
        if (hide) $('.acc-sidebar').removeClass('active');
        hide = true;
    });

    // add and remove .active
    $('body').on('click', '.acc-sidebar', function () {

        var self = $(this);

        //if (self.hasClass('active')) {
        //    $('.acc-sidebar').removeClass('active');
        //    return false;
        //}

        $('.acc-sidebar').removeClass('active');

        self.toggleClass('active');
        hide = false;
    });

</script>
