@model IEnumerable<PrototypeWithAuth.Models.Menu>
@using PrototypeWithAuth.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeView.cshtml";


}
@*Need to add security here*@

<div class="text-center center-horizontally mt-3">
    <h2>Welcome @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</h2>
    <div class="container col-md-10" style="min-width:560px">
        <div class="row mt-5">

            @for (int i = 0; i < Model.Count() / 2; i++)
            {
                if (i > 0 && i % 8 == 0)
                {
                @:</div><div class="d-flex mt-5">
                }
                <div class="px-3">
                    <a class="module-button bold-hover-effects" href="@Url.ActionLink(Model.ElementAt(i).ActionName, Model.ElementAt(i).ControllerName, new {})"><img class="main-btn-img" src=@Model.ElementAt(i).MenuImageURL alt="Protocols" /><br /><span>@Model.ElementAt(i).MenuViewName</span></a>
                </div>

            }
        </div>
        <div class="row mt-5">

            @for (int i = Model.Count() / 2; i < Model.Count(); i++)
            {
                if (i > 0 && i+1 % 8 == 0)
                {
                @:</div><div class="d-flex mt-5">
                }
                <div class="px-3">
                    <a class="module-button bold-hover-effects" href="@Url.ActionLink(Model.ElementAt(i).ActionName, Model.ElementAt(i).ControllerName, new {})"><img class="main-btn-img" src=@Model.ElementAt(i).MenuImageURL alt="Protocols" /><br /><span>@Model.ElementAt(i).MenuViewName</span></a>
                </div>

            }
        </div>
    </div>


    @*<div class="mt-5">
            <button type="submit" class="btn btn-success module-buttons">Protocols</button>
            &nbsp;
            @Html.ActionLink("Orders & Inventory", "Index", "Requests", new { /*should this be none or inventory?*/}, new { @class = "btn btn-info module-buttons" })
            &nbsp;
            @Html.ActionLink("Expenses", "Index", "ParentRequests", new { }, new { @class = "btn btn-primary module-buttons" })
            &nbsp;
            <button type="submit" class="btn btn-danger module-buttons">Biomarkers</button>
            &nbsp;
            @Html.ActionLink("Register A New User", "RegisterUser", "Admin", new { }, new { @class = "btn btn-secondary module-buttons" })
        </div>*@

</div>
