@using PrototypeWithAuth.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginView.cshtml";


}
@*Need to add security here*@

<div class="text-center">
    <h4>Welcome @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!</h4>
    <div class="btn-group mt-5">
        <button type="submit" class="btn btn-success">Protocols</button>
        &nbsp;
        @Html.ActionLink("Orders & Inventory", "Index", "Requests", new { /*should this be none or inventory?*/}, new { @class = "btn btn-info ml-4" })
        &nbsp;
        @Html.ActionLink("Expenses", "Index", "ParentRequests", new { }, new { @class = "btn btn-primary ml-4" })
        &nbsp;
        <button type="submit" class="btn btn-danger ml-4">Biomarkers</button>
        &nbsp;
        @Html.ActionLink("Register A New User", "RegisterUser", "Admin", new { }, new { @class = "btn btn-secondary ml-4" })
    </div>
</div>
