@model PrototypeWithAuth.ViewModels.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    //Layout = "~/Views/Shared/RequestNavView.cshtml";
}


<div>
    <div>

        <div class="container mt-5  col-9 border-danger-centarix border  rounded-reorder on-form-modal" style="min-height:40rem">

            <form method="post" id="myForm" class="px-2 py-5 h-100 resetPasswordForm">
                <div class="heading-1 text-center">Set Up Elixir Account </div>
                @*<span class="heading-1">Hi, @Model.User.FirstName @Model.User.LastName</span>*@
                @if (Model.ErrorMessage != "")
                {
                    <span class="text-danger-centarix">@Model.ErrorMessage</span>
                }
                <input type="hidden" asp-for="User.Id" />

                <div class="form-group mt-4 text-center">
                    <input asp-for="Password" class="form-control login-field text" placeholder="Password" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger-centarix"></span>
                </div>
                <div class="form-group  mt-4 text-center">
                    <input asp-for="ConfirmPassword" class="form-control login-field text" placeholder="Confirm Password" autocomplete="off" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger-centarix"></span>
                </div>
                <div class="form-group mt-4 text-center">
                    <label class="text">Set up 2FA:</label>
                    <div id="qrCode" class="text-center"></div>
                    <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
                </div>
                <div class="form-group mt-4 text-center">
                    <input asp-for="TwoFactorAuthenticationViewModel.TwoFACode" class="form-control login-field text" placeholder="Authentication Code" autocomplete="off" />
                    <span asp-validation-for="TwoFactorAuthenticationViewModel.TwoFACode" class="text-danger-centarix"></span>
                </div>
                <div class="form-group">
                    <button asp-action="ResetPassword" type="submit" class="btn mt-5 custom-button custom-button-font danger-color ">Set up</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/lib/qrcode.js"></script>
<script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
</script>
@*<div class="col-6">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control-plaintext border-bottom" autocomplete="off" readonly />
        <span asp-validation-for="Password" class="text-danger-centarix"></span>
    </div>
    <div class="col-6">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control-plaintext border-bottom" autocomplete="off" readonly />
        <span asp-validation-for="ConfirmPassword" class="text-danger-centarix"></span>
    </div>*@