@model PrototypeWithAuth.ViewModels.AddResourceViewModel;

<script src="~/js/Validation/AddResourceFormValidation.js"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>

@{
    var Heading = "";
    switch (Model.Resource.ResourceTypeID)
    {
        case 1:
            Heading = "Add Article or Link";
            break;
        case 2:
            Heading = "Add Resource";
            break;
    }

    var hec = "ResourceTagsHidden HiddenCategoryBool";

}
<script src="~/js/AddResource.js"></script>
<div class="modal modal-view fader on-form-modal add-resource-modal protocol-form" id="myModal" data-backdrop="false">
    <div class=" modal-dialog-centered mx-auto" style="width:54.625rem;">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">

            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('add-resources')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" id="myForm" class="modal-padding add-resource-form" enctype="multipart/form-data">
                <div class="form-element-border-bottom under-row-margin">
                    <div class="row top-menu under-row-margin">
                        <div class="col-12 heading-1">
                            @Heading
                        </div>
                    </div>
                    <div class="row under-row-margin">
                        <div class="col-12">
                            <label asp-for="Resource.Title" class="modal-control-label"></label>
                            <input asp-for="Resource.Title" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Resource.Title" class="text-danger-centarix"></span>
                        </div>
                    </div>
                    <div class="row under-row-margin">
                        <div class="col-12">
                            <label asp-for="Resource.Summary" class="modal-control-label"></label>
                            <textarea asp-for="Resource.Summary" rows="10" class="mt-3 form-control-plaintext border no-resize" /></textarea>
                            <span asp-validation-for="Resource.Summary" class="text-danger-centarix"></span>
                        </div>
                    </div>
                    <div class="row under-row-margin">
                        <div class="col-6">
                            <label asp-for="Resource.FirstAuthor" class="modal-control-label"></label>
                            <input asp-for="Resource.FirstAuthor" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Resource.FirstAuthor" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="Resource.LastAuthor" class="modal-control-label"></label>
                            <input asp-for="Resource.LastAuthor" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Resource.LastAuthor" class="text-danger-centarix"></span>
                        </div>
                    </div>
                    <div class="row under-row-margin ">
                        <div class="col-4">
                            <label asp-for="Resource.PubMedID" class="modal-control-label"></label>
                            <div class="input-group">
                                <input asp-for="Resource.PubMedID" class="form-control-plaintext border-bottom" />
                                <i class="icon-add_circle-24px protocols-filter get-pubmedinfo" style="font-size: 2.688rem;"></i>
                            </div>
                            <span asp-validation-for="Resource.PubMedID" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Resource.City" class="modal-control-label"></label>
                            <input asp-for="Resource.City" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Resource.City" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Resource.Journal" class="modal-control-label"></label>
                            <input asp-for="Resource.Journal" class="form-control-plaintext border-bottom" />
                            <span asp-validation-for="Resource.Journal" class="text-danger-centarix"></span>
                        </div>
                    </div>
                </div>
                @*<hr style="box-shadow: 0px 0px .1rem #707070;" />*@
                <div class="row under-row-margin top-menu">
                    <div class="col-12">
                        Select Tags
                        <input type="hidden" asp-for="Resource.ResourceTypeID" />
                    </div>
                </div>
                <div class="row mb-1 text-center">
                    @{
                        var counter = -1;
                        //Model.ResourceCategoriesToAdd.Add(());
                    }
                    @foreach (var mainCategory in Model.ResourceCategories.Where(rc => rc.IsMain))
                    {
                        counter++;
                        var hiddenElementClass = hec + mainCategory.ResourceCategoryID;
                        <div class="col-3">
                            <span class="resources-tags-big light-gray-background-color add-padding w-100" id="@mainCategory.ResourceCategoryID">
                                @mainCategory.ResourceCategoryDescription
                            </span>
                            <input type="hidden" asp-for="ResourceCategoriesToAdd[counter].ResourceCategoryID" value="@mainCategory.ResourceCategoryID" />
                            <input type="hidden" asp-for="ResourceCategoriesToAdd[counter].Added" class="@hiddenElementClass" value="false" />
                        </div>
                    }
                </div>
                <div class="row under-row-margin">
                    <div class="col-12">
                        @foreach (var category in Model.ResourceCategories.Where(rc => !rc.IsMain))
                        {
                            counter++;
                            var hiddenElementClass = hec + category.ResourceCategoryID;
                            <span class="resources-tags-big light-gray-background-color mx-2 my-1" id="@category.ResourceCategoryID">
                                @category.ResourceCategoryDescription
                            </span>
                            <input type="hidden" asp-for="ResourceCategoriesToAdd[counter].ResourceCategoryID" class="resourceCategoryIDHidden" value="@category.ResourceCategoryID" />
                            <input type="hidden" asp-for="ResourceCategoriesToAdd[counter].Added" class="@hiddenElementClass" value="false" />
                        }
                    </div>
                </div>
                <div class="row under-row-margin">
                    <div class="col-4 form-element-border-right">
                        @*<label asp-for="ResourceImage" class="control-label"></label>*@
                        <input type="file" asp-for="ResourceImage" class="form-control-file hidden ta pt-1">
                        <input type="button" class="AddFile full-file-btn custom-button custom-button-small-font protocols-background-color" value="Select File" />
                        <input class="control-label text-center disabled border-0 w-100" style="font-size:.75rem;" id="file-name" />
                        <span asp-validation-for="ResourceImage" class="text-danger"></span>
                    </div>
                    <div class="col-8">
                        <label asp-for="Resource.Url" class="modal-control-label"></label>
                        <div class="input-group">
                            <input asp-for="Resource.Url" class="form-control-plaintext border-bottom" />
                            <a href="" target="_blank" class="add-url disabled">
                                <i class="icon-back-24px disabled-color1" style="font-size: 2.688rem;"></i>
                            </a>
                        </div>
                        <span asp-validation-for="Resource.Url" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="modal-footer-mt mx-auto">
                        <input type="submit" class="custom-button custom-cancel protocols-filter activeSubmit addResourceSubmit" @*asp-action="AddResource"*@ />
                        <button type="button" class="custom-button custom-cancel" onclick="$.fn.CloseModal('add-resources')">Cancel</button>
                    </div>
                </div>
                @*<input class="form-control-plaintext border-bottom" id="ResourceID" name="ResourceID" value="0">*@
            </form>

        </div>
    </div>
</div>
<script>
    $(".addResourceSubmit").click(function (e) {
        console.log("in add resource submit click");
        e.preventDefault();
        $("#myForm").data("validator").settings.ignore = "";
        var valid = $("#myForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {
            e.preventDefault();
            if (!$('.activeSubmit').hasClass('disabled-submit')) {
                $('.activeSubmit').addClass('disabled-submit')
            }

        }
        else {
            $("#loading").show();
            $('.activeSubmit ').removeClass('disabled-submit')
            var formData = new FormData($("#myForm")[0]);
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: "/Protocols/AddResource",
                data: formData,
                traditional: true,
                type: "POST",
                timeout: 540000,
                cache: false,
                success: function (data) {
                    $("#loading").hide();
                    $.fn.CloseModal('add-resources');
                    $('.render-body').html(data);
                    return true;
                },
                error: function (x, t, m) {
                    if (t === "timeout") {
                        alert("browser timed out. you may not see resource for another couple minutes")
                        $.fn.CloseModal('add-resources');
                    }
                }
            })
        }
        $("#myForm").data("validator").settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';

    })
</script>