@model PrototypeWithAuth.ViewModels.CreateReportViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;
}
<script src="~/js/Validation/CreateReportValidation.js"></script>
<script src="~/js/validate.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/DocumentModalJS.js"></script>
<form action="" id="myForm" class=" on-form-modal protocol-form createReportForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
    <div class="row pb-3">

        <input type="hidden" asp-for="ReportID" />
        @{
            var urlAction = Url.Action("DocumentsModal", "Protocols");
        }
        <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />
        <div class="col-5">
            <a style="z-index:2000" href="#"
               class="title-label load-save-report btn-link heading-1 ">
                <i class="icon-arrow_back_ios-24px-1" style="font-size:1.4rem;"></i>
                <label class="px-2 ">Report</label>
            </a>
            <label class="grey-text" style="font-size: 1.5rem;">@Model.ReportDateRange</label>
        </div>
        <div class="col-1">
            <div class=" function-bar">
                @foreach (var type in Model.FunctionTypes)
                {
                    <button class="function" type="button" value="@type.FunctionTypeID"> <div functionID="@type.FunctionTypeID" class="@type.IconActionClass"><i class="@type.Icon"></i></div></button>
                }
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-6">
            <input asp-for="Report.ReportTitle" placeholder="Add Title" class="form-control-plaintext border-bottom heading-1 protocols-color" />
            <span asp-validation-for="Report.ReportTitle" class="text-danger-centarix"></span>
        </div>
    </div>
    <div class="row report-text-div" style="min-height:50px; width:100%">
        @{
            await Html.RenderPartialAsync("_ReportText", Model.Report);
        }
    </div>
</form>
<script src="~/js/function.js"></script>
<script>
    $(".load-save-report").off("click").on("click", function (e) {
        e.preventDefault();
        $('.createReportForm').data("validator").settings.ignore = "";
        var valid = $('.createReportForm').valid();
        if (valid) {
            var formData = new FormData($("#myForm")[0]);
            $.ajax({
                url: "/Protocols/CreateReport",
                contentType: false,
                processData: false,
                async: true,
                data: formData,
                type: "POST",
                success: function (data) {
                    $.fn.OpenModal('save-report-modal', 'save-report', data)
                },
                error: function (jqxhr) {
                    if (jqxhr.status == 500) {
                        // $.fn.OpenModal('modal', 'add-function', jqxhr.responseText);
                    }
                    return true;
                }
            });
        }
    })
</script>

