@model PrototypeWithAuth.ViewModels.CreateReportViewModel
@using PrototypeWithAuth.AppData
@{
    //ViewData["Title"] = "Type";

    //Layout = "~/Views/Shared/RequestNavView.cshtml";

    Layout = null;
}
<div class="row pb-3">
    <a style="z-index:2000" href="@Url.Action("IndexReports", "Protocols", new { ReportCategoryID = Model.Report.ReportCategoryID, SidebarType = TempData[AppUtility.TempDataTypes.SidebarType.ToString()] })"
       class="title-label  btn-link heading-1 ">
        <i class="icon-arrow_back_ios-24px-1" style="font-size:1.4rem;"></i>
        <label class="pl-2">Report</label>
    </a>
    <div class="only-protocol-tab  d-none">
        <div class=" function-bar">
            @foreach (var type in Model.FunctionTypes)
            {
                <button class="function" type="button" value="@type.FunctionTypeID"> <div functionID="@type.FunctionTypeID" class="@type.IconActionClass line-function"><i class="@type.Icon"></i></div></button>
            }
        </div>
    </div>
</div>