@model PrototypeWithAuth.ViewModels.ReportCategoriesViewModel;
@using PrototypeWithAuth.AppData;
@{
    ViewData["Title"] = "Weekly Reports";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
@{ 
    var reportType = "Weekly";
    if(Model.SidebarType == AppUtility.SidebarEnum.DailyReports.ToString())
    {
        reportType = "Daily";
    }
    else if (Model.SidebarType == AppUtility.SidebarEnum.MonthlyReports.ToString())
    {
        reportType = "Monthly";
    }
}
<div class="container-fluid">
    <label class="m-2 heading-1">@reportType Reports</label>
    <div class="under-row-margin row text-center">
        @foreach (var maincategory in Model.ReportCategories)
        {
            <div class="type-div">
                <a href='@Url.Action("ReportsList", "Protocols", new { ReportCategoryID = maincategory.ResourceCategoryID, SidebarType = Model.SidebarType })' class="text text-dark">
                    <fieldset class=" main-type-fieldset">
                        @{
                            var imageUrl = "/images/protocol_images/" + maincategory.ImageUrl;
                            var altImage = maincategory.ResourceCategoryDescription;
                        }

                        @*<img class=" main-type-img" src="@imageUrl" alt="@altImage" />*@
                        <img class=" main-type-img" src="@imageUrl" alt="@altImage" />
                        @*  }*@
                        <label class="main-type-label top-menu protocols-filter text-center"> @maincategory.ResourceCategoryDescription</label>
                    </fieldset>
                </a>
            </div>
        }
        @*@foreach (var category in Model.ResourceCategories.Where(rc => !rc.IsMain && !rc.IsResourceType))
        {
            <div class="type-div">
                <a href="@Url.Action("ResourcesList", "Protocols", new { ResourceCategoryID=category.ResourceCategoryID })" class="text text-dark">
                    <fieldset class="small-type-fieldset">
                        <label class="small-type-label top-menu protocols-filter text-center">
                            @category.ResourceCategoryDescription
                        </label>
                    </fieldset>
                </a>
            </div>
        }*@
    </div>
</div>
    </div>