@model PrototypeWithAuth.ViewModels.EntriesViewModel;
@using PrototypeWithAuth.AppData;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="_entries under-row-margin">
    <div class="entries-header font-weight-medium text">
        Serial Number: <span class="biomarkers-color">@Model.Participant.CentarixID </span> |
        DOB: <span class="biomarkers-color">@Model.Participant.DOB.GetElixirDateFormat() </span> |
        Gender: <span class="biomarkers-color">@Model.Participant.Gender.Description </span> |
        Status: <span class="biomarkers-color">@Model.Participant.ParticipantStatus.Description </span>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class="custom-button custom-button-font light-gray-background-color ml-0">
            <a href="@Url.Action("Experiment", "Biomarkers", new { ID = Model.Participant.ExperimentID })" class="text-black">
                <i class="icon-arrow_back_ios-24px-1" style="font-size: 1.2rem;"></i>
                Back
            </a>
        </button>
    </div>
    <div class="col-6">
        <button class="float-right custom-button custom-button-font clear-custom-button biomarkers-color white-background biomarkers-border-color">
            <span class="add-new-entry" value="@Model.Participant.ParticipantID">
                + Add New Entry
            </span>
        </button>
    </div>
</div>
<script>
    $(".add-new-entry").on("click", function (e) {
        $.ajax({
            async: true,
            url: "/Biomarkers/_NewEntry?ID=" + $(this).attr("value"),
            type: 'GET',
            cache: false,
            success: function (data) {

            }
        });
    });
</script>