@model EmployeeHoursAwaitingApproval;
<div class="modal modal-document fader on-form-modal timekeeper-form " id="ehaaModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true">
    <div class="modal-dialog-centered mx-auto">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow mx-auto"  style="max-height:100%; max-width:80rem; overflow-y:auto;">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$.fn.CloseModal('hours-awaiting-approval')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding sickModal">
                <div class="modal-header border-0">
                    <div class="container">
                        <div class="">
                            <div class="heading-1">Hours Awaiting Approval</div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">

                    <div class="row border p-3 text-center">
                        <div class="col-2 pl-5 text-left">
                            @Model.Date.DayOfWeek
                        </div>
                        <div class="col-2 ">
                            @Model.Date.ToShortDateString()
                        </div>
                        <div class="col-2 ">
                            @{ var hoursType = "";
                                var hoursType2 = "";
                                var hoursType3 = "";}
                            @if (Model.OffDayTypeID != null)
                            {
                                hoursType = Model.OffDayType.Description; //eh.EmployeeHours.CompanyDayOff.CompanyDayOffType.Name;
                            }
                            else
                            {
                                @if (Model.Entry1 != null || Model.TotalHours != null)
                                {
                                    if (Model.EmployeeHoursStatusEntry1ID != 1)
                                    {
                                        hoursType = "Worked from office";
                                    }
                                    else
                                    {
                                        hoursType = "Worked from home";
                                    }
                                    if (Model.EmployeeHoursStatusEntry2ID != null)
                                    {
                                        if (Model.EmployeeHoursStatusEntry2ID != 1)
                                        {
                                            hoursType2 = "Worked from office";
                                        }
                                        else
                                        {
                                            hoursType2 = "Worked from home";
                                        }
                                    }
                                }
                            }
                            @hoursType
                            @if (Model.EmployeeHoursStatusEntry2 != null)
                            {
                                <br />
                            }
                            @hoursType2
                            @if (Model.PartialOffDayTypeID != null)
                            {
                                hoursType3 = "Partial " + Model.PartialOffDayType.Description;
                                <br/>
                                @hoursType3
                            }
                        </div>
                        <div class="col-2 ">

                            @Model.Entry1?.ToString("HH:mm")
                            @{ var entry = "";}
                            @if (Model.Entry1 == null)
                            {
                                entry = "n/a";
                            }
                            @entry
                            @if (Model.Entry2 != null)
                            {
                                <br />

                            }
                            @Model.Entry2?.ToString("HH:mm")
                            @if (Model.PartialOffDayTypeID != null)
                            {
                                <br />
                                @Html.Raw("N/A");
                            }

                        </div>
                        <div class="col-2 p-0">
                            @{ var exit = "";}
                            @Model.Exit1?.ToString("HH:mm")
                            @if (Model.Exit1 == null)
                            {
                                exit = "n/a";
                            }
                            @exit
                            @if (Model.Exit2 != null)
                            {
                                <br />

                            }
                            @Model.Exit2?.ToString("HH:mm")
                            @if (Model.PartialOffDayTypeID != null)
                            {
                                <br />
                                @Html.Raw("N/A");
                            }

                        </div>

                        <div class="col-2 timekeeper-font-color font-weight-bold">
                            @{var hours = Model.TotalHours == TimeSpan.Zero || Model.TotalHours == null ? "n/a" : Model.TotalHours?.ToString(@"h\:mm"); }
                            @hours
                            @if (Model.Exit2 != null)
                            {
                                <br />
                            }
                            @if (Model.PartialOffDayTypeID != null)
                            {
                                var partialHours = Model.PartialOffDayHours?.ToString(@"h\:mm");
                                <br />
                                @partialHours
                            }
                        </div>

                    </div>
                    @if (Model.IsDenied)
                    {
                        <div class="row justify-content-center">
                            <span class="timekeeper-font-alt-color text">Update Hours Request was denied. Try updating hours again.</span>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>