@model PrototypeWithAuth.ViewModels.ReportDaysViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{ var years = Enumerable.Range(AppUtility.YearStartedTimeKeeper, DateTime.Today.Year - AppUtility.YearStartedTimeKeeper + 1);}
<div class="mb-6">
    <div class="row ">
        <div class="col-10">
            <div class="row">
                <div class="heading-1 col-9 p-0">Summary of Days Off</div>
                <div class="col-2 offset-1  pr-0">
                    <select asp-for="SelectedYear" class="mdb-select timekeeper custom select-dropdown form-control-plaintext not-form-ddl  daysOffYears">
                        @foreach (var y in years)
                        {
                            <option value="@y">@y</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-10">
            <div class="row py-4 pl-3 mt-4 text-center">
                <div class="col">
                    Year
                </div>
                <div class="col">
                    Total Vacation Days
                </div>
                <div class="col">
                    Vacation Days Taken
                </div>
                <div class="col">
                    Vacation Days Left
                </div>
                <div class="col">
                    Total Sick Days
                </div>
                <div class="col">
                    Sick Days Taken
                </div>
                <div class="col">
                    Sick Days Left
                </div>
            </div>

            <div class="row mt-2 p-4  border  text-center  mb-5" style="border-color: var(--timekeeper-color) !important;">
                <div class="col">
                    @Model.SelectedYear
                </div>
                <div class="col">
                    @Math.Round(Model.VacationDays, 2)                    
                </div>
                <div class="col">
                    @Model.VacationDaysTakenCount
                </div>
                <div class="col">
                    @Math.Round(Model.VacationDaysLeft, 2)
                </div>
                <div class="col">
                    @Model.SickDays
                </div>
                <div class="col">
                    @Model.SickDaysTaken.Count()
                </div>
                <div class="col">
                    @Model.SickDaysLeft
                </div>
            </div>
            <div class="row  mt-6 ">
                <table class=" col text-center ">
                    <thead>
                        <tr class="text-left ">
                            <th class="p-4 text font-weight-bold">Vacations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vactionDay in Model.VacationDaysTaken)
                        {
                            <tr class="border text-left">
                                <td class="px-4 py-3">
                                    <label class="text-left col-6 mb-0 pl-5">@vactionDay.Date.DayOfWeek</label><label class="text-right pr-5 mb-0 col-6">@vactionDay.Date.ToString("dd/MM/yyyy")</label>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <table class="col offset-1 text-center">
                    <thead>
                        <tr class="text-left">
                            <th class="p-4 text-left text font-weight-bold">Sick Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vactionDay in Model.SickDaysTaken)
                        {
                            <tr class="border text-left">
                                <td class="px-4 py-3">
                                    <label class="text-left col-6 mb-0 pl-5">@vactionDay.Date.DayOfWeek</label><label class="text-right pr-5 mb-0 col-6">@vactionDay.Date.ToString("dd/MM/yyyy")</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="col offset-1  text-center">
                    <thead>
                        <tr class="text-left">
                            <th class="p-4 text-left text font-weight-bold">Special Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vactionDay in Model.SpecialDaysTaken)
                        {
                            <tr class="border text-left">
                                <td class="px-4 py-3">
                                    <label class="text-left col-6 mb-0 pl-5">@vactionDay.Date.DayOfWeek</label><label class="text-right pr-5 mb-0 col-6">@vactionDay.Date.ToString("dd/MM/yyyy")</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
@if (AppUtility.IsAjaxRequest(Context.Request))
{
    <script>
        $('.mdb-select').materialSelect();
    </script>

}
<script>
    $('.daysOffYears').off('change').change(function (e) {
        $.ajax({
            async: false,
            url: "_SummaryDaysOff?year=" + $(this).val(),
            type: 'GET',
            cache: true,
            success: function (data) {
                $(".summaryDaysOffTable").html(data);
            }
        });
    });
</script>