@model List<PrototypeWithAuth.ViewModels.SummaryOfDaysOffViewModel>
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Report Days Off";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (AppUtility.IsAjaxRequest(Context.Request))
    {
        Layout = null;

        <script src="~/js/site.js" asp-append-version="true"></script>
    }
    else
    {
        Layout = "~/Views/Shared/RequestNavView.cshtml";
    }

}
<div class="container-fluid">

    <div class="row mb-5">
        <div class="col-7">

            <div class="row">
                <div class="col-6 heading-1 p-0"><label class="m-0 p-0">Summary Of Days Off</label></div>
                <div class="col-4 mt-4 ">
                    <label class="font-weight-bolder text"> Vacation Days Left: @Model.Select(d => d.VacationDaysLeft).Sum(vd => vd)</label>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="row p-3 text-center ">
                <div class="col-3 pl-5 text-left">
                    Year
                </div>
                <div class="col-3">
                    Total Vacation Days
                </div>
                <div class="col-3">
                    Vacation Days Taken
                </div>
                <div class="col-3">
                    Sick Days Taken
                </div>
            </div>
            @foreach (var year in Model)
            {
                <div class="row border p-3 text-center">

                    <div class="col-3 pl-5 text-left">
                        @year.Year
                    </div>
                    <div class="col-3">
                        @year.TotalVacationDays
                    </div>
                    <div class="col-3">
                        @year.VacationDaysTaken
                    </div>
                    <div class="col-3">
                        @year.SickDaysTaken
                    </div>

                </div>
            }


            <div class="row mt-6 ">
                <div class="col-2  my-3 ml-5 text-center pt-3">
                    <label class="font-weight-bolder text "> Vacation Days</label>
                    <i class="icon-info-24px-2 ml-2" style="font-size: 1.25rem; top: .24rem;
        position: relative;"></i>
                </div>

                <div class="col-3  my-3 text-center">
                    <button class="custom-button-font custom-button timekeeper-color report-vacation-days @AppUtility.TimeKeeperSidebarEnum.ReportDaysOff" type="button">Vacaton</button>
                </div>
                <div class="col-2 my-3 text-center pt-3">
                    <label class="font-weight-bolder text"> Sick Days</label>
                    <i class="icon-info-24px-2 ml-2" style="font-size: 1.25rem; top: .24rem;
        position: relative;
"></i>
                </div>
                <div class="col-3 my-3 text-center">
                    <button class="custom-button-font custom-button timekeeper-color report-sick-days @AppUtility.TimeKeeperSidebarEnum.ReportDaysOff"  type="button">Sick Leave</button>
                </div>


            </div>
        </div>
    </div>

</div>
