@model PrototypeWithAuth.ViewModels.ReportHoursFromHomeViewModel;

<script src="~/js/Validation/ReportHoursFromHomeFormValidation.js"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<div class="modal modal-document fader on-form-modal timekeeper-form" id="workFromHomeModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true">
    <div class="modal-dialog-centered mx-auto modal-sm  work-from-home-modal">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" id="myForm" enctype="multipart/form-data" class="reportHoursForm modal-padding" style="height: 100%; overflow: auto;">
                @{var disabled = false;
                    if (Model.PageType.Equals("SummaryHours"))
                    {
                        disabled = true;
                    }
                }
                @Html.HiddenFor(r => r.EmployeeHoursAwaitingApproval.EmployeeHoursID)
                @Html.HiddenFor(r => r.EmployeeHoursAwaitingApproval.EmployeeID)
                @Html.HiddenFor(r => r.EmployeeHoursAwaitingApproval.EmployeeHoursAwaitingApprovalID)
                <div class="modal-header border-0 border-bottom modal-header-padding">
                    <div class="container">
                        <div class="">
                            <div class="heading-1">Report Hours From Home</div>
                        </div>
                        <div class="">
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="modal-body border-0 rounded p-0 mx-4 ">
                    <div class="row">
                        <div class="col-md-6 pr-4">
                            <label class="control-label">Day</label>
                            <input asp-for="EmployeeHoursAwaitingApproval.Date.DayOfWeek" class="form-control-plaintext  border-bottom day-of-week" disabled />
                            <span asp-validation-for="EmployeeHoursAwaitingApproval.Date.DayOfWeek" class="text-danger-centarix " />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="EmployeeHoursAwaitingApproval.Date" class="control-label"></label>
                            @if (disabled)
                            {
                                <input asp-for="EmployeeHoursAwaitingApproval.Date" class="form-control-plaintext  border-bottom  update-work-from-home" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")" readonly />
                            }
                            else
                            {
                                <input asp-for="EmployeeHoursAwaitingApproval.Date" class="form-control-plaintext  border-bottom  update-work-from-home" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
                            }

                            <span asp-validation-for="EmployeeHoursAwaitingApproval.Date" class="text-danger-centarix quote-date" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4 ">
                            <label class="control-label">Entry</label>
                            <input asp-for="EmployeeHoursAwaitingApproval.Entry1" class="form-control-plaintext border-bottom " />
                            <span asp-validation-for="EmployeeHoursAwaitingApproval.Entry1" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-4 ">
                            <label class="control-label">Exit</label>
                            <input asp-for="EmployeeHoursAwaitingApproval.Exit1" class="form-control-plaintext border-bottom " />
                            <span asp-validation-for="EmployeeHoursAwaitingApproval.Exit1" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="EmployeeHoursAwaitingApproval.TotalHours" class="control-label"></label>
                            <input asp-for="EmployeeHoursAwaitingApproval.TotalHours" class="form-control-plaintext border-bottom " />
                            <span asp-validation-for="EmployeeHoursAwaitingApproval.TotalHours" class="text-danger-centarix"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-mt border-0">
                    <div class="m-auto">
                        <input type="submit" class="custom-button-font timekeeper-color custom-button between-button-margin" asp-action="ReportHoursFromHomeModal" asp-route-PageType="@Model.PageType" value="Save" />
                        <button class="custom-cancel custom-button cancel-email" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>