@model PrototypeWithAuth.ViewModels.UpdateHoursViewModel
@using PrototypeWithAuth.AppData

<div class="modal modal-document fader on-form-modal timekeeper-form" id="workFromHomeModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="true">
    <div class="modal-dialog-centered mx-auto work-from-home-modal" style="width:50% !important">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="e => {
        e.preventDefault(); $(this).closest('.modal').modal('hide');
    }">
                <span aria-hidden="true">&times;</span>
            </button>

            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto; " class="modal-padding UpdateHoursForm">
                @Html.HiddenFor(r => r.EmployeeHour.EmployeeHoursID)
                @Html.HiddenFor(r => r.EmployeeHour.OffDayTypeID)
                @Html.HiddenFor(r => r.EmployeeHour.EmployeeID)
                <input type="hidden" asp-for="IsForgotToReport" />
                @{var disabled = false;
                    if (Model.PageType?.Equals("SummaryHours") == true)
                    {
                        disabled = true;
                    }
                }
                <div class="modal-header border-0 border-bottom modal-header-padding">
                    <div class="container">
                        <div class="heading-1">
                            Update Hours
                        </div>
                        <div class="">
                            <hr />
                            @if (Model.EmployeeHour.OffDayTypeID != null)
                            {
                                <div class="row text-danger-centarix text-center">
                                    <div class="col-md-10 offset-1 pr-4">Updating hours will remove @Model.EmployeeHour.OffDayType.Description</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-body p-0 border-0 rounded mx-4">


                    <div class="update-hours-Partial">
                        @{ await Html.RenderPartialAsync("_UpdateHours", Model);}
                       </div>
                    <div class="modal-footer  border-0  modal-footer-mt">
                        <div class="mx-auto text-center">
                            <input type="submit" class="custom-button custom-button-font timekeeper-color between-button-margin " asp-action="UpdateHours" asp-route-PageType="@Model.PageType" value="Save" />
                            <button type="button" class="custom-cancel custom-button cancel-email" data-dismiss="modal" onclick="$(this).closest('.modal').modal('hide');">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
