@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Centarix Management";
    Layout = "~/Views/Shared/Master.cshtml";
}
@*@if (SignInManager.IsSignedIn(User) & (User.IsInRole("Admin")))
{*@
    @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("GetHomeView", "Admin", new { })"> </form>*@
    @*<header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">



            <div class="collapse navbar-collapse">
                <ul class="navbar-nav dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                    <li class="nav-item mx-4 d-table ">

                    </li>
                </ul>
            </div>
            <div class="" style="padding-right: 1.313rem !important;">
                <ul class="list-unstyled m-0">
                    <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow p-0 m-0 "><div class="alerts-icon"><i style='font-size: 2.3rem;   color: #808080;' class='icon-notification_top_menu'></i> <span id="alertCount" class="alert-count "></span></div>  </button> </li>
                    <div style="display:none;" id="notifications-popover">
                        <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                        <div style="width:410px" class="p-4 heading-1">
                            Notifications
                        </div>
                    </div>
                </ul>
            </div>
            <div class="  ">
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="form-inline pr-3">
                            <div class="md-form my-0 p-2">
                                <a href="#" class="text-dark">
                                    @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                </a>
                                <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0 ">
                                    @{
                                        var src = "/UserImages/user-image-placeholder.png";
                                        var result = await UserManager.GetUserAsync(User);
                                        if (result.UserImage != null)
                                        {
                                            src = "\\" + AppUtility.GetLastFiles(result.UserImage, 2);
                                        }
                                    }
                                    <img src="@src" class=" ml-0 circular-profile-img circular-profile-img-50" alt="default User image" />
                                </button>
                            </div>
                        </div>
                    </li>
                    <div style="display:none;" id="logout-popover">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                        </form>
                    </div>
                </ul>
            </div>

        </nav>
    </header>*@


@*}
else*@ @if (SignInManager.IsSignedIn(User))
{
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">



            <div class="collapse navbar-collapse">
                <ul class="navbar-nav dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                    <li class="nav-item mx-4 d-table ">

                    </li>
                </ul>
            </div>
            <div class="" style="padding-right: 1.313rem !important;">
                <ul class="list-unstyled m-0">
                    <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow p-0 m-0 "><div class="alerts-icon"><i style='font-size: 2.3rem;   color: #808080;' class='icon-notification_top_menu'></i> <span id="alertCount" class="alert-count "></span></div>  </button> </li>
                    <div style="display:none;" id="notifications-popover">
                        <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                        <div style="width:410px" class="p-4 heading-1">
                            Notifications
                        </div>
                    </div>
                </ul>
            </div>
            <div class="  ">
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="form-inline pr-3">
                            <div class="md-form my-0 p-2">
                                <a href="#" class="text-dark">
                                    @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                </a>
                                <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0 ">
                                    @{
                                        var src = "/UserImages/user-image-placeholder.png";
                                        var result = await UserManager.GetUserAsync(User);
                                        if (result.UserImage != null)
                                        {
                                            src = "\\" + AppUtility.GetLastFiles(result.UserImage, 2);
                                        }
                                    }
                                    <img src="@src" class=" ml-0 circular-profile-img circular-profile-img-50" alt="default User image" />
                                </button>
                            </div>
                        </div>
                    </li>
                    <div style="display:none;" id="logout-popover">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                        </form>
                    </div>
                </ul>
            </div>

        </nav>
    </header>
}

<div class="text-center container col-md-7 center-horizontally" style="min-width:560px">
    <div class="row h-100">
        <div class="col-12 my-auto">

            <img style="width:30em; max-width: 100%; min-width:500px" class="my-3" src="~/images/css/Centarix_Logo.png" alt="Centarix Logo" />
            <br /><br />
            <h2 style="color:#DB2127; font-weight:600" class="mb-5">Maximizing Health</h2>


            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>

@*<footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

