@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Centarix Management";
    Layout = "~/Views/Shared/Master.cshtml";
}
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>@ViewData["Title"] - Centarix Management System</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Master.css" rel="stylesheet" />
    @*need to have decompressed full css file and set the apend tag to true in any file that doesnt hve or inherit from this file*@
    @*<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">



</head>
<body>*@
    @*@if (SignInManager.IsSignedIn(User) & (User.IsInRole("Admin")))
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("GetHomeView", "Admin", new { })"> </form>
                <header class="sticky-top">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">



                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                                <li class="nav-item mx-4 d-table ">

                                </li>
                            </ul>
                        </div>
                        <div class="  container col-1  pl-5">
                            <ul class="list-unstyled m-0">
                                <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow "><div class="alerts-icon"><i style='font-size: 2.5rem;   color: #808080;' class='icon-notifications-24px '></i> <span id="alertCount" class="alert-count"></span></div>  </button> </li>
                                <div style="display:none;" id="notifications-popover">
                                    <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                                    <div style="width:410px" class="p-4">
                                        <h5><strong>Notifications</strong></h5>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="  ">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="form-inline pr-3">
                                        <div class="md-form my-0 p-2">
                                            <a href="#" class="text-dark">
                                                @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                            </a>
                                            <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0 circular-profile-img circular-profile-img-50">
                                                @{
                                                    var src = "/UserImages/user-image-placeholder.png";
                                                    if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                                    {
                                                        src = UserManager.GetUserAsync(User).Result.UserImage;
                                                    }
                                                }
                                                <img src="@src" class=" ml-0" alt="default User image" />
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <div style="display:none;" id="logout-popover">
                                    <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                                    </form>
                                </div>
                            </ul>
                        </div>

                    </nav>

                    </header>


                    }
                    else if (SignInManager.IsSignedIn(User))
                    {
        <header class="sticky-top">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">



                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                        <li class="nav-item mx-4 d-table ">

                        </li>
                    </ul>
                </div>
                <div class="">
                    <ul class="list-unstyled m-0">
                        <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow p-0 m-0 "><div class="alerts-icon"><i style='font-size: 2.3rem; padding-right:1.313rem !important;  color: #808080;' class='icon-notification_top_menu'></i> <span id="alertCount" class="alert-count "></span></div>  </button> </li>
                        <div style="display:none;" id="notifications-popover">
                            <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                            <div style="width:410px" class="p-4 heading-1">
                                Notifications
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="  ">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <div class="form-inline pr-3">
                                <div class="md-form my-0 p-2">
                                    <a href="#" class="text-dark">
                                        @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                    </a>
                                    <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0">
                                        @{
                                            var src = "/UserImages/profile_circle_big.png";
                                            if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                            {
                                                src = UserManager.GetUserAsync(User).Result.UserImage;
                                            }
                                        }
                                        <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                                    </button>
                                </div>
                            </div>
                        </li>
                        <div style="display:none;" id="logout-popover">
                            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                            </form>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
                    }*@

    <div class="container-fluid" style="min-width:560px">
        <div class="row h-25">
            <div class="col-12 p-2 justify-content-start">
                <img style="width:18%; max-width: 100%;" class="mb-3" src="~/images/centarix_logo-02.png" alt="Centarix Logo" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-7 mx-auto text-center center-horizontally">
                <div class="row h-100">
                    <div class="col-12 my-auto">
                        <br /><br /><br /><br /><br /><br /><br />
                        <img style="width:55%; max-width: 100%;" class="mb-3" src="~/images/css/Centarix_Logo.png" alt="Centarix Logo" />
                        <br />

                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<footer class="border-top footer text-muted text-center">
            <div class="container">
                &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>*@
