@model PrototypeWithAuth.ViewModels.TermsViewModel
@using PrototypeWithAuth.AppData
@{
    Layout = null;

    var bcColor = "order-inv-background-color";
    string form = "";
    if (Model.TempRequestListViewModel.RequestIndexObject.SectionType == AppUtility.MenuItems.Operations)
    {
        form = "oper-form";
        bcColor = "oper-background-color";
    }
    else if (Model.TempRequestListViewModel.RequestIndexObject.SectionType == AppUtility.MenuItems.LabManagement)
    {
        bcColor = "lab-man-background-color";
        form = "supplier-form";
    }
    else if (Model.TempRequestListViewModel.RequestIndexObject.SectionType == AppUtility.MenuItems.Requests)
    {
        //bcColor = "order-inv-background-color";
        //form = "order-inv-form"; //switched to outer terms modal
    }
}

@{ await Html.RenderPartialAsync("_TempRequestHiddenFors", Model.TempRequestListViewModel);}

<script src="~/js/TermsModal.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/Validation/TermsModalFormValidation.js"></script>
<script src="~/js/validate.js"></script>
<script src="~/js/InitializeDatePicker.js"></script>

<input type="hidden" asp-for="ParentRequest.ParentRequestID" />
<div class="modal-header modal-header-padding">
    <div class="col-10 float-left">
        <span class="heading-1">Terms</span>
    </div>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row text-danger-centarix"> @Model.ErrorMessage </div>
        <div class="row">

            <div class="col-3">
                <label class="control-label">Terms</label>
                @Html.DropDownListFor(m => m.SelectedTerm,
                    Model.TermsList,
                    new { @class = "mdb-select custom select-dropdown form-control-plaintext Terms", @id = "Terms", @searchable = "default value" }
                )

            </div>

            <div class="col-3">
                @{
                    var currency = Model.TempRequestListViewModel.RequestIndexObject.SelectedCurrency == AppUtility.CurrencyEnum.NIS ? "&#x20aa;" : "&#36;";
                }
                <label asp-for="ParentRequest.Shipping" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-text pr-2">@Html.Raw(currency)</span>
                    <input asp-for="ParentRequest.Shipping" class="form-control-plaintext border-bottom" />
                    <span asp-validation-for="ParentRequest.Shipping" class="text-danger-centarix"></span>
                </div>
            </div>
            @{var dNone = "d-none";
                @*var disabled = true;*@}
            @*@if (Model.SelectedTerm == 5)
                {
                    dNone = "";
                    disabled = false;
                }*@
            <div class="col-3 @dNone installments-amount-block">
                <label asp-for="Installments" class="control-label"></label>
                <input asp-for="Installments" disabled class="form-control-plaintext border-bottom" />
                <span asp-validation-for="Installments" class="text-danger-centarix"></span>
            </div>
            <div class="col-3 @dNone installments-amount-block">
                <div class="form-group ">
                    <label asp-for="@Model.InstallmentDate" class="control-label m-0 mt-2" style="width:100%;"></label>
                    <input asp-for="@Model.InstallmentDate" type="text" class="form-control-plaintext border-bottom align-with-select m-0 p-0 datepicker" disabled asp-format="@AppUtility.AspDateFormatString" data-val="@Model.InstallmentDate.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="@Model.InstallmentDate" class="text-danger-centarix"></span>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" asp-for="ParentRequest.OrderDate" />
<input type="hidden" asp-for="ParentRequest.OrderNumber" />
<input type="hidden" asp-for="ParentRequest.ApplicationUserID" />
<input type="hidden" asp-for="RedirectAction" />
<script>
    $(".terms .mdb-select").materialSelect()</script>

<script>
    $(".submitTerms").off('click').on("click", function (e) {
        e.preventDefault();
        console.log("submit reorder");
        //alert("validate form");
        $(".termsModalForm").data("validator").settings.ignore = "";
        var valid = $(".termsModalForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {

            if (!$('.activeSubmit').hasClass('disabled-submit')) {
                $('.activeSubmit').addClass('disabled-submit')
            }

        }
        else {
            $('.activeSubmit').removeClass('disabled-submit')
            $(".submitTerms").prop('disabled', true)
            $("#loading").show();
            $("#RedirectAction").val(window.location.href);
            //alert("window: " + window.location.href);
            console.log("$('#SectionType').val() : " + $("#masterSectionType").val())
            var formData = new FormData($(".termsModalForm")[0]);
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: "/Requests/TermsModal",
                data: formData,
                traditional: true,
                type: "POST",
                cache: false,
                success: function (data) {
                    $(".submitTerms").prop('disabled', false)
                    if (/*($("#SectionType").val() == "Operations" ||*/ $("#masterSectionType").val() == "Operations" && data == '') {
                        //alert("if 1");
                        var requestStatusId = '2';
                        console.log($('#Requests_0__IsReceived').val())
                        if ($('#Requests_0__IsReceived').val() == 'true') {
                            requestStatusId = '3';
                        }
                        window.location.href = "/Requests/Index?PageType=OperationsRequest&SectionType=Operations&RequestStatusID=" + requestStatusId  + "&SidebarType=List";
                    }
                    else if ($('#masterPageType').val() == "RequestSummary" && data == '') {
                        window.location.href = "/Requests/IndexInventory?PageType=RequestSummary&SectionType=Requests&SidebarType=List";
                    }
                    else if (/*($("#SectionType").val() == "Requests" || */$("#masterPageType").val() == "RequestRequest" && data == '') {
                        //alert("if 2");
                        //console.log($("#RequestIndexObject_OrderType").val())
                        if ($("#RequestIndexObject_OrderType").val() == 'AlreadyPurchased') {
                            window.location.href = "/Requests/Index?PageType=RequestRequest&SectionType=Requests&RequestStatusID=2&SidebarType=List";
                        } else {
                            window.location.href = "/Requests?PageType=RequestRequest&SectionType=Requests&SidebarType=List";
                        }
                    }
                    else if ($('#masterSectionType').val() == "Requests" && data == '') { //Location and personal
                        $.fn.CloseModal('terms');
                        $.fn.CloseModal('step-1');
                        $.fn.CloseModal('reorder-item');
                    }
                    else {
                        //alert("else");
                        $('.termsModalForm .temprequesthiddenfors').html('');
                        $.fn.OpenModal('emailModal', 'confirm-email', data);
                    }
                    $("#loading").hide();
                    return true;
                },
                error: function (jqxhr) {
                    console.log('terms error')
                    if (jqxhr.status == 500) {
                        $.fn.OpenModal('termsModal', 'terms', jqxhr.responseText);
                    }
                    $(".submitTerms").prop('disabled', false)
                    $("#loading").hide();
                    return true;
                }
            });
        }
        $(".termsModalForm").data("validator").settings.ignore = ':not(select:hidden, .location-error:hidden,input:visible, textarea:visible)';

        //return false;
    });</script>