@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/Master.cshtml";
}


    @*<<<<<< Expenses Top Navbar >>>>>>*@
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

            <a class="navbar-brand home-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                    <li class="nav-item mx-4 d-table ">
                        @Html.ActionLink("Expenses", "ExpensesList", "ParentRequests", new { @PageType = AppUtility.PageTypeEnum.AccountingGeneral }, new { @class = " expenses-color-module align-text-bottom" })
                    </li>

                </ul>
            </div>
            <div class="  container col-1  pl-5">
                <ul class="list-unstyled m-0">
                    <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow "><div class="alerts-icon"><i style='font-size: 2.5rem;   color: #808080;' class='icon-notifications-24px '></i> <span id="alertCount" class="alert-count"></span></div>  </button> </li>
                    <div style="display:none;" id="notifications-popover">
                        <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover" onclick="$(this).closest('.modal').modal('hide');">&times;</button>
                        <div style="width:410px" class="p-4">
                            <h5><strong>Notifications</strong></h5>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="  ">
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="form-inline pr-3">
                            <div class="md-form my-0 p-2">
                                <a href="#" class="text-dark">
                                    @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                </a>
                                <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0">
                                    @{
                                        var src = "/UserImages/user-image-placeholder.png";
                                        if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                        {
                                            src = UserManager.GetUserAsync(User).Result.UserImage;
                                        }
                                    }
                                    <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                                </button>
                            </div>
                        </div>
                    </li>
                    <div style="display:none;" id="logout-popover">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                        </form>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid pl-0">
        <main role="main" class="">
            @RenderBody()
        </main>

    </div>
    <!-- The Modal -->
    <div class="modal modal-view right fader" id="myModal">
    </div>


    @*<footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

