@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{

    Layout = "~/Views/Shared/Master.cshtml";

    //initializing pageType to None just in case none is passed in we don't want to disable any buttons unnecessarily (can take this out in the future if we are sure that we don't need it)
    var pageType = AppUtility.LabManagementPageTypeEnum.None;

    //all pages need PageType passed in so we're testing if it's null and if not we're taking in the type
    if (TempData["PageType"] != null)
    {
        pageType = (AppUtility.LabManagementPageTypeEnum)Enum.Parse(typeof(AppUtility.LabManagementPageTypeEnum), TempData["PageType"].ToString());
    }

    //passing the
    string initalClasses = "opac87 align-text-bottom";
    string currentClasses = " text-dark activeNavLabMan";
    string suppliersClass = initalClasses;
    string locationsClass = initalClasses;
    string equipmentClass = initalClasses;
    string quotesClass = initalClasses;
    string searchClass = initalClasses;



    switch (pageType)
    {
        case AppUtility.LabManagementPageTypeEnum.Suppliers:
            suppliersClass += currentClasses;
            break;
        case AppUtility.LabManagementPageTypeEnum.Locations:
            locationsClass += currentClasses;
            break;
        case AppUtility.LabManagementPageTypeEnum.Equipment:
            equipmentClass += currentClasses;
            break;
        case AppUtility.LabManagementPageTypeEnum.Quotes:
            quotesClass += currentClasses;
            break;
        case AppUtility.LabManagementPageTypeEnum.Search:
            searchClass += searchClass;
            break;
    }


}

<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

        <a class="navbar-brand home-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                <li class="nav-item ml-4 d-table ">
                    @Html.ActionLink("Suppliers", "IndexForPayment", "Vendors", new { @PageType = AppUtility.PaymentPageTypeEnum.Suppliers, @SectionType = AppUtility.MenuItems.LabManagement }, new { @class = suppliersClass })
                </li>
                <li class="nav-item ml-5 ">
                    @Html.ActionLink("Locations", "Index", "Locations", new { @SectionType = AppUtility.MenuItems.LabManagement }, new { @class = locationsClass })
                </li>
                <li class="nav-item ml-5">
                    <a class="@equipmentClass">Equipment</a>
                    @*@Html.ActionLink("Notifications", "Index", "ParentRequests", new { @PageType = AppUtility.PaymentPageTypeEnum.Notifications }, new { @class = notificationsClass })*@
                </li>
                <li class="nav-item ml-5">
                    @Html.ActionLink("Orders", "LabManageQuotes", "Requests", new { }, new { @class = quotesClass })
                    @*<a href="" class = "opac87 align-text-bottom">Orders</a>*@
                </li>
                <li class="nav-item ml-5">
                    @Html.ActionLink("Search", "Search", "Requests", new { @SectionType = AppUtility.MenuItems.LabManagement }, new { @class = searchClass })
                </li>
            </ul>
        </div>
        <div class="  ">
            <ul class="list-unstyled mb-0">
                <li>
                    <div class="form-inline pr-3">
                        <div class="md-form my-0 p-2">
                            <a href="#" class="text-dark">
                                @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                            </a>
                            <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0">
                                @{
                                    var src = "/UserImages/profile_circle_big.png";
                                    if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                    {
                                        src = UserManager.GetUserAsync(User).Result.UserImage;
                                    }
                                }
                                <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                            </button>
                        </div>
                    </div>
                </li>
                <div style="display:none;" id="logout-popover">
                    <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                    </form>
                </div>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid pl-0">
    <main role="main">
        @RenderBody()
    </main>

</div>

<!-- The Modal -->
<div class="modal modal-view" id="myModal">
</div>


@*<footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
<script src="~/js/site.js" asp-append-version="true">


</script>
