@using PrototypeWithAuth.AppData.UtilityModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Centarix Management System</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/originalDist/css/bootstrap.min.css" />*@

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/popper.min.js"></script>
        <script src="~/lib/jquery/dist/bootstrap.min.js"></script>
        <script src="~/lib/jquery/dist/mdb.min.js"></script>*@

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Master.css" asp-append-version="true" />
    <link href="~/css/forms.css" rel="stylesheet" />
    <link href="~/css/elixir-fonts/elixir-icons.css" rel="stylesheet" />
    @*load the jquery ui stylesheet*@
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/mdb.min.css" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/addons/datatables-select.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/datatables-select2.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/datatables2.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/directives.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/flag.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/jquery.zmd.hierarchical-display.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons/rating.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/addons-pro/cards-extended.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons-pro/chat.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons-pro/multi-range.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons-pro/simple-charts.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons-pro/steppers.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/addons-pro/timeline.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/modules/accordion-extended.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/modules/animations-extended.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/modules/lightbox.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/modules/megamenu.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/modules/parallax.min.css" rel="stylesheet" />


    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css">
        <link href="~/lib/bootstrap/dist/css/modules/parallax.min.css" rel="stylesheet" />
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/addons/datatables.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/css/datepicker.min.css" rel="stylesheet" type="text/css">

</head>

<body style="display:none" class="body">

    <div class="center" role="status" id="loading" style="display:none;">
        <img src="~/images/css/Loading/centarix_loading3.gif" />
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderBody()

    <!--  SCRIPTS  -->
    <!-- JQuery -->
    @*load jquery ui*@
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/mdb.min.js"></script>

    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery.min.js"></script>

        <script type="text/javascript" src="~/lib/bootstrap/dist/js/popper.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/mdb.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/addons/datatables.min.js"></script>*@

    <script type="module" src="~/lib/bootstrap/dist/js/addons/datatables-select.min.js"></script>
    @*getting an error without type=module*@
    <script type="module" src="~/lib/bootstrap/dist/js/addons/datatables-select2.min.js"></script>
    @*getting an error without type=module*@
    <script src="~/lib/bootstrap/dist/js/addons/datatables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/datatables2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/directives.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/flag.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/jquery.zmd.hierarchical-display.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/masonry.pkgd.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons/rating.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/addons-pro/cards-extended.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons-pro/chat.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons-pro/multi-range.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons-pro/simple-charts.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons-pro/steppers.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/addons-pro/timeline.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/modules/dropdown/dropdown.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/dropdown/dropdown-searchable.min.js"></script>

    @*<script src="@(Url.Content("~/lib/bootstrap/dist/js/modules/material-select/material-select-view-renderer.min.js"))" type="text/javascript"></script>
        <script src="@(Url.Content("~/lib/bootstrap/dist/js/modules/material-select/material-select-view.min.js"))" type="text/javascript"></script>
        <script src="@(Url.Content("~/lib/bootstrap/dist/js/modules/material-select/material-select.min.js"))" type="text/javascript"></script>*@


    <script src="~/lib/bootstrap/dist/js/modules/accordion-extended.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/animations-extended.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/buttons.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/cards.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/character-counter.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/chips.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/collapsible.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/file-input.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/forms-free.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/lightbox.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/mdb-autocomplete.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/megamenu.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/parallax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/preloading.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/range-input.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/scrolling-navbar.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/sidenav.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/smooth-scroll.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/sticky.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/treeview.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/modules/wow.min.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/free/forms-free.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/free/scrolling-navbar.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/free/treeview.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/free/wow.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/pro/dropdown/dropdown-searchable.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/dropdown/dropdown.js"></script>



    <script type="module" src="~/lib/bootstrap/dist/src/js/pro/material-select/material-select-view-renderer.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/src/js/pro/material-select/material-select-view.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/src/js/pro/material-select/material-select.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/pro/buttons.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/cards.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/character-counter.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/chips.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/collapsible.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/file-input.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/mdb-autocomplete.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/picker-date.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/picker-time.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/picker.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/preloading.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/range-input.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/sidenav.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/sidenav2.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/smooth-scroll.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/pro/sticky.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/datatables-select.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/datatables-select2.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/datatables.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/datatables2.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/jquery.zmd.hierarchical-display.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/masonry.pkgd.min.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons/rating.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/vendor/addons-pro/chat.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons-pro/multi-range.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons-pro/simple-charts.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons-pro/steppers.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/addons-pro/timeline.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/vendor/free/bs-custom-file-input.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/free/chart.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/free/chartjs-datalabels.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/free/enhanced-modals.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/free/jquery.easing.js"></script>
    @*<script src="~/lib/bootstrap/dist/src/js/vendor/free/velocity.js"></script>*@
    <script src="~/lib/bootstrap/dist/src/js/vendor/free/waves.js"></script>

    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/jarallax-video.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/jarallax.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/jquery.sticky.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/lightbox.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/ofi.js"></script>
    @*<script src="~/lib/bootstrap/dist/src/js/vendor/pro/picker-date-time.js"></script>
        <script src="~/lib/bootstrap/dist/src/js/vendor/pro/picker-date.js"></script>
        <script src="~/lib/bootstrap/dist/src/js/vendor/pro/picker-time.js"></script>
        <script src="~/lib/bootstrap/dist/src/js/vendor/pro/picker.js"></script>*@
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/scrollbar.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/toastr.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/vector-map-world-mill.js"></script>
    <script src="~/lib/bootstrap/dist/src/js/vendor/pro/vector-map.js"></script>
    <script type="text/javascript" src="~/lib/canvasjs.min.js"></script>
    <script src="~/js/charts/googleCharts.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.min.js"></script>
    @*<script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/moment.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datepicker.min.js"></script>

    <!-- Include English language -->
    <script src="~/js/datepicker.en.js"></script>

    <script>
        $(document).ready(function () {
            console.log("in doc ready");
            //$('form').change(function () {
            //    console.log("form change");
            //    $(".input-group .form-control-plaintext").unwrap();
            //    $(".input-group").remove('.input-group-text');
            //    $(".form-control-plaintext.input-validation-error").wrap("<div class=\"input-group invalid\"></div>");

            //    $(".input-group.invalid").append('<span class="input-group-text">&#36;</span>');
            //});
           // $('form').attr('autocomplete', 'off');

            $('[data-toggle="tooltip"]').tooltip()

            $("#alertCount").hide();




            //Try to disable autocomplete on all inputs --> but chrome may ignore it
            $("input:text,form").attr("autocomplete", "off");


           /* $('input[data-val-required]').each(function () {
                $(this).prev('label').first().append('*');
            });
            $('input[required]').each(function () {
                $(this).prev('label').first().append('*');
            });*/
            $('body').hide();
            $(window).on('load', function () {
                $('body').show();
            });
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
            $.fn.ChangeCheckboxesToFilledIn()
            if ($(".setupdropdowns").val()) {
                $.fn.SetUpDropdowns();
            }
            $.fn.setUpChartDDlPlaceholders()
            //$('.mdb-select').focusin(function () { $('.search-wrap input.search').focus() });
            $('.timekeeper .dropdown-content').removeClass('w-100');
            $('.datepicker').pickadate();
            $('#request-search a:first').tab('show'); @* I had to put this in here b / c otherwise it wasn't coming up on .search-link.click*@
            $('.edit-user a:first').tab('show');
            $('#myForm a:first').tab('show');
            $(".contact-info:hidden:first").find(".contact-active").val(true);
            $.fn.AddContactValidation();
            $(".contact-info:hidden:first").show();

            //vendors

            //  $('[data-toggle="popover"]').popover();
            $("#vendor-payments-tab").prop("disabled", true);
            $("#vendor-categories-tab").prop("disabled", true);
            $("#vendor-comment-tab").prop("disabled", true);
            $("#vendor-contact-tab").prop("disabled", true);


            $("#TermsModal #Terms").val("Select");
            //users
            $("#user-permissions-tab").prop("disabled", true);
            $("#user-budget-tab").prop("disabled", true);
            $("#user-images-tab").prop("disabled", true);
            $("#user-more-tab").prop("disabled", true);
            var $itemurl = "";
            if ($("#tdprconfirmemail").val()) {
                console.log("tdprconfirmemail");
                $("#tdprconfirmemail").hide();
                $itemurl = "/Requests/ConfirmEmailModal/?id=" + @TempData["ParentRequestID"] + "";
                $("#loading").show();
                $.fn.CallPage($itemurl, "confirmemail");
            }

            if ($("#tdterms").val()) {
                $("#tdterms").hide();
                //alert("in tdterms.val()");
                $itemurl = "/Requests/TermsModal/?id=" + @TempData["RequestID"] + "&isSingleRequest=true";
                console.log("url " + $itemurl)
                //$("#loading").show();
                $.fn.CallPage($itemurl, "terms");
                }

            if ($("#tdconfirmemail").val()) {
                console.log("tdconfirmemail");
                $("#tdconfirmemail").hide();
                $itemurl = "/Requests/ConfirmEmailModal/?id=" + @TempData["RequestID"] + "&isSingleOrder=true";
                //$("#loading").show();
                $.fn.CallPage($itemurl, "confirmemail");



            }
            $.fn.GetNotifcationCount();
            $.fn.GetNotifications();
            $.fn.getMenuItems();

           
        });
        $.fn.setUpChartDDlPlaceholders = function () {
            $("input[data-activates='select-options-SelectedMonths']").attr('placeholder', "Month")
            $("input[data-activates='select-options-SelectedYears']").attr('placeholder', "Year")
            $("input[data-activates='select-options-SelectedCategoryTypes']").attr('placeholder', "Lab / Operation")
            $("input[data-activates='select-options-sublist']").attr('placeholder', "Sub Category")
            $("input[data-activates='select-options-SelectedProjects']").attr('placeholder', "Project")
            $("input[data-activates='select-options-SelectedSubProjects']").attr('placeholder', "Sub Project")
            $("input[data-activates='select-options-SelectedEmployees']").attr('placeholder', "Worker")
            $("input[data-activates='select-options-parentlistMulitple']").attr('placeholder', "Category")
            $("input[data-activates='select-options-SelectedMonths']").val('')
            $("input[data-activates='select-options-SelectedVendors']").attr('placeholder', "Vendors")
            $("input[data-activates='select-options-SelectedVendors']").val('')
            $("input[data-activates='select-options-SelectedYears']").val('')
            $("input[data-activates='select-options-SelectedCategoryTypes']").val('')
            $("input[data-activates='select-options-sublist']").val('')
            $("input[data-activates='select-options-SelectedProjects']").val('')
            $("input[data-activates='select-options-SelectedSubProjects']").val('')
            $("input[data-activates='select-options-SelectedEmployees']").val('')
            $("input[data-activates='select-options-parentlistMulitple']").val('')
        }
        $.fn.ChangeCheckboxesToFilledInWithoutMDB = function () {
            console.log("in change checkboxes to filled in");
            var dropdown = $(".multiple-select-dropdown li span input.form-check-input");
            console.log
            dropdown.addClass("filled-in");
            $(".multiple-select-dropdown li span").replaceWith(function () {
                return "<div class='form-check pl-0 py-2'>" + this.innerHTML + "</div>";
            });

        };

        $.fn.ChangeCheckboxesToFilledIn = function () {
            $('.mdb-select').materialSelect();
            $.fn.ChangeCheckboxesToFilledInWithoutMDB();
        };


        $.fn.CallPage = function (itemurl, $type) {
            console.log("in call page function");
            //delete existing modals
            $('.modal').replaceWith('');
            $(".modal-backdrop").remove();
            $.ajax({
                async: true,
                url: itemurl,
                type: 'GET',
                cache: true,
                success: function (data) {
                    $("#loading").hide();
                    //console.log("success!");
                    var modal = $(data);
                    $('body').append(modal);
                    //replaces the modal-view class with the ModalView view
                    //$(".modal-view").html(data);
                    //turn off data dismiss by clicking out of the box and by pressing esc
                    $(".modal-view").modal({
                        backdrop: true,
                        keyboard: false,
                    });
                    //shows the modal
                    $(".modal").modal('show');
                    //reset so do not open the modal again
                    $('#tdconfirmemail').val('');
                    $('#tdprconfirmemail').val('');
                    $.fn.OnOpenModalView();
                    $(".termsModal").modal('show');
                    AddTempDataMemory();


                }


            });
        }
        $(".prevent-js-reload").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            return false;
        });

        $(".search-link").on("click", function () {
            $('#request-search a:first').tab('show');
        });

        $(".load-product-details").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "";
            if ($(this).hasClass('operations')) {
                $itemurl = "/Operations/EditModalView/?id=" + $(this).val();
            }
            else {
                console.log("Requests/EditModalView/?id")
                //takes the item value and calls the Products controller with the ModalView view to render the modal inside
                $itemurl = "/Requests/EditModalView/?id=" + $(this).val();
            }
            $.fn.CallPageRequest($itemurl, "details");
            return false;
        });
        $(".load-vendor-edit").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "";

            console.log("Vendors/Edit/?id")
            //takes the item value and calls the Products controller with the ModalView view to render the modal inside
            $itemurl = "/Vendors/Edit/?id=" + $(this).attr('val') + '&SectionType=' + $(this).attr('sectionType');

            $.fn.CallPageRequest($itemurl, "details");
            return false;
        });
        $(".load-product-details-summary").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            //takes the item value and calls the Products controller with the ModalView view to render the modal inside
            var $itemurl = "/Requests/DetailsSummaryModalView/?id=" + $(this).val();
            $.fn.CallPageRequest($itemurl, "details");
            return false;
        });
        $(".load-product-edit").on("click", function (e) {
            console.log("inside of load product edit")
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "";
            if ($(this).hasClass('operations')) {
                console.log("/Operations/EditModalView/?id")
                $itemurl = "/Operations/EditModalView/?id=" + $(this).val();
            }
            else {
                console.log("Requests/EditModalView/?id")
                //takes the item value and calls the Products controller with the ModalView view to render the modal inside
                $itemurl = "/Requests/EditModalView/?id=" + $(this).val();
            }
            console.log("itemurl: " + $itemurl);
            $.fn.CallPageRequest($itemurl, "edit");
            return false;
        });

        $(".create-product-details").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            //takes the item value and calls the Products controller with the ModalView view to render the modal inside
            var $itemurl = "/Requests/CreateModalView";
            //var $itemurl = "Requests/DetailsModalView/?id=62";
            $.fn.CallPageRequest($itemurl, "create");
            return false;
        });

        $(".load-confirm-delete").on("click", function (e) {
            console.log("in confirm delete");
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Requests/DeleteModal/?id=" + $(this).val() + "&SectionType=" + $(this).attr('name');;
            $.fn.CallPageRequest($itemurl, "delete");
            return false;
        });

        $(".load-confirm-delete-quote").on("click", function (e) {
            console.log("in confirm delete");
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Requests/DeleteModal/?id=" + $(this).val() + "&isQuote=true" + "&SectionType=" + $(this).attr('name');
            $.fn.CallPageRequest($itemurl, "delete");
            return false;
        });

        $(".load-order-details").on("click", function (e) {
            console.log("in order details");
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var section = $(this).attr('section')
            //takes the item value and calls the Products controller with the ModalView view to render the modal inside
            var $itemurl = "/Requests/ReOrderFloatModalView/?id=" + $(this).val() + "&NewRequestFromProduct=true" + "&SectionType=" + section;
            $.fn.CallPageRequest($itemurl, "reorder");
            return false;
        });


        $(".load-quote-details").on("click", function (e) {
            console.log("in order details");
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Requests/EditQuoteDetails/?id=" + $(".key-vendor-id").val() + "&requestID=" + $(this).val();
            $.fn.CallPageRequest($itemurl, "quote");
            return false;
        });

        $(".load-receive-and-location").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var isOperations = $(this).hasClass('operations');
            //takes the item value and calls the Products controller with the ModalView view to render the modal inside
            var $itemurl = "/Requests/ReceivedModal?RequestID=" + $(this).val() + "&IsOperations=" + isOperations;
            $.fn.CallPageRequest($itemurl, "received");
            return false;
        });

        $(".js-go-to-controller").on("click", function (e) {
            console.log("inside of js-go-to-controller");
            e.preventDefault();
            e.stopPropagation();
            var $itemurl = "/Requests/ConfirmEmailModal";
            $.fn.CallPageRequest($itemurl, "email");
            return false;
        });
    $(".order-late").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#loading").show();
        var $itemurl = "/Requests/OrderLateModal/?id=" + $(this).val();
        $.fn.CallOrderLateModal($(this).val());
        return false;
    });

    $.fn.CallOrderLateModal = function (id) {
        console.log("in call modal, id: " + id);
        $('.modal').replaceWith('');
        $(".modal-backdrop").remove();
        $('#loading').show();
        //var url = @Url.Action("Requests", "OrderLate");
        var url = "/Requests/OrderLateModal/?id=" + id;
        $.ajax({
            async: true,
            type: 'GET',
            cache: false,
            url: url, @*'@(Url.Action("OrderLateModal", "Requests"))',*@
            //data: id,
            //dataType: "string",
            success: function (data) {
                $('#loading').hide();
                var modal = $(data);
                $('body').append(modal);
                $(".modal-view").modal({
                    backdrop: true,
                    keyboard: false,
                });
                $(".modal").modal('show');
            }

        });
        return false;
    };

    @*$(".order-late").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#loading").show();
        var $itemurl = "OrderLateModal/?id=" + $(this).val();
        $.fn.CallOrderLateModal($(this).val());
        return false;
    });

        $.fn.CallOrderLateModal = function (id) {
            console.log("in call modal");
            $('.modal').replaceWith('');
            $(".modal-backdrop").remove();
            $('#loading').show();
            //var url =
            return false;

        };*@


        function AddTempDataMemory() {
            //console.log("about to get set the hidden fors in the modal view to remember where the user was");

            $("#Page").val(parseInt(@TempData["TempPage"]));
            $("#RequestStatusID").val(parseInt(@TempData["TempRequestStatusID"]));
            $("#SubCategoryID").val(parseInt(@TempData["TempSubcategoryID"]));
            $("#VendorID").val(parseInt(@TempData["TempVendorID"]));

            $("#ApplicationUserID").val("@TempData["TempApplicationUserID"]?.ToString()");

            //console.log("PageType:" + @TempData["TempPageType"]);
            $("#PageType").val(@TempData["TempPageType"]);
        };

        $.fn.CallPageRequest = function ($itemurl, $type) {
            console.log("in call page function");
            console.log("itemurl " + $itemurl);
            //delete existing modals
            $('.modal').replaceWith('');
            $(".modal-backdrop").remove();
            $('#loading').show();
            $.ajax({
                async: true,
                url: $itemurl,
                type: 'GET',
                cache: false,

                success: function (data) {
                    $('#loading').hide();
                    console.log("success!");
                    var modal = $(data);
                    $('body').append(modal);
                    //replaces the modal-view class with the ModalView view
                    //$(".modal-view").html(data);
                    //turn off data dismiss by clicking out of the box and by pressing esc
                    $(".modal-view").modal({
                        backdrop: true,
                        keyboard: false,
                    });
                    //shows the modal
                    $(".modal").modal('show');
                    //$(".modal").on('show.bs.modal', function (e) {
                    //    $(".modal .modal-dialog").attr('class', 'modal-dialog zoomInRight animated');
                    //})
                    //bootstrap dynamically adds a class of modal-backdrop which must be taken off to make it clickable
                    //$(".modal-backdrop").remove();
                    //$('.modal').find('input').first().focus();
                    //$(".modal").popover('hide')
                    switch ($type) {
                        case "details":
                            $.fn.OnOpenModalView();
                            AddTempDataMemory();
                            break;
                        case "edit":
                            $.fn.OnOpenModalView();
                            AddTempDataMemory();
                            break;
                        case "reorder":
                            $.fn.OnOpenModalView();
                            AddTempDataMemory();
                            $("#Request_Cost").trigger('change');
                            break;
                        case "create":
                            $.fn.OnOpenModalView();
                            AddTempDataMemory();
                            break;
                        case "received":
                            $('.mdb-select').materialSelect();
                            $('.mdb-select').focus(function () { $('.search-wrap input.search').focus() });
                            AddTempDataMemory();
                            break;
                        case "confirmemail":
                            AddTempDataMemory();
                            break;
                        case "delete":
                            AddTempDataMemory();
                            break;
                        case "quote":
                            AddTempDataMemory();
                            break;
                        case "orderlate":
                            //AddTempDataMemory();
                            break;
                        case "termsmodal":
                            //alert("in termsmodal success!");
                            $(".terms-disabled").hide();
                            $(".paid-disabled").hide();
                            $('.mdb-select').materialSelect();
                            AddTempDataMemory();
                            break;
                    }

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    console.log("in error..." + err.Description);
                    $("#loading").hide();
                    //alert(err.Message);
                }

                //error: function (/*request, status, error*/) {
                //    console.log("ajax call went wrong:" /*+ request.responseText*/);
                //}
            });
        }


        $.fn.OnOpenModalView = function () {
            $('.mdb-select').materialSelect();
            $('.mdb-select').focus(function () { $('.search-wrap input.search').focus() });
            $('.modal-content a:first').tab('show');
            var parentCategoryId = $("#parentlist").val();
            var subcategoryId1 = $("#sublist").val();
            var url = "/Requests/GetSubCategoryList";

            $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
                var item = "";
                $.each(data, function (i, subCategory) {
                    item += '<option value="' + subCategory.productSubcategoryID + '">' + subCategory.productSubcategoryDescription + '</option>'
                });
                $("#sublist").html(item);
                $("#sublist").val(subcategoryId1).change();
            });

            //For the order files

            //goes into this function
            $(".custom-file-input").on("change", function () {
                var fileLabel = $(this).next(".custom-file-label");
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else {
                    fileLabel.html(files[0].name);
                }
            });

            //get the current vendor id (if loading an already existing product)
            var vendorid = $("#vendorList").val();
            //call a function to lad the vendor business id from the vendor id
            $.fn.ChangeVendorBusinessId(vendorid);

        }

        $(".open-user-modal").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Admin/EditUser/?id=" + $(this).attr("value");
            console.log("itemurl: " + $itemurl);
            $.fn.CallPageUser($itemurl);
            return false;
        });

        $(".load-terms-modal").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();

            var $itemurl = "TermsModal/?id=" + $(this).val() + "&IsCart=true";
            console.log("itemurl: " + $itemurl);
            $.fn.CallPageRequest($itemurl, "termsmodal");
            return false;
        });

        $(".load-confirm-email").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var cart = "";
            if ($(this).hasClass("cart")) {
                cart = "&cart=true"
            }
            var $itemurl = "/Requests/ConfirmEmailModal/?id=" + $(this).val() + cart;
            $.fn.CallPageRequest($itemurl, "confirmemail");
            return false;
        });

        $(".confirm-quote").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Requests/ConfirmQuoteEmailModal/?id=" + $(this).val();
            $.fn.CallPageRequest($itemurl, "confirmemail");
            return false;
        });
        $(".confirm-quote-resend").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Requests/ConfirmQuoteEmailModal/?id=" + $(this).val() + "&isResend=true";
            $.fn.CallPageRequest($itemurl, "confirmemail");
            return false;
        });
        $(".confirm-quote-order").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#loading").show();
            var $itemurl = "/Requests/ConfirmQuoteOrderEmailModal/?id=" + $(this).val();
            $.fn.CallPageRequest($itemurl, "confirmemail");
            return false;
        });


        function addActive(id) {
            var item = document.getElementById(id);
            item.classList.add("activeNavLink");
        }

        $.fn.OnOpenModal = function () {
            $('.modal-content a:first').tab('show');
            $('.mdb-select').materialSelect();
            $('.mdb-select').focus(function () { $('.search-wrap input.search').focus() });
            $('.mdb-select li:first-child').hide();
            $('.mdb-select li:nth-child(2)').hide();
        };

        $(".load-request-details").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $itemurl = "/DetailsModalView?id=" + $(this).val();
            $.fn.CallPagePayment($itemurl, "details");
            return false;
        });

        $.fn.DeleteUserModal = function (userid) {
            console.log("in delete user modal function");
            $itemurl = '/Admin/DeleteUserModal?id=' + userid;
            $.fn.CallPageUser($itemurl, '');
            return false;
        };

        $.fn.SuspendUserModal = function (userid, suspend) {
            console.log("in delete user modal function");
            $itemurl = '/Admin/SuspendUserModal?id=' + userid;
            $.fn.CallPageUser($itemurl, '');
            return false;
        };


        $.fn.getMenuItems = function () {
           // alert("get menu items")
            $.ajax({
                async: true,
                url: '/Home/_MenuButtons',
                type: 'GET',
                cache: true,
                success: function (data) {
                    $('#home-content').html(data);

                }
            });
        }

        $.fn.CallPageUser = function ($itemurl) {
            //delete existing modals
            $('.modal').replaceWith('');
            $(".modal-backdrop").remove();
            $.ajax({
                async: true,
                url: $itemurl,
                type: 'GET',
                cache: true,
                success: function (data) {
                    $("#loading").hide();
                    //console.log("success!");
                    var modal = $(data);
                    $('body').append(modal);
                    $(".modal-view").modal({
                        backdrop: true,
                        keyboard: false,
                    });
                    $.fn.CalculateAge();
                    $(".modal").modal('show');
                    $.fn.OnOpenModal();
                }
            });
        };

        $.fn.CalculateAge = function () {
            //TODO Calculate age
            $("#Age").val("0");
        };


        $(".load-vendor-search").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $itemurl = "Search";
            $.fn.CallPagePayment($itemurl);
            return false;
        });


        $.fn.CallPagePayment = function ($itemurl, $Type = "") {
            console.log("item url: " + $itemurl);
            $.ajax({
                //async: true,
                url: $itemurl,
                type: 'GET',
                cache: true,
                success: function (data) {
                    //replaces the modal-view class with the ModalView view
                    $(".modal-view").html(data);
                    //turn off data dismiss by clicking out of the box and by pressing esc
                    $(".modal-view").modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    //shows the modal
                    $(".modal").modal('show');
                    //bootstrap dynamically adds a class of modal-backdrop which must be taken off to make it clickable
                    $(".modal-backdrop").remove();
                    if ($Type == "details") {
                        $('.modal-content a:first').tab('show');
                    }
                }
            });
        };

        $("table tr .form-check-input.fci-acc").click(function () {
            if ($(this).is(':checked')) {
                $(this).closest("tr").addClass("clicked-border-acc");
            }
            else {
                $(this).closest("tr").removeClass("clicked-border-acc");
            }
        });

        $("table tr .order-inv-form .form-check-input").click(function () {
            if ($(this).is(':checked')) {
                $(this).closest("tr").addClass("clicked-border-orders-inv");
            }
            else {
                $(this).closest("tr").removeClass("clicked-border-orders-inv");
            }
        });

        hide = true;
        $('body').on("click", function () {
            if (hide) $('.acc-sidebar').removeClass('active');
            hide = true;
        });

        // add and remove .active
        $('body').on('click', '.acc-sidebar', function () {

            var self = $(this);

            //if (self.hasClass('active')) {
            //    $('.acc-sidebar').removeClass('active');
            //    return false;
            //}

            $('.acc-sidebar').removeClass('active');

            self.toggleClass('active');
            hide = false;
        });





        $("#openNotifications").click(function () {
            $('[data-toggle="popover"]').popover('dispose');
            $('[data-toggle="popover"]').popover({
                sanitize: false,
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('#notifications-popover').html();
                }
            });
            $('#openNotifications').popover('toggle');

        });


        //$(document).popover({
        //    selector: '[data-toggle=popover]',
        //    html: true,
        //    content: $("#popover-body").html(),
        //    sanitize: false,
        //    trigger: 'focus'
        //});

        //$("[data-toggle=popover]").popover({
        //    html: true,
        //    content: function () {
        //        var content = $(this).attr("data-popover-content");
        //        return $(content).children(".popover-body").html();
        //    },
        //    title: function () {
        //        var title = $(this).attr("data-popover-content");
        //        return $(title).children(".popover-heading").html();
        //    }
        //});

        $("#profile-img").click(function () {
            $('[data-toggle="popover"]').popover('dispose');
            $('#profile-img').popover({
                sanitize: false,
                placement: 'top',
                html: true,
                content: function () {
                    return $('#logout-popover').html();
                }
            });
            $('#profile-img').popover('toggle');


        });

        //$("#parentlist").change(function () {
        //    console.log('  $("#parentlist").change(')
        //    var parentCategoryId = $("#parentlist").val();
        //    var url = "/Requests/GetSubCategorsyList";

        //    $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
        //        var item = "<option value=''>Select a Subcategory</option>";
        //        $("#sublist").empty();
        //        $.each(data, function (i, subCategory) {
        //            item += '<option value="' + subCategory.productSubcategoryID + '">' + subCategory.productSubcategoryDescription + '</option>'
        //        });
        //        $("#sublist").html(item);
        //    });
        //});

        $(".load-add-location").on("click", function (e) {
            console.log("load add locations clicked");
            e.preventDefault();
            e.stopPropagation();
            var $itemurl = "/Locations/AddLocation";
            var $modal = $(".location-modal-view");
            $.fn.CallPageRequest($itemurl, "locations");
            return false;
        });


        $('#submitAddLocation').click(function () {
            e.preventDefault();
            $('#loading').show();
        });

        $(".load-add-location-type").on("click", function (e) {
            console.log("load add location type 3");
            e.preventDefault();
            e.stopPropagation();
            var $itemurl = "/Locations/AddLocationType";
            var $modal = $(".location-modal-view");
            //$("location-modal-view").css("display", "none");
            //IMPT REOPEN ON CLOSING
            $.fn.CallPageRequest($itemurl, "addlocation");
        });


        $.fn.CallPageLocation = function ($itemurl, $modal, $isaddlocation) {
            $.ajax({
                async: true,
                url: $itemurl,
                type: 'GET',
                cache: false,
                success: function (data) {
                    //console.log("success!");
                    //replaces the modal-view class with the ModalView view
                    $modal.html(data);
                    //turn off data dismiss by clicking out of the box and by pressing esc
                    $modal.modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    //shows the modal
                    $(".modal").modal('show');
                    //bootstrap dynamically adds a class of modal-backdrop which must be taken off to make it clickable
                    $(".modal-backdrop").remove();


                    if ($isaddlocation) {
                        console.log("inside of modal if statement");



                    }
                    else {
                        $(".addSublocation").hide();

                    }

                }
            });
        }
       $.fn.GetNotifcationCount = function () {
           console.log("in call getNotofication function");
           var link = '@Url.Action("GetNotficationCount", "Home")';
           $.ajax({
               async: true,
               url: link,
               type: 'GET',
               cache: false,
               success: function (data) {
                   console.log("count: " + data);
                   $("#alertCount").html('<span>'+data+'</span>');
                   if (data == "0") {
                       $("#alertCount").hide();
                   }
                   else {
                       $("#alertCount").show();
                   }
               }
           });
       }
        $.fn.UpdateNotificationLastRead = function () {
            $.ajax({
                async: true,
                url: "/Home/UpdateLastReadNotifications",
                type: 'POST',
                cache: false,
                success: function (data) {
                    $.fn.GetNotifcationCount();
                }
            });
        }
        $.fn.GetNotifications = function () {
            //delete existing modals
            $.getJSON("/Home/GetLatestNotifications", function (data) {
                $.each(data, function (i, notification) {
                    var timestamp = new Date(notification.timeStamp)
                    var link = '/-1/-2?requestID=-3';
                    link = link.replace("-3", notification.id);
                    link = link.replace("-2", notification.action);
                    link = link.replace("-1", notification.controller);
                    var bold = "";
                    console.log( notification.isRead);
                    if (notification.isRead == false) {
                        bold = "font-weight-bold";
                    }

                    var newitem1 = '<a class="opac87  '+bold+' " href="'+ link+'"><div id="notification-info" class="px-3 pb-2 mb-3 ">' +
                        '<div class="col-12 border-right-0 border-left-0 border-top-0 border-bottom  pb-2 mb-3 " >' +
                        '<div class="row ">' +
                        '<div class=" float-left " >' +
                        '<i class="' + notification.icon + ' rounded-circle p-1" style="font-size: 1.75rem; color:var(' + notification.color + '); border: .125rem solid var(' + notification.color + ');"></i>' +
                        '</div>' +
                        '<div class=" col-10">' +
                        '<label class="m-0 mr-5" id="notificationTimestamp">' + timestamp.getDate() + '/' + (timestamp.getMonth()+1) + '/' + timestamp.getFullYear() +  ' </label>' +
                        '<label class="m-0 " id="notificationDescription" style="color:var('+notification.color+');">' + notification.description + '</label> </br>' +
                        '<label class="m-0" id="requestName" >' + notification.requestName + '</label>' +
                        '</div>' +

                        '</div>' +

                        '</div>' +
                        '</div>' +
                        '</div></a>';
                    $("#notifications-popover").append(newitem1);

                });

            }

            );
        }
        $("#openNotifications").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('[data-toggle="popover"]').popover('dispose');
            $('[data-toggle="popover"]').popover({
                sanitize: false,
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('#notifications-popover').html();
                }
            });
            $('#openNotifications').popover('toggle');
            $.fn.UpdateNotificationLastRead();

        });

        $.fn.GetHoursString = function (date) {
            var date = new Date(date);
            var hours = date.getHours();
            var minutes = date.getMinutes();

            var hoursString = hours.toString().padStart(2, '0')
                + ':' + minutes.toString().padStart(2, '0');
            return hoursString;
        };


        //RECEIVEDMODAL:
        function changePartialDelivery() {
            if ($('#Clarify').is(":checked")) {
                $('#PartialDelivery').attr("disabled", true);
                $("label[for='PartialDelivery']").addClass("white-background");
            }
            else {
                $('#PartialDelivery').attr("disabled", false);
                $("label[for='PartialDelivery']").removeClass("white-background");
            }
        };

        function changeClarify() {
            if ($('#PartialDelivery').is(":checked")) {
                $('#Clarify').attr("disabled", true);
                $("label[for='Clarify']").addClass("white-background");
            }
            else {
                $('#Clarify').attr("disabled", false);
                $("label[for='Clarify']").removeClass("white-background");
            }
        };

    </script>

    @if (IsSectionDefined("requestNavScript"))
    {
        @RenderSection("requestNavScript", required: true)
    }

</body>
</html>