
@{
    ViewData["Title"] = "NotificationsView";
    Layout = "~/Views/Shared/PaymentView.cshtml";
}
<div style="display: flex">

    <div style="width: 110px; min-height:60rem; font-size:small;" class="p-2 border-right sidebar-shadow text-center ourNavBar">
        <ul style="position:fixed" class="nav flex-column nav-pills nav-stacked mb-lg-3">
            <li class="nav-item mb-4 mt-3 acc-sidebar active">
                <a href="@Url.Action("ToPay", "ParentRequests")" class="bold-hover-effects"> <i class="icon-monetization_on-24px" style="font-size:1.6rem;"></i><br /> To Pay <br /></a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="@Url.Action("NoInvoice", "ParentRequests")" class="bold-hover-effects"> <i class="icon-cancel_presentation-24px" style="font-size:1.6rem;"></i><br /> No Invoice <br /></a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="@Url.Action("DidntArrive", "ParentRequests")" class="bold-hover-effects"> <i class="icon-local_shipping-24px" style="font-size:1.6rem;"></i><br /> Didn't Arrive <br /></a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="@Url.Action("PayNow", "ParentRequests")" class="bold-hover-effects"> <i class="icon-payment-24px" style="font-size:1.6rem;"></i><br /> Pay Now <br /></a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="@Url.Action("PartialDelivery", "ParentRequests")" class="bold-hover-effects"> <i class="icon-remove_shopping_cart-24px" style="font-size:1.6rem;"></i><br /> Partial Delivery <br /> </a>
            </li>
            <li class="nav-item my-4 acc-sidebar">
                <a href="@Url.Action("ForClarification", "ParentRequests")" class="bold-hover-effects"> <i class="icon-report_problem-24px" style="font-size:1.6rem;"></i><br /> For Clarification <br /> </a>
            </li>

        </ul>
    </div>
    <div style="flex-grow: 1; position:relative; padding: 2rem;">
        @RenderBody()
    </div>
</div>