@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "RequestNavView";
    Layout = "~/Views/Shared/OperationsView.cshtml";

    AppUtility.RequestPageTypeEnum pageType = AppUtility.RequestPageTypeEnum.None;
    if (TempData["PageType"] != null)
    {
        pageType = (AppUtility.RequestPageTypeEnum)Enum.Parse(typeof(AppUtility.RequestPageTypeEnum), TempData["PageType"].ToString());
    }
    var categoryType = AppUtility.CategoryTypeEnum.Operations;

    bool Requests = false;
    bool Inventory = false;
    switch (pageType)
    {
        case AppUtility.RequestPageTypeEnum.Request:
            Requests = true;
            break;
        case AppUtility.RequestPageTypeEnum.Inventory:
            Inventory = true;
            break;
    }

    string originalNavClasses = " ";
    string activeClass = " font-weight-bold activeNavOperLink  ";
    string lastItem = originalNavClasses;
    string type = originalNavClasses;
    string vendor = originalNavClasses;
    string owner = originalNavClasses;
    string addItem = originalNavClasses;

    var SidebarType = TempData["SidebarTitle"];
    switch (SidebarType)
    {
        case AppUtility.OrdersAndInventorySidebarEnum.LastItem:
            lastItem += activeClass;
            break;
        case AppUtility.OrdersAndInventorySidebarEnum.Type:
            type += activeClass;
            break;
        case AppUtility.OrdersAndInventorySidebarEnum.Vendor:
            vendor += activeClass;
            break;
        case AppUtility.OrdersAndInventorySidebarEnum.Owner:
            owner += activeClass;
            break;
        case AppUtility.OrdersAndInventorySidebarEnum.AddItem:
            addItem += activeClass;
            break;
    }

    if (TempData["RequestID"] == null)
    {
        TempData["RequestID"] = 0;
    }

}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div>@TempData["SuccessMessage"].ToString()</div>
    }
}


<div style="display: flex">
    <div style="min-width: 100px; min-height:100rem; padding: 5px;" class=" d-md-block sidebar-shadow   navbar-expand-lg navbar-light bg-white text-center ourNavBar ">
        @*<nav class="navbar navbar-expand-lg">*@
        <ul class="nav flex-column nav-pills nav-stacked mt-4">

            @if (Requests || Inventory)
            {

                <li class="nav-item mb-1 @lastItem">
                    <a href="@Url.ActionLink("Index", "Operations", new { @PageType = pageType })" class="bold-hover-effects opac87 p-1 add-item"><img src="~/images/css/inventory/sidebar/list.png" alt="Last item" /><br />Last Item</a>
                </li>
                <li class="nav-item my-1 @addItem">
                    <a href="@Url.ActionLink("CreateModalView", "Operations", new { @PageType = pageType })" class="bold-hover-effects opac87 p-1">  <img src="~/images/css/inventory/sidebar/add_circle_outline-2.png" alt="Add Item" /><br />Add Item</a>
                </li>
                <li class="nav-item bold-hover-effects my-1 @type">
                    <a href="@Url.ActionLink("Index", "ProductSubcategories", new { @PageType = pageType, @categoryType=2 })" class="bold-hover-effects opac87 p-1"><img src="~/images/css/inventory/sidebar/type.png" alt="Alternate Text" /><br />Type</a>
                </li>
                <li class="nav-item my-1 @vendor">
                    <a href="@Url.ActionLink("Index", "Vendors", new { @PageType = pageType, @categoryType= 2 })" class="bold-hover-effects opac87 p-1"><img src="~/images/css/inventory/sidebar/vendor.png" alt="Vendors" /><br />Vendors</a>
                </li>
                <li class="nav-item my-1 @owner">
                    <a href="@Url.ActionLink("Index", "ApplicationUsers", new { @PageType = pageType, @categoryType=categoryType })" class="bold-hover-effects opac87 p-1"><img src="~/images/css/inventory/sidebar/owner.png" alt="Owner" /><br />Owner</a>
                </li>
            }
 
        </ul>
        @*</nav>*@
    </div>
    <div style="flex-grow: 1" class="outer-page-margins">
        <!--class="col-md-10 border-left"-->
        @RenderBody()
    </div>
</div>


<!-- Confirm Email Modal -->
<div class="modal confirm-email-modal" id="myModal">
</div>

