@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/Master.cshtml";

    /*
     * Determine Active Nav Link START
     * using the
     */

    //initializing pageType to None just in case none is passed in we don't want to disable any buttons unnecessarily (can take this out in the future if we are sure that we don't need it)
    var pageType = AppUtility.PaymentPageTypeEnum.None;

    //all pages need PageType passed in so we're testing if it's null and if not we're taking in the type
    if (TempData["PageType"] != null)
    {
        pageType = (AppUtility.PaymentPageTypeEnum)Enum.Parse(typeof(AppUtility.PaymentPageTypeEnum), TempData["PageType"].ToString());
    }

    //passing the
    string initalClasses = "opac87 align-text-bottom";
    string currentClasses = " text-dark activeNavLinkAcc";
    string notificationsClass = initalClasses;
    string generalClass = initalClasses;
    string suppliersClass = initalClasses;
    string paymentClass = initalClasses;
    switch (pageType)
    {
        case AppUtility.PaymentPageTypeEnum.Notifications:
            notificationsClass = initalClasses + currentClasses;
            break;
        case AppUtility.PaymentPageTypeEnum.General:
            generalClass = initalClasses + currentClasses;
            break;
        case AppUtility.PaymentPageTypeEnum.Suppliers:
            suppliersClass = initalClasses + currentClasses;
            break;
        case AppUtility.PaymentPageTypeEnum.Payments:
            paymentClass = initalClasses + currentClasses;
            break;
    }
    /*Determine Active Nav Link END*/

}

@*<<<<<< Accounting Header >>>>>*@
<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

        <a class="navbar-brand" style="padding-left:2rem;" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav dropdown-menu-md-left  " style="font-size:1.25rem;  ">
                <li class="nav-item mx-4 d-table">
                    @Html.ActionLink("Payments", "AccountingPayments", "Requests", new { @accountingPaymentsEnum = AppUtility.AccountingPaymentsEnum.MonthlyPayment }, new { @class = paymentClass })
                </li>
                <li class="nav-item mx-5">
                    @Html.ActionLink("Notifications", "AccountingNotifications", "Requests", new { @PageType = AppUtility.PaymentPageTypeEnum.Notifications }, new { @class = notificationsClass })
                </li>
                <li class="nav-item mx-5">
                    @Html.ActionLink("General", "GeneralPaymentList", "ParentRequests", new { @PageType = AppUtility.PaymentPageTypeEnum.General }, new { @class = generalClass })
                </li>
                <li class="nav-item mx-5">
                    @Html.ActionLink("Suppliers", "IndexForPayment", "Vendors", new { @PageType = AppUtility.PaymentPageTypeEnum.Suppliers, @SectionType = AppUtility.MenuItems.Accounting }, new { @class = suppliersClass })
                </li>
            </ul>
        </div>
        <div class="  container col-1  pl-5">
            <ul class="list-unstyled m-0">
                <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow "><div class="alerts-icon"><i style='font-size: 2.5rem;   color: #808080;' class='icon-notifications-24px '></i> <span id="alertCount" class="alert-count"></span></div>  </button> </li>
                <div style="display:none;" id="notifications-popover">
                    <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                    <div style="width:410px" class="p-4">
                        <h5><strong>Notifications</strong></h5>
                    </div>
                </div>
            </ul>
        </div>
        <div class="  ">
            <ul class="list-unstyled mb-0">
                <li>
                    <div class="form-inline pr-3">
                        <div class="md-form my-0 p-2">
                            <a href="#" class="text-dark">
                                @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                            </a>
                            <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0">
                                @{
                                    var src = "/UserImages/profile_circle_big.png";
                                    if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                    {
                                        src = UserManager.GetUserAsync(User).Result.UserImage;
                                    }
                                }
                                <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                            </button>
                        </div>
                    </div>
                </li>
                <div style="display:none;" id="logout-popover">
                    <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                    </form>
                </div>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid pl-0">
    <main role="main" class="">
        @RenderBody()
    </main>

</div>

<!-- The Modal -->
<div class="modal modal-view" id="myModal">
</div>


@*<footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
<script src="~/js/site.js" asp-append-version="true">


</script>
@RenderSection("Scripts", required: false)

<script>
    $(".load-vendor-search").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        var $itemurl = "Search";
        $.fn.CallPagePayment($itemurl);
        return false;
    });


    $(".load-request-details").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        var $itemurl = "DetailsModalView?id=" + $(this).val();
        $.fn.CallPagePayment($itemurl, "details");
        return false;
    });


    $.fn.CallPagePayment = function ($itemurl, $Type = "") {
        console.log("item url: " + $itemurl);
        $.ajax({
            //async: true,
            url: $itemurl,
            type: 'GET',
            cache: false,
            success: function (data) {
                //replaces the modal-view class with the ModalView view
                $(".modal-view").html(data);
                //turn off data dismiss by clicking out of the box and by pressing esc
                $(".modal-view").modal({
                    backdrop: 'static',
                    keyboard: false
                });
                //shows the modal
                $(".modal").modal('show');
                //bootstrap dynamically adds a class of modal-backdrop which must be taken off to make it clickable
                $(".modal-backdrop").remove();
                if ($Type == "details") {
                    $('.modal-content a:first').tab('show');
                }
            }
        });
    }

    $("table tr .form-check-input").click(function () {
        if ($(this).is(':checked')) {
            $(this).closest("tr").addClass("clicked-border");
        }
        else {
            $(this).closest("tr").removeClass("clicked-border");
        }
    });
</script>