
@{
    ViewData["Title"] = "RequestNavView";
    Layout = "~/Views/Shared/View.cshtml";
}
@*  *@
<div class="row">
    <div class="col-md-2 border-right">
        @*<nav class="navbar flex-grow-1">*@
        <ul class="nav flex-column nav-pills nav-stacked">
            <li class="nav-item">
                @*@Html.ActionLink("Add Item", "Create", "Products", new { }, new { @class = "btn btn-link text-dark" })*@
                <button class="btn btn-link load-product-details" data-value="0" data-target="item" href="item">Add Item</button>
                @Html.ActionLink("Create", "Create", "Requests", new { }, new { @class = "btn btn-link"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Type", "Index", "ProductSubcategories", new { @PageType = "requests" }, new { @class = "btn btn-link text-dark" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Vendor", "Index", "Vendors", new { }, new { @class = "btn btn-link text-dark" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Owner", "Index", "Owners", new { }, new { @class = "btn btn-link text-dark" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Location", "Index", "Locations", new { }, new { @class = "btn btn-link text-dark" })
            </li>
        </ul>
        @*</nav>*@
    </div>
    <div class="col-md-10 border-left">
        @RenderBody()
    </div>
</div>

<!-- The Modal -->
<div class="modal modal-view" id="myModal">
</div>

@RenderSection("Scripts", required: false)
<script>
    //Render a partial view inside of a modal
    //To do later: add a loading gif div
    $(".load-product-details").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        //takes the item value and calls the Products controller with the ModalView view to render the modal inside
        var $tab = e.target.hash;
        $.fn.CallPage($(this).val(), $tab);
        return false;
    });

    $.fn.CallPage = function ($requestid, $tab) {
        var $itemurl = "Requests/ModalView/?id=" + $requestid
        $.ajax({
            url: $itemurl,
            type: 'GET',
            cache: false,
            success: function (data) {
                //replaces the modal-view class with the ModalView view
                $(".modal-view").html(data);
                //shows the modal
                $(".modal").modal('show');
                //bootstrap dynamically adds a class of modal-backdrop which must be taken off to make it clickable
                $(".modal-backdrop").remove();
                /* Following line should set the correct data-target tab to open ----> not working right now */
                //$('.nav-tabs a[href="' + $tab + '"]').tab - pane('show');
                var selectedTab = 0;
                var mytabs = $('.div-tabs ul li a').each(function (x, obj) {
                    if (obj.hash.indexOf(location.hash) != -1 && location.hash != '') {
                        selectedTab = x;
                    }
                });
                $("#tabs").tab({ selected: selectedTab });
                //document.ready for modal is done here --> setting up product subcategories
                var parentCategoryId = $("#parentlist").val();
                var url = "/Products/GetSubCategoryList";

                $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
                    var item = "";
                    $("#sublist").empty();
                    $.each(data, function (i, subCategory) {
                        item += '<option value="' + subCategory.productSubcategoryID + '">' + subCategory.productSubcategoryDescription + '</option>'
                    });
                    $("#sublist").html(item);
                });
                
                $.fn.LoadCorrectSubcategory();
            }
        });
    }

    //$(".modal-view").on('show.bs.show.bs.modal', function (evt) {
    //    var button = $(evt.relatedTarget);
    //    var modal = $(this);
    //    modal.find('[href="' + button.attr("href") + '"]').tab('show');
    //});

</script>
