@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "TimeKeeperView";
    Layout = "~/Views/Shared/Master.cshtml";

    var navClass = "bold-hover-effects";
    var activeNavClass = " active";
    var activeTopNavClass = " activeTimekeeperClass ";
    var ReportClasses = navClass;
    var SummaryClasses = navClass;
    var ReportHoursClasses = navClass;
    var DaysClasses = navClass;
    var HoursClasses = navClass;
    var DaysOffClasses = navClass;
    var DocumentsClasses = navClass;
    var CompanyAbsencesClasses = navClass;
    bool Summary = false;
    bool Report = false;
    if (TempData["PageType"] != null)
    {
        switch (TempData["PageType"])
        {
            case AppUtility.TimeKeeperPageTypeEnum.Report:
                ReportClasses += activeTopNavClass;
                Report = true;
                break;
            case AppUtility.TimeKeeperPageTypeEnum.Summary:
                Summary = true;
                SummaryClasses += activeTopNavClass;
                break;
        }
    }
    if (TempData["SideBar"] != null)
    {
        switch (TempData["SideBar"])
        {
            case AppUtility.TimeKeeperSidebarEnum.ReportHours:
                ReportHoursClasses += activeNavClass;
                break;
            case AppUtility.TimeKeeperSidebarEnum.Days:
                DaysClasses += activeNavClass;
                break;
            case AppUtility.TimeKeeperSidebarEnum.Hours:
                HoursClasses += activeNavClass;
                break;
            case AppUtility.TimeKeeperSidebarEnum.DaysOff:
                DaysOffClasses += activeNavClass;
                break;
            case AppUtility.TimeKeeperSidebarEnum.Documents:
                DocumentsClasses += activeNavClass;
                break;
            case AppUtility.TimeKeeperSidebarEnum.CompanyAbsences:
                CompanyAbsencesClasses += activeNavClass;
                break;
        }
    }
}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

            <a class="navbar-brand home-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav mr-auto dropdown-menu-md-left ml-5" style="font-size:1.25rem; font-weight:500; ">
                    <li class="nav-item mx-4 d-table">
                        @Html.ActionLink("Reports", "ReportHours", "Timekeeper", new { }, new { @class = ReportClasses + " align-text-bottom", @role = "button", @id = "reports-link" })
                    </li>
                    <li class="nav-item mx-4 d-table">
                        @Html.ActionLink("Summary", "Documents", "Timekeeper", new { }, new { @class = SummaryClasses + " align-text-bottom", @role = "button", @id = "Summary-link" })
                    </li>
                </ul>
            </div>
            <div class="  container col-1  pl-5">
                <ul class="list-unstyled m-0">
                    <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow "><div class="alerts-icon"><i style='font-size: 2.5rem;   color: #808080;' class='icon-notifications-24px '></i> <span id="alertCount" class="alert-count"></span></div>  </button> </li>
                    <div style="display:none;" id="notifications-popover">
                        <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                        <div style="width:410px" class="p-4">
                            <h5><strong>Notifications</strong></h5>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="  ">
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="form-inline pr-3">
                            <div class="md-form my-0 p-2">
                                <a href="#" class="text-dark">
                                    @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                </a>
                                <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0">
                                    @{
                                        var src = "/UserImages/profile_circle_big.png";
                                        if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                        {
                                            src = UserManager.GetUserAsync(User).Result.UserImage;
                                        }
                                    }
                                    <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                                </button>
                            </div>
                        </div>
                    </li>
                    <div style="display:none;" id="logout-popover">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                        </form>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid pl-0">
        <main role="main">
            <div style="display: flex;" class="timekeeperview">
                <div style="min-width: 119px; min-height:100rem; padding:5px; font-size:small;" class="p-0 border-right sidebar-shadow text-center ourNavBar">
                    <ul style="position:fixed" class="nav flex-column nav-pills nav-stacked mb-lg-3 p-0 mt-5">
                        @if (Report)
                        {
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("ReportHours", "Timekeeper")" class="@ReportHoursClasses">  <i class="icon-assignment-24px" style="font-size:1.6rem;"></i><br /> Report Hours <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2 " style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("SummaryHours","Timekeeper")" class="@HoursClasses"> <i class="icon-access_time-24px" style="font-size:1.6rem;"></i><br />Summary Hours <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("ReportDaysOff","Timekeeper")" class="@DaysOffClasses"> <i class="icon-event-24px" style="font-size:1.6rem;"></i><br />Report Days Off <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2 " style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("SummaryDaysOff","Timekeeper")" class="@DaysClasses"> <i class="icon-highlight_off-24px" style="font-size:1.6rem;"></i><br />Summary Days Off<br /></a></p>
                            </li>
                        }
                        else if (Summary)
                        {
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("Documents", "Timekeeper")" class="@DocumentsClasses">  <i class="icon-description-24px-2" style="font-size:1.6rem;"></i><br /> Documents <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("CompanyAbsences","Timekeeper")" class="@CompanyAbsencesClasses"> <i class="icon-event-24px" style="font-size:1.6rem;"></i><br /> Company Absences <br /></a></p>
                            </li>
                        }

                    </ul>
                </div>
                <div style="flex-grow: 1; position:relative; padding: 2rem;">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>



  

