@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "UsersView";
    Layout = "~/Views/Shared/Master.cshtml";

    var navClass = "bold-hover-effects";
    var activeNavClass = " active";
    var ListClasses = navClass;
    var AddClasses = navClass; // + " create-user-modal";
    if (TempData["PageType"] != null)
    {
        switch (TempData["PageType"])
        {
            case AppUtility.UserPageTypeEnum.Index:
                ListClasses += activeNavClass;
                break;
            case AppUtility.UserPageTypeEnum.Add:
                AddClasses += activeNavClass;
                break;
        }
    }
}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

            <a class="navbar-brand home-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                    <li class="nav-item mx-4 d-table">
                        @Html.ActionLink("Users", "Index", "Admin", new { }, new { @class = "activeUserClass  align-text-bottom", @role = "button", @id = "inventory-link" })
                    </li>
                </ul>
            </div>
            <div class="form-inline">
                <div class="md-form my-0">
                    <a href="#" class="text-dark">
                        @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                    </a>

                    <button id="profile-img" class="btn no-box-shadow pl-0 pr-1 pt-1 pb-0">
                        @{
                           var src = "/UserImages/profile_circle_big.png";
                            if (UserManager.GetUserAsync(User).Result.UserImage != null)
                            {
                                src = UserManager.GetUserAsync(User).Result.UserImage;
                            }
                        }
                        <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                    </button>
                </div>
            </div>

        </nav>
        <div class=" logout-div">
            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" id="logout-form" class="nav-link border no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
            </form>
        </div>
    </header>
    <div class="container-fluid pl-0">
        <main role="main">
            <div style="display: flex;" class="usersview">
                <div style="min-width: 110px; min-height:100rem; padding:5px; font-size:small;" class="p-2 border-right sidebar-shadow text-center ourNavBar">
                    <ul style="position:fixed" class="nav flex-column nav-pills nav-stacked mb-lg-3 pl-lg-4 pl-md-3 pl-sm-2">
                        <li class="nav-item my-4 ">
                            <a href="@Url.Action("Index", "Admin")" class="@ListClasses"> <img src="~/images/css/inventory/sidebar/list.png" alt="Add User" class="mb-3" /><br /> List <br /></a>
                        </li>
                        <li class="nav-item my-4 ">
                            <a href="@Url.Action("CreateUser","Admin")" class="@AddClasses"> <i style="font-size:1.5rem" class="icon-add_circle_outline-24px"></i><br /> Add <br /></a>
                        </li>
                    </ul>
                </div>
                <div style="flex-grow: 1; position:relative; padding: 2rem;">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>



  

