@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Users View";
    Layout = "~/Views/Shared/Master.cshtml";

    var navClass = "bold-hover-effects";
    var activeNavClass = " active";
    var activeTopNavClass = " activeUserClass  ";
    var UsersClasses = navClass;
    var WorkersClasses = navClass;
    var DetailsClasses = navClass;
    var HoursClasses = navClass;
    var SalaryClasses = navClass;
    var AwaitingApprovalClasses = navClass;
    var AddWorkerClasses = navClass;
    var ListClasses = navClass;
    var AddClasses = navClass;
    bool Users = false;
    bool Workers = false;
    if (TempData[AppUtility.TempDataTypes.PageType.ToString()] != null)
    {
        switch (TempData[AppUtility.TempDataTypes.PageType.ToString()])
        {
            case AppUtility.UserPageTypeEnum.User:
                UsersClasses += activeTopNavClass;
                Users = true;
                break;
            case AppUtility.UserPageTypeEnum.Workers:
                Workers = true;
                WorkersClasses += activeTopNavClass;
                break;
        }
    }
    if (TempData["SideBar"] != null)
    {
        switch (TempData["SideBar"])
        {
            case AppUtility.UserSideBarEnum.WorkersDetails:
                DetailsClasses += activeNavClass;
                break;
            case AppUtility.UserSideBarEnum.WorkersHours:
                HoursClasses += activeNavClass;
                break;
            case AppUtility.UserSideBarEnum.WorkersSalary:
                SalaryClasses += activeNavClass;
                break;
            case AppUtility.UserSideBarEnum.WorkersAwaitingApproval:
                AwaitingApprovalClasses += activeNavClass;
                break;
            case AppUtility.UserSideBarEnum.AddWorker:
                AddWorkerClasses += activeNavClass;
                break;
            case AppUtility.UserSideBarEnum.UsersList:
                ListClasses += activeNavClass;
                break;
            case AppUtility.UserSideBarEnum.UsersAdd:
                AddClasses += activeNavClass;
                break;
        }
    }
}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

            <a class="navbar-brand home-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                    <li class="nav-item mx-4 d-table">
                        @Html.ActionLink("Users", "Index", "Admin", new { }, new { @class = UsersClasses + " align-text-bottom", @role = "button", @id = "inventory-link" })
                    </li>
                    <li class="nav-item mx-4 d-table">
                        @Html.ActionLink("Workers", "Details", "ApplicationUsers", new { }, new { @class = WorkersClasses + "  align-text-bottom", @role = "button", @id = "inventory-link" })
                    </li>
                </ul>
            </div>
            <div class="  container col-1  pl-5">
                <ul class="list-unstyled m-0">
                    <li><button href="#" id="openNotifications" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn no-box-shadow "><div class="alerts-icon"><i style='font-size: 2.5rem;   color: #808080;' class='icon-notifications-24px '></i> <span id="alertCount" class="alert-count"></span></div>  </button> </li>
                    <div style="display:none;" id="notifications-popover">
                        <button type="button" class="close" style="font-size:2rem;" data-dismiss="popover">&times;</button>
                        <div style="width:410px" class="p-4">
                            <h5><strong>Notifications</strong></h5>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="  ">
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="form-inline pr-3">
                            <div class="md-form my-0 p-2">
                                <a href="#" class="text-dark">
                                    @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                                </a>
                                <button href="#" id="profile-img" type="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-container="body" class="btn btn-link p-0">
                                    @{
                                        var src = "/UserImages/profile_circle_big.png";
                                        if (UserManager.GetUserAsync(User).Result.UserImage != null)
                                        {
                                            src = UserManager.GetUserAsync(User).Result.UserImage;
                                        }
                                    }
                                    <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                                </button>
                            </div>
                        </div>
                    </li>
                    <div style="display:none;" id="logout-popover">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" id="logout-form" class="nav-link  border-0 no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
                        </form>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid pl-0">
        <main role="main">
            <div style="display: flex;" class="usersview">
                <div style="min-width: 119px; min-height:100rem; padding:5px; font-size:small;" class="p-0 border-right sidebar-shadow text-center ourNavBar">
                    <ul class="nav flex-column nav-pills nav-stacked mb-lg-3 p-0 mt-5">
                        @if (Users)
                        {
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("Index", "Admin")" class="@ListClasses">  
                                    <i class="icon-format_list_bulleted-24px-01" style="font-size:1.6rem;"></i><br /> List <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2 " style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("CreateUser","Admin")" class="@AddClasses"> 
                                    <i class="icon-add_circle_outline-24px" style="font-size:1.6rem;"></i><br />Add<br /></a></p>
                            </li>

                        }
                        else if (Workers)
                        {
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("Details", "ApplicationUsers")" class="@DetailsClasses">  
                                    <i class="icon-perm_contact_calendar-24px" style="font-size:1.6rem;"></i><br /> Details <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("Hours","ApplicationUsers")" class="@HoursClasses"> 
                                    <i class="icon-access_time-24px" style="font-size:1.6rem;"></i><br /> Hours <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2 " style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("Salary","ApplicationUsers")" class="@SalaryClasses"> 
                                    <i class="icon-monetization_on-24px" style="font-size:1.6rem;"></i><br />Salary <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("AwaitingApproval","ApplicationUsers")" class="@AwaitingApprovalClasses"> 
                                    <i class="icon-notifications_border-24px" style="font-size:1.6rem;"></i><br />Awaiting Approval <br /></a></p>
                            </li>
                            <li class="nav-item my-4 px-2" style="max-width:119px">
                                <p style="font-size:1rem;"><a href="@Url.Action("AddWorker","ApplicationUsers")" class="@AddWorkerClasses"> 
                                    <i class="icon-add_circle_outline-24px" style="font-size:1.6rem;"></i><br />Add Worker <br /></a></p>
                            </li>
                        }
                    </ul>
                </div>
                <div style="flex-grow: 1; position:relative;" class="outer-page-margins">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>



  

