@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/Master.cshtml";

    /*
     * Determine Active Nav Link START
     * using the
     */

    //initializing pageType to None just in case none is passed in we don't want to disable any buttons unnecessarily (can take this out in the future if we are sure that we don't need it)
    var pageType = AppUtility.RequestPageTypeEnum.None;

    //all pages need PageType passed in so we're testing if it's null and if not we're taking in the type
    if (TempData["PageType"] != null)
    {
        pageType = (AppUtility.RequestPageTypeEnum)Enum.Parse(typeof(AppUtility.RequestPageTypeEnum), TempData["PageType"].ToString());
    }

    //passing the
    string initalClasses = "opac87 align-text-bottom";
    string currentClasses = " activeNavLink  ";
    string inventoryClass = initalClasses;
    string summaryClass = initalClasses;
    string requestClass = initalClasses;
    string cartClass = initalClasses;
    string searchClass = initalClasses;
    string locationClass = initalClasses;
    switch (pageType)
    {
        case AppUtility.RequestPageTypeEnum.Inventory:
            inventoryClass = initalClasses + currentClasses;
            break;
        case AppUtility.RequestPageTypeEnum.Summary:
            summaryClass = initalClasses + currentClasses;
            break;
        case AppUtility.RequestPageTypeEnum.Request:
            requestClass = initalClasses + currentClasses;
            break;
        case AppUtility.RequestPageTypeEnum.Cart:
            cartClass = initalClasses + currentClasses;
            break;
        case AppUtility.RequestPageTypeEnum.Search:
            searchClass = initalClasses + currentClasses + " search-link";
            break;
        case AppUtility.RequestPageTypeEnum.Location:
            locationClass = initalClasses + currentClasses;
            break;
    }
    /*Determine Active Nav Link END*/

}


@*<<<<< Inventory/Requests Header >>>>>*@
<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ourNavBar p-0">

        <a class="navbar-brand home-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/css/Centarix_Logo_only.png" height="20" alt="Logo" /></a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav dropdown-menu-md-left" style="font-size:1.25rem; font-weight:500; ">
                <li class="nav-item mx-5">
                    @Html.ActionLink("Requests", "Index", "Requests", new { @PageType = AppUtility.RequestPageTypeEnum.Request }, new { @class = requestClass, @id = "request-link" })
                </li>
                <li class="nav-item mx-5">
                    @Html.ActionLink("Inventory", "Index", "Requests", new { @PageType = AppUtility.RequestPageTypeEnum.Summary }, new { @class = summaryClass, @id = "request-link" })
                </li>

                <li class="nav-item mx-5">
                    @Html.ActionLink("Search", "Search", "Requests", new { @SectionType = AppUtility.MenuItems.OrdersAndInventory }, new { @class = searchClass, @id = "request-link" /*why is the role and id here?*/ })
                </li>
                <li class="nav-item mx-5">
                    @*Redo the location class in the controller*@
                    @Html.ActionLink("Location", "Index", "Locations", new { @SectionType = AppUtility.MenuItems.OrdersAndInventory }, new { @class = locationClass, @id = "request-link" })
                </li>
                <li class="nav-item mx-5">
                    @Html.ActionLink("Personal", "Cart", "Requests", new { }, new { @class = cartClass, @id = "request-link" /*why is the role and id here?*/ })
                </li>
                <li class="nav-item mx-4 d-table ">
                    @Html.ActionLink("Full Inventory", "Index", "Requests", new { @PageType = AppUtility.RequestPageTypeEnum.Inventory }, new { @class = inventoryClass, @id = "inventory-link" })
                </li>
            </ul>
        </div>
        <div class="form-inline">
            <div class="md-form my-0">
                <a href="#" class="text-dark">
                    @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName &nbsp;
                </a>

                <button id="profile-img" class="btn no-box-shadow pl-0 pr-1 pt-1 pb-0">
                    @{
                        var src = "/UserImages/profile_circle_big.png";
                        if (UserManager.GetUserAsync(User).Result.UserImage != null)
                        {
                            src = UserManager.GetUserAsync(User).Result.UserImage;
                        }
                    }
                    <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
                </button>
            </div>
        </div>

    </nav>
    <div class=" logout-div">
        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" id="logout-form" class="nav-link border no-box-shadow btn-white btn-link text-dark logout-button">Logout</button>
        </form>
    </div>
</header>
<!-- This should be a partial view that rnders whatever side bar we should be viewing, this should just display the template of a side nav bar - this can be donw with css-->
<!--for now i am using an aside just to help me viuslly see thing on the side-->

<div class="container-fluid pl-0">
    <main role="main">
        @*<div class="spinner-border center" role="status" id="loading" style="display:none;">
                <span class="sr-only">Loading...</span>
            </div>*@
        <div class="center" role="status" id="loading" style="display:none;">
            <img src="~/images/css/Loading/centarix_loading3.gif" />
        </div>
        @RenderBody()
    </main>

</div>

@*<footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - Centarix Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@


