@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginView.cshtml";
}



<!--   <div class="row">-->
<!--<div class="col-md-4">-->


    <section>
        <div class="container col-md-4 offset-2.5">

            <form id="account" method="post" autocomplete="off">

                <div asp-validation-summary="All" class="text-danger-centarix"></div>
                @if (Model.SuccessMessage != null)
                {
                    <p class="text">@Model.SuccessMessage</p>
                }
                <div class="md-form md-outline my-1">
                    <div class="form-group text-center">

                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control login-field " style="font-size: 1.5em !important; line-height: 1.5 !important" placeholder="Name" />
                        </div>

                        @*<span asp-validation-for="Input.Email" class="text-danger-centarix"></span>*@
                    </div>
                </div>
                <div class="md-form md-outline my-1">
                    <div class="form-group text-center">
                        <input asp-for="Input.Password" class="form-control mt-4 login-field " placeholder="Password" style="        line-height: 1.5 !important;
        font-size: 1.5em !important;
" />
                        <span toggle="#Input_Password" class=" fa icon-remove_red_eye-24px field-icon toggle-password " style=" font-size:1.5em !important; line-height: 1.5 !important; color:#495057"></span>
                    </div>
                    @*<span asp-validation-for="Input.Password" class="text-danger-centarix"></span>*@
                </div>


                <div class="form-group">
                    <input type="checkbox" class="form-check-input toggle-remember" asp-for="Input.RememberTwoFactor" value="false" />
                    <label class="" asp-for="Input.RememberTwoFactor">
                        @Html.DisplayNameFor(m => m.Input.RememberTwoFactor)
                    </label>
                    s
                </div>
                <div class="form-group">
                    <button type="submit" class="mt-2 custom-button custom-button-font danger-color ">Log in</button>
                </div>
                <!--<div class="form-group">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div> -->
            </form>
        </div>
    </section>
        <!--</div>-->
        <div class="col-md-6 col-md-offset-2">
            <section>
                <!-- <h4>Use another service to log in.</h4>
    <hr />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
        <-->
            </section>
            
        </div>

<!--</div>-->



@*@section Scripts {
<partial name="_ValidationScriptsPartial" />
}*@
<script>
    $('.toggle-password').on('click', function () {
        $(this).toggleClass('icon-remove_red_eye-24px fa-eye-slash');
        $(this).toggleClass('text ');
        let input = $($(this).attr('toggle'));
        if (input.attr('type') == 'password') {
            input.attr('type', 'text');
        }
        else {
            input.attr('type', 'password');
        }
    });
    $('.toggle-remember').on('click', function () {
        var val = $(this).val();
        console.log(val);
        if (val == 'true') {
            $(this).val(false);
        }
        else {
            $(this).val(true);
        }
    })

</script>
<style type="text/css">
    input[type=text].form-control.valid + label:after,
    input[type=text].form-control:focus.valid + label:after,
    input[type=text].form-control.invalid + label:after,
    input[type=text].form-control:focus.invalid + label:after,
    input[type=password].form-control.valid + label:after,
    input[type=password].form-control:focus.valid + label:after,
    input[type=password].form-control.invalid + label:after,
    input[type=password].form-control:focus.invalid + label:after {
        top: 3.75rem !important;
    }

    span.field-icon {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        right: 0.7rem;
        top: 0.5rem;
        color: $input-label-color;
        z-index: 2;
    }
</style>