@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_ResetPasswordView.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div>
    <div>

        <div class="container mt-5  col-9 border-danger-centarix border  rounded-reorder on-form-modal" style="min-height:40rem">

            <form method="post" id="myForm" class="px-2 py-5 h-100 resetPasswordForm">
                <div class="heading-1 text-center">Set Up Elixir Account </div>
                @*<span class="heading-1">Hi, @Model.User.FirstName @Model.User.LastName</span>*@
                @if (Model.Input.ErrorMessage != "")
                {
                    <span class="text-danger-centarix">@Model.Input.ErrorMessage</span>
                }
                <input type="hidden" asp-for="Input.Email" />
                <input type="hidden" asp-for="Input.Code" />
                <input type="hidden" asp-for="Input.AuthenticatorUri"/>
                <div class="form-group mt-4 text-center">
                    <input asp-for="Input.Password" class="form-control login-field text" placeholder="Password" autocomplete="off" />
                    <span asp-validation-for="Input.Password" class="text-danger-centarix"></span>
                </div>
                <div class="form-group  mt-4 text-center">
                    <input asp-for="Input.ConfirmPassword" class="form-control login-field text" placeholder="Confirm Password" autocomplete="off" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger-centarix"></span>
                </div>
                <div class="form-group mt-4 text-center">
                    <label class="text">Set up 2FA:</label>
                    <div id="qrCode" class="text-center"></div>
                    <div id="qrCodeData" data-url="@Html.Raw(Model.Input.AuthenticatorUri)"></div>
                </div>
                <div class="form-group mt-4 text-center">
                    <input asp-for="Input.TwoFactorAuthenticationViewModel.TwoFACode" class="form-control login-field text" placeholder="Authentication Code" autocomplete="off" />
                    <span asp-validation-for="Input.TwoFactorAuthenticationViewModel.TwoFACode" class="text-danger-centarix"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn mt-5 custom-button custom-button-font danger-color ">Set up</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="~/lib/qrcode.js"></script>
<script type="text/javascript">
    //console.log("in qrcode with authenticatoruri of : " + @Model.Input.AuthenticatorUri);
    //$(document).ready(function () {
    //console.log("in qrcode with authenticatoruri of : " + @Model.Input.AuthenticatorUri);
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.Input.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    //});
</script>
@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
<script src="~/js/Validation/ResetPasswordFormValidation.js"></script>