@model List<PrototypeWithAuth.ViewModels.EmployeeHoursAwaitingApprovalViewModel>
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager
<table class="table table-headerspaced col-12 ">
    <tbody>
       @if(Model.Count()>0)
       { 
            <tr>
                @if (Model[0].ErrorMessage != null)
                {
                    <span class="text danger-text view-bag-error">Error: @Model[0].ErrorMessage</span>

                }
            </tr>
        }
        <tr class="text-center " style="border-color:transparent; border-bottom: 1px solid lightgrey;">
            <td width="12%"></td>
            <td class="text-left" width="10%">
                Name
            </td>
            <td width="16%">
                Date
            </td>
            <td width="20%">
                Type
            </td>

            <td width="9%">
                Entry Time
            </td>
            <td width="9%">
                Exit Time
            </td>
            <td width="9%">
                Total
            </td>
            <td width="10%">
            </td>
            <td width="5%">
            </td>
        </tr>
        @{

            var specialClass = "users-font-color font-weight-bold";
            foreach (var hours in Model)
            {
                string Entry1 = "";
                string Entry2 = "";
                string Exit1 = "";
                string Exit2 = "";
                string TotalHours = "";
                string PartialHours = "";
                if (hours.Entry1)
                {
                    Entry1 = specialClass;
                }
                if (hours.Entry2)
                {
                    Entry2 = specialClass;
                }
                if (hours.Exit1)
                {
                    Exit1 = specialClass;
                }
                if (hours.Exit2)
                {
                    Exit2 = specialClass;
                }
                if (hours.TotalHours)
                {
                    TotalHours = specialClass;
                }
                if (hours.PartialHours)
                {
                    PartialHours = specialClass;
                }

                <tr class="text-center users-tr ">
                    <td width="12%">
                        @{
                            var src = "/UserImages/user-image-placeholder.png";
                            if (hours.EmployeeHoursAwaitingApproval.Employee.UserImage != null)
                            {
                                src = src = "\\" + AppUtility.GetLastFiles(hours.EmployeeHoursAwaitingApproval.Employee.UserImage, 2);
                            }
                        }
                        <img id="user-image" class="circular-profile-img circular-profile-img-65" src="@src" />
                    </td>
                    <td class="text-left" width="10%">
                        @hours.EmployeeHoursAwaitingApproval.Employee.FirstName  @hours.EmployeeHoursAwaitingApproval.Employee.LastName
                    </td>
                    <td width="16%">
                        @hours.EmployeeHoursAwaitingApproval.Date.ToLongDateString()
                    </td>
                    <td width="20%">
                        @hours.EmployeeHoursAwaitingApproval.EmployeeHoursStatusEntry1?.Description
                        @if (hours.EmployeeHoursAwaitingApproval.EmployeeHoursStatusEntry2ID != null && hours.EmployeeHoursAwaitingApproval.EmployeeHoursStatusEntry1ID != hours.EmployeeHoursAwaitingApproval.EmployeeHoursStatusEntry2ID)
                        {
                            <br /> <label class="@Entry2 m-0">@hours.EmployeeHoursAwaitingApproval.EmployeeHoursStatusEntry2?.Description </label>
                        }
                        @if (hours.EmployeeHoursAwaitingApproval.PartialOffDayTypeID != null)
                        {
                            <br /><label class="@PartialHours m-0">Partial @hours.EmployeeHoursAwaitingApproval.PartialOffDayType.Description</label>
                        }


                    </td>

                    <td width="9%">
                        <label class="@Entry1 m-0">@hours.EmployeeHoursAwaitingApproval.Entry1?.ToString("HH:mm")</label>
                        @if (hours.EmployeeHoursAwaitingApproval.Entry2 != null)
                        {
                            <br />
                        }
                        <label class="@Entry2 m-0">@hours.EmployeeHoursAwaitingApproval.Entry2?.ToString("HH:mm") </label>
                        @if (hours.EmployeeHoursAwaitingApproval.PartialOffDayTypeID != null)
                        {
                            <br />
                            <label class="@PartialHours m-0">N/A</label>
                        }
                    </td>
                    <td width="9%">
                        <label class="@Exit1 m-0">@hours.EmployeeHoursAwaitingApproval.Exit1?.ToString("HH:mm") </label>
                        @if (hours.EmployeeHoursAwaitingApproval.Exit2?.ToShortTimeString() != null)
                        {
                            <br />
                        }
                        <label class="@Exit2 m-0">@hours.EmployeeHoursAwaitingApproval.Exit2?.ToString("HH:mm")</label>
                        @if (hours.EmployeeHoursAwaitingApproval.PartialOffDayTypeID != null)
                        {
                            <br />
                            <label class="@PartialHours m-0">N/A</label>
                        }
                    </td>
                    <td width="9%">
                        <label class="@TotalHours m-0">@hours.EmployeeHoursAwaitingApproval.TotalHours?.ToString(@"h\:mm")</label>
                        @if (hours.EmployeeHoursAwaitingApproval.Exit2 != null)
                        {
                            <br />
                        }
                        @if (hours.EmployeeHoursAwaitingApproval.PartialOffDayTypeID != null)
                        {
                            <br />
                            <label class="@PartialHours m-0">@hours.EmployeeHoursAwaitingApproval.PartialOffDayHours?.ToString(@"h\:mm")</label>
                         }
</td>
                    <td width="10%">
                        <div class="table-icon-div">
                            <button type="button" class="rounded-pill px-4 py-1 mx-2 text-white no-box-shadow border-0 approve-hours" style="background-color:var(--user-color)" value="@hours.EmployeeHoursAwaitingApproval.EmployeeHoursAwaitingApprovalID">Approve</button>                           
                        </div>

                    </td>
                    <td width="5%">
                        <div class="table-icon-div">                           
                            <a href="" data-approvalid=@hours.EmployeeHoursAwaitingApproval.EmployeeHoursAwaitingApprovalID class="deny-approval-modal-icon" data-toggle="tooltip" data-placement="top" onclick="OpenDenyApprovalModal(@hours.EmployeeHoursAwaitingApproval.EmployeeHoursAwaitingApprovalID)">
                                <i style="font-size:2rem;" class="icon-delete-24px hover-bold"></i>
                            </a>
                        </div>

                    </td>

                </tr>
            }
        }
    </tbody>
</table>
@*  *@
<script src="~/js/AwaitingApprovalScript.js"></script>