@model PrototypeWithAuth.ViewModels.EmployeeDetailsViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager


<div class="row">
    <div class="heading-1">
        Workers
    </div>
    <div>&emsp;<label class="top-menu " style="line-height:2.8rem; vertical-align:baseline;"> @Model.SalariedEmployeeCount Employees, @Model.FreelancerCount Freelancers, @Model.AdvisorCount Advisors</label></div>
</div>
<div class="row ">
    <table class="table table-headerspaced  col-12 ">
        <tbody>
            <tr class="text-center " style="border-color:transparent; border-bottom: 1px solid lightgrey;">
                <td width="9%"></td>
                <td width="9%">Employee Number</td>
                <td width="12%">
                    Name
                </td>
                <td width="11%">
                    Job Title
                </td>
                <td width="9%">
                    Job Category
                </td>
                <td width="9%">
                    Job Type
                </td>
                <td width="12%">
                    Email Address
                </td>
                <td width="10%">
                    Phone Number
                </td>
                <td width="10%">
                    Started Working
                </td>
                <td width="9%">
                    Job Scope
                </td>
            </tr>
            @foreach (var employee in Model.Employees)
            {
                <tr class="text-center users-tr ">
                    <td width="9%" class="py-2">
                        @{
                            var src = "/UserImages/user-image-placeholder.png";
                            if (employee.Employee.UserImage != null)
                            {
                                src = "\\" + AppUtility.GetLastFiles(employee.Employee.UserImage, 2);
                            }
                        }
                        <img id="user-image" class="circular-profile-img circular-profile-img-65" src="@src" />
                    </td>
                    <td width="9%">@*@employee.CentarixIDs.CentarixID*@ @employee.CentarixID</td>
                    <td width="12%">
                        <a href="" class="open-user-modal" value="@employee.Employee.Id" style="display:block;">
                            @employee.Employee.FirstName  @employee.Employee.LastName
                        </a>

                    </td>
                    <td width="11%">
                        @employee.Employee.JobSubcategoryType?.Description
                    </td>
                    <td width="9%">
                        @employee.Employee.JobSubcategoryType?.JobCategoryType?.Description
                    </td>
                    <td width="9%">
                        @employee.Employee.EmployeeStatus.Description
                    </td>
                    <td width="12%" class="text-lowercase">
                        @employee.Employee.Email
                    </td>
                    <td width="10%">
                        @employee.Employee.PhoneNumber
                    </td>
                    <td width="10%">
                        @employee.Employee.StartedWorking.ToShortDateString()
                    </td>
                    <td width="9%">
                        @{ var scope = Math.Round(employee.Employee.SalariedEmployee?.WorkScope ?? 0) == 0 ? "" : Math.Round(employee.Employee.SalariedEmployee?.WorkScope ?? 0) + "%";}
                        @scope
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/UserIndexPartial.js"></script>