@model PrototypeWithAuth.ViewModels.EmployeeDetailsViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}


    <div class="container-fluid">
        <div class="row">
        <div class="heading-1">
            Workers</div>
        <div>&emsp;<label class="top-menu " style="line-height:2.8rem; vertical-align:baseline;"> @Model.SalariedEmployeeCount Employees, @Model.FreelancerCount Freelancers, @Model.AdvisorCount Advisors</label></div>
</div>
        <div class="row ">
            <table class="table table-headerspaced  col-12 ">
                <tbody>
                    <tr class="text-center " style="border-color:transparent; border-bottom: 1px solid lightgrey;">
                        <td width="9%"></td>
                        <td width="9%">Employee Number</td>
                        <td width="12%">
                            Name
                        </td>
                        <td width="11%">
                            Job Title
                        </td>
                        <td width="9%">
                            Job Category
                        </td>
                        <td width="9%">
                            Job Type
                        </td>
                        <td width="12%">
                            Email Address
                        </td>
                        <td width="10%">
                            Phone Number
                        </td>
                        <td width="10%">
                            Started Working
                        </td>
                        <td width="9%">
                            Job Scope
                        </td>
                    </tr>
                    @foreach (var employee in Model.Employees)
                    {
                        <tr class="text-center users-tr ">
                            <td width="9%" class="py-2">
                                @{
                                    var src = "/UserImages/user-image-placeholder.png";
                                    if (employee.UserImage != null)
                                    {
                                        src = UserManager.GetUserAsync(User).Result.UserImage;
                                    }
                                }
                                <div class="btn btn-link p-0 circular-profile-img circular-profile-img-65"><img id="user-image" src="@src"/></div>
                            </td>
                            <td width="9%">@employee.CentarixID</td>
                            <td width="12%">
                                <a href="" class="open-user-modal" value="@employee.Id" style="display:block;">
                                    @employee.FirstName  @employee.LastName
                                </a>
                              
                            </td>
                            <td width="11%">
                                @employee.JobTitle
                            </td>
                            <td width="9%">
                                @employee.JobCategoryType?.Description
                            </td>
                            <td width="9%">
                                @employee.EmployeeStatus.Description
                            </td>
                            <td width="12%">
                                @employee.Email
                            </td>
                            <td width="10%">
                                @employee.PhoneNumber
                            </td>
                            <td width="10%">
                                @employee.StartedWorking.ToShortDateString()
                            </td>
                            <td width="9%">
                                @{ var scope = Math.Round(employee.SalariedEmployee?.WorkScope ?? 0) == 0 ? "" : Math.Round(employee.SalariedEmployee?.WorkScope ?? 0) + "%";}
                                @scope
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>