@model IEnumerable<PrototypeWithAuth.Data.ApplicationUser>
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "Index";
    var pagetype = TempData[AppUtility.TempDataTypes.PageType.ToString()];
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    //if (TempData["CategoryType"].Equals(AppUtility.CategoryTypeEnum.Lab))
    //{
    //    Layout = "~/Views/Shared/RequestNavView.cshtml";
    //}
    //else if (TempData["CategoryType"].Equals(AppUtility.CategoryTypeEnum.Operations))
    //{
    //    Layout = "~/Views/Shared/RequestNavView.cshtml";
    //}
}

@*<<<<<<<<<<<< This is the Owner page >>>>>>>>>>>>>>>*@

<div class="m-4 text-center">
    <div class="row">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i > 0 && i % 7 == 0)
            {
            @:</div><div class="row">
            }
                        <div class="col-auto">
                            @*<fieldset class="border">*@
                            @*@Html.ActionLink(Model.ElementAt(i).FirstName + " " + Model.ElementAt(i).LastName, "Index", "Requests", new { @applicationUserID = @Model.ElementAt(i).Id, @PageType = pagetype }, null)*@
                           @if (TempData["CategoryType"].Equals(AppUtility.CategoryTypeEnum.Lab))
                            {
                            <a href="@Url.ActionLink("Index", "Requests", new { @applicationUserID = @Model.ElementAt(i).Id, @PageType = pagetype,  }, null)"
                               class=" bold-hover-effects" id="profile-img">
                                @{
                                    var src = "UserImages/profile_circle_big.png";
                                    if (Model.ElementAt(i).UserImage != null)
                                    {
                                        src = Model.ElementAt(i).UserImage;
                                    }
                                }
                                <div class="btn btn-link p-0 circular-profile-img circular-profile-img-150"><img id="user-image" src="@src" /></div>
                                <br />
                                @Model.ElementAt(i).FirstName @Model.ElementAt(i).LastName
                            </a>
                            }
                            else if (TempData["CategoryType"].Equals(AppUtility.CategoryTypeEnum.Operations))
                            {
                        <a href="@Url.ActionLink("Index", "Operations", new { @applicationUserID = @Model.ElementAt(i).Id, @PageType = pagetype,  }, null)"
                           class=" bold-hover-effects" id="profile-img">
                            @{
                                var src = "UserImages/profile_circle_big.png";
                                if (Model.ElementAt(i).UserImage != null)
                                {
                                    src = Model.ElementAt(i).UserImage;
                                }
                            }
                             <div class="btn btn-link p-0 circular-profile-img circular-profile-img-150"><img id="user-image" src="@src"/></div>
                            <br />
                            @Model.ElementAt(i).FirstName @Model.ElementAt(i).LastName
                        </a>
                            }
                            
                            @*<button id="profile-img" class="btn no-box-shadow ">

            <img src="@src" class="user-image ml-0" height="50" alt="default User image" />
        </button>*@
                            @*</fieldset>*@
                        </div>
        }
    </div>
</div>



