@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> _userManager


<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<script src="~/js/Validation/OperationItemFormValidation.js"></script>


<div class="modal modal-view right fader on-form-modal oper-form" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        @*style needed here to override bootstraps modal width limitations*@

        <div class="modal-content d-inline-block">

            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="operationsAddItemForm">

                @Html.HiddenFor(model => model.Request.ParentRequest.ApplicationUserID)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@
                @*Requests search view model*@

                <input type="hidden" asp-for="@Model.Request.RequestID" />
                <input type="hidden" asp-for="@Model.Request.ProductID" />

                <!-- Modal Header -->
                <div class="new-modal-header modal-line-1-header-with-back modal-sides" style="padding: 0.5em 6em">
                    @*class needed here to override bootstraps modal limitations*@

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                        <br />
                    }
                    <div class="back-button">
                        <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent">
                            <img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" />
                        </button>
                    </div>

                    <div class="row modal-title-line">
                        @*<div class="col-md-2 px-0">*@
                        @if (Model.Request.Product.ProductSubcategory.ImageURL != null)
                        {
                            <img src="@Model.Request.Product.ProductSubcategory.ImageURL" class="top-modal-image" alt="Alternate Text" width="75" />
                        }
                        else
                        {
                            <img src="~/images/css/inventory/Type/bottle.png" alt="Alternate Text" class="top-modal-image" width="75" /> @*this will be the product image and will need to be pulled from wherever it will be located in the DB*@
                        }
                        @*</div>*@
                        <div class="modal-product-title" @*style="width: 80%;"*@>
                            <input asp-for="Request.Product.ProductName" class="form-control-plaintext heading-1 border-bottom mark-readonly name" disabled />
                            <span asp-validation-for="Request.Product.ProductName" class="text-danger-centarix"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center pl-0">
                                <ul class="nav nav-tabs container-fluid pr-0 border-bottom-0 nav-tabs-icons">
                                    <li class="nav-item icon"><a data-toggle="tab" href="#item" class="nav-link next-tab oper-link"><i class="icon-centarix-icons-05" style="font-size: 2rem;"></i><br />Item</a></li>
                                    <li class="nav-item icon"><a data-toggle="tab" href="#price" class="nav-link next-tab oper-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price</a></li>
                                    <li class="nav-item icon"><a data-toggle="tab" href="#documents" class="nav-link next-tab documents-tab oper-link"><i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents</a></li>
                                    <li class="nav-item icon"><a data-toggle="tab" href="#comments" class="nav-link next-tab oper-link"> <i style="font-size:2rem;" class="icon-comment-24px"></i> <br />Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="new-modal-body edit-modal-outer-body partial-div" style="background: #F6F7F8; padding: 1em">
                    @Html.Partial("EditModalViewPartial")
                </div>




                @*Begin Hidden Inputs:*@
                @Html.HiddenFor(vm => vm.Request.ProductID)
                @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ParentCategoryID)
                @Html.HiddenFor(vm => vm.Request.RequestStatusID)
                @Html.HiddenFor(vm => vm.Request.ParentRequestID)
                @Html.HiddenFor(vm => vm.Request.ParentRequestID)
                @Html.HiddenFor(vm => vm.Request.ParentQuoteID)
                @*End Hidden Inputs*@

                @*Hidden Input for Product Subcategory*@
                @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
            </form>

        </div>
    </div>
</div>

}
