@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.ViewModels
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> _userManager
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
@{ string showItem = "";
    string showPrice = "";
    string showDocuments = "";
    string showComments = "";
    switch (Model.Tab)
    {
        case 1:
            showItem = " active show ";
            break;
        case 2:
            showPrice = " active show ";
            break;
        case 3:
            showDocuments = " active show ";
            break;
        case 4:
            showComments = " active show ";
            break;

    }
}
<input type="hidden" class="old-name" value="@Model.Request.Product.ProductName" />
<div class="container-fluid edit-modal-body box-shadow" style="background: #FFF; padding: 2em; border: 2px solid #EAEAEB;">
    @if (User.IsInRole("Admin"))
    {
        <div class=" row text-right mb-0">
            <div class="switch col-12 switch-margin">
                <label>
                    <label class="edit-mode-switch-description">Edit Mode Off</label>
                    <input type="checkbox" class="turn-edit-on-off operations" value="@Model.Request.RequestID" name="details">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    }
    <div class="tab-content">
        <div id="item" class="tab-pane fade in @showItem">
            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name">Item</span>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>
                        @Html.DropDownListFor(c => c.Request.Product.ProductSubcategory.ParentCategoryID,
    new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"), "Select Category",
    new { @class = "mdb-select custom select-dropdown form-control-plaintext mark-readonly", @id = "parentlist", @disabled = "disabled", @searchable = "Select Category" })
                        <span asp-validation-for="Request.Product.ProductSubcategory.ParentCategoryID" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4 px-4">
                    <div class="form-group sublist">
                        <label asp-for="Request.Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                        @Html.DropDownListFor(vm => vm.Request.Product.ProductSubcategoryID,
    new SelectList(Model.ProductSubcategories, "ProductSubcategoryID", "ProductSubcategoryDescription"),
    "Select Subcategory", new { @class = "mdb-select-sublist mdb-select custom select-dropdown form-control-plaintext mark-readonly", @id = "sublist", @disabled = "disabled", @searchable = "Select SubCategory" })
                        <span asp-validation-for="Request.Product.ProductSubcategoryID" class="text-danger-centarix"></span>
                    </div>
                </div>
                <div class="col-4 px-4">
                    <div class="form-group">
                        <label asp-for="Request.Product.Vendor" class="control-label"></label>
                        @Html.DropDownListFor(
                            vm => vm.Request.Product.VendorID,
                            new SelectList(
                            Model.Vendors,
                                dataValueField: "VendorID",
                                dataTextField: "VendorEnName"), "Select Vendor",
                            //FUTURE: Ask If we should put in the functionality to create a new vendor here rather than just choosing
                            htmlAttributes: new { @class = " vendorList mdb-select custom select-dropdown form-control-plaintext mark-readonly", @id = "vendorList", @disabled = "disabled", @searchable = "Select A Vendor" }
                        )
                        <span asp-validation-for="Request.Product.Vendor.VendorID" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        @* IN MIDDLE *@
                        <label asp-for="Request.Product.Vendor.VendorBuisnessID" class="control-label"></label>
                        <label class="vendorBusinessId form-control-plaintext border-bottom -plaintext">@Model.Request.Product.Vendor.VendorBuisnessID</label>
                        @*don't need a validation here because you it's not saving*@
                    </div>
                </div>
            </div>
            <br />

            <br />
            @if (Model.Request.RequestStatusID == 2 || Model.Request.RequestStatusID == 3 || Model.Request.RequestStatusID == 4 || Model.Request.RequestStatusID == 5)
            {
                <div class="row">
                    <div class="col-6 pr-4">
                        <label asp-for="Request.ParentRequest.OrderNumber" class="control-label"></label>
                        <input asp-for="Request.ParentRequest.OrderNumber" class="form-control-plaintext border-bottom" disabled />
                        <span asp-validation-for="Request.ParentRequest.OrderNumber" class="text-danger-centarix"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Request.ParentRequest.OrderDate" class="control-label"></label>
                        <input asp-for="Request.ParentRequest.OrderDate" class="form-control-plaintext border-bottom " disabled />
                        <span asp-validation-for="Request.ParentRequest.OrderDate" class="text-danger-centarix" />
                    </div>
                </div>
                <br />
            }

            @*    <div class="row">
                    <div class="col-md-6 pr-4">
                        <label asp-for="Request.ParentQuote.QuoteNumber" class="control-label"></label>
                        <input asp-for="Request.ParentQuote.QuoteNumber" asp-format="" class="form-control-plaintext border-bottom " />
                        <span asp-validation-for="Request.ParentQuote.QuoteNumber" class="text-danger-centarix" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Request.ParentQuote.QuoteDate" class="control-label"></label>
                        <input asp-for="Request.ParentQuote.QuoteDate" class="form-control-plaintext  border-bottom create-modal-quote-date" />
                        <span asp-validation-for="Request.ParentQuote.QuoteDate" class="text-danger-centarix quote-date" />
                    </div>
                </div>*@
            <br />
            <div class="row">
                <div class="col-6">
                    <label asp-for="Request.CatalogNumber" class="control-label"></label>
                    <input asp-for="Request.CatalogNumber" min="0" class="form-control-plaintext border-bottom  mark-readonly" disabled />
                    <span asp-validation-for="Request.CatalogNumber" class="text-danger-centarix"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Request.Warranty" class="control-label"></label>
                    <input asp-for="Request.Warranty" min="0" class="form-control-plaintext border-bottom  mark-readonly" disabled />
                    <span asp-validation-for="Request.Warranty" class="text-danger-centarix"></span>
                </div>
                @if (Model.Request.RequestStatusID == 2 || Model.Request.RequestStatusID == 3 || Model.Request.RequestStatusID == 4 || Model.Request.RequestStatusID == 5)
                {
                    <div class="col-3">
                        <label class="control-label">End Date</label>
                        @*@{
                                //get this just to return the date (not the time)
                                //adding the amount of months of the warranty to the invoice date
                                var endWarrantyDate = Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty);
                            }*@
                        <input value="@Model.Request.ParentRequest.OrderDate.AddMonths(Model.Request.Warranty??0).ToString("yyyy-MM-dd")" name="WarrantyDate" class="form-control-plaintext border-bottom -plaintext" disabled="disabled" />
                    </div>
                }
                else
                {
                    <div class="col-3">
                        <label class="control-label">Estimated End Date</label>
                        <input value="@DateTime.Now.AddMonths(Model.Request.Warranty??0).ToString("yyyy-MM-dd")" name="WarrantyDate" class="form-control-plaintext border-bottom -plaintext" disabled="disabled" />
                    </div>
                }

            </div>
            <br />
            <div class="row">

                @if (Model.Request.RequestStatusID == 2)
                {
                    <div class="col-md-4">
                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom expected-supply-days mark-readonly" disabled />
                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger-centarix"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Expected supply date</label>
                            <input value="@Model.Request.ParentRequest.OrderDate.AddDays(Model.Request.ExpectedSupplyDays??0).ToString("yyyy-MM-dd")" class="form-control-plaintext border-bottom mark-readonly" type="date" name="expected-supply-days" id="expected-supply-date" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" disabled />
                        </div>
                    </div>

                }
                else if (Model.Request.RequestStatusID == 1 || Model.Request.RequestStatusID == 6)
                {
                    <div class="col-md-4">
                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom expected-supply-days mark-readonly" disabled />
                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger-centarix"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Expected supply date</label>
                            <input class="form-control-plaintext border-bottom mark-readonly" disabled type="date" name="expected-supply-days" id="expected-supply-date" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" value="@DateTime.Now.Date.AddDays(Model.Request.ExpectedSupplyDays??0)" />
                        </div>
                    </div>
                }

                <div class="col-4">
                    <label asp-for="Request.URL" class="control-label"></label>
                    <input asp-for="Request.URL" class="form-control-plaintext border-bottom  mark-readonly" disabled />
                    <span asp-validation-for="Request.URL" class="text-danger-centarix"></span>
                </div>
            </div>
        </div>


        <div id="price" class="tab-pane fade @showPrice">

            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name">Price</span>
            </div>
            <div class="row ">
                <div class="col-md-2 offset-8">
                    <div class="form-group">
                        <label asp-for="Request.Currency" class="control-label">Currency</label>
                        <select id="currency" asp-for="Request.Currency" class="mdb-select custom select-dropdown form-control-plaintext mark-readonly" disabled>
                            <option value="dollar">&dollar; USD</option>
                            <option value="shekel">&#8362; NIS</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Request.ExchangeRate" class="control-label"></label>
                        <input asp-for="Request.ExchangeRate" min="1" class="form-control-plaintext border-bottom mark-readonly" disabled />
                        <span asp-validation-for="Request.ExchangeRate" class="text-danger-centarix"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Sum:</label>
                        <div class="input-group">
                            <span class="input-group-text">&#36;</span>
                            <input class="form-control-plaintext border-bottom" name="sum-dollars" min="0" id="sum-dollars" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Request.Cost" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text">&#x20aa;</span>
                            <input asp-for="Request.Cost" min="1" class="form-control-plaintext border-bottom mark-readonly" disabled />
                            <span class="text-danger-centarix" asp-validation-for="Request.Cost"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Request.VAT" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text">&#x20aa;</span>
                            <input asp-for="Request.VAT" class="form-control-plaintext border-bottom " />
                            <span class="text-danger-centarix" asp-validation-for="Request.VAT"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Total + VAT:</label>
                        <div class="input-group">
                            <span class="input-group-text">&#36;</span>
                            <input class="form-control-plaintext border-bottom" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">____</label>
                        <div class="input-group">
                            <span class="input-group-text">&#x20aa;</span>
                            <input class="form-control-plaintext border-bottom" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <br />
         
        </div>


        <div id="documents" class="tab-pane fade @showDocuments">
            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name">Documents</span>
            </div>

            @{
                var urlAction = Url.Action("DocumentsModal", "Requests");
                var fontSize = "2rem";
            }

            <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />

            <div class="row document-margin-bottom">
                <div class=" document-margin">
                    @{
                        var filterClass = "opac87";
                        if (Model.OrderFileStrings != null && Model.OrderFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Orders.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Orders.ToString()" data-val="@true">
                        <div class="card document-border ">
                            <div class="document-card text-center">
                                <i class="icon-centarix-icons-03 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                            </div>

                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Order</label>
                </div>
                <div class=" document-margin ">
                    @{
                        filterClass = "opac87";
                        if (Model.InvoiceFileStrings != null && Model.InvoiceFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class=" open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Invoices.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Invoices.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class=" document-card text-center">
                                <i class="icon-book-24px @filterClass document-icon" alt="order" style="font-size:@fontSize;"></i>
                            </div>

                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Invoice</label>
                </div>
                <div class=" document-margin">
                    @{
                        filterClass = "opac87";
                        if (Model.ShipmentFileStrings != null && Model.ShipmentFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations " data-string="@AppUtility.RequestFolderNamesEnum.Shipments.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Shipments.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class="document-card text-center">
                                <i class="icon-local_shipping-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                            </div>

                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Shipment</label>
                </div>
                <div class="">
                    @{
                        filterClass = "opac87";
                        if (Model.QuoteFileStrings != null && Model.QuoteFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Quotes.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Quotes.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class="document-card text-center">
                                <i class="icon-chrome_reader_mode-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                            </div>
                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Quote</label>
                </div>
            </div>
            <div class="row document-margin-bottom">
                <div class=" document-margin">
                    @{
                        filterClass = "opac87";
                        if (Model.InfoFileStrings != null && Model.InfoFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Info.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Info.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class="document-card text-center">
                                <i class="icon-info-24px-2 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                            </div>
                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Info</label>
                </div>
                <div class=" document-margin">
                    @{
                        filterClass = "opac87";
                        if (Model.PictureFileStrings != null && Model.PictureFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class="document-card text-center">
                                <i class="icon-camera_alt-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                            </div>
                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Picture</label>
                </div>
                <div class=" document-margin">
                    @{
                        filterClass = "opac87";
                        if (Model.ReturnFileStrings != null && Model.ReturnFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Returns.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Returns.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class="document-card text-center">
                                <i class="icon-remove_shopping_cart-24px document-icon @filterClass" alt="order" style="font-size:@fontSize"></i>
                            </div>
                        </div>
                    </a>
                    <label class="control-label text-center text  document-text-margin" style="width:100%;">Return</label>
                </div>
                <div class="">
                    @{
                        filterClass = "opac87";
                        if (Model.CreditFileStrings != null && Model.CreditFileStrings.Count > 0)
                        {
                            filterClass = "oper-filter";
                        }
                    }
                    <a href="" class="open-document-modal operations" data-string="@AppUtility.RequestFolderNamesEnum.Credits.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Credits.ToString()" data-val="@true">
                        <div class="card document-border">
                            <div class="document-card text-center">
                                <i class="icon-insert_drive_file-24px-1 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                            </div>
                        </div>
                    </a>
                    <label class="control-label text-center text document-text-margin" style="width:100%;">Credit</label>
                </div>
            </div>
        </div>


        <div id="comments" class="tab-pane fade @showComments">
            <div class="row modal-tab-name">
                <span class="heading-1 col-12 modal-tab-name float-left">Comments and Ratings</span>
            </div>
            <div class=" container text-right">
                <ul class="list-unstyled">
                    <li><button href="#" id="addRequestComment" type="button" data-toggle="popover" data-placement="bottom" data-container="body" data-trigger="focus" class="btn btn-circle btn-xl" style="background-color:var(--operations-color);">   +</button></li>

                    <div style="display:none;" id="popover-content">

                        @foreach (var item in Model.CommentTypes)
                        {<div class="row px-3">
                                @if (item.Equals(AppUtility.CommentTypeEnum.Comment))
                                {
                                    <i class="icon-comment-24px" style="color: #30BCC9; padding-top: .55rem; font-size: 1.25rem;"></i>
                                }
                                else
                                {
                                    <i class="icon-report_problem-24px" style="color: var(--danger-color); padding-top: .55rem; font-size: 1.25rem;"></i>
                                }
                                <button type="button" id="@item" class="no-box-shadow btn bg-transparent row p-0 text-capitalize text-dark mark-readonly" disabled style="font-size:1rem; font-weight:400;" onclick="$.fn.addRequestComment('@item')">@item</button><hr class="m-0" />

                            </div>
                        }
                    </div>

                </ul>
            </div>

            <div id="comment-info">
                <input type="hidden" value="@Model.Comments.Count" id="index" />
                @for (int i = 0; i < Model.Comments.Count; i++)
                {
                    await Html.RenderPartialAsync(Url.Content("../Requests/CommentInfoPartialView"), new CommentsInfoViewModel { Comment = Model.Comments[i], Index = i, IsEdit = true });
                }

            </div>
        </div>


    </div>
</div>
@if (Model.Tab != 0)
{
    <script>

        $('.mdb-select').materialSelect();
    </script>
}

