@model List<PrototypeWithAuth.ViewModels.ProjectStatistics>;


<table class="table table-sm table-hover ">
    <thead>
        <tr class="text-left">
            <th class="under-td-padding pl-5">
                Name
            </th>
            <th class="under-td-padding pl-3">
                Orders
            </th>
            <th class="under-td-padding pl-3">
                Items
            </th>
            <th class="under-td-padding pl-5">
                Price
            </th>
            <th class="under-td-padding pl-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projectstat in Model)
        {
            var buttonClasses = "text-left btn btn-block clicked-outer-button clicked-button overflow-hidden no-box-shadow parent-project-button";
            var arrowButtonClasses = buttonClasses + " right-arrow-icon";
            <tr class="text-left">
                <td class="p-0">
                    <button class="@buttonClasses" value="@projectstat.ProjectID">
                        @projectstat.ProjectName
                    </button>
                </td>
                <td class="p-0">
                    <button class="@buttonClasses" value="@projectstat.ProjectID">
                        @projectstat.Orders
                    </button>
                </td>
                <td class="p-0">
                    <button class="@buttonClasses" value="@projectstat.ProjectID">
                        @projectstat.Items
                    </button>
                </td>
                <td class="p-0">
                    <button class="@buttonClasses" value="@projectstat.ProjectID">
                        &#8362; @string.Format("{0:n0}", projectstat.Price)
                    </button>
                </td>
                <td class="p-0">
                    <button class="@arrowButtonClasses" value="@projectstat.ProjectID">
                        <i class="icon-back-24px ml-3 large-icon float-right"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>