@using PrototypeWithAuth.ViewModels;
@using PrototypeWithAuth.AppData;
@model SummaryTablesViewModel;

@{
    var currencySymbol = '\u0024';
    switch (Model.Currency)
    {
        case AppUtility.CurrencyEnum.USD:
            currencySymbol = '\u0024';
            break;
        case AppUtility.CurrencyEnum.NIS:
            currencySymbol = '\u20AA';
            break;
    }
}

<table class="table table-headerspaced table-noheaderlines table-hover ">
    <thead>
        <tr class="text-center">
            <th>Month</th>
            <th>Salaries</th>
            <th>Lab</th>
            <th>Operation</th>
            <th>Instruments</th>
            <th>Reagents</th>
            <th>Plastics</th>
            <th>Reusable</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tableRow in Model.SummaryTableItems)
        {
            <tr class="text-center">
                <td>
                    @tableRow.Month.Month/@tableRow.Month.Year.ToString().Substring(2, 2)
                </td>
                <td>
                    @currencySymbol @tableRow.Salary
                </td>
                <td>
                    @currencySymbol @tableRow.Lab
                </td>
                <td>
                    @currencySymbol @tableRow.Operation
                </td>
                <td>
                    @currencySymbol @tableRow.Instrument
                </td>
                <td>
                    @currencySymbol @tableRow.Reagents
                </td>
                <td>
                    @currencySymbol @tableRow.Plastics
                </td>
                <td>
                    @currencySymbol @tableRow.Reusable
                </td>
                <td>
                    @currencySymbol @tableRow.Total
                </td>
            </tr>
        }
    </tbody>
</table>