@using PrototypeWithAuth.ViewModels;
@model SummaryPieChartsViewModel;
@{
    ViewData["Title"] = "SummaryPieCharts";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

    int[] months = Enumerable.Range(1, 12).ToArray();
}

<div class="row">
    <div class="col-2 chart-dropdownlists">
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
            vm => vm.Year,
            new SelectList(
                Model.Years
                ), "Year",
            new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Year" }
        )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.Month,
          months.Select(x =>
          new SelectListItem
          {
              Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(x),
              Value = x.ToString()
          }), "Month",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Month" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.CategoryTypeID,
         new SelectList(
             Model.CategoryTypes,
             "CategoryTypeID",
             "CategoryTypeDescription"),
         "Lab / Operation",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Lab / Operation" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.ParentCategoryID,
         new SelectList(
             Model.ParentCategories,
             "ParentCategoryID",
             "ParentCategoryDescription"),
         "Category",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Category" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.ProductSubcategoryID,
         new SelectList(
             Model.ProductSubcategories,
             "ProductSubcategoryID",
             "ProductSubcategoryDescription"),
         "Sub Category",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Sub Category" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.ProjectID,
         new SelectList(
             Model.Projects,
             "ProjectID",
             "ProjectDescription"),
         "Project",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Projects" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.SubProjectID,
         new SelectList(
             Model.SubProjects,
             "SubProjectID",
             "SubProjectDescription"),
         "Sub Project",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Sub Projects" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.AdvancedGraph,
         new SelectList(
             ""),
         "Advanced Graph",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Advanced Graphs" }
     )
        </div>
        <div class=" select-box-margin-bottom">
            <select asp-for="Currency" class="mdb-select custom select-dropdown form-control-plaintext" searchable="Search Currency">
                <option>Currency</option>
                <option value="dollar">&dollar; USD</option>
                <option value="shekel">&#8362; NIS</option>
            </select>
        </div>
        <div class=" select-box-margin-bottom">
            @Html.DropDownListFor(
         vm => vm.EmployeeID,
         Model.Employees,
         "Sub Project",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @searchable = "Search Sub Projects" }
     )
        </div>
        <div class="margin-top-button">
            <input type="submit" value="Create a pie chart" style="width:100%; padding-left: 2.875rem; padding-right: 2.875rem;"
                   class="expenses-background-color custom-button custom-button-font float-left text" />
        </div>
    </div>
    <div class="col-6 offset-2 chart-graphics">
        @{ await Html.RenderPartialAsync("_PieChart");
        }
    </div>
</div>

