@*@model IEnumerable<PrototypeWithAuth.Data.ApplicationUser>*@
@model PrototypeWithAuth.ViewModels.UserIndexViewModel
@using PrototypeWithAuth.Data
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> UserManager

<script src="~/js/UserIndexPartial.js"></script>
<table class="table table-headerspaced">
    <tbody>
        <tr class="text-center" style="border-color:transparent; border-bottom: 1px solid lightgrey;">
            <td>
                @Html.DisplayNameFor(vm => vm.ApplicationUsers.FirstOrDefault().Employee.UserNum)
            </td>
            <td>
                Name
            </td>
            <td>
                @Html.DisplayNameFor(vm => vm.ApplicationUsers.FirstOrDefault().Employee.Email)
            </td>
            <td>
                @Html.DisplayNameFor(vm => vm.ApplicationUsers.FirstOrDefault().Employee.DateCreated)
            </td>
            <td></td>
        </tr>
        @foreach (var user in Model.ApplicationUsers)
        {
            <tr class="text-center users-tr">
                <td>
                    @*<a href="@Url.Action("EditUser", "Admin", new { id = user.Id })" style="display:block;">
                            @Html.DisplayFor(modelItem => user.UserNum)
                        </a>*@
                    <a href="" class="open-user-modal" value="@user.Employee.Id" style="display:block;">
                        @Html.DisplayFor(modelItem => user.CentarixID)
                    </a>
                </td>
                <td>
                    <a href="" class="open-user-modal" value="@user.Employee.Id" style="display:block;">
                        @user.Employee.FirstName @user.Employee.LastName
                    </a>
                </td>
                <td>
                    <a href="" class="open-user-modal text-lowercase" value="@user.Employee.Id" style="display:block;">
                        @Html.DisplayFor(modelItem => user.Employee.Email)
                    </a>
                </td>
                <td>
                    <a href="" class="open-user-modal" value="@user.Employee.Id" style="display:block;">
                        @AppUtility.FormatDate(user.Employee.DateCreated)
                    </a>
                </td>
                <td>
                    @*@if (User.IsInRole("CEO"))
                        {*@

                    @{var userid = user.Employee.Id;

                        if (userid != UserManager.GetUserId(User) && user.Employee.IsUser /*&& Model.IsCEO*/) //Viewing User is a CEO and the User to View is not the one signed in
                        {
                            @*if (user.LockoutEnabled && user.LockoutEnd > DateTime.Now && !user.IsUser)
                                {
                                    <a href="" class="prevent-js-reload">
                                        <i class="icon-block-24px text-danger-centarix disabled-filter"></i>
                                    </a>
                                }
                                else*@ if (user.Employee.LockoutEnabled && user.Employee.LockoutEnd > DateTime.Now && user.Employee.IsSuspended)
                            {
                                <a href="" data-userid=@userid class="suspend-user-modal-icon" data-toggle="tooltip" data-placement="top"
                                   title="Unuspend" @*class="prevent-js-reload"*@>
                                    <i class="icon-block-24px text-danger-centarix disabled-filter"></i>
                                </a>
                            }
                            else
                            {
                                <a href="" data-userid=@userid class="suspend-user-modal-icon" data-toggle="tooltip" data-placement="top"
                                   title="Suspend" @*class="prevent-js-reload"*@>
                                    <i class="icon-block-24px text-danger-centarix"></i>
                                </a>
                            }
                        }


                    }
                </td>
            </tr>
        }
    </tbody>
</table>