@model PrototypeWithAuth.ViewModels.RegisterUserViewModel;
@using PrototypeWithAuth.AppData;


@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

}

<div class="col-12 create-user mx-auto on-form-modal users-form add-item-box scroll-page" style="width: 60%">
    <div class="on-form-modal-border">
        <form action="" id="myForm" method="post" class="usersForm" enctype="multipart/form-data" style="height: 100%; ">

            @* HIDDEN INPUTS TO DISABLE AUTOFILLS *@
            <input type="email" class="hidden" />
            <input type="password" class="hidden" />
            <input type="hidden" class="hidden" asp-for="Employee.Id" />
            <input type="hidden" asp-for="Employee.UserNum" />

            <input type="hidden" text="close" class="modal-open-state" />
            <input type="hidden" asp-for="EmployeeImage" />
            <input type="hidden" asp-for="UserImageSaved" value="false" />
            <input type="hidden" id="UserImagePath" value="" />

            <div class="new-modal-header modal-line-1-header-with-back modal-sides" style="padding: 0.5em 6em">

                <div class="row modal-sides">
                    <div class="col-2 form-group modal-line-1-header pl-0  d-table">
                        <button type="button" class="btn no-box-shadow  upload-image border-0 p-0 m-0">
                            <div class="userImage upload-image ">
                                <img id="user-image" class="circular-profile-img circular-profile-img-89" src="~/images/user-image-placeholder.png" />
                            </div>
                        </button>
                    </div>
                    <div class="col-6 form-group modal-line-1-header " style="display:grid;"><input class=" heading-1 name userName form-control-plaintext border-0 d-table-cell align-middle" disabled value="@Model.Employee.FirstName @Model.Employee.LastName" /></div>
                    <div class=" modal-line-1-header">

                        <input type="submit" id="addUser" value="Add User" asp-action="CreateUser" class="custom-button custom-button-font  disabled-submit users-background-color activeSubmit" style="float: right;" />
                    </div>
                </div>
                <!--<div class="row modal-sides">
                <div class="col-2 form-group  pl-0  d-table">
                    <button type="button" class="btn no-box-shadow  upload-image border-0 rounded-circle p-0 m-0 mark-readonly" disabled>
                        <div class="userImage upload-image ">
                            @{
                                var src = "src=" + "/images/user-image-placeholder.png";
                                var hiddenIcon = "";
                                if (Model.UserImage != null)
                                {
                                    src = "src=/" + AppUtility.GetLastFiles(Model.UserImage, 2);
                                    hiddenIcon = "display: none;";
                                }

                            }

                            <img id="user-image" class=" circular-profile-img circular-profile-img-89" @src />
                        </div>
                    </button>
                </div>
                <div class="col-6 form-group modal-line-1-header " style="display:grid;">
                    <input class="modal-product-title heading-1 userName form-control-plaintext border-0" disabled value="@Model.Employee.FirstName @Model.Employee.LastName" />-->
                @*<input class=" heading-1 name userName form-control-plaintext border-0 d-table-cell align-middle" disabled value="@Model.Employee.FirstName @Model.Employee.LastName" />*@
                <!--</div>
                    <div class=" modal-line-1-header">

                        <input type="submit" id="addUser" value="Add User" asp-action="CreateUser" class="custom-button custom-button-font  disabled-submit users-background-color activeSubmit" style="float: right;" />
                    </div>

                </div>-->
                @*<div class="col-6 form-group modal-line-1-header " style="display:grid;"><input class=" heading-1 name userName form-control-plaintext border-0 d-table-cell align-middle" disabled value="@Model.Employee.FirstName @Model.Employee.LastName" /></div>
                    <div class=" modal-line-1-header">

                    </div>*@

                <div class="row">
                    <div class="col-12 px-0">
                        <div class="container-fluid div-tabs text-center pl-0">

                            <ul class="nav nav-tabs container-fluid pr-0 border-bottom-0 nav-tabs-icons">
                                <li class="nav-item icon">
                                    <a data-toggle="tab" href="#details" id="user-details-tab" class="nav-link user-nav-link next-tab">
                                        <i class="icon-face-24px" style="font-size: 2rem;"></i><br />Details
                                    </a>
                                </li>
                                <li class="nav-item icon only-employee">
                                    <a data-toggle="tab" href="#salary" id="user-salary-tab" class="nav-link user-nav-link salary-tab next-tab">
                                        <i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Salary
                                    </a>
                                </li>
                                <li class="nav-item icon">
                                    <a data-toggle="tab" href="#security" id="user-security-tab" class="nav-link user-nav-link security-tab next-tab">
                                        <i class="icon-security-24px" style="font-size: 2rem;"></i><br />Security
                                    </a>
                                </li>
                                <li class="nav-item icon">
                                    <a data-toggle="tab" href="#permissions" id="user-permissions-tab" class="nav-link user-nav-link permissions-tab  next-tab">
                                        <i class="icon-https-24px" style="font-size: 2rem;"></i><br />Permissions
                                    </a>
                                </li>
                                <li class="nav-item icon">
                                    <a data-toggle="tab" href="#budget" id="user-budget-tab" class="nav-link user-nav-link  next-tab">
                                        <i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Budget
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-modal-body edit-modal-outer-body partial-div" style="background: #F6F7F8; padding: 1em">
                @{ await Html.RenderPartialAsync("EditUserPartial"); }
            </div>
        </form>
        @*</div>
            </div>*@
    </div>
</div>
<script src="~/js/CreateUser.js"></script>
<script>
    $(".upload-image").off("click").on("click", function (e) {
        console.log("in upload image 2");
        $.fn.OpenUserImageModal("/Admin/UserImageModal");
        return false;
    });

</script>
