@model IEnumerable<PrototypeWithAuth.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UsersView.cshtml";
}


<table class="table table-headerspaced">
    <tbody>
        <tr class="text-center" style="border-color:transparent; border-bottom: 2px solid lightgrey;">
            <td>
                @Html.DisplayNameFor(vm => vm.UserNum)
            </td>
            <td>
                @Html.DisplayNameFor(vm => vm.UserName)
            </td>
            <td>
                @Html.DisplayNameFor(vm => vm.Email)
            </td>
            <td>
                @Html.DisplayNameFor(vm => vm.DateCreated)
            </td>
            <td></td>
        </tr>
        @foreach(var user in Model)
        {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => user.UserNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.DateCreated)
            </td>
            <td>
                <button class="btn btn-link">View</button>
            </td>
        </tr>
        }
    </tbody>
</table>