@model IEnumerable<PrototypeWithAuth.Models.ProductSubcategory>
@using PrototypeWithAuth.AppData

@{
    ViewData["Title"] = "Index";
    var pagetype = TempData["PageType"];
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

@*<<<<<<<<<<<< This is the Types page divs >>>>>>>>>>>>>>>*@

@*<table class="table">
    <tbody>*@

    @*<div class="d-flex">
        <div>

        </div>
    </div>*@

<div class="m-4 text-center">
    <div class="d-flex">


        @for (int i = 0; i < Model.Count(); i++)
        {

            if (i > 0 && i % 8 == 0)
            {
            @:</div><div class="d-flex mt-5">
            }
            <div style="width:12.4%; min-width: 180px" class="px-3">
                <fieldset class="border rounded-large p-3">
                    @*@Html.ActionLink(Model.ElementAt(i).ProductSubcategoryDescription, "Index", "Requests", new { @subcategoryID = @Model.ElementAt(i).ProductSubcategoryID, @PageType = pagetype }, null)*@

                    <a href="@Url.ActionLink("Index", "Requests", new { @subcategoryID = @Model.ElementAt(i).ProductSubcategoryID, @PageType = pagetype }, null)">
                        @if (Model.ElementAt(i).ImageURL != null)
                        {
                            <img class="rounded-sm" style="height:100px" src="@Model.ElementAt(i).ImageURL" alt="Type Bottle" />
                        }
                        else
                        {

                            <img class="rounded-sm" style="height:100px" src="~/images/css/inventory/Type/bottleBig.png" alt="Type Bottle" />
                        }
                        <br />@Model.ElementAt(i).ProductSubcategoryDescription
                    </a>

                </fieldset>
            </div>
        }
                    

    </div>
</div>
