@model IEnumerable<PrototypeWithAuth.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/InventoryNavView.cshtml";
}

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content  modal-view">

            

        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.VendorID)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Vendor.VendorEnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSubcategory.ProductSubcategoryDescription)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.ProductSubcategoryID)
            </th>-->
            @*<th>
                @Html.DisplayNameFor(model => model.LocationID)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
                </th>
                <th>
                   @Html.DisplayNameFor(model => model.UnitsInOrder)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductComment)
            </th>
            <th>
                <a>Details</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductMedia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <!--<td>
                    @Html.DisplayFor(modelItem => item.VendorID)
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.VendorEnName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.ProductSubcategory.ProductSubcategoryDescription)
                </th>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProductSubcategoryID)
                    </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationID)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsInOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReorderLevel)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ProductComment)
                </td>
                <td>
                    @*<a asp-action="DetailsCopy" asp-route-id="@item.ProductID">Details</a>*@
                    @*<button class="btn bt-link load-product-details" value="@item.ProductID">Details Copy</button>*@
                    <!-- Button to Open the Modal -->
                    <button class="btn bt-link load-product-details" value="@item.ProductID">Details Copy</button>
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>*@
                    @*<button class="btn bt-link load-product-detail" value="@item.ProductID">Edit Copy</button>*@

                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    //Render a partial view inside of a modal
    //To do later: add a loading gif div
    $(".load-product-details").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        //takes the item value and calls the Products controller with the ModalView view to render the modal inside 
        var $itemurl = "ModalView/?id=" + $(this).val()
        $.ajax({
            url: $itemurl,
            type: 'GET',
            cache: false,
            success: function (data) {
                //replaces the modal-view class with the ModalView view
                $(".modal-view").html(data);
                //shows the modal
                $(".modal").modal('show');
                //bootstrap dynamically adds a class of modal-backdrop which must be taken off to make it clickable
                $(".modal-backdrop").remove();
            }
        });
        return false;
    });

</script>
