@model IEnumerable<PrototypeWithAuth.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/View.cshtml";
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <!-- <th>
        @Html.DisplayNameFor(model => model.VendorID)
    </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Vendor.VendorEnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSubcategory.ProductSubcategoryDescription)
            </th>
            <!--<th>
        @Html.DisplayNameFor(model => model.ProductSubcategoryID)
    </th>-->
            @*<th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
             <th>
         @Html.DisplayNameFor(model => model.QuantityPerUnit)
     </th>
     <th>
         @Html.DisplayNameFor(model => model.UnitsInStock)
     </th>
     <th>
         @Html.DisplayNameFor(model => model.UnitsInOrder)
     </th>
     <th>
         @Html.DisplayNameFor(model => model.ReorderLevel)
     </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductComment)
            </th>
            <th>
                <a>Details</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <!--<td>
        @Html.DisplayFor(modelItem => item.VendorID)
    </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorEnName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.ProductSubcategory.ProductSubcategoryDescription)
            </th>
            @*<td>
        @Html.DisplayFor(modelItem => item.ProductSubcategoryID)
    </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
            <td>
        @Html.DisplayFor(modelItem => item.QuantityPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsInStock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsInOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReorderLevel)
    </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductComment)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
