@model PrototypeWithAuth.ViewModels.CategoryListViewModel;
<script src="~/js/Settings.js"></script>
<div class="row lab-man-form">

    <div class="col-12 category-cols ch-scrollable @Model.ColumnNumber h-100">
        @{
            var modeltypeval = "modaltypeval" + Model.ColumnNumber;
            var categoryfield = "category-field" + Model.ColumnNumber;
        }
        <input type="hidden" class="@modeltypeval" value="@Model.CategoryBases.FirstOrDefault().GetType().Name.ToString()" />
        <input type="hidden" class="FirstModel" value="@Model.CategoryBases.FirstOrDefault()" />
        <input type="text" placeholder="search" class="search-by-category col-input" />
        @{
            var selected = "selected";
        }
            @foreach (var category in Model.CategoryBases)
            {
                <button href="#" class="category-field @categoryfield @selected col-input" data-catid="@category.ID">@category.Description</button>
                selected = "";
            }
    </div>
</div>