@model InventoryFilterViewModel
@using PrototypeWithAuth.AppData;
@using PrototypeWithAuth.ViewModels;

@using PrototypeWithAuth.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using System.Globalization
@using X.PagedList.Mvc.Core @* import this so we get our HTML Helper *@

<div style="width:1600px; height:1000px; margin:0;">
    <div class="row py-4 align-items-center">
        <div class="col-2">
            <label class="text text-left font-weight-bold">Total Filters:</label>
        </div>
        <div class="col-2 offset-8">
            <label class="text text-right font-weight-bold">Clear All</label>
            <button class="text float-right custom-button custom-order-inv">Apply</button>
        </div>
    </div>
    <div class="row" style="height:100%;">
        <div class="border-right col">
            <input value="Type" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.Types)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.CategoryTypeDescription</button>
            }
        </div>
        <div class="border-right col">
            <input value="Vendor" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.Vendors)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.VendorEnName</button>
            }
        </div>
        <div class="border-right col">
            <input value="Owner" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.Owners)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.FirstName @type.LastName</button>
            }
        </div>
        <div class="border-right col">
            <input value="Location" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.Locations)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.LocationTypeName</button>
            }
        </div>
        <div class="border-right col">
            <input value="Category" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.Categories)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.ParentCategoryDescription</button>
            }
        </div>
        <div class="border-right col mh-100">
            <input value="Subcategory" class="mb-2 disabled-text w-100"/>
            <div class=" mh-100" style="overflow-y: scroll;">
                @foreach (var type in Model.Subcategories)
                {
                    <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.ProductSubcategoryDescription</button>
                }
            </div>
        </div>
        <div class="border-right col">
            <input value="Project" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.Projects)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.ProjectDescription</button>
            }
        </div>
        <div class="border-right col">
            <input value="Subproject" class="mb-2 disabled-text w-100" />
            @foreach (var type in Model.SubProjects)
            {
                <button id="" type="button" class="table-button my-1 w-100 text-left" style="border-radius:0.5rem;">@type.SubProjectDescription</button>
            }
        </div>
    </div>
</div>