@model PrototypeWithAuth.ViewModels.RequestItemViewModel

@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData

@{
    var Category = Model.Requests[0].Product.ProductSubcategory.ParentCategory.ParentCategoryDescription;
    var modalType = Model.ModalType;
    var markReadOnlyClass = "";
    var disabledDollarProperty = "disabled";
    var disabledShekelProperty = "";
    var hideVat = "";
    var hideNoQuote = "";
    var disableShekel = "";
    var disableDollar = "disabled-text";
    var dollarReadOnly = "";
    var shekelReadOnly = "";
    var shekelSelected = "selected";
    if (modalType == AppUtility.RequestModalType.Edit || modalType == AppUtility.RequestModalType.Summary)
    {
        markReadOnlyClass = "mark-readonly";
        shekelReadOnly = "mark-readonly";
        if (Model.Requests[0].Currency.Equals("USD"))
        {
            disableShekel = "disabled-text";
            disableDollar = "";
            disabledDollarProperty = "";
            disabledShekelProperty = "readonly";
            shekelReadOnly = "";
            dollarReadOnly = "mark-readonly";
            shekelSelected = "";
        }
    }
    if(modalType == AppUtility.RequestModalType.Edit && Model.Requests[0].ParentQuote?.QuoteStatusID < 3)
    {
        hideNoQuote = "d-none";
    }
    if (Model.Requests[0].IncludeVAT == false)
    {
        hideVat = "d-none";
    }
    var color = Model.SectionType == AppUtility.MenuItems.Accounting ? "accounting-color" : Model.SectionType == AppUtility.MenuItems.LabManagement ? "lab-man-color"  : Model.SectionType == AppUtility.MenuItems.Protocols ? "protocols-color" : "order-inv-color";
}
<input type="hidden" id="quoteStatus" value="@Model.Requests[0].ParentQuote?.QuoteStatusID" />

<div class="row no-mb">
    <div class="col-md-8">
        <span class="heading-1 modal-tab-name">Price</span>
    </div>
    <div class="col-md-4">
        <div class="row @hideNoQuote">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Currency</label>
                    <select id="currency" asp-for="Requests[0].Currency" class="mdb-select custom select-dropdown form-control-plaintext @markReadOnlyClass">
                            <option value="@AppUtility.CurrencyEnum.NIS.ToString()">&#8362; NIS</option>
                            <option value="@AppUtility.CurrencyEnum.USD.ToString()">&dollar; USD</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Requests[0].ExchangeRate" class="control-label"></label>
                    <input asp-for="Requests[0].ExchangeRate" class="form-control-plaintext border-bottom " id="exchangeRate" />
                    <span asp-validation-for="Requests[0].ExchangeRate" class="text-danger-centarix"></span>
                </div>
            </div>
        </div>
    </div>
</div>
@* @if (Category != null && !Category.Equals(AppUtility.ParentCategoryEnum.Operation))
{*@
    <div class="row" id="edit">
        <div class="col-md-4  RequestUnitCard ">
            <div class="border h-100 pt-4" @*style="padding-right: 2rem; padding-left: 2rem;"*@>
                <div class="mx-2rem">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Requests[0].Unit" class="control-label"></label>
                            @Html.EditorFor(vm => vm.Requests[0].Unit, new { htmlAttributes = new { @class = "form-control-plaintext border-bottom " + @markReadOnlyClass, @min = "1", @id = "unit" } })
                            <span asp-validation-for="Requests[0].Unit" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-md-8 form-group dropdown-select-div">
                            <label asp-for="Requests[0].UnitType" class="control-label"></label>
                            @*<select asp-for="Request.UnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext @markReadOnlyClass">
                                    <option value=""></option>
                                    @foreach (var unitparenttype in Model.UnitTypes)
                                    {
                                        <optgroup label="@unitparenttype.Key.UnitParentTypeDescription">
                                            @foreach (var unittype in unitparenttype)
                                            {
                                                <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                            }
                                        </optgroup>
                                    }
                                </select>*@
                            @Html.DropDownListFor(
                                vm => vm.Requests[0].UnitTypeID,
                                Model.UnitTypeList,
                                "",
                                htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext unit-type-select " + markReadOnlyClass, @id = "unitTypeID" }
                                )
                            <span asp-validation-for="Requests[0].UnitType" class="text-danger-centarix"></span>
                        </div>
                    </div>
                    <div class="form-group requestPriceQuote @hideNoQuote">
                        @{ 
                            var unitLabel = Model.Requests[0].UnitType != null ? Model.Requests[0].UnitType.UnitTypeDescription : "Unit";
                        } 
                        <label class="control-label price-per-unit-label">Price Per @unitLabel:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text border-bottom request-cost-dollar-icon @disableDollar" >&#36;</span>
                                    <input class="form-control-plaintext border-bottom @dollarReadOnly  @disableDollar requestPriceQuote" name="unit-price-dollars" id="unit-price-dollars" value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].PricePerUnit / Model.Requests[0].ExchangeRate,2))" @disabledDollarProperty />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text request-cost-shekel-icon @disableShekel" >&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom requestPriceQuote @shekelReadOnly @disableShekel" name="unit-price-shekel" id="unit-price-shekel" value="@Math.Round(Model.Requests[0].PricePerUnit, 2)" @disabledShekelProperty />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{var cardDisplayNoneSub = "d-none";
            var plusDisplayNoneSub = "";
            var disabled = "";
            var subMarkReadOnly = "";
            if (Model.Requests[0].SubUnit > 0)
            {
                cardDisplayNoneSub = "";
                plusDisplayNoneSub = "d-none";
                disabled = "disabled";
                subMarkReadOnly = markReadOnlyClass;
            }
        }
        <div class="col-4 pl-0 RequestSubunitCard">
            <div class="border h-100 ">
                <button type="button" class="close sub-close @cardDisplayNoneSub pr-2 pt-2  @markReadOnlyClass" aria-label="Close" style="/* display: flex; */float: right;">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="mx-2rem addSubUnitCard mt-4 @plusDisplayNoneSub">
                    <div class="row " style="display:initial;">          
                        <div class="col-8 offset-2 text-center font-weight-light"><input type="button" value="+" class=" addSubUnit btn m-0 p-0 no-box-shadow @markReadOnlyClass" disabled style="font-size: 5rem; line-height:normal" />
                        <br><span class="text-capitalize @color text">add sub unit</span>
                        </div>
                    </div>
                </div>
                <div class="mx-2rem  subUnitsCard @cardDisplayNoneSub mt-4">


                    <div class="row ">
                        <div class="col-md-4 pl-0 form-group">
                            <label asp-for="Requests[0].SubUnit" class="control-label"></label>
                            <input asp-for="Requests[0].SubUnit" class="form-control-plaintext border-bottom @subMarkReadOnly " min="1" id="subUnit" disabled />
                            <span asp-validation-for="Requests[0].SubUnit" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Requests[0].SubUnitType" class="control-label"></label>
                            @Html.DropDownListFor(
                                vm => vm.Requests[0].SubUnitTypeID,
                                Model.UnitTypeList,
                                "",
                                 htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext subunit-type-select " + @subMarkReadOnly, @disabled = @disabled, @id = "subUnitTypeID" }
                                 )
                            <span asp-validation-for="Requests[0].SubUnitType" class="text-danger-centarix"></span>
                        </div>
                    </div>

                    <div class="form-group requestPriceQuote @hideNoQuote">
                        @{
                            var subunitLabel = Model.Requests[0].SubUnitType != null ? Model.Requests[0].SubUnitType.UnitTypeDescription : "Subunit";
                        }
                        <label class="control-label price-per-subunit-label">Price Per @subunitLabel:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text disabled-text" disabled>&#36;</span>
                                    <input class="form-control-plaintext border-bottom requestPriceQuote disabled-text" disabled name="subunit-price-dollars" id="subunit-price-dollars" value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round((Model.Requests[0].PricePerSubUnit??0) / Model.Requests[0].ExchangeRate,2))" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text requestPriceQuote disabled-text" disabled>&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text" disabled name="subunit-price-shekel" id="subunit-price-shekel" value="@(Model.Requests[0].PricePerSubUnit!= null?Math.Round((decimal)Model.Requests[0].PricePerSubUnit, 2):0)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            var cardDivDisplayNone = "d-none";
            var cardDisplayNoneSubSub = "d-none";
            var plusDisplayNoneSubSub = "";
            //var subsubdisabled = "";
            var subsubMarkReadOnly = "";
            if (Model.Requests[0].SubUnit > 0)
            {
                cardDivDisplayNone = "";
                if (Model.Requests[0].SubSubUnit > 0)
                {
                    plusDisplayNoneSubSub = "d-none";
                    cardDisplayNoneSubSub = "";
                    subsubMarkReadOnly = markReadOnlyClass;
                    //subsubdisabled = "disabled";
                }
            }
        }
        <div class="col-4 pl-0 RequestSubsubunitCard @cardDivDisplayNone">
            <div class="border h-100">
                <button type="button" class="close subsub-close @cardDisplayNoneSubSub pr-2 pt-2 @markReadOnlyClass" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="mx-2rem addSubSubUnitCard mt-4 @plusDisplayNoneSubSub">
                    <div class="row " style="display:initial;">
                        <div class="col-8 offset-2 text-center font-weight-light">

                            <input type="button" value="+" class=" addSubSubUnit btn m-0 p-0 no-box-shadow @markReadOnlyClass" disabled style="font-size: 5rem; line-height:normal" />
                            <br>
                            <span class="text-capitalize @color text">add sub unit</span>
                        </div>
                    </div>
                </div>
                <div class="mx-2rem  subSubUnitsCard mt-4 @cardDisplayNoneSubSub">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Requests[0].SubSubUnit" class="control-label"></label>
                            <input asp-for="Requests[0].SubSubUnit" class="form-control-plaintext border-bottom @subsubMarkReadOnly " min="1" disabled id="subSubUnit" />
                            <span asp-validation-for="Requests[0].SubSubUnit" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Requests[0].SubSubUnitType" class="control-label"></label>
                            @Html.DropDownListFor(
                                vm => vm.Requests[0].SubSubUnitTypeID,
                                Model.UnitTypeList,
                                "",
                                htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext sub-subunit-type-select " + @subsubMarkReadOnly, @disabled, @id = "subSubUnitTypeID" }
                                )
                            <span asp-validation-for="Requests[0].SubSubUnitType" class="text-danger-centarix"></span>
                        </div>
                    </div>

                    <div class="form-group requestPriceQuote @hideNoQuote">
                        @{
                            var subsubunitLabel = Model.Requests[0].SubSubUnitType != null ? Model.Requests[0].SubSubUnitType.UnitTypeDescription : "Sub-Subunit";
                        }
                        <label class="control-label price-per-sub-subunit-label">Price Per @subsubunitLabel:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text disabled-text" disabled>&#36;</span>
                                    <input class="form-control-plaintext border-bottom requestPriceQuote disabled-text" disabled name="subsubunit-price-dollars" id="subsubunit-price-dollars"
                                           value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round((Model.Requests[0].PricePerSubSubUnit??0) / Model.Requests[0].ExchangeRate,2))" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group ">
                                    <span class="input-group-text requestPriceQuote disabled-text" disabled>&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled
                                           value="@(Model.Requests[0].PricePerSubSubUnit!=null?Math.Round((decimal)Model.Requests[0].PricePerSubSubUnit, 2):0)" />
                                    <span asp-validation-for="Requests[0].SubSubUnit" class="text-danger-centarix"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@*}*@
<div class="row requestPriceQuote @hideNoQuote">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Requests[0].Cost" class="control-label">Total:</label>
            <div class="input-group">
                <span class="input-group-text request-cost-dollar-icon @disableDollar">&#36;</span>
                <input class="form-control-plaintext border-bottom @dollarReadOnly @disableDollar requestPriceQuote" id="sum-dollars" name="sum-dollars" value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round((Model.Requests[0].Cost??0) / Model.Requests[0].ExchangeRate,2))" @disabledDollarProperty />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text request-cost-shekel-icon @disableShekel">&#x20aa;</span>
                @if(disabledShekelProperty != "")
                {
                    <input asp-for="Requests[0].Cost" class="form-control-plaintext border-bottom  @disableShekel requestPriceQuote" min="1" readonly id="cost" />
                }
                else
                {
                    <input asp-for="Requests[0].Cost" class="form-control-plaintext border-bottom @shekelReadOnly requestPriceQuote" min="1" id="cost" />

                }
                <span class="text-danger-centarix" asp-validation-for="Requests[0].Cost"></span>
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label asp-for="Requests[0].VAT" class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#36;</span>
                <input class="form-control-plaintext border-bottom vatInDollars disabled-text requestPriceQuote" id="vatInDollars" disabled value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].VAT / Model.Requests[0].ExchangeRate, 2))" />
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#x20aa;</span>
                <input asp-for="Requests[0].VAT" class="form-control-plaintext border-bottom disabled-text requestPriceQuote" id="vat" disabled />
                <span class="text-danger-centarix" asp-validation-for="Requests[0].VAT"></span>
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label class="control-label">Total + VAT:</label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#36;</span>
                <input class="form-control-plaintext border-bottom disabled-text requestPriceQuote" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].TotalWithVat/Model.Requests[0].ExchangeRate,2))" />
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#x20aa;</span>
                <input asp-for="Requests[0].TotalWithVat" class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
            </div>
        </div>
    </div>
</div>
<div class="row requestPriceQuote @hideNoQuote">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Discount</label>

            <div class="input-group">
                <input asp-for="Requests[0].Discount" class="form-control-plaintext border-bottom requestPriceQuote @markReadOnlyClass" />
                <div class="input-group-text">%</div>
            </div>
            <span asp-validation-for="Requests[0].Discount" />
        </div>
    </div>
    @{
        var includeVatChecked = "checked";
        var noVatChecked = "";
        if (Model.Requests[0].IncludeVAT != true)
        {
            includeVatChecked = "";
            noVatChecked = "checked";
        }
    }
    <div class="custom-control custom-radio mr-4 ml-4 ">
        <input class="custom-control-input include-vat-radio @markReadOnlyClass" id="IncludeVAT" name="_IncludeVAT" @includeVatChecked type="radio" value="@Model.Requests[0].IncludeVAT" />
        <label class="radio-button custom-control-label pt-1 pl-2 include-vat-radio @markReadOnlyClass" for="IncludeVAT">Include VAT</label>
    </div>
    <div class="custom-control custom-radio mr-4 ml-4">
        <input class="custom-control-input include-vat-radio @markReadOnlyClass" id="NoVAT" name="_IncludeVAT" @noVatChecked type="radio" value="@(!Model.Requests[0].IncludeVAT)" />
        <label class="radio-button custom-control-label pt-1 pl-2 include-vat-radio @markReadOnlyClass" for="NoVAT">No VAT</label>
    </div>

    <input type="hidden" asp-for="Requests[0].IncludeVAT" value="true" />
    @if (Model.Requests[0].RequestStatusID != 1 && Model.Requests[0].RequestStatusID != 6)
    {
<div class="col-3">
    <label class="control-label" asp-for="Requests[0].PaymentStatus.PaymentStatusDescription">Terms</label>
    <input asp-for="Requests[0].PaymentStatus.PaymentStatusDescription" class="form-control-plaintext border-bottom" disabled />
    <input type="hidden" asp-for="Requests[0].PaymentStatusID"/>
</div>
    }
    </div>
@if (Model.Requests[0].RequestStatusID != 1 && Model.Requests[0].RequestStatusID != 6)
{
<div class="row">

    <div class="col-2">
        <input type="checkbox" asp-for="Requests[0].Payments.LastOrDefault().IsPaid" class="form-check-input filled-in " disabled />
        <label class="form-check-label" asp-for="Requests[0].Payments.LastOrDefault().IsPaid"></label>
        <input type="hidden" asp-for="Requests[0].Payments.LastOrDefault().IsPaid" />
    </div>
    <div class="col-2">
        <input type="checkbox" asp-for="Requests[0].IsPartial" class="form-check-input filled-in " disabled />
        <label class="form-check-label" asp-for="Requests[0].IsPartial">Partial</label>
        <input type="hidden" asp-for="Requests[0].IsPartial" />
    </div>
    <div class="col-2">
        <input type="checkbox" asp-for="Requests[0].IsClarify" class="form-check-input filled-in " disabled />
        <label class="form-check-label" asp-for="Requests[0].IsClarify">Clarify</label>
        <input type="hidden" asp-for="Requests[0].IsClarify" />
    </div>

</div>
<div class="row">
    <div class="col-2">
        <label class="control-label" asp-for="Requests[0].Installments">Payments</label>
        <input asp-for="Requests[0].Installments" class="form-control-plaintext border-bottom " readonly />
    </div>
    @{var payments = Model.Requests[0].Payments.Where(p => p.IsPaid).OrderBy(p => p.PaymentDate).ToList(); }
    @if (payments.Count() > 0)
    {
<div class="container col-10">
    @for (int i = 0; i < payments.Count(); i++)
    {
        <input type="hidden" asp-for="Requests[0].Payments[i].PaymentReferenceDate" />
        <input type="hidden" asp-for="Requests[0].Payments[i].PaymentTypeID" />
        <input type="hidden" asp-for="Requests[0].Payments[i].CreditCardID" />
        <input type="hidden" asp-for="Requests[0].Payments[i].Reference" />
        <input type="hidden" asp-for="Requests[0].Payments[i].CheckNumber" />
        <input type="hidden" asp-for="Requests[0].Payments[i].PaymentDate" />
        <div class="row">
            <div class="col-3 pl-0">
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <input class="form-control-plaintext border-bottom  datepicker" type="text" asp-for="@payments[i].PaymentReferenceDate" disabled />
                </div>
            </div>

            <div class="col-3">
                <div class="payment-type form-group">
                    <label class="control-label">Payment Type</label>
                    <input class="form-control-plaintext border-bottom" value="@payments[i].PaymentType.PaymentTypeDescription" disabled />
                </div>
            </div>
            @if (payments[i].PaymentTypeID == 1)
            {
                <div class="col-3">
                    <div class="form-group payment-account">
                        <label class="control-label">Credit Card Number</label>
                        <input class="form-control-plaintext border-bottom reference-1" disabled value="@payments[i].CreditCard.CardNumber" />
                    </div>
                </div>
            }
            @if (payments[i].PaymentTypeID == 3)
            {
                <div class="col-3">
                    <div class="form-group payment-reference">
                        <label class="control-label">Payment Reference</label>
                        <input class="form-control-plaintext border-bottom reference-1" disabled value="@payments[i].Reference" />
                    </div>
                </div>
            }
            @if (payments[i].PaymentTypeID == 2)
            {
                <div class="col-3">
                    <div class="form-group payment-reference">
                        <label class="control-label">Check Number</label>
                        <input class="form-control-plaintext border-bottom reference-1" disabled value="@payments[i].CheckNumber" />
                    </div>
                </div>
            }
        </div>

    }
</div>
    }

        </div>

}
<script src="~/js/Validation/OrderInvItemFormValidation.js"></script>
<script src="~/js/validate.js"></script>
@*<script src="~/js/SubUnit.js"></script>*@
