@model PrototypeWithAuth.ViewModels.RequestItemViewModel

@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData

@{
    var Category = Model.Requests[0].Product.ProductSubcategory.ParentCategory.ParentCategoryDescription;
    var modalType = Model.ModalType;
    var markReadOnlyClass = "";
    var disabledProperty = "";
    var hideVat = "";
    if (modalType == AppUtility.RequestModalType.Edit || modalType == AppUtility.RequestModalType.Summary)
    {
        markReadOnlyClass = "mark-readonly";

    }
    if (!Model.Requests[0].IncludeVAT)
    {
        hideVat = "d-none";
    }
}

<div class="row no-mb">
    <div class="col-md-8">
        <span class="heading-1 modal-tab-name">Price</span>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Currency</label>
                    <select id="currency" asp-for="Requests[0].Currency" class="mdb-select custom select-dropdown form-control-plaintext @markReadOnlyClass">
                        <option value="@AppUtility.CurrencyEnum.USD.ToString()">&dollar; USD</option>
                        <option value="@AppUtility.CurrencyEnum.NIS.ToString()">&#8362; NIS</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Requests[0].ExchangeRate" class="control-label"></label>
                    <input asp-for="Requests[0].ExchangeRate" class="form-control-plaintext border-bottom " id="exchangeRate" />
                    <span asp-validation-for="Requests[0].ExchangeRate" class="text-danger-centarix"></span>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Category != null && !Category.Equals(AppUtility.ParentCategoryEnum.Operation))
{
    <div class="row" id="edit">
        <div class="col-md-4  RequestUnitCard ">
            <div class="border h-100 pt-4" @*style="padding-right: 2rem; padding-left: 2rem;"*@>
                <div class="mx-2rem">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Requests[0].Unit" class="control-label"></label>
                            @Html.EditorFor(vm => vm.Requests[0].Unit, new { htmlAttributes = new { @class = "form-control-plaintext border-bottom " + @markReadOnlyClass, @min = "1", @id = "unit" } })
                            <span asp-validation-for="Requests[0].Unit" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-md-8 form-group dropdown-select-div">
                            <label asp-for="Requests[0].UnitType" class="control-label"></label>
                            @*<select asp-for="Request.UnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext @markReadOnlyClass">
                                    <option value=""></option>
                                    @foreach (var unitparenttype in Model.UnitTypes)
                                    {
                                        <optgroup label="@unitparenttype.Key.UnitParentTypeDescription">
                                            @foreach (var unittype in unitparenttype)
                                            {
                                                <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                            }
                                        </optgroup>
                                    }
                                </select>*@
                            @Html.DropDownListFor(
vm => vm.Requests[0].UnitTypeID,
Model.UnitTypeList,
"",
htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext unit-type-select " + markReadOnlyClass, @id = "unitTypeID" }
)
                            <span asp-validation-for="Requests[0].UnitType" class="text-danger-centarix"></span>
                        </div>
                    </div>
                    <div class="form-group requestPriceQuote">
                        <label class="control-label">Price Per Unit:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text border-bottom request-cost-dollar-icon">&#36;</span>
                                    <input class="form-control-plaintext border-bottom @markReadOnlyClass  requestPriceQuote" name="unit-price-dollars" id="unit-price-dollars" value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].PricePerUnit / Model.Requests[0].ExchangeRate,2))" @disabledProperty />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text request-cost-shekel-icon disabled-text">&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text requestPriceQuote" name="unit-price-shekel" id="unit-price-shekel" value="@Model.Requests[0].PricePerUnit" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{var cardDisplayNoneSub = "d-none";
            var plusDisplayNoneSub = "";
            var disabled = "";
            var subMarkReadOnly = "";
            if (Model.Requests[0].SubUnit > 0)
            {
                cardDisplayNoneSub = "";
                plusDisplayNoneSub = "d-none";
                disabled = "disabled";
                subMarkReadOnly = markReadOnlyClass;
            }
        }
        <div class="col-4 pl-0 RequestSubunitCard">
            <div class="border h-100 ">
                <button type="button" class="close sub-close @cardDisplayNoneSub pr-2 pt-2  @markReadOnlyClass" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="mx-2rem addSubUnitCard mt-4 @plusDisplayNoneSub"><div class="row " style="display:initial;">          <div class="col-8 offset-2 text-center font-weight-light"><input type="button" value="+" class=" addSubUnit btn m-0 p-0 no-box-shadow @markReadOnlyClass" disabled style="font-size: 5rem; line-height:normal" /><br><span class="text-capitalize order-inv-color text">add sub unit</span></div></div></div>
                <div class="mx-2rem  subUnitsCard @cardDisplayNoneSub mt-4">


                    <div class="row ">
                        <div class="col-md-4 pl-0 form-group">
                            <label asp-for="Requests[0].SubUnit" class="control-label"></label>
                            <input asp-for="Requests[0].SubUnit" class="form-control-plaintext border-bottom @subMarkReadOnly " min="1" id="subUnit" disabled />
                            <span asp-validation-for="Requests[0].SubUnit" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Requests[0].SubUnitType" class="control-label"></label>
                            @Html.DropDownListFor(
vm => vm.Requests[0].SubUnitTypeID,
Model.UnitTypeList,
"",
 htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext " + @subMarkReadOnly, @disabled = @disabled, @id = "subUnitTypeID" }
 )
                            <span asp-validation-for="Requests[0].SubUnitType" class="text-danger-centarix"></span>
                        </div>
                    </div>

                    <div class="form-group requestPriceQuote">
                        <label class="control-label">Price Per Subunit:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text request-cost-dollar-icon">&#36;</span>
                                    <input class="form-control-plaintext border-bottom @subMarkReadOnly requestPriceQuote" name="subunit-price-dollars" id="subunit-price-dollars" @disabled value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].PricePerSubUnit??0 / Model.Requests[0].ExchangeRate,2))" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text request-cost-shekel-icon @subMarkReadOnly requestPriceQuote">&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom" name="subunit-price-shekel" id="subunit-price-shekel" @disabled value="@Model.Requests[0].PricePerSubUnit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            var cardDivDisplayNone = "d-none";
            var cardDisplayNoneSubSub = "d-none";
            var plusDisplayNoneSubSub = "";
            var subsubdisabled = "";
            var subsubMarkReadOnly = "";
            if (Model.Requests[0].SubUnit > 0)
            {
                cardDivDisplayNone = "";
                if (Model.Requests[0].SubSubUnit > 0)
                {
                    plusDisplayNoneSubSub = "d-none";
                    cardDisplayNoneSubSub = "";
                    subsubMarkReadOnly = markReadOnlyClass;
                    subsubdisabled = "disabled";
                }
            }
        }
        <div class="col-4 pl-0 RequestSubsubunitCard @cardDivDisplayNone">
            <div class="border h-100">
                <button type="button" class="close subsub-close @cardDisplayNoneSubSub pr-2 pt-2 @markReadOnlyClass" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="mx-2rem addSubSubUnitCard mt-4 @plusDisplayNoneSubSub">
                    <div class="row " style="display:initial;">
                        <div class="col-8 offset-2 text-center font-weight-light">

                            <input type="button" value="+" class=" addSubSubUnit btn m-0 p-0 no-box-shadow @markReadOnlyClass" disabled style="font-size: 5rem; line-height:normal" />
                            <br>
                            <span class="text-capitalize order-inv-color text">add sub unit</span>
                        </div>
                    </div>
                </div>
                <div class="mx-2rem  subSubUnitsCard mt-4 @cardDisplayNoneSubSub">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label asp-for="Requests[0].SubSubUnit" class="control-label"></label>
                            <input asp-for="Requests[0].SubSubUnit" class="form-control-plaintext border-bottom @subsubMarkReadOnly " min="1" disabled id="subSubUnit" />
                            <span asp-validation-for="Requests[0].SubSubUnit" class="text-danger-centarix"></span>
                        </div>
                        <div class="col-md-8 form-group">
                            <label asp-for="Requests[0].SubSubUnitType" class="control-label"></label>
                            @Html.DropDownListFor(
                                vm => vm.Requests[0].SubSubUnitTypeID,
                                Model.UnitTypeList,
                                "",
                                htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext " + @subsubMarkReadOnly, @disabled, @id = "subSubUnitTypeID" }
                                )
                            <span asp-validation-for="Requests[0].SubSubUnitType" class="text-danger-centarix"></span>
                        </div>
                    </div>

                    <div class="form-group requestPriceQuote">
                        <label class="control-label">Price Per Subunit:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text request-cost-dollar-icon">&#36;</span>
                                    <input class="form-control-plaintext border-bottom @subsubMarkReadOnly requestPriceQuote" name="subsubunit-price-dollars" id="subsubunit-price-dollars" @disabled
                                           value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].PricePerSubSubUnit??0 / Model.Requests[0].ExchangeRate,2))" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text request-cost-shekel-icon requestPriceQuote">&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom @subsubMarkReadOnly" name="subsubunit-price-shekel" id="subsubunit-price-shekel" @disabled
                                           value="@Model.Requests[0].PricePerSubSubUnit" />
                                    <span asp-validation-for="Requests[0].SubSubUnit" class="text-danger-centarix"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<div class="row requestPriceQuote">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Requests[0].Cost" class="control-label">Total:</label>
            <div class="input-group">
                <span class="input-group-text request-cost-dollar-icon">&#36;</span>
                <input class="form-control-plaintext border-bottom @markReadOnlyClass requestPriceQuote" id="sum-dollars" name="sum-dollars" value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].Cost??0 / Model.Requests[0].ExchangeRate,2))" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text request-cost-shekel-icon disabled-text">&#x20aa;</span>
                <input asp-for="Requests[0].Cost" class="form-control-plaintext border-bottom disabled-text requestPriceQuote" min="1" readonly id="cost" />
                <span class="text-danger-centarix" asp-validation-for="Requests[0].Cost"></span>
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label asp-for="Requests[0].VAT" class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#36;</span>
                <input class="form-control-plaintext border-bottom vatInDollars disabled-text requestPriceQuote" id="vatInDollars" disabled value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].VAT / Model.Requests[0].ExchangeRate, 2))" />
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#x20aa;</span>
                <input asp-for="Requests[0].VAT" class="form-control-plaintext border-bottom disabled-text requestPriceQuote" id="vat" disabled />
                <span class="text-danger-centarix" asp-validation-for="Requests[0].VAT"></span>
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label class="control-label">Total + VAT:</label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#36;</span>
                <input class="form-control-plaintext border-bottom disabled-text requestPriceQuote" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round(Model.Requests[0].TotalWithVat/Model.Requests[0].ExchangeRate,2))" />
            </div>
        </div>
    </div>
    <div class="col-md-2 vat-info @hideVat">
        <div class="form-group">
            <label class="control-label"></label>
            <div class="input-group">
                <span class="input-group-text disabled-text">&#x20aa;</span>
                <input asp-for="Requests[0].TotalWithVat" class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
            </div>
        </div>
    </div>
</div>
<div class="row requestPriceQuote">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Discount</label>

            <div class="input-group">
                <input asp-for="Requests[0].Discount" class="form-control-plaintext border-bottom requestPriceQuote @markReadOnlyClass" />
                <div class="input-group-text">%</div>
            </div>
            <span asp-validation-for="Requests[0].Discount" />
        </div>
    </div>
    @{
        var includeVatChecked = "checked";
        var noVatChecked = "";
        if (Model.Requests[0].IncludeVAT != true)
        {
            includeVatChecked = "";
            noVatChecked = "checked";
        }
    }
<div class="custom-control custom-radio mr-4 ml-4">
    <input class="custom-control-input include-vat-radio @markReadOnlyClass" id="IncludeVAT" name="_IncludeVAT" @includeVatChecked type="radio" value="@Model.Requests[0].IncludeVAT" />
    <label class="radio-button custom-control-label pt-1 pl-2 include-vat-radio @markReadOnlyClass" for="IncludeVAT">Include VAT</label>
</div>
    <div class="custom-control custom-radio mr-4 ml-4">
        <input class="custom-control-input include-vat-radio @markReadOnlyClass" id="NoVAT" name="_IncludeVAT" @noVatChecked type="radio" value="@(!Model.Requests[0].IncludeVAT)" />
        <label class="radio-button custom-control-label pt-1 pl-2 include-vat-radio @markReadOnlyClass" for="NoVAT">No VAT</label>
    </div>

    <input type="hidden" asp-for="Requests[0].IncludeVAT" value="true" />
    <div class="col-3">
        <label class="control-label" asp-for="Requests[0].PaymentStatus.PaymentStatusDescription">Terms</label>
        <input asp-for="Requests[0].PaymentStatus.PaymentStatusDescription" class="form-control-plaintext border-bottom" disabled />
    </div>
</div>
@if (Model.Requests[0].RequestStatusID != 1 && Model.Requests[0].RequestStatusID != 6)
{
<div class="row">

    <div class="col-2">
        <input type="checkbox" asp-for="Requests[0].Paid" class="form-check-input filled-in " disabled />
        <label class="form-check-label" asp-for="Requests[0].Paid"></label>
        <input type="hidden" asp-for="Requests[0].Paid" />
    </div>
    <div class="col-2">
        <input type="checkbox" asp-for="Requests[0].IsPartial" class="form-check-input filled-in " disabled />
        <label class="form-check-label" asp-for="Requests[0].IsPartial">Partial</label>
        <input type="hidden" asp-for="Requests[0].IsPartial" />
    </div>
    <div class="col-2">
        <input type="checkbox" asp-for="Requests[0].IsClarify" class="form-check-input filled-in " disabled />
        <label class="form-check-label" asp-for="Requests[0].IsClarify">Clarify</label>
        <input type="hidden" asp-for="Requests[0].IsClarify" />
    </div>

</div>
<div class="row">
    <div class="col-2">
        <label class="control-label" asp-for="Requests[0].Installments">Payments</label>
        <input asp-for="Requests[0].Installments" class="form-control-plaintext border-bottom " readonly />
    </div>
    @{var payments = Model.Requests[0].Payments.Where(p => p.IsPaid).OrderBy(p => p.PaymentDate).ToList(); }
    @if (payments.Count() > 0)
    {
<div class="container col-10">
    @for (int i = 0; i < payments.Count(); i++)
    {

        <div class="row">
            <div class="col-3 pl-0">
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <input class="form-control-plaintext border-bottom  datepicker" type="text" asp-for="@payments[i].PaymentReferenceDate" disabled />
                </div>
            </div>

            <div class="col-3">
                <div class="payment-type form-group">
                    <label class="control-label">Payment Type</label>
                    <input class="form-control-plaintext border-bottom" value="@payments[i].CompanyAccount.PaymentType.PaymentTypeDescription" disabled />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group payment-account">
                    <label class="control-label">Account ID</label>
                    <input class="form-control-plaintext border-bottom reference-1" disabled vaule="@payments[i].CompanyAccount.CompanyAccountID" />
                </div>
            </div>
            @if (payments[i].CompanyAccount.PaymentTypeID == 2)
            {
                <div class="col-3">
                    <div class="form-group payment-reference">
                        <label class="control-label">Payment Reference</label>
                        <input class="form-control-plaintext border-bottom reference-1" disabled value="@payments[i].Reference" />
                    </div>
                </div>
            }
        </div>

    }
</div>
    }

        </div>

}
<script src="~/js/Validation/OrderInvItemFormValidation.js"></script>
<script src="~/js/validate.js"></script>
<script src="~/js/SubUnit.js"></script>
