@model PrototypeWithAuth.ViewModels.TempRequestListViewModel
    <div class="temprequesthiddenfors">
        @*@Html.HiddenFor(r => r.GUID)*@
        <input type="hidden" asp-for="GUID" class="hidden-guid" />
        @Html.HiddenFor(r => r.SequencePosition)

        @Html.HiddenFor(model => model.RequestIndexObject.PageType)
        @Html.HiddenFor(model => model.RequestIndexObject.PageNumber)
        @Html.HiddenFor(model => model.RequestIndexObject.SectionType)
        @Html.HiddenFor(model => model.RequestIndexObject.SelectedCurrency)
        @*@Html.HiddenFor(model => model.RequestIndexObject.SelectedPriceSort)*@
        @Html.HiddenFor(model => model.RequestIndexObject.SidebarFilterID)
        @Html.HiddenFor(model => model.RequestIndexObject.SidebarType)
        @Html.HiddenFor(model => model.RequestIndexObject.OrderMethod)
        @Html.HiddenFor(model => model.RequestIndexObject.IsReorder)
        @Html.HiddenFor(model => model.RequestIndexObject.ModalType)
    </div>