@using System;
@using System.ComponentModel.DataAnnotations;
@using System.Linq;
@using System.Reflection;
@using PrototypeWithAuth.AppData;
@model PrototypeWithAuth.ViewModels.AccountingPaymentsViewModel
@{
    ViewData["Title"] = "AccountingNotifications";
    Layout = "~/Views/Shared/RequestNavView.cshtml";

    var isNoInvoice = false;
    if (TempData[AppUtility.TempDataTypes.SidebarType.ToString()].ToString() == "NoInvoice")
    {
        isNoInvoice = true;
    }
}
<script src="~/js/accounting.js"></script>
<script src="~/js/site.js"></script>


<table class="table table-headerspaced table-borderless table-hover">
    <thead>
        <tr class="border-0">

            <th colspan="8" class=" p-0 ">
                <div class="d-inline-flex">
                    <div class="heading-1">
                        @{
                            var count = 0;
                            if (Model.Requests != null)
                            {
                                var vendorsCount = Model.Requests.Count();
                                for (int x = 0; x < vendorsCount; x++)
                                {
                                    count += Model.Requests.ElementAt(x).Count();
                                }
                            }
                        }
                        @Html.DisplayFor(m => m.AccountingEnum)
                        &nbsp;&nbsp;
                    </div>
                    <div class="text pt-2">
                        [@count]
                        @{
                            double totalCost = 0;
                            if (Model.Requests != null)
                            {
                                var vendorsCount = Model.Requests.Count();
                                for (int x = 0; x < vendorsCount; x++)
                                {
                                    totalCost += Model.Requests.ElementAt(x).Select(r => r.Cost).Sum(c => c ?? 0);
                                }
                            }

                            var decCost = (decimal)totalCost;
                            var formattedTotalCost = decCost.ToString("C02");
                        }
                        <span>&emsp; Total: </span><span>@formattedTotalCost</span>
                    </div>
                </div>
            </th>

        </tr>
        <tr class="text-center">
            <td style="width:5%;">
                No
            </td>
            <td style="width:8.1%;"></td>
            <td style="width:11.1%;">
                Name
            </td>
            <td style="width:11.1%">
                Units
            </td>
            <td style="width:11.1%">
                Price
            </td>
            <td style="width:11.1%">
                Vendor
            </td>
            <td style="width:11.1%">
                Category
            </td>
            <td style="width:11.1%">
                Date
            </td>
            <td style="width:17.1%">
                @if (isNoInvoice)
                {
                    <button class="float-right accounting-background-color custom-button-font custom-button px-2rem hidden" id="add-to-selected">Add To Selected</button>
                }
            </td>

        </tr>
    </thead>
</table>
@{
    double VendorTotal = 0;
}
@foreach (var Vendor in Model.Requests)
{
    <div class="mb-5 ">
        <div class=" row text-dark ">
            <div class="col-2 heading-1 text-capitalize">@Vendor.Key.VendorEnName.ToLower()</div>
            <div class="col-10"><hr /></div>
        </div>
        <table class="table table-headerspaced table-borderless table-hover mt-3 ">
            <tbody class="text-center">

                @foreach (var Request in Vendor)
                {
                    <tr class="text-center">
                        <td class="text-center" style="width:5%;">
                            @if (isNoInvoice)
                            {
                                <div class="form-check accounting-select" vendorid="@Vendor.Key.VendorID">
                                    <input type="checkbox" class="form-check-input fci-acc filled-in" id="@Request.RequestID" vendorid="@Vendor.Key.VendorID">
                                    <label class="form-check-label" for="@Request.RequestID">@Request.RequestID</label>
                                </div>
                            }
                            <div class="form-check text-center">
                                <input type="checkbox" class="form-check-input" id="@Request.RequestID" /><br />

                            </div>
                        </td>
                        <td style="width:8.1%;">
                            @{
                                var imageurl = "/images/css/CategoryImages/placeholder.png";
                                if (Request.Product.ProductSubcategory.ImageURL != null)
                                {
                                    imageurl = Request.Product.ProductSubcategory.ImageURL;
                                }
                            }
                            <img src="@imageurl" alt="Image" width="75" class="category-image" />
                        </td>
                        <td style="width:11.1%;">
                            @Request.Product.ProductName
                        </td>
                        <td style="width:11.1%">
                            @Request.Unit @if (Request.UnitType != null)
                            {@Request.UnitType.UnitTypeDescription<br />}
                            @Request.SubUnit @if (Request.SubUnitType != null)
                            {@Request.SubUnitType.UnitTypeDescription<br />}
                            @Request.SubSubUnit @if (Request.SubSubUnitType != null)
                            {@Request.SubSubUnitType.UnitTypeDescription<br />}
                        </td>
                        <td style="width:11.1%">
                            @{
                                var requestCost = Request.Cost;
                                var decRequestCost = (decimal)requestCost;
                                var formattedRequestCost = decRequestCost.ToString("C02");
                            }
                            @formattedRequestCost
                        </td>
                        <td style="width:11.1%">
                            @Vendor.Key.VendorEnName.ToLower()
                        </td>
                        <td style="width:11.1%">
                            @Request.Product.ProductSubcategory.ProductSubcategoryDescription
                        </td>
                        <td style="width:11.1%">
                            @String.Format("{0:d}", @Request.CreationDate.Date)
                        </td>
                        <td style="width:17.1%">
                            @{
                                switch (Model.AccountingEnum)
                                {
                                    case AppUtility.SidebarEnum.NoInvoice:
                                        <a href="" class="invoice-add-one" request="@Request.RequestID" data-toggle="tooltip" data-placement="top"
                                           title="Add Invoice">
                                            <i class="icon-cancel_presentation-24px green-overlay px-1" style="font-size:1.6rem;"></i>
                                        </a>
                                        break;
                                    case AppUtility.SidebarEnum.DidntArrive:
                                        <a href="#" class="">
                                            <i class="icon-local_shipping-24px green-overlay px-1" style="font-size:1.6rem;"></i>
                                        </a>
                                        break;
                                    case AppUtility.SidebarEnum.PartialDelivery:
                                        <a href="#" class="">
                                            <i class="icon-remove_shopping_cart-24px green-overlay px-1" style="font-size:1.6rem;"></i>
                                        </a>
                                        break;
                                    case AppUtility.SidebarEnum.ForClarification:
                                        <a href="#" class="">
                                            <i class="icon-notification_didnt_arrive-24px green-overlay px-1" style="font-size:1.6rem;"></i>
                                        </a>
                                        break;

                                }

                            }



                        </td>
        </tr>

                    VendorTotal += Request.Cost??0;
      
            }
                </tbody>
                </table>

                <div style="border-color:transparent;" class=" no-hover row text-right">
                    <div colspan="8" style="border-color:transparent;" class="col-12 ">
                        <div class="font-weight-bold text mt-4">
                            Items: @Vendor.Count()

                            <label class="mt-3">&emsp; Total: </label>&nbsp;<span>@(((decimal)(VendorTotal)).ToString("C02"))</span>

                            @if (isNoInvoice)
                            {
                                <button class=" ml-5 float-right accounting-background-color invoice-add-all custom-button-font custom-button " vendor="@Vendor.Key.VendorID">Add To All</button>
                            }
                        </div>
                    </div>
                </div>
                </div>
            }


<script>
    $(".share-payment").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        console.log("in share payments accounting payments");
    });
    $("body").on("click", ".share-payment"), function (e) {
        e.preventDefault();
        e.stopPropagation();
        console.log("in share payments accounting payments - body click");
    });
</script>

