@using System;
@using System.ComponentModel.DataAnnotations;
@using System.Linq;
@using System.Reflection;
@model PrototypeWithAuth.ViewModels.AccountingPaymentsViewModel
@{
    ViewData["Title"] = "AccountingNotifications";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

<script src="~/js/site.js"></script>
<table class="table table-headerspaced table-borderless table-hover">
    <thead>
        <tr class="border-0">

            <th colspan="8" class=" p-0 ">
                <div class="d-inline-flex">
                    <div class="heading-1">
                        @{
                            var count = 0;
                            if (Model.Requests != null)
                            {
                                var vendorsCount = Model.Requests.Count();
                                for (int x = 0; x < vendorsCount; x++)
                                {
                                    count += Model.Requests.ElementAt(x).Count();
                                }
                            }
                        }
                       @Html.DisplayFor(m=>m.AccountingNotificationsEnum)
                        &nbsp;&nbsp;
                        </div>
                        <div class="text pt-2">
                            [@count]
                            @{
                                var totalCost = 0;
                                var decCost = (decimal)totalCost;
                                var formattedTotalCost = decCost.ToString("C02");
                            }
                            <span>&emsp; Total: </span><span>@formattedTotalCost</span>
                        </div>
                    </div>
            </th>

        </tr>
        <tr class="text-center">
            <td style="width:8%;">
                No
            </td>
            <td style="width:11.1%;"></td>
            <td style="width:11.1%;">
                Name
            </td>
            <td style="width:11.1%">
                Units
            </td>
            <td style="width:11.1%">
                Price
            </td>
            <td style="width:11.1%">
                Vendor
            </td>
            <td style="width:11.1%">
                Category
            </td>
            <td style="width:11.1%">
                Date
            </td>
            <td style="width:11.1%">
            </td>
        </tr>
    </thead>
</table>
@foreach (var Vendor in Model.Requests)
{
    <div class="mb-5 ">
        <div class=" row text-dark ">
            <div class="col-2 heading-1 text-capitalize">@Vendor.Key.VendorEnName.ToLower()</div>
            <div class="col-10"><hr /></div>
        </div>
        <table class="table table-headerspaced table-borderless table-hover mt-3 ">
            <tbody class="text-center">
                @{
                    double VendorTotal = 0;
                }
                @foreach (var Request in Vendor)
                {
                    <tr class="text-center">
                        <td class="text-center" style="width:8%;">
                            <div class="form-check accounting-select">
                                <input type="checkbox" class="form-check-input filled-in" id="@Request.RequestID">
                                <label class="form-check-label" for="@Request.RequestID">@Request.RequestID</label>
                            </div>
                            @*<div class="form-check text-center">
                                    <input type="checkbox" class="form-check-input" id="@Request.RequestID" /><br />

                                </div>*@
                        </td>
                        <td style="width:11.1%;">
                            @if (Request.Product.ProductSubcategory.ImageURL != null)
                            {
                                var imageurl = Request.Product.ProductSubcategory.ImageURL;
                                <img src="@imageurl" alt="Image" width="75" class="category-image" />
                            }
                        </td>
                        <td style="width:11.1%;">
                            @Request.Product.ProductName
                        </td>
                        <td style="width:11.1%">
                            @Request.Unit @if (Request.UnitType != null)
                            {@Request.UnitType.UnitTypeDescription<br />}
                            @Request.SubUnit @if (Request.SubUnitType != null)
                            {@Request.SubUnitType.UnitTypeDescription<br />}
                            @Request.SubSubUnit @if (Request.SubSubUnitType != null)
                            {@Request.SubSubUnitType.UnitTypeDescription<br />}
                        </td>
                        <td style="width:11.1%">
                            @{
                                var requestCost = Request.Cost;
                                var decRequestCost = (decimal)requestCost;
                                var formattedRequestCost = decRequestCost.ToString("C02");
                            }
                            @formattedRequestCost
                        </td>
                        <td style="width:11.1%">
                            @Vendor.Key.VendorEnName.ToLower()
                        </td>
                        <td style="width:11.1%">
                            @Request.Product.ProductSubcategory.ProductSubcategoryDescription
                        </td>
                        <td style="width:11.1%">
                            @String.Format("{0:d}", @Request.CreationDate.Date)
                        </td>
                        <td style="width:11.1%">
                            <a href="" class="invoice-add-one" request="@Request.RequestID">
                                <i class="icon-cancel_presentation-24px green-overlay px-1" style="font-size:1.6rem;"></i>
                            </a>
                            <a href="">
                                <i class="icon-favorite_border-24px accounting-filter px-1" style="font-size:1.6rem;"></i>
                            </a>
                            @*<a href="">
                                    <i class="icon-more_vert-24px px-1" style="font-size:1.6rem;"></i>

                                </a>*@
                            <a href="" type="button" class="stop-event" data-popover-content="#mypop" data-placement="bottom" data-toggle="popover" data-trigger="focus" @*title="Popover title"*@
                               @*data-content="#popover-content"*@>
                                <i class="icon-more_vert-24px px-1" style="font-size:1.6rem;"></i>
                            </a>
                            <div class="hidden" id="mypop">
                                <div class="popover-heading">

                                </div>
                                <div class="popover-body">
                                    This is the body
                                    <a href='' class='share-payment' value='@Request.RequestID'>Share</a><hr />
                                </div>
                            </div>
                            <div class="popover-body" id="popover-body" style="display: none;">
                                <script src="~/js/site.js"></script>
                                <button id="share-payment" class='share-payment stop-event btn btn-black' onclick="SharePayment()" value='@Request.RequestID'>Share</button><hr />
                            </div>
                            @*</div>*@
                            @{
                                //var dataToggle
                            }

                        </td>
                    </tr>
                    VendorTotal += Request.Cost;
                }
            </tbody>
        </table>

        <div style="border-color:transparent;" class=" no-hover row text-right">
            <div colspan="8" style="border-color:transparent;" class="col-12 ">
                <div class="font-weight-bold">
                    Items: @Vendor.Count()

                    <span>&emsp; Total: </span><span>@(((decimal)(VendorTotal)).ToString("C02"))</span>

                    <button class="inv-payments-button ml-5 float-right invoice-add-all" vendor="@Vendor.Key.VendorID">Add to All</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(".share-payment").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        console.log("in share payments accounting payments");
    });
    $("body").on("click", ".share-payment"), function (e) {
        e.preventDefault();
        e.stopPropagation();
        console.log("in share payments accounting payments - body click");
    });
</script>

