@model AddInvoiceViewModel
@using PrototypeWithAuth.AppData
<script src="~/js/InitializeDatePicker.js"></script>
<script src="~/js/validate.js"></script>
<script src="~/js/Validation/AddInvoiceFormValidation.js"></script>
<script src="~/js/accounting.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/editquotemodal.js"></script>
<script src="~/js/TermsModal.js"></script>

<div class="modal modal-view fader on-form-modal " id="myModal" data-backdrop="false">
    <div class="modal-xl modal-dialog-centered mx-auto">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$.fn.CloseModal('add-invoice')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" id="myForm" class="modal-padding addInvoiceForm">
                @if (Model.Error?.Bool == true)
                {
                    <span class="text-danger-centarix">@Model.Error.String</span>
                }

                else
                {
                    var urlAction = Url.Action("DocumentsModal", "Requests");
                    // var currency = Model.Requests[0].Currency == AppUtility.CurrencyEnum.NIS.ToString() ? "&#x20aa;" : "&#36;";
                    var totalCost = 0.0m;
                    var totalVAT = 0.0m;

                    <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />
                    <input type="hidden" asp-for="Requests[0].ExchangeRate" id="exchangeRate" />
                    <input type="hidden" asp-for="Requests[0].IncludeVAT" class="include-vat" />
                    <input type="hidden" asp-for="Vendor.VendorID" value="@Model.Vendor.VendorID" />

                    <div class="modal-body  m-0 p-0 ">
                        <div class="row error-message">
                            @{ await Html.RenderPartialAsync("_ErrorMessage", Model.ErrorMessage); }
                        </div>
                        <div class="container-fluid p-0 m-0">
                            <div class="row">
                                <div class="col-4 d-inline-flex">
                                    <label class="heading-1 m-0">Add Invoice</label>&nbsp; &nbsp;&nbsp;<label class="mt-1 top-menu">@Model.Vendor.VendorEnName.ToLower()</label>
                                </div>

                            </div>
                            <br /><hr />

                            <table class="table table-headerspaced table-borderless table-hover">
                                <thead>
                                    <tr class="">
                                        <td style="width:15%;" class="pb-0">
                                        </td>
                                        <td style="width:25%;" class="pb-0">
                                            Name
                                        </td>
                                        <td style="width:15%;" class="pb-0">
                                            Units
                                        </td>
                                        <td style="width:15%;" class="pb-0">
                                            Total Price
                                        </td>
                                        <td style="width:30%;" class="pb-0">
                                        </td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{var x = -1; }
                                    @foreach (var Request in Model.Requests)
                                    {
                                        x++;
                                        <tr class="invoice-request">
                                            <td style="width:15%;">
                                                <input style="display: none;" asp-for="Requests[x].RequestID" />
                                                @{
                                                    var imageurl = "/images/css/CategoryImages/placeholder.png";
                                                    if (Request.Product.ProductSubcategory.ImageURL != null)
                                                    {
                                                        imageurl = Request.Product.ProductSubcategory.ImageURL;
                                                    }
                                                }

                                                <img src="@imageurl" alt="Image" width="75" class="category-image" />
                                            </td>
                                            <td style="width:25%;">
                                                @Request.Product.ProductName
                                            </td>
                                            <td style="width:15%; text-transform: none">
                                                @Request.Unit @if (Request.Product.UnitType != null)
                                                {@Request.Product.UnitType.UnitTypeDescription<br />}

                                                @if (Request.Product.SubUnitType != null)
                                                {@(Request.Product.SubUnit==0? "" : AppUtility.TrimZeros(Request.Product.SubUnit??0).ToString()+" ")
                                                    @Request.Product.SubUnitType.UnitTypeDescription<br />
                                                }
                                                @if (Request.Product.SubSubUnitType != null)
                                                {
                                                    @(Request.Product.SubSubUnit==0? "" : AppUtility.TrimZeros(Request.Product.SubSubUnit??0).ToString()+" ")@Request.Product.SubSubUnitType.UnitTypeDescription<br />}
                                            </td>
                                            <td style="width:15%;">
                                                <div class="input-group">
                                                    @*{
                                                        decimal cost = Model.Requests[x].Cost ?? 0;
                                                        decimal vat = Model.Requests[x].IncludeVAT ? cost * (decimal)0.17 : 0;
                                                        decimal costWithVAT = cost + vat;
                                                    }


                                                    @if (Model.Requests[0].Currency == AppUtility.CurrencyEnum.NIS.ToString())
        {
            cost = Math.Round(cost, 2);-->
            @*<span class="input-group-text border-bottom pr-2">T: &#x20aa;</span>

                                                    <!--<div class="form-group shekel-group">
                                                                <div class="input-group ">
                                                                    <span class="input-group-text pr-1">P: &#x20aa;</span>
                                                                    <input asp-for="Requests[x].Cost" class="form-control-plaintext border-bottom cost" index="@x" value="@cost" />
                                                                    <span class="text-danger-centarix" asp-validation-for="Requests[x].Cost"></span>
                                                                </div>
                                                                <div class="input-group ">
                                                                    <span class="input-group-text request-cost-shekel-icon disabled-text pr-1">T: &#x20aa;</span>
                                                                    <input class="form-control-plaintext border-bottom disabled-text price-with-vat-shekel @x" value="@costWithVAT.ToString("0.00")" disabled />
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            cost = Math.Round(Model.Requests[0].ExchangeRate == 0 ? 0 : cost / Model.Requests[0].ExchangeRate, 2);
                                                            costWithVAT = Model.Requests[0].ExchangeRate == 0 ? 0 : costWithVAT / Model.Requests[0].ExchangeRate;

                                                            <div class="form-group dollar-group">
                                                                <div class="input-group ">
                                                                    <span class="input-group-text  pr-1">P: &#36;</span>
                                                                    <input class="form-control-plaintext border-bottom sum-dollars @x" value="@cost" index="@x" />
                                                                    <span class="text-danger-centarix" asp-validation-for="Requests[x].Cost"></span>
                                                                </div>
                                                                <div class="input-group ">
                                                                    <span class="input-group-text request-cost-dollar-icon pr-1 disabled-text">T: &#36;</span>
                                                                    <input class="form-control-plaintext border-bottom disabled-text price-with-vat-dollar @x" value="@costWithVAT.ToString("0.00")" disabled />
                                                                </div>
                                                            </div>
                                                            <input type="hidden" asp-for="Requests[x].Cost" class="cost @x" />
                                                        } *@
                                                    @{
                                                        /*var prices = AppUtility.GetPriceColumn(AppUtility.PriceSortEnum.GetEnums(), Request, Enum.Parse(typeof(AppUtility.CurrencyEnum), Request.Currency) );
                                                        for (int val = 0; val < prices.Count; val++)
                                                        {
                                                            if (val != 0)
                                                            {
                                                                <br />
                                                            }
                                                            <label class="m-0 p-0">@prices[val].String</label>
                                                        }*/
                                                    }
                                                </div>
                                                </td>

                                                <td style="width:30%;">
                                                    @if (Model.Requests.Count > 1)
                                                    {
                                                        <a class="remove-invoice-item float-right" request="@Request.RequestID">
                                                            <i class="icon-delete-24px px-1 mr-3" style="font-size:1.6rem;"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="row mt-5">
                                    <div class="col-6">
                                        <label asp-for="InvoiceImage" class="control-label"></label>
                                        <br />
                                        <input type="hidden" asp-for="Guid" class="hidden-guid" />
                                        <button class="my-2 section-bg-color custom-button-font custom-button open-document-modal mark-edditable" data-string="@AppUtility.FolderNamesEnum.Invoices.ToString()"
                                                data-id="0" parentfolder="@AppUtility.ParentFolderName.Requests"
                                                id="@AppUtility.FolderNamesEnum.Invoices.ToString()" data-val="@true" show-switch="@false">
                                            Select Invoice
                                        </button>
                                        <input type="hidden" asp-for="InvoiceImage" id="@AppUtility.FolderNamesEnum.Invoices.ToString()Input" />
                                        <span class="invoice-image-name document-name pl-2"></span>
                                        @*<input type="file" asp-for="InvoiceImage" class="form-control-file  ta pt-1">
                                            <span asp-validation-for="InvoiceImage" class="text-danger"></span>*@
                                        @*<div class="btn btn-link p-0 circular-profile-img circular-profile-img-150"><img id="invoice-image" /></div>
                                        *@
                                    </div>
                                    <div class="col-3 pr-0">
                                        <span class="float-right">Invoice Number: </span>
                                        <input asp-for="Invoice.InvoiceNumber" class="form-control-plaintext border-bottom" />
                                        <span asp-validation-for="Invoice.InvoiceNumber" class="text-danger-centarix" id="invoice-number-validation"></span>
                                    </div>
                                    <div class="col-3 pr-0">
                                        <span class="float-right">Invoice Date: </span>
                                        <input asp-for="Invoice.InvoiceDate" class="form-control-plaintext border-bottom datepicker" asp-format="@AppUtility.AspDateFormatString" />
                                        <span asp-validation-for="Invoice.InvoiceDate" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <div class="row">
                                </div>
                                <div class="row paid-info d-none ">
                                    @*TODO: make this a partial view*@
                                <div class="col-3 pl-0">
                                    <div class=" payment-type form-group">
                                        <label class="control-label">Bank Name</label>
                                        @Html.DropDownListFor(vm => vm.Payment.CompanyAccountID,
                                    new SelectList(
                                    Model.CompanyAccounts,
                                    "CompanyAccountID",
                                    "CompanyBankName"
                                    ), "Select Bank Name",
                                    new { @class = "mdb-select-sublist mdb-select custom select-dropdown form-control-plaintext", @id = "bankName" })
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="payment-type form-group d-none">
                                        <label class="control-label">Payment Type</label>
                                        @Html.DropDownListFor(vm => vm.Payment.PaymentTypeID,
                                    new SelectList(
                                    Model.PaymentTypes,
                                    "PaymentTypeID",
                                    "PaymentTypeDescription"
                                    ), "Select Payment Type",
                                    new { @class = "mdb-select-sublist mdb-select custom select-dropdown form-control-plaintext paymentType" })
                                    </div>
                                </div>
                                <div class="col-3 credit-card d-none">
                                    <div class="form-group ">
                                        <label class="control-label credit-card d-none">Card #</label>
                                        <select class="mdb-select custom select-dropdown form-control-plaintext cardNum mdb-select-sublist " disabled asp-for="Payment.CreditCardID"></select>
                                    </div>
                                </div>
                                <div class="col-3 pl-0">
                                    <div class="form-group payment-date d-none">
                                        <label class="control-label wire d-none">Transfer Date</label>
                                        <label class="control-label credit-card">Reference Date</label>
                                        <label class="control-label bank-check d-none">Cash Out Date</label>
                                        <input class="form-control-plaintext border-bottom datepicker" type="text" asp-for="Payment.PaymentReferenceDate" value="" />
                                    </div>
                                </div>
                                <div class="col-3 wire d-none">
                                    <div class="form-group ">
                                        <label class="control-label">Payment Reference</label>
                                        <input class="form-control-plaintext border-bottom reference-1" type="text" disabled asp-for="Payment.Reference" />
                                    </div>
                                </div>
                                <div class="col-3 bank-check d-none">
                                    <div class="form-group ">
                                        <label class="control-label">Check Number</label>
                                        <input class="form-control-plaintext border-bottom" type="text" disabled asp-for="Payment.CheckNumber" />
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-3">
                                    <input type="checkbox" asp-for="Paid" id="alreadyPaid" class="form-check-input filled-in " />
                                    <label class="form-check-label" asp-for="Paid" id="alreadyPaid">Paid</label>
                                    <input type="hidden" asp-for="Paid" />
                                </div>
                                <div class="col-2 offset-3 align-self-center">
                                    <input type="submit" class="section-bg-color custom-button-font custom-button save-invoice" value="Save" />
                                </div>
                                <div class="col-2 align-self-center">
                                    <button type="button" class="custom-button custom-cancel" onclick="$.fn.CloseModal('add-invoice')">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </form>
            </div>
        </div>
    </div>
