@model AddInvoiceViewModel
@using PrototypeWithAuth.AppData
<script src="~/js/InitializeDatePicker.js"></script>
<script src="~/js/validate.js"></script>
<script src="~/js/Validation/AddInvoiceFormValidation.js"></script>
<script src="~/js/accounting.js"></script>
<script src="~/js/site.js"></script>

<div class="modal modal-view fader on-form-modal accounting-form" id="myModal" data-backdrop="false">
    <div class="wide-modal modal-dialog-centered mx-auto">
        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close" onclick="$.fn.CloseModal('payments-invoice')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" id="myForm" class="modal-padding addInvoiceForm">

                @{
                    var urlAction = Url.Action("DocumentsModal", "Requests");
                    // var currency = Model.Requests[0].Currency == AppUtility.CurrencyEnum.NIS.ToString() ? "&#x20aa;" : "&#36;";
                }
                <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />
                <input type="hidden" asp-for="Requests[0].ExchangeRate" class="exchange-rate" />
                <div class="modal-body  m-0 p-0 ">

                    <div class="container-fluid p-0 m-0">
                        <div class="row">
                            <div class="col-4 d-inline-flex">
                                <label class="heading-1 m-0">Add Invoice</label>&nbsp; &nbsp;&nbsp;<label class="mt-1 top-menu">@Model.Requests.FirstOrDefault().Product.Vendor.VendorEnName.ToLower()</label>
                            </div>
                            <div class="col-2 pr-0">
                                <span class="float-right">Invoice Number: </span>
                            </div>
                            <div class="col-2">
                                <input asp-for="Invoice.InvoiceNumber" class="form-control-plaintext border-bottom" />
                                <span asp-validation-for="Invoice.InvoiceNumber" class="text-danger-centarix" id="invoice-number-validation"></span>
                            </div>
                            <div class="col-2 pr-0">
                                <span class="float-right">Invoice Date: </span>
                            </div>
                            <div class="col-2">
                                <input asp-for="Invoice.InvoiceDate" class="form-control-plaintext border-bottom datepicker" asp-format="{0:dd/MM/yyyy}" />
                                <span asp-validation-for="Invoice.InvoiceDate" class="text-danger-centarix"></span>
                            </div>
                        </div>
                        <br /><hr />

                        <table class="table table-headerspaced table-borderless table-hover">
                            <thead>
                                <tr class="">
                                    <td style="width:15%;" class="pb-0">
                                    </td>
                                    <td style="width:25%;" class="pb-0">
                                        Name
                                    </td>
                                    <td style="width:15%;" class="pb-0">
                                        Units
                                    </td>
                                    <td style="width:15%;" class="pb-0">
                                        Total Price
                                    </td>
                                    <td style="width:30%;" class="pb-0">
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                @{var x = -1; }
                                @foreach (var Request in Model.Requests)
                                {
                                    x++;
                                    <tr class="invoice-request">
                                        <td style="width:15%;">
                                            <input style="display: none;" asp-for="Requests[x].RequestID" />
                                            @{
                                                var imageurl = "/images/css/CategoryImages/placeholder.png";
                                                if (Request.Product.ProductSubcategory.ImageURL != null)
                                                {
                                                    imageurl = Request.Product.ProductSubcategory.ImageURL;
                                                }
                                            }

                                            <img src="@imageurl" alt="Image" width="75" class="category-image" />
                                        </td>
                                        <td style="width:25%;">
                                            @Request.Product.ProductName
                                        </td>
                                        <td style="width:15%;">
                                            @Request.Unit @if (Request.UnitType != null)
                                            {@Request.UnitType.UnitTypeDescription<br />}
                                            @Request.SubUnit @if (Request.SubUnitType != null)
                                            {@Request.SubUnitType.UnitTypeDescription<br />}
                                            @Request.SubSubUnit @if (Request.SubSubUnitType != null)
                                            {@Request.SubSubUnitType.UnitTypeDescription<br />}
                                        </td>
                                        <td style="width:15%;">
                                            <div class="input-group">
                                                @{
                                                    var cost = Model.Requests[x].IncludeVAT ? (Model.Requests[x].Cost + Model.Requests[x].Cost * (decimal)0.17) : Model.Requests[x].Cost;
                                                }
                                                @if (Model.Requests[0].Currency == AppUtility.CurrencyEnum.NIS.ToString())
                                                    {
                                                        cost = Math.Round((cost??0), 2);
                                                    <span class="input-group-text border-bottom pr-2">&#x20aa;</span>
                                                    <input asp-for="Requests[x].Cost" class="form-control-plaintext border-bottom " value="@cost" />
                                                    }
                                                    else
                                                    {
                                                        cost = Math.Round((cost ?? 0) / Model.Requests[0].ExchangeRate, 2);
                                                        <span class="input-group-text border-bottom pr-2">&#36;</span>
                                                    <input class="form-control-plaintext border-bottom cost-validation price-in-dollars" index="@x"
                                                           value="@(Model.Requests[0].ExchangeRate == 0 ? 0 : Math.Round((Model.Requests[x].Cost ?? 0) / Model.Requests[0].ExchangeRate, 2))" />
                                                    <input type="hidden" asp-for="Requests[x].Cost" class="cost @x" />
                                                }
                                            </div>
                                        </td>

                                        <td style="width:30%;">
                                            @if (Model.Requests.Count > 1)
                                            {
                                                <a class="remove-invoice-item float-right" request="@Request.RequestID">
                                                    <i class="icon-delete-24px px-1 mr-3" style="font-size:1.6rem;"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row mt-5">
                            <div class="col-5">
                                <label asp-for="InvoiceImage" class="control-label"></label>
                                <br />
                                <button class="my-2 accounting-background-color custom-button-font custom-button open-document-modal mark-edditable" data-string="@AppUtility.FolderNamesEnum.Invoices.ToString()"
                                        data-id="@Model.Requests[0].RequestID" 
                                    id="@AppUtility.FolderNamesEnum.Invoices.ToString()" data-val="@true" show-switch="@false">
                                    Select File
                                </button>
                                <input type="hidden" asp-for="InvoiceImage" id="@AppUtility.FolderNamesEnum.Invoices.ToString()Input" />
                                <span class="document-name pl-2"></span>
                                    @*<input type="file" asp-for="InvoiceImage" class="form-control-file  ta pt-1">
                                    <span asp-validation-for="InvoiceImage" class="text-danger"></span>*@
                                    @*<div class="btn btn-link p-0 circular-profile-img circular-profile-img-150"><img id="invoice-image" /></div>
            *@
                            </div>
                            <div class="col-2 offset-3 align-self-center">
                                <input type="submit" class="accounting-background-color custom-button-font custom-button" asp-action="AddInvoiceModal" value="Save" />
                            </div>
                            <div class="col-2 align-self-center">
                                <button data-dismiss="modal" class="custom-button custom-cancel" onclick="$(this).closest('.modal').modal('hide');">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.price-in-dollars').change(function (e) {
        var cost = $(this).val() * $('.exchange-rate').val();
        var index = $(this).attr("index");
        console.log(index)
        $('.cost.'+index).val(cost)
    });
</script>