@model AddInvoiceViewModel

<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/css/site.css" rel="stylesheet" />
<div class="modal modal-view fader" id="myModal" data-backdrop="false">
    <div class="modal-dialog" style="min-width:1200PX !important; top: 20%; bottom: 0; margin-top: auto; margin-bottom:auto;">
        <div class="modal-content d-inline-block" style="border-radius:3rem;">
            <form action="" method="post" enctype="multipart/form-data" id="myForm">
                <div class="modal-body my-3 mx-5">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent; font-size:1.5rem; font-weight:bold;" class="float-right mb-2">&times;</button>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4 d-inline-flex">
                                <label class="heading-1 m-0">Add Invoice</label>&nbsp; &nbsp;&nbsp;<label class="mt-1 top-menu">@Model.Requests.FirstOrDefault().Product.Vendor.VendorEnName.ToLower()</label>
                            </div>
                            <div class="col-2 pr-0">
                                <span class="float-right">Invoice Number: </span>
                            </div>
                            <div class="col-2">
                                <input asp-for="Invoice.InvoiceNumber" class="form-control-plaintext border-bottom" min="1" />
                                <span asp-validation-for="Invoice.InvoiceNumber" class="text-danger-centarix" id="invoice-number-validation" ></span>
                            </div>
                            <div class="col-2 pr-0">
                                <span class="float-right">Invoice Date: </span>
                            </div>
                            <div class="col-2">
                                <input asp-for="Invoice.InvoiceDate" class="form-control-plaintext border-bottom" />
                                <span asp-validation-for="Invoice.InvoiceDate" class="text-danger-centarix"></span>
                            </div>
                        </div>
                        <br /><hr />

                        <table class="table table-headerspaced table-borderless table-hover">
                            <thead>
                                <tr class="">
                                    <td style="width:15%;" class="pb-0">
                                    </td>
                                    <td style="width:25%;" class="pb-0">
                                        Name
                                    </td>
                                    <td style="width:15%;" class="pb-0">
                                        Units
                                    </td>
                                    <td style="width:15%;" class="pb-0">
                                        Total Price
                                    </td>
                                    <td style="width:30%;" class="pb-0">
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                @{var x = -1; }
                                @foreach (var Request in Model.Requests)
                                {
                                    x++;
                                    <tr class="">
                                        <td style="width:15%;">
                                            <input style="display: none;" asp-for="Requests[x].RequestID" />
                                            @if (Request.Product.ProductSubcategory.ImageURL != null)
                                            {
                                                var imageurl = Request.Product.ProductSubcategory.ImageURL;
                                                <img src="@imageurl" alt="Image" width="75" class="category-image" />
                                            }
                                        </td>
                                        <td style="width:25%;">
                                            @Request.Product.ProductName
                                        </td>
                                        <td style="width:15%;">
                                            @Request.Unit @if (Request.UnitType != null)
                                            {@Request.UnitType.UnitTypeDescription<br />}
                                            @Request.SubUnit @if (Request.SubUnitType != null)
                                            {@Request.SubUnitType.UnitTypeDescription<br />}
                                            @Request.SubSubUnit @if (Request.SubSubUnitType != null)
                                            {@Request.SubSubUnitType.UnitTypeDescription<br />}
                                        </td>
                                        <td style="width:15%;">
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" asp-for="Requests[x].Cost" />
                                            </div>
                                        </td>
                                        <td style="width:30%;">
                                            <a href="" class="remove-invoice-item float-right" request="@Request.RequestID">
                                                <i class="icon-delete-24px px-1 mr-3" style="font-size:1.6rem;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row mt-5">
                            <div class="col-3">
                                <button class="accounting-background-color custom-button-font custom-button">Select File</button>
                            </div>
                            <div class="col-2 offset-5">
                                <input type="submit" class="accounting-background-color custom-button-font custom-button" asp-action="AddInvoiceModal" id="SaveInvoiceModal" value="Save" />
                            </div>
                            <div class="col-2">
                                <button data-dismiss="modal" class="custom-button custom-cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
