@model PrototypeWithAuth.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (Model.RequestsByVendor.Count() == 0)
    {
        <div class="m-5"><h5>Cart empty</h5></div>
    }
}

<form method="post" enctype="multipart/form-data" style="height: 100%;">
    @foreach (var vendor in Model.RequestsByVendor)
    {
        <table class="table table-headerspaced table-borderless table-hover mb-5">
            <thead>
                <tr class="text-center">
                    <td class="py-0" width="15%"></td>
                    <td class="py-0" style="width:20%;">
                        Item Name
                    </td>
                    <td class="py-0" style="width:10%;">
                        Vendor
                    </td>
                    <td class="py-0" style="width:10%">
                        Type
                    </td>
                    <td class="py-0" style="width:10%">
                        Amount
                    </td>
                    <td class="py-0" style="width:10%">
                        Price
                    </td>
                    <td class="py-0" style="width:10%">
                    </td>
                </tr>
            </thead>
            <tr class="text-dark border-0 no-hover h-50" style="line-height:50%;">
                <td width="10%" class="p-0" rowspan="2"><span class="heading-1">@vendor.Key.VendorEnName.ToLower()</span></td>
                <td colspan="7" class="border-bottom"></td>
            </tr>
            <tr class="border-0 no-hover h-50" style="line-height:50%;"><td></td></tr>
            <tbody>

                @foreach (var request in vendor)
                {
                <tr class="text-center inv-list-item">
                    <td class="text-center" width="15%">
                        <input type="hidden" asp-for="@request.RequestID" />
                        @if (request.Product.ProductSubcategory.ImageURL != null)
                        {
                            var imageurl = request.Product.ProductSubcategory.ImageURL;
                            <img src="@imageurl" alt="Image" width="75" class="category-image" />
                        }
                        else
                        {
                            <img src="~/images/css/accounting/sample_image.png" alt="Image" width="75" class="category-image" />
                        }
                    </td>
                    <td width="20%">
                        @request.Product.ProductName
                    </td>
                    <td width="10%">
                        @request.Product.Vendor.VendorEnName.ToLower()
                    </td>
                    <td>
                        @request.Product.ProductSubcategory.ProductSubcategoryDescription
                    </td>
                    <td>
                        <ul style="list-style: none;">

                            @if (request.Unit != null)
                            {
                                <li>
                                    @Html.DisplayFor(modelItem => request.Unit)
                                    @Html.DisplayFor(modelItem => request.UnitType.UnitTypeDescription)
                                </li>
                                @if (request.SubUnit != null)
                                {
                                    <li>
                                        @Html.DisplayFor(modelItem => request.SubUnit)
                                        @Html.DisplayFor(modelItem => request.SubUnitType.UnitTypeDescription)
                                    </li>
                                    @if (request.SubSubUnit != null)
                                    {
                                        <li>
                                            @Html.DisplayFor(modelItem => request.SubSubUnit)
                                            @Html.DisplayFor(modelItem => request.SubSubUnitType.UnitTypeDescription)
                                        </li>
                                    }
                                }

                            }


                        </ul>
                    </td>
                    <td width="10%">
                        @{
                            var ItemCost = request.Cost;
                            var decItemCost = (decimal)ItemCost;
                            var stringItemCost = decItemCost.ToString("C02");
                        }
                        @stringItemCost
                    </td>
                    <td width="10%" class="border-right">
                        <button class="btn no-box-shadow p-0 mx-5 load-confirm-delete-quote" data-title="delete" value="@request.RequestID"><i style="font-size:2rem;" class="icon-delete-24px hover-bold"></i>
                        </button>
                    </td>
                </tr>
                }
                <tr class="border-0 mb-5 no-hover">
                    <td></td>
                    <td></td>
                    <td></td>
               
                    <td>
                        <span class="text font-weight-bold">Items: @vendor.Count()</span>
                    </td>
                    <td colspan="2">
                        @{
                            var totalCost = vendor.Sum(r => r.Cost);
                            var decTotalCost = (decimal)totalCost;
                            var stringTotalCost = decTotalCost.ToString("C02");
                        }
                        <span class="text font-weight-bold">Total: @stringTotalCost</span>
                    </td>
                    <td>
                        <button class="custom-button-font custom-button order-inv-background-color float-right load-terms-modal cart" type="button" value="@vendor.Key.VendorID">Order</button>
                        @*<button class="inv-button float-right load-confirm-email cart" type="button" value="@vendor.Key.VendorID">Order</button>*@
                    </td>
                </tr>

            </tbody>
        </table>
    }
</form>

