@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> _userManager
@*@inject UserManager<ApplicationUser> UserManager*@
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
            type="text/javascript">
    </script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
            type="text/javascript">
    </script>*@

@*<script src="~/js/site.js" asp-append-version="true"></script>*@

<div class="col-12 create-user mx-auto on-form-modal order-inv-form" style="width: 60%">
    <div class="on-form-modal-border">
        <form action="" id="myForm" class="ordersItemForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">

            @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
            @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
            @Html.HiddenFor(model => model.Page)
            @Html.HiddenFor(model => model.RequestStatusID)
            @Html.HiddenFor(model => model.SubCategoryID)
            @Html.HiddenFor(model => model.VendorID)
            @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
            @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@

            <input type="hidden" asp-for="@Model.Request.RequestID" />

            <!-- Modal Header -->
            <div class="new-modal-header border-bottom container-fluid" style="padding: 0">
                @*class needed here to override bootstraps modal limitations*@

                @if (TempData["ErrorMessage"] != null)
                {
                    <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                    <br />
                }
                <div class="form-group modal-line-1-header modal-sides">
                    <div class="heading-1 modal-title"><input asp-for="Request.Product.ProductName" class="form-control-plaintext border-bottom" placeholder="(item name)" /></div>
                    <span asp-validation-for="Request.Product.ProductName" class="text-danger-centarix"></span>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="container-fluid div-tabs text-center modal-sides">
                            <ul id="create-modal-tabs" class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0 nav-tabs-icons" style="">
                                <li class="nav-item icon ">
                                    <a data-toggle="tab" href="#item" class="next-tab nav-link active request-item">
                                        <i class="icon-centarix-icons-05" style="font-size: 2rem;"></i>
                                        <br />Item
                                    </a>
                                </li>
                                <li class="nav-item icon" id="price-tab">
                                    <a data-toggle="tab" href="#price" class="next-tab nav-link request-price">
                                        <i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price
                                    </a>
                                </li>
                                <li class="nav-item icon">
                                    <a data-toggle="tab" href="#documents" class="request-documents-tab nav-link next-tab documents-tab">
                                        <i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents
                                    </a>
                                </li>
                                <li class="nav-item icon comments-tab">
                                    <a data-toggle="tab" href="#comments" class="next-tab nav-link">
                                        <i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />Comments
                                    </a>
                                </li>
                                @*<li class="nav-item icon archive-tab">
                                        <a data-toggle="tab" href="#archive" class="request-archive-tab nav-link">
                                            <i class="icon-archive-24px" style="font-size: 2rem;"></i><br />Archive
                                        </a>
                                    </li>*@
                                <li class="nav-item icon history-tab">
                                    <a data-toggle="tab" href="#history" class="next-tab nav-link">
                                        <i class="icon-history-24px" style="font-size: 2rem;"></i><br />History
                                    </a>
                                </li>
                                <li class="nav-item icon order-tab">
                                    <a data-toggle="tab" href="#order" class="next-tab nav-link">
                                        <i class="icon-assignment-24px" style="font-size: 2rem;"></i> <br />Order
                                    </a>
                                </li>
                            </ul>
                            @*<ul id="create-modal-tabs" class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0" style="display:inline-flex; justify-content:space-between; color:#666666;">
                                    <li class="nav-item "><a data-toggle="tab" href="#item" class="request-item-tab nav-link active"><i class="icon-centarix-icons-05" style="font-size: 2rem;"></i><br />Item</a></li>
                                    <li class="nav-item " id="price-tab"><a data-toggle="tab" href="#price" class="request-price-tab nav-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price</a></li>
                                    <li class="nav-item "><a data-toggle="tab" href="#documents" class="request-documents-tab nav-link documents-tab"><i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents</a></li>
                                    <li class="nav-item comments-tab"><a data-toggle="tab" href="#comments" class="comments-tab nav-link"><i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />Comments</a></li>
                                    <li class="nav-item archive-tab"><a data-toggle="tab" href="#archive" class="request-archive-tab nav-link"><i class="icon-archive-24px" style="font-size: 2rem;"></i><br />Archive</a></li>
                                    <li class="nav-item history-tab"><a data-toggle="tab" href="#history" class="request-history-tab nav-link"><i class="icon-history-24px" style="font-size: 2rem;"></i><br />History</a></li>
                                    <li class="nav-item order-tab"><a data-toggle="tab" href="#order" class="request-order-tab nav-link"> <i class="icon-assignment-24px" style="font-size: 2rem;"></i> <br />Order</a></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal body -->
            <div class="new-modal-body">
                <div class="container-fluid div-tabs no-box-shadow p-0">

                    <div class="tab-content">
                        <div id="item" class="tab-pane fade in active show">
                            <div class="modal-sides modal-body-top-p">
                                <span class="heading-1 modal-tab-name">Item</span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(c => c.Request.Product.ProductSubcategory.ParentCategoryID,
                                            new SelectList(Model.ParentCategories,"ParentCategoryID", "ParentCategoryDescription"), "Select a Category",
                                         new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "parentlist", @searchable = "Select Category" })
                                            <span asp-validation-for="Request.Product.ProductSubcategory.ParentCategoryID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-4">
                                        <div class="form-group sublist">
                                            <label asp-for="Request.Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(vm => vm.Request.Product.ProductSubcategoryID,
                                            Enumerable.Empty<SelectListItem>(),
                                            new { @class = "mdb-select-sublist mdb-select custom select-dropdown form-control-plaintext", @id = "sublist", @searchable = "Select SubCategory" })
                                            <span asp-validation-for="Request.Product.ProductSubcategoryID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Project:</label>
                                            @Html.DropDownListFor(
                                                m => m.Request.SubProject.ProjectID,
                                                new SelectList(
                                                    Model.Projects,
                                                    "ProjectID",
                                                    "ProjectDescription"
                                                    ), "Select a Project",
                                                new { @class = "mdb-select custom select-dropdown form-control-plaintext Project", @id = "subProject", @searchable = "Select Project" }
                                            )
                                            <span asp-validation-for="Request.SubProject.ProjectID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group SubProject">
                                            <label class="control-label">Sub Project:</label>
                                            <select asp-for="Request.SubProjectID" id="SubProject" class="mdb-select mdb-select-subProject custom select-dropdown form-control-plaintext" searchable = "Select Sub Project"></select>
                                            <span asp-validation-for="Request.SubProjectID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.Vendor" class="control-label"></label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.Product.VendorID,
                                                new SelectList(
                                                Model.Vendors,
                                                dataValueField: "VendorID",
                                                dataTextField: "VendorEnName"),
                                     //FUTURE: Ask If we should put in the functionality to create a new vendor here rather than just choosing, "Select a Project",
                                                 "Select a Vendor",
                                                htmlAttributes: new { @class = " vendorList mdb-select custom select-dropdown form-control-plaintext", @id = "vendorList", @size = 1, @searchable = "Select A Vendor" }
                                                )
                                            <span asp-validation-for="Request.Product.VendorID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @* IN MIDDLE *@
                                            <label asp-for="Request.Product.Vendor.VendorBuisnessID" class="control-label"></label>
                                            <input class="vendorBusinessId form-control-plaintext border-bottom" readonly />
                                            @*don't need a validation here because you it's not saving*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-4">
                                        <label asp-for="Request.ParentQuote.QuoteNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentQuote.QuoteNumber" asp-format="" class="form-control-plaintext border-bottom " type="text" />
                                        <span asp-validation-for="Request.ParentQuote.QuoteNumber" class="text-danger-centarix" />
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentQuote.QuoteDate" class="control-label"></label>
                                        <input asp-for="Request.ParentQuote.QuoteDate" class="form-control-plaintext  border-bottom create-modal-quote-date" />
                                        <span asp-validation-for="Request.ParentQuote.QuoteDate" class="text-danger-centarix quote-date" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.CatalogNumber" class="control-label"></label>
                                        <input asp-for="Request.CatalogNumber" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.CatalogNumber" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Request.Warranty" class="control-label"></label>
                                        <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom " type="text" />
                                        <span asp-validation-for="Request.Warranty" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Estimated End Date</label>
                                        @*no date in backend so set to zero*@
                                        <input value="0000-00-00" name="WarrantyDate" class="form-control-plaintext border-bottom " disabled="disabled" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom expected-supply-days" type="text" />
                                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Expected supply date</label>
                                            <input value="00-00-0000" class="form-control-plaintext border-bottom" type="date" name="expected-supply-days" id="expected-supply-date" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Request.URL" class="control-label"></label>
                                        <input asp-for="Request.URL" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.URL" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="price" class="tab-pane fade ">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row no-mb">
                                    <div class="col-md-8">
                                        <span class="heading-1 modal-tab-name">Price</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="control-label">Currency</label>
                                                    <select id="currency" class="mdb-select custom select-dropdown form-control-plaintext">
                                                        <option value="dollar">&dollar; USD</option>
                                                        <option value="shekel">&#8362; NIS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="Request.ExchangeRate" class="control-label"></label>
                                                    <input asp-for="Request.ExchangeRate" class="form-control-plaintext border-bottom " min="1" />
                                                    <span asp-validation-for="Request.ExchangeRate" class="text-danger-centarix"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="edit">
                                    <div class="col-md-4 RequestUnitCard pr-0">
                                        <div class="border pt-4" @*style="padding-right: 2rem; padding-left: 2rem;"*@>
                                            <div class="mx-2rem">
                                                <div class="row">
                                                    <div class="col-md-4 form-group">
                                                        <label asp-for="Request.Unit" class="control-label"></label>
                                                        <input asp-for="Request.Unit" class="form-control-plaintext border-bottom" min="1" />
                                                        <span asp-validation-for="Request.Unit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-8 form-group dropdown-select-div">
                                                        <label asp-for="Request.UnitType" class="control-label"></label>
                                                        <select asp-for="Request.UnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext">
                                                            <option value=""></option>
                                                            @foreach (var unitparenttype in Model.UnitTypes)
                                                            {
                                                                <optgroup label="@unitparenttype.Key.UnitParentTypeDescription">
                                                                    @foreach (var unittype in unitparenttype)
                                                                    {
                                                                        <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Price Per Unit:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text border-bottom">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom " name="unit-price-dollars" id="unit-price-dollars" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom " name="unit-price-shekel" id="unit-price-shekel" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 RequestSubunitCard pr-0">
                                        <div class="border pt-4">
                                            <div class="mx-2rem">
                                                <div class="row">
                                                    <div class="col-md-4 form-group">
                                                        <label asp-for="Request.SubUnit" class="control-label"></label>
                                                        <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" min="0" />
                                                        <span asp-validation-for="Request.SubUnit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-8 form-group dropdown-select-div">
                                                        <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                        <select asp-for="Request.SubUnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext">
                                                            <option value=""></option>
                                                            @foreach (var unitparenttype in Model.UnitTypes)
                                                            {
                                                                //var unitparenttypedesc = unitparenttype.Key.un
                                                                <optgroup label="@unitparenttype.Key.UnitParentTypeDescription" style="display:none;">
                                                                    @foreach (var unittype in unitparenttype)
                                                                    {
                                                                        <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        </select>
                                                    </div>
                                                    @*<div class="col-md-6 form-group">
                                                            <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                            @Html.DropDownListFor(
                                                                vm => vm.Request.SubUnitTypeID,
                                                                Model.UnitTypeList,
                                                                "",
                                                                htmlAttributes: new { @class = "mdb-select md-form  colorful-select dropdown-primary", @disabled = "disabled" }
                                                            )
                                                            <span asp-validation-for="Request.SubUnitType" class="text-danger-centarix"></span>
                                                        </div>*@
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Price:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom " name="subunit-price-dollars" id="subunit-price-dollars" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom " name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 RequestSubsubunitCard pr-0">
                                        <div class="border pt-4">
                                            <div class="mx-2rem">
                                                <div class="row">
                                                    <div class="col-md-4 form-group">
                                                        <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                                        <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                        <span asp-validation-for="Request.SubSubUnit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-8 form-group dropdown-select-div">
                                                        <label asp-for="Request.SubSubUnitType" class="control-label"></label>
                                                        <select asp-for="Request.SubSubUnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext" disabled>
                                                            @foreach (var unitparenttype in Model.UnitTypes)
                                                            {
                                                                //var unitparenttypedesc = unitparenttype.Key.un
                                                                <optgroup label="@unitparenttype.Key.UnitParentTypeDescription">
                                                                    @foreach (var unittype in unitparenttype)
                                                                    {
                                                                        <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Price:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom" name="subsubunit-price-dollars" id="subsubunit-price-dollars" disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom " id="sum-dollars" name="sum-dollars" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.Cost" class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.Cost" class="form-control-plaintext border-bottom" min="1" readonly />
                                                <span class="text-danger-centarix" asp-validation-for="Request.Cost"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.VAT" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.VAT" class="form-control-plaintext border-bottom " />
                                                <span class="text-danger-centarix" asp-validation-for="Request.VAT"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Total + VAT:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom " id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom " id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="documents" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row"><span class="heading-1 modal-tab-name">Documents</span></div>

                                @{
                                    var urlAction = Url.Action("DocumentsModal", "Requests");
                                    var fontSize = "2rem";
                                }

                                <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />

                                <div class="row document-margin-bottom">
                                    <div class=" document-margin">
                                        @{
                                            var filterClass = "opac87";
                                            if (Model.OrderFileStrings != null && Model.OrderFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Orders.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Orders.ToString()" data-val="@true">
                                            <div class="card document-border ">
                                                <div class="document-card text-center">
                                                    <i class="icon-centarix-icons-03 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Order</label>
                                    </div>
                                    <div class=" document-margin ">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.InvoiceFileStrings != null && Model.InvoiceFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Invoices.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Invoices.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class=" document-card text-center">
                                                    <i class="icon-book-24px @filterClass document-icon" alt="order" style="font-size:@fontSize;"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Invoice</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.ShipmentFileStrings != null && Model.ShipmentFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Shipments.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Shipments.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-local_shipping-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Shipment</label>
                                    </div>
                                    <div class="">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.QuoteFileStrings != null && Model.QuoteFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Quotes.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Quotes.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-chrome_reader_mode-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Quote</label>
                                    </div>
                                </div>
                                <div class="row document-margin-bottom">
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.InfoFileStrings != null && Model.InfoFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Info.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Info.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-info-24px-2 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Info</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.PictureFileStrings != null && Model.PictureFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-camera_alt-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Picture</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.ReturnFileStrings != null && Model.ReturnFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Returns.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Returns.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-remove_shopping_cart-24px document-icon @filterClass" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text  document-text-margin" style="width:100%;">Return</label>
                                    </div>
                                    <div class="">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.CreditFileStrings != null && Model.CreditFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Credits.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Credits.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-insert_drive_file-24px-1 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Credit</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="comments" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <span class="heading-1 modal-tab-name">Comments and ratings</span>
                                <br />
                                <br />

                                @*in the future maybe make this into a partial view so it can be called multiple times in one form*@
                                <div class="border document-border p-3">
                                    <div class="row mb-0">
                                        <div class="col-1 mr-3">
                                            <button href="#" type="button" class="btn btn-link p-0 circular-profile-img circular-profile-img-50">
                                                @{
                                                    var src = "/UserImages/profile_circle_big.png";
                                                    if (_userManager.GetUserAsync(User).Result.UserImage != null)
                                                    {
                                                        src = _userManager.GetUserAsync(User).Result.UserImage;
                                                    }
                                                }
                                                <img src="@src" class=" ml-0" alt="default User image" />
                                            </button>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group">
                                                <label class="font-weight-bold small-text">
                                                    @_userManager.GetUserAsync(User).Result.FirstName
                                                    @_userManager.GetUserAsync(User).Result.LastName
                                                    @DateTime.Now.ToLongDateString()
                                                    @DateTime.Now.ToLongTimeString()
                                                </label>
                                                <input asp-for="NewComment.CommentText" class="form-control-plaintext border-bottom " />
                                                <span asp-validation-for="NewComment.CommentText" class="text-danger-centarix"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div id="archive" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Archive</span>
                                <br />
                                <br />
                                <h5>This is the Archive tab. As of yet there is nothing in the Archive.</h5>
                            </div>*@

                        <div id="history" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <span class="heading-1 modal-tab-name">History</span>
                                <br />
                                <br />
                                <h5>This is the History tab.</h5>
                            </div>
                        </div>

                        <div id="order" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <span class="heading-1 modal-tab-name">Order</span>
                                <br />
                                <br />
                                <div class="form-group">
                                    @*you can only add to cart if you are creating a new one*@
                                    <input type="submit" name="OrderType" value="Order" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />

                                    <input type="submit" name="OrderType" value="Without Order" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />
                                    <input type="submit" name="OrderType" value="Add To Cart" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />
                                    <input type="submit" name="OrderType" value="Ask For Permission" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />
                                    <button type="button" class="custom-button custom-cancel float-right text shortened-padding" data-dismiss="modal">Cancel</button>
                                    @*@Html.ActionLink("Delete", "Delete", new { @id = Model.Product.ProductID }, new { @class = "btn btn-outline-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <!--<div class="modal-footer">
            </div>-->
            @*Begin Hidden Inputs:*@
            @Html.HiddenFor(vm => vm.Request.ProductID)
            @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ParentCategoryID)
            @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
            @Html.HiddenFor(vm => vm.Request.RequestStatusID)
            @Html.HiddenFor(vm => vm.Request.ParentQuoteID)
            @*End Hidden Inputs*@
            @*Hidden Input for Product Subcategory*@
            @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
        </form>
    </div>
</div>
