@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@*@inject UserManager<ApplicationUser> UserManager*@
@{
    ViewData["Title"] = "Add Item";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@using PrototypeWithAuth.AppData
@inject UserManager<ApplicationUser> _userManager
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
            type="text/javascript">
    </script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
            type="text/javascript">
    </script>*@

@*<script src="~/js/site.js" asp-append-version="true"></script>*@

<div class="col-12 create-user mx-auto on-form-modal order-inv-form" style="width: 60%">
    <div class="on-form-modal-border">
        <form action="" id="myForm" class="ordersItemForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">

            @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
            @Html.HiddenFor(model => model.RequestStatusID)
            @Html.HiddenFor(model => model.SubCategoryID)
            @Html.HiddenFor(model => model.VendorID)
            @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
            @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@

            <input type="hidden" asp-for="@Model.Request.RequestID" />

            <!-- Modal Header -->
            <div class="new-modal-header border-bottom container-fluid" style="padding: 0">
                @*class needed here to override bootstraps modal limitations*@

                @if (TempData["ErrorMessage"] != null)
                {
                    <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                    <br />
                }
                <div class="form-group modal-line-1-header modal-sides">
                    <div class="heading-1 modal-title"><input asp-for="Request.Product.ProductName" class="form-control-plaintext border-bottom" placeholder="(item name)" /></div>
                    <span asp-validation-for="Request.Product.ProductName" class="text-danger-centarix"></span>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="container-fluid div-tabs text-center modal-sides">
                            <ul id="create-modal-tabs" class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0 nav-tabs-icons" style="">
                                <li class="nav-item icon ">
                                    <a data-toggle="tab" href="#item" class="next-tab nav-link active request-item">
                                        <i class="icon-centarix-icons-05" style="font-size: 2rem;"></i>
                                        <br />Item
                                    </a>
                                </li>
                                <li class="nav-item icon" id="price-tab">
                                    <a data-toggle="tab" href="#price" class="next-tab nav-link request-price">
                                        <i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price
                                    </a>
                                </li>
                                <li class="nav-item icon">
                                    <a data-toggle="tab" href="#documents" class="request-documents-tab nav-link next-tab documents-tab">
                                        <i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents
                                    </a>
                                </li>
                                <li class="nav-item icon comments-tab">
                                    <a data-toggle="tab" href="#comments" class="next-tab nav-link">
                                        <i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />Comments
                                    </a>
                                </li>
                                @*<li class="nav-item icon archive-tab">
                                        <a data-toggle="tab" href="#archive" class="request-archive-tab nav-link">
                                            <i class="icon-archive-24px" style="font-size: 2rem;"></i><br />Archive
                                        </a>
                                    </li>*@
                                @*<li class="nav-item icon history-tab">
                                        <a data-toggle="tab" href="#history" class="next-tab nav-link">
                                            <i class="icon-history-24px" style="font-size: 2rem;"></i><br />History
                                        </a>
                                    </li>*@
                                <li class="nav-item icon order-tab">
                                    <a data-toggle="tab" href="#order" class="next-tab nav-link">
                                        <i class="icon-assignment-24px" style="font-size: 2rem;"></i> <br />Order
                                    </a>
                                </li>
                            </ul>
                            @*<ul id="create-modal-tabs" class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0" style="display:inline-flex; justify-content:space-between; color:#666666;">
                                    <li class="nav-item "><a data-toggle="tab" href="#item" class="request-item-tab nav-link active"><i class="icon-centarix-icons-05" style="font-size: 2rem;"></i><br />Item</a></li>
                                    <li class="nav-item " id="price-tab"><a data-toggle="tab" href="#price" class="request-price-tab nav-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price</a></li>
                                    <li class="nav-item "><a data-toggle="tab" href="#documents" class="request-documents-tab nav-link documents-tab"><i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents</a></li>
                                    <li class="nav-item comments-tab"><a data-toggle="tab" href="#comments" class="comments-tab nav-link"><i class="icon-centarix-icons-06" style="font-size: 2rem;"></i><br />Comments</a></li>
                                    <li class="nav-item archive-tab"><a data-toggle="tab" href="#archive" class="request-archive-tab nav-link"><i class="icon-archive-24px" style="font-size: 2rem;"></i><br />Archive</a></li>
                                    <li class="nav-item history-tab"><a data-toggle="tab" href="#history" class="request-history-tab nav-link"><i class="icon-history-24px" style="font-size: 2rem;"></i><br />History</a></li>
                                    <li class="nav-item order-tab"><a data-toggle="tab" href="#order" class="request-order-tab nav-link"> <i class="icon-assignment-24px" style="font-size: 2rem;"></i> <br />Order</a></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal body -->
            <div class="new-modal-body">
                <div class="container-fluid div-tabs no-box-shadow p-0">

                    <div class="tab-content">
                        <div id="item" class="tab-pane fade in active show">
                            <div class="modal-sides modal-body-top-p">
                                <span class="heading-1 modal-tab-name">Item</span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(c => c.Request.Product.ProductSubcategory.ParentCategoryID,
     new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"), "Select a Category",
  new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "parentlist", @searchable = "Select Category" })
                                            <span asp-validation-for="Request.Product.ProductSubcategory.ParentCategoryID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-4">
                                        <div class="form-group sublist">
                                            <label asp-for="Request.Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(vm => vm.Request.Product.ProductSubcategoryID,
     Enumerable.Empty<SelectListItem>(), "Select Sub Category",
     new { @class = "mdb-select-sublist mdb-select custom select-dropdown form-control-plaintext", @id = "sublist", @searchable = "Select Sub Category" })
                                            <span asp-validation-for="Request.Product.ProductSubcategoryID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Project:</label>
                                            @Html.DropDownListFor(
         m => m.Request.SubProject.ProjectID,
         new SelectList(
             Model.Projects,
             "ProjectID",
             "ProjectDescription"
             ), "Select a Project",
         new { @class = "mdb-select custom select-dropdown form-control-plaintext Project", @id = "subProject", @searchable = "Select Project" }
     )
                                            <span asp-validation-for="Request.SubProject.ProjectID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group SubProject">
                                            <label class="control-label">Sub Project:</label>
                                            @Html.DropDownListFor(vm => vm.Request.SubProjectID,
     Enumerable.Empty<SelectListItem>(), "Select Sub Project",
     new { @class = "mdb-select mdb-select-subProject custom select-dropdown form-control-plaintext", @id = "SubProject", @searchable = "Select Sub Project" })
                                            @*<select asp-for="Request.SubProjectID" id="SubProject" class="mdb-select mdb-select-subProject custom select-dropdown form-control-plaintext" searchable="Select Sub Project">
                                                </select>*@
                                            <span asp-validation-for="Request.SubProjectID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.Vendor" class="control-label"></label>
                                            @Html.DropDownListFor(
         vm => vm.Request.Product.VendorID,
         new SelectList(
         Model.Vendors,
         dataValueField: "VendorID",
         dataTextField: "VendorEnName"),
          //FUTURE: Ask If we should put in the functionality to create a new vendor here rather than just choosing, "Select a Project",
          "Select a Vendor",
         htmlAttributes: new { @class = " vendorList mdb-select custom select-dropdown form-control-plaintext", @id = "vendorList", @size = 1, @searchable = "Select A Vendor" }
         )
                                            <span asp-validation-for="Request.Product.VendorID" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" value="" id="vendor-primary-email" />
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @* IN MIDDLE *@
                                            <label asp-for="Request.Product.Vendor.VendorBuisnessID" class="control-label"></label>
                                            <input class="vendorBusinessId form-control-plaintext border-bottom" readonly />
                                            @*don't need a validation here because you it's not saving*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentQuote.QuoteNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentQuote.QuoteNumber" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ParentQuote.QuoteNumber" class="text-danger-centarix" />
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentQuote.QuoteDate" class="control-label"></label>
                                        <input asp-for="Request.ParentQuote.QuoteDate" type="text" class="form-control-plaintext border-bottom datepicker" value="" />
                                        <span asp-validation-for="Request.ParentQuote.QuoteDate" class="text-danger-centarix quote-date" />

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.CatalogNumber" class="control-label"></label>
                                        <input asp-for="Request.CatalogNumber" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.CatalogNumber" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Request.Warranty" class="control-label"></label>
                                        <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom " type="text" />
                                        <span asp-validation-for="Request.Warranty" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Estimated End Date</label>
                                        @*no date in backend so set to zero*@
                                        <input type="text" name="WarrantyDate" class="form-control-plaintext border-bottom datepicker " disabled="disabled" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom expected-supply-days" type="text" />
                                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Expected supply date</label>
                                            <input class="form-control-plaintext border-bottom datepicker" type="text" name="expected-supply-days" id="expected-supply-date" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Request.URL" class="control-label"></label>
                                        <input asp-for="Request.URL" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.URL" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="price" class="tab-pane fade ">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row no-mb">
                                    <div class="col-md-8">
                                        <span class="heading-1 modal-tab-name">Price</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="control-label">Currency</label>
                                                    <select id="currency" asp-for="Request.Currency" class="mdb-select custom select-dropdown form-control-plaintext">
                                                        <option value="@AppUtility.CurrencyEnum.USD.ToString()">&dollar; USD</option>
                                                        <option value="@AppUtility.CurrencyEnum.NIS.ToString()">&#8362; NIS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="Request.ExchangeRate" class="control-label"></label>
                                                    <input asp-for="Request.ExchangeRate" class="form-control-plaintext border-bottom " />
                                                    <span asp-validation-for="Request.ExchangeRate" class="text-danger-centarix"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="edit">
                                    <div class="col-md-4 RequestUnitCard pr-0">
                                        <div class="border pt-4" @*style="padding-right: 2rem; padding-left: 2rem;"*@>
                                            <div class="mx-2rem">
                                                <div class="row">
                                                    <div class="col-md-4 form-group">
                                                        <label asp-for="Request.Unit" class="control-label"></label>
                                                        <input asp-for="Request.Unit" class="form-control-plaintext border-bottom" min="1" />
                                                        <span asp-validation-for="Request.Unit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-8 form-group dropdown-select-div">
                                                        <label asp-for="Request.UnitType" class="control-label"></label>
                                                        <select asp-for="Request.UnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext">
                                                            <option value=""></option>
                                                            @foreach (var unitparenttype in Model.UnitTypes)
                                                            {
                                                                <optgroup label="@unitparenttype.Key.UnitParentTypeDescription">
                                                                    @foreach (var unittype in unitparenttype)
                                                                    {
                                                                        <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Price Per Unit:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text border-bottom request-cost-dollar-icon">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom " name="unit-price-dollars" id="unit-price-dollars" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text request-cost-shekel-icon disabled-text">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom disabled-text" name="unit-price-shekel" id="unit-price-shekel" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 RequestSubunitCard pr-0">
                                        <div class="border h-100  ">
                                            <button type="button" class="close sub-close d-none pr-2 pt-2" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <div class="mx-2rem addSubUnitCard mt-4">
                                                <div class="row " style="display:initial;">
                                                    <div class="col-8 offset-2 text-center font-weight-light"><input type="button" value="+" class=" addSubUnit btn m-0 p-0 no-box-shadow" style="font-size: 5rem; line-height:normal" /><br><span class="text-capitalize order-inv-color text">add sub unit</span></div>
                                                </div>
                                            </div>
                                            <div class="mx-2rem  subUnitsCard d-none mt-4">

                                                <div class="row">
                                                    <div class="col-md-4 pl-0 form-group">
                                                        <label asp-for="Request.SubUnit" class="control-label"></label>
                                                        <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                        <span asp-validation-for="Request.SubUnit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-8 form-group dropdown-select-div">
                                                        <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                        <select asp-for="Request.SubUnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext" disabled>
                                                            <option value=""></option>
                                                            @foreach (var unitparenttype in Model.UnitTypes)
                                                            {
                                                                //var unitparenttypedesc = unitparenttype.Key.un
                                                                <optgroup label="@unitparenttype.Key.UnitParentTypeDescription" style="display:none;">
                                                                    @foreach (var unittype in unitparenttype)
                                                                    {
                                                                        <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        </select>
                                                    </div>
                                                    @*<div class="col-md-6 form-group">
                                                            <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                            @Html.DropDownListFor(
                                                                vm => vm.Request.SubUnitTypeID,
                                                                Model.UnitTypeList,
                                                                "",
                                                                htmlAttributes: new { @class = "mdb-select md-form  colorful-select dropdown-primary", @disabled = "disabled" }
                                                            )
                                                            <span asp-validation-for="Request.SubUnitType" class="text-danger-centarix"></span>
                                                        </div>*@
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Price:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text request-cost-dollar-icon">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom " type="number" min="0" name="subunit-price-dollars" id="subunit-price-dollars" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text request-cost-shekel-icon disabled-text">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom disabled-text" type="number" min="0" name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 RequestSubsubunitCard pr-0 d-none">
                                        <div class="border h-100  ">
                                            <button type="button" class="close subsub-close d-none pr-2 pt-2" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <div class="mx-2rem addSubSubUnitCard mt-4"><div class="row " style="display:initial;"><div class="col-8 offset-2 text-center font-weight-light"><input type="button" value="+" class=" addSubSubUnit btn m-0 p-0 no-box-shadow" style="font-size: 5rem; line-height:normal" /><br><span class="text-capitalize order-inv-color text">add sub unit</span></div> </div></div>
                                            <div class="mx-2rem  subSubUnitsCard mt-4 d-none">
                                                <div class="row">
                                                    <div class="col-md-4 pl-0 form-group">
                                                        <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                                        <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                        <span asp-validation-for="Request.SubSubUnit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-8 form-group dropdown-select-div">
                                                        <label asp-for="Request.SubSubUnitType" class="control-label"></label>
                                                        <select asp-for="Request.SubSubUnitTypeID" class="mdb-select custom select-dropdown form-control-plaintext" disabled>
                                                            <option value=""></option>
                                                            @foreach (var unitparenttype in Model.UnitTypes)
                                                            {
                                                                //var unitparenttypedesc = unitparenttype.Key.un
                                                                <optgroup label="@unitparenttype.Key.UnitParentTypeDescription">
                                                                    @foreach (var unittype in unitparenttype)
                                                                    {
                                                                        <option value="@unittype.UnitTypeID">@unittype.UnitTypeDescription</option>
                                                                    }
                                                                </optgroup>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Price:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text request-cost-dollar-icon">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom" name="subsubunit-price-dollars" id="subsubunit-price-dollars" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text request-cost-shekel-icon disabled-text">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom disabled-text" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.Cost" class="control-label">Total:</label>
                                            <div class="input-group">
                                                <span class="input-group-text request-cost-dollar-icon">&#36;</span>
                                                <input class="form-control-plaintext border-bottom " id="sum-dollars" name="sum-dollars" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text request-cost-shekel-icon disabled-text">&#x20aa;</span>
                                                <input asp-for="Request.Cost" class="form-control-plaintext border-bottom disabled-text" min="1" readonly />
                                                <span class="text-danger-centarix" asp-validation-for="Request.Cost"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.VAT" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text disabled-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom vatInDollars disabled-text" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text disabled-text">&#x20aa;</span>
                                                <input asp-for="Request.VAT" class="form-control-plaintext border-bottom disabled-text" disabled />
                                                <span class="text-danger-centarix" asp-validation-for="Request.VAT"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Total + VAT:</label>
                                            <div class="input-group">
                                                <span class="input-group-text disabled-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text disabled-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="documents" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row"><span class="heading-1 modal-tab-name">Documents</span></div>

                                @{
                                    var urlAction = Url.Action("DocumentsModal", "Requests");
                                    var fontSize = "2rem";
                                }

                                <input type="submit" style="display:none;" id="documentSubmit" url="@urlAction" class="documentSubmit" />

                                <div class="row document-margin-bottom">
                                    <div class=" document-margin">
                                        @{
                                            var filterClass = "opac87";
                                            if (Model.OrderFileStrings != null && Model.OrderFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Quotes.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Quotes.ToString()" data-val="@true">
                                            <div class="card document-border ">
                                                <div class="document-card text-center">
                                                    <i class="icon-centarix-icons-03 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Quote</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.QuoteFileStrings != null && Model.QuoteFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Orders.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Orders.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-chrome_reader_mode-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Order</label>
                                    </div>
                                    <div class=" document-margin ">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.InvoiceFileStrings != null && Model.InvoiceFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Invoices.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Invoices.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class=" document-card text-center">
                                                    <i class="icon-book-24px @filterClass document-icon" alt="order" style="font-size:@fontSize;"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Invoice</label>
                                    </div>
                                    <div class="">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.ShipmentFileStrings != null && Model.ShipmentFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Shipments.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Shipments.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-local_shipping-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>

                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Shipment</label>
                                    </div>
                                </div>
                                <div class="row document-margin-bottom">
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.InfoFileStrings != null && Model.InfoFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Info.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Info.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-info-24px-2 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Info</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.PictureFileStrings != null && Model.PictureFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Pictures.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-camera_alt-24px @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Picture</label>
                                    </div>
                                    <div class=" document-margin">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.ReturnFileStrings != null && Model.ReturnFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Returns.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Returns.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-remove_shopping_cart-24px document-icon @filterClass" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text  document-text-margin" style="width:100%;">Return</label>
                                    </div>
                                    <div class="">
                                        @{
                                            filterClass = "opac87";
                                            if (Model.CreditFileStrings != null && Model.CreditFileStrings.Count > 0)
                                            {
                                                filterClass = "order-inv-filter";
                                            }
                                        }
                                        <a href="" class="open-document-modal" data-string="@AppUtility.RequestFolderNamesEnum.Credits.ToString()" data-id="@Model.Request.RequestID" id="@AppUtility.RequestFolderNamesEnum.Credits.ToString()" data-val="@true">
                                            <div class="card document-border">
                                                <div class="document-card text-center">
                                                    <i class="icon-insert_drive_file-24px-1 @filterClass document-icon" alt="order" style="font-size:@fontSize"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <label class="control-label text-center text document-text-margin" style="width:100%;">Credit</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="comments" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row">
                                    <div class="col-10"><span class="heading-1 modal-tab-name text-left">Comments and ratings</span></div>

                                    <div class="col-2 container p-0 text-right">
                                        <ul class="list-unstyled">
                                            <li>
                                                <button href="#" id="addRequestComment" type="button" data-toggle="popover" data-placement="bottom" data-container="body" data-trigger="focus" class="no-box-shadow btn p-0 m-0 ">
                                                    <i class="order-inv-color icon-add_circle-24px" style="
    font-size: 3rem;
"></i>
                                                </button>
                                            </li>

                                            <div style="display:none;" id="popover-content">

                                                @foreach (var item in Model.CommentTypes)
                                                {<div class="row px-3 comment-btn">
                                                        @if (item.Equals(AppUtility.CommentTypeEnum.Comment))
                                                        {
                                                            <i class="icon-comment-24px" style="color: #30BCC9; padding-top: .55rem; font-size: 1.25rem;"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="icon-report_problem-24px" style="color: var(--danger-color); padding-top: .55rem; font-size: 1.25rem;"></i>
                                                        }
                                                        <button type="button" id="@item" class="no-box-shadow btn bg-transparent row p-0 text-capitalize text-dark" style="font-size:1rem; font-weight:400;" onclick="$.fn.addRequestComment('@item')">@item</button><hr class="m-0" />

                                                    </div>
                                                }
                                            </div>

                                        </ul>
                                    </div>
                                </div>

                                <div id="comment-info">
                                    <input type="hidden" value="0" id="index" />

                                </div>

                            </div>
                        </div>

                        @*<div id="archive" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Archive</span>
                                <br />
                                <br />
                                <h5>This is the Archive tab. As of yet there is nothing in the Archive.</h5>
                            </div>*@

                        @*<div id="history" class="tab-pane fade">
                                <div class="modal-sides modal-body-top-p">
                                    <span class="heading-1 modal-tab-name">History</span>
                                    <br />
                                    <br />
                                    <h5>This is the History tab.</h5>
                                </div>
                            </div>*@

                        <div id="order" class="tab-pane fade">
                            <div class="modal-sides modal-body-top-p">
                                <div class="row">
                                    <div class="col-12">
                                        <span class="heading-1 modal-tab-name">Order</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">Send to: (Add up to 5 email addresses@*- including the suppliers email address*@)</label>
                                        <input class="form-control-plaintext border-bottom" type="text" id="allEmails" />
                                        @for (int e = 0; e < Model.EmailAddresses.Count; e++)
                                        {
                                            var supplierEmailClass = "emailaddresses ";
                                            if (e == 0)
                                            {
                                                supplierEmailClass = "isSupplier";
                                            }
                                            <input type="hidden" asp-for="EmailAddresses[e]" class="@supplierEmailClass" />
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label">Notes to the supplier</label>
                                        <input asp-for="Request.NoteToSupplier" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*you can only add to cart if you are creating a new one*@
                                    <div class="row">
                                        <div class="col-8 align-vertical-middle-col">
                                            <span class="small-text">If you want to process a single order immediately</span>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.OrderNow" asp-action="CreateModalView"
                                                    class="text custom-order-inv custom-button float-right create-modal-submit">
                                                @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.OrderNow.ToString())
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 align-vertical-middle-col">
                                            <span class="small-text">If you want to order multiple items</span>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.AddToCart" asp-action="CreateModalView"
                                                    class="text custom-order-inv custom-button float-right create-modal-submit">
                                                @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.AddToCart.ToString())
                                            </button>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 align-vertical-middle-col">
                                            <span class="small-text">If you want to get permission from an executive</span>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.AskForPermission" asp-action="CreateModalView"
                                                    class="text custom-order-inv custom-button float-right create-modal-submit">
                                                @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.AskForPermission.ToString())
                                            </button>

                                        </div>
                                    </div>
                                    @*<input type="submit" name="OrderType" value="Mark As Ordered" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />
                                        <input type="submit" name="OrderType" value="Add To Cart" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />
                                        <input type="submit" name="OrderType" value="Ask For Permission" asp-action="CreateModalView" class="text order-inv-background-color custom-button custom-button-font create-modal-submit shortened-padding" />
                                        <button type="button" class="custom-button custom-cancel float-right text shortened-padding" data-dismiss="modal">Cancel</button>*@
                                    @*@Html.ActionLink("Delete", "Delete", new { @id = Model.Product.ProductID }, new { @class = "btn btn-outline-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <!--<div class="modal-footer">
            </div>-->
            @*Begin Hidden Inputs:*@
            @Html.HiddenFor(vm => vm.Request.ProductID)
            @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ParentCategoryID)
            @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
            @Html.HiddenFor(vm => vm.Request.RequestStatusID)
            @Html.HiddenFor(vm => vm.Request.ParentQuoteID)
            @*End Hidden Inputs*@
            @*Hidden Input for Product Subcategory*@
            @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Validation/OrderInvItemFormValidation.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/SubUnit.js"></script>
    <script src="~/js/WarantySupplyDateCalc.js"></script>

    <script @*type="text/javascript"*@>
        $(".order-tab").on("click", function (e) {
            if ($(".all-mail").length == 0) {
                let data = [
                    $("#vendor-primary-email").val()
                ]
                $("#allEmails").email_multiple({
                    data: data
                })
                var newEmailLine = $(".enter-mail-id");
                newEmailLine.removeAttr('placeholder');
                newEmailLine.addClass('form-control-plaintext');
                newEmailLine.addClass('border-bottom');

                $(".email-ids:first span").attr("disabled", true);
                $(".email-ids:first span").css("display", "none");
                $(".email-ids:first").addClass("supplier-email");
            }
        });

        $.fn.UpdatePrimaryOrderEmail = function () {
            if ($(".supplier-email").length > 0) {
                $(".supplier-email").html($("#vendor-primary-email").val());
                $(".isSupplier").val($("#vendor-primary-email").val());
            }
            else {
                $('.all-mail').prepend('<span class="email-ids supplier-email">' + $("#vendor-primary-email").val() + '</span>');
                $(".isSupplier").val($("#vendor-primary-email").val());
            }
        };

        $.fn.CheckListLength = function () {
            //Disable if 5 emails
            var listlength = $(".email-ids").length;
            if (listlength >= 5 || (listlength == 4 && $(".supplier-email").length == 0)) {
                $(".enter-mail-id").attr("disabled", true);
            }
            else {
                $(".enter-mail-id").attr("disabled", false);
            }
        }

        $.fn.RemoveFromHiddenIds = function (emailValue) {
            $(".emailaddresses[value='" + emailValue + "']:first").val('');
        }

        $.fn.AddToHiddenIds = function (emailValue) {
            $(".emailaddresses[value='']:first").val(emailValue);
        }

        $(document).ready(function ($) {
            //let data = [
            //]
            //$("#allEmails").email_multiple({
            //    data: data
            //})

        });

    </script>
}