@model PrototypeWithAuth.Models.Request

<script src="~/js/site.js" asp-append-version="true"></script>

<div class="modal modal-view right faid " id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document" style="max-height:100%;">
        <div class="modal-content d-inline-block">
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                @Html.HiddenFor(model => model.RequestID);
                <div class="modal-header">
                    Delete Request
                </div>
                <div class="modal-body">
                    Are you sure you would like to delete @Model.Product.ProductName ?
                    <br />
                    Details:
                    <hr />
                    @Html.DisplayNameFor(model => model.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription):
                    @Html.DisplayFor(model => model.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription)
                    <br />
                    @Html.DisplayNameFor(model => model.Product.ProductSubcategory.ProductSubcategoryDescription):
                    @Html.DisplayFor(model => model.Product.ProductSubcategory.ProductSubcategoryDescription)
                    <br />
                    @Html.DisplayNameFor(model => model.Product.Vendor.VendorEnName):
                    @Html.DisplayFor(model => model.Product.Vendor.VendorEnName)
                </div>
                <div class="modal-footer">
                    <input type="submit" asp-action="DeleteModal" value="Confirm" class="btn btn-primary" />
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>