@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData
@using Microsoft.AspNetCore.Identity
@using PrototypeWithAuth.Data
@inject SignInManager<ApplicationUser> SignInManager
@{


}
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="modal modal-view right faid" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg border-left box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        @*style needed here to override bootstraps modal width limitations*@

        <div class="modal-content d-inline-block">


            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">

                @Html.HiddenFor(model => model.Request.ParentRequest.ApplicationUserID)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@
                @*Requests search view model*@


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Request.RequestID" />

                <!-- Modal Header -->
                <div class="not-a-bootstrap-modal-header border-bottom box-shadow" style="padding: 0.5em 6em">
                    @*class needed here to override bootstraps modal limitations*@

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                        <br />
                    }
                    <div>
                        <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent"><img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" /></button>
                    </div><br />
                    <div class="row">
                        <div class="col-2"><img src="~/images/css/inventory/Type/bottle.png" alt="Alternate Text" /></div>
                        <div class="col-7">
                            <!--<h4><label asp-for="Request.Product.ProductName" class="control-label"></label> </h4>-->
                            <!-- <h4 class="modal-title"><input asp-for="Request.Product.ProductName" class="rounded form-control-plaintext border-bottom" disabled /></h4>  -->
                            <h3>@Model.Request.Product.ProductName</h3>
                            <span asp-validation-for="Request.Product.ProductName" class="text-danger"></span>
                        </div>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <div class="col-2">
                                <button class="btn inv-link-clr load-product-edit" value="@Model.Request.RequestID" data-target="item" href="item" style="font-size:1.5rem;">Edit <i style="font-size:1.2rem;" class="icon-create-24px"></i></button>
                            </div>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center ">
                                <ul class="nav nav-tabs" style="display: inline-flex">
                                    <li class="nav-item mr-4"><a data-toggle="tab" href="#item" class="nav-link"><img src="~/images/css/inventory/add-item/item.png" alt="Item" /><br />Item</a></li>
                                    <li class="nav-item mx-4"><a data-toggle="tab" href="#location" class="nav-link"><img src="~/images/css/inventory/add-item/location.png" alt="Location" /><br />Location</a></li>
                                    <li class="nav-item mx-4"><a data-toggle="tab" href="#price" id="price-tab" class="nav-link"><img src="~/images/css/inventory/add-item/price.png" alt="Price" /><br />Price</a></li>
                                    <li class="nav-item mx-4"><a data-toggle="tab" href="#documents" class="nav-link"><img src="~/images/css/inventory/add-item/documents.png" alt="Documents" /><br />Documents</a></li>
                                    <li class="nav-item ml-4"><a data-toggle="tab" href="#comments" class="nav-link"> <i style="font-size:2rem;" class="icon-comment-24px"></i> <br />Comments</a></li>
                                    @*<li class="nav-item"><a data-toggle="tab" href="#order" class="nav-link">Order</a></li> Commented out below - I guess because this is the DETAILS modal, so cant order from here.*@
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- New Modal Body
                <div style="background: #F6F7F8; padding: 1em">
                    <div style="background: #FFF; padding: 1em">
                        REST OF MODAL GOES IN HERE PLEASE
                    </div>
                </div> -->
                <!-- Modal body -->
                <div class="new-modal-body" style="background: #F6F7F8; padding: 1em">
                    <div class="container-fluid div-tabs box-shadow" style="background: #FFF; padding: 3em 4em; border: 2px solid #EAEAEB;">

                        @*modal tabs, moved to the header*@
                        <!--<div class="container">
                            <div class="text-center">
                                <ul class="nav nav-tabs " style="display: inline-flex">
                                    <li class="nav-item ml-4 mr-5"><a data-toggle="tab" href="#item" class="nav-link"><img src="~/images/css/inventory/add-item/item.png" alt="Item" /><br />Item</a></li>
                                    <li class="nav-item mx-5"><a data-toggle="tab" href="#location" class="nav-link"><img src="~/images/css/inventory/add-item/location.png" alt="Location" /><br />Location</a></li>
                                    <li class="nav-item mx-5"><a data-toggle="tab" href="#price" class="nav-link"><img src="~/images/css/inventory/add-item/price.png" alt="Price" /><br />Price</a></li>
                                    <li class="nav-item mx-5"><a data-toggle="tab" href="#documents" class="nav-link"><img src="~/images/css/inventory/add-item/documents.png" alt="Documents" /><br />Documents</a></li>
                                    <li class="nav-item ml-3"><a data-toggle="tab" href="#comments" class="nav-link"><img src="~/images/css/inventory/add-item/comments.png" alt="Comments" /><br />Comments</a></li>
                                    @*<li class="nav-item"><a data-toggle="tab" href="#order" class="nav-link">Order</a></li> Commented out below*@
                                </ul>
                            </div>
                        </div>-->
                        <br />
                        <div class="tab-content">
                            <div id="item" class="tab-pane fade in active">
                                <span style="font-size: 1.7em;">Item</span>
                                <br /><br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>

                                            @Html.DropDownListFor(c => c.Request.Product.ProductSubcategory.ParentCategoryID,
new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"),
"Select Category", new { @class = "form-control-plaintext border-bottom", @id = "parentlist", @disabled = "disabled" })
                                            <span asp-validation-for="Request.Product.ProductSubcategory.ParentCategoryID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group sublist">
                                            <label asp-for="Request.Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(vm => vm.Request.Product.ProductSubcategoryID,
new SelectList(Model.ProductSubcategories, "ProductSubcategoryID", "ProductSubcategoryDescription"),
"Select Subcategory", new { @class = "form-control-plaintext border-bottom", @id = "sublist", @disabled = "disabled" })
                                            <span asp-validation-for="Request.Product.ProductSubcategoryID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Project:</label>
                                            <select class="form-control-plaintext border-bottom" disabled></select>
                                            @*Impt when creating the dropdownlistfor carry over the disabled attribute*@
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Sub Project:</label>
                                            <select class="form-control-plaintext border-bottom" disabled></select>
                                            @*Impt when creating the dropdownlistfor carry over the disabled attribute*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.Vendor" class="control-label"></label>
                                            @Html.DropDownListFor(
vm => vm.Request.Product.VendorID,
new SelectList(
Model.Vendors,
dataValueField: "VendorID",
dataTextField: "VendorEnName"),
optionLabel: "Select A Vendor", //FUTURE: Ask If we should put in the functionality to create a new vendor here rather than just choosing
htmlAttributes: new { @class = "form-control-plaintext border-bottom", @id = "vendorList", @disabled = "disabled" }
)
                                            <span asp-validation-for="Request.Product.Vendor.VendorID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @* IN MIDDLE *@
                                            <label asp-for="Request.Product.Vendor.VendorBuisnessID" class="control-label"></label>
                                            <label class="vendorBusinessId form-control-plaintext border-bottom" />
                                            @*don't need a validation here because you it's not saving*@
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentRequest.OrderNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderNumber" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.ParentRequest.OrderNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentRequest.OrderDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderDate" class="form-control-plaintext border-bottom datepicker" disabled />
                                        <span asp-validation-for="Request.ParentRequest.OrderDate" class="text-danger" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentRequest.InvoiceNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.InvoiceNumber" asp-format="" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.ParentRequest.InvoiceNumber" class="text-danger" />
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentRequest.InvoiceDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.InvoiceDate" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.ParentRequest.InvoiceDate" class="text-danger" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.CatalogNumber" class="control-label"></label>
                                        <input asp-for="Request.CatalogNumber" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.CatalogNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Request.Warranty" class="control-label"></label>
                                        <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.Warranty" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">End Date</label>
                                        <input value="@Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty)" name="WarrantyDate" class="form-control-plaintext border-bottom" disabled="disabled" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        @{
                                            //get this just to return the date (not the time)
                                            //adding the amount of months of the expected supply days to the invoice date
                                            var endSupplyDate = Model.Request.ParentRequest.InvoiceDate.AddDays(Model.Request.ExpectedSupplyDays);
                                        }
                                        <label class="control-label">Expected supply date</label>
                                        <input value="@endSupplyDate" class="form-control-plaintext border-bottom" disabled="disabled" />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Request.URL" class="control-label"></label>
                                        <input asp-for="Request.URL" class="form-control-plaintext border-bottom" disabled />
                                        <span asp-validation-for="Request.URL" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div id="location" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Location</span>
                                <br /><hr /><br />
                                @if (Model.ChildrenLocationInstances != null && Model.ChildrenLocationInstances.Any())
                                {
                                    <h4>@Model.ParentLocationInstance.LocationInstanceName</h4> //this should be a link to the manage page for admins only
                                    <table class="table table-sm border">
                                        @{
                                            int z = -1; //initiated to -1 b/c it didn't let me put the z++ on the bottom of the fx. Really should be 0.
                                        }
                                        @for (int X = 0; X < Model.ParentLocationInstance.Height; X++)
                                        {
                                            <tr>
                                                @for (int y = 0; y < Model.ParentLocationInstance.Width; y++)
                                                {
                                                    z++;
                                                    var backgroundClass = "border";
                                                    @if (Model.ChildrenLocationInstances.ToList().Count() >= z) //put this in an if statement so it won't run into an instance where it doesn't exist since it's not a foreach
                                                    {
                                                        @Html.HiddenFor(vm => vm.ChildrenLocationInstances[z].LocationInstanceID);
                                                        @Html.HiddenFor(vm => vm.ChildrenLocationInstances[z].Place);

                                                        if (Model.ChildrenLocationInstances[z].IsFull)
                                                        {
                                                            if (Model.Request.RequestID == Model.ChildrenLocationInstances[z].RequestLocationInstances.FirstOrDefault().RequestID)
                                                            {
                                                                backgroundClass += " bg-info text-light text-center";
                                                            }
                                                            else //why is this else here? it seem to ever get used.
                                                            {
                                                                backgroundClass += " bg-secondary";
                                                            }
                                                            <td class="@backgroundClass">
                                                                @Model.ChildrenLocationInstances[z].RequestLocationInstances.FirstOrDefault().Request.Product.ProductName
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="@backgroundClass">empty</td>
                                                        }

                                                    }

                                                }
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <span>No Locations yet</span>
                                    <br />
                                    <button>Add Locations</button>
                                }
                            </div>
                            <div id="price" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span style="font-size: 1.7em;">Price</span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="currency" class="control-label">Currency</label>
                                            <select id="currency" asp-for="Request.Currency" class="form-control-plaintext border-bottom" disabled>
                                                <option value="dollar">&#127480; USD</option>
                                                <option value="shekel">&#127480; NIS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ExchangeRate" class="control-label"></label>
                                            <input asp-for="Request.ExchangeRate" class="form-control-plaintext border-bottom" disabled />
                                            <span asp-validation-for="Request.ExchangeRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br /><hr /><br />
                                <div class="row" id="#details">
                                    <div class="col-md-4 border rounded p-1 RequestUnitCard">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label asp-for="Request.Unit" class="control-label"></label>
                                                <input asp-for="Request.Unit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                <span asp-validation-for="Request.Unit" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="Request.UnitType" class="control-label"></label>
                                                    @Html.DropDownListFor(
vm => vm.Request.UnitTypeID,
Model.UnitTypeList,
"",
htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
)
                                                    <span asp-validation-for="Request.UnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Price:</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#36;</span>
                                                        <input class="form-control-plaintext border-bottom" name="unit-price-dollars" id="unit-price-dollars" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#x20aa;</span>
                                                        <input class="form-control-plaintext border-bottom" name="unit-price-shekel" id="unit-price-shekel" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 border rounded p-1 RequestSubunitCard">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label asp-for="Request.SubUnit" class="control-label"></label>
                                                <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                <span asp-validation-for="Request.SubUnit" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                @Html.DropDownListFor(
vm => vm.Request.SubUnitTypeID,
Model.UnitTypeList,
"",
htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
)
                                                <span asp-validation-for="Request.SubUnitType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Price:</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#36;</span>
                                                        <input class="form-control-plaintext border-bottom" name="subunit-price-dollars" id="subunit-price-dollars" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#x20aa;</span>
                                                        <input class="form-control-plaintext border-bottom" name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 border rounded p-1 RequestSubsubunitCard">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                                <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                <span asp-validation-for="Request.SubSubUnit" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label asp-for="Request.SubSubUnitType" class="control-label"></label>
                                                @Html.DropDownListFor(
vm => vm.Request.SubSubUnitTypeID,
Model.UnitTypeList,
"",
htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
)
                                                <span asp-validation-for="Request.SubSubUnitType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Price:</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#36;</span>
                                                        <input class="form-control-plaintext border-bottom" id="subsubunit-price-dollars" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#x20aa;</span>
                                                        <input class="form-control-plaintext border-bottom" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" name="sum-dollars" id="sum-dollars" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.Cost" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.Cost" class="form-control-plaintext border-bottom" disabled />
                                                <span class="text-danger" asp-validation-for="Request.Cost"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.VAT" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.VAT" class="form-control-plaintext border-bottom" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Discount:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Terms:</label>
                                            @Html.DropDownListFor(
                             model => model.Request.Terms,
                             new SelectList(AppUtility.TermsSelectList(), "Value", "Text"),
htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
                         )
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                            <label class="form-check-label"><input class="form-check-input" type="checkbox" disabled />Paid</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ParentRequest.Installments" class="control-label"></label>
                                            <input asp-for="Request.ParentRequest.Installments" class="form-control-plaintext border-bottom" disabled />
                                            <span asp-validation-for="Request.ParentRequest.Installments" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 p-3">
                                        <table class="table table-sm payments-table">
                                            <thead class="thead-light rounded">
                                                <tr>
                                                    <th>Payment Date</th>
                                                    <th>Payment Type</th>
                                                    <th>Account</th>
                                                    <th>Reference</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model.NewPayments != null)
                                                    {
                                                        foreach (var payment in Model.NewPayments)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <input asp-for="@payment.PaymentDate" class="form-control-plaintext border-bottom" disabled />
                                                                </td>
                                                                <td>
                                                                    <input asp-for="@payment.CompanyAccount.PaymentType.PaymentTypeDescription" class="form-control-plaintext border-bottom" disabled />
                                                                </td>
                                                                <td>
                                                                    <input asp-for="@payment.CompanyAccount.CompanyAccountNum" class="form-control-plaintext border-bottom" disabled />
                                                                </td>
                                                                <td>
                                                                    <input asp-for="@payment.Reference" class="form-control-plaintext border-bottom" disabled />
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Debt</label>
                                            <input class="form-control-plaintext border-bottom" asp-for="@Model.Debt" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="documents" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Documents</span>
                                <br /><hr /><br />

                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label order-doc">Order Doc</label>
                                        <div class="custom-file">
                                            <input type="file" asp-for="OrderFiles" class="form-control-plaintext border-bottom custom-file-input" multiple />
                                            <label class="custom-file-label">Choose File...</label>
                                        </div>
                                        @if (Model.OrderFileStrings != null)
                                        {
                                            foreach (var o in Model.OrderFileStrings)
                                            {
                                                <button>Test</button>
                                                <button class="btn btn-link" onclick="location.href='@Url.Action("DownloadPDF","Requests")'"></button>
                                            }
                                            <button class="view-docs btn btn-block" onclick="ViewDocs(this.id)" value="Order">View Docs</button>
                                        }
                                        @*<div id="carousel" class="carousel ui-slider">
                                                <ol class="carousel-indicators">
                                                </ol>
                                            </div>*@
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Invoice Doc</label>
                                        <input type="file" multiple name="invoice-docs" id="invoice-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Shipment Doc</label>
                                        <input type="file" multiple name="shipment-docs" id="shipment-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Quote Doc</label>
                                        <input type="file" multiple name="quote-docs" id="quote-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Info Doc</label>
                                        <input type="file" multiple name="info-docs" id="info-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Pictures Doc</label>
                                        <input type="file" multiple name="pictures-docs" id="pictures-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Return Doc</label>
                                        <input type="file" multiple name="return-docs" id="return-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Credit Doc</label>
                                        <input type="file" multiple name="credit-docs" id="credit-docs file" class="form-control-plaintext border-bottom-file" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="images-header"></h3>
                                        <hr />
                                        @if (Model.OrderFileStrings != null)
                                        {
                                            <div class="fill-images-orders">
                                                <a href="@Model.OrderFileStrings[0]" target="_blank">Click to open</a>
                                                <embed src="@Model.OrderFileStrings[0]" type="application/pdg" @*height="100%" width="100%"*@ />
                                                <iframe src="@Model.OrderFileStrings[0]"></iframe>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="comments" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Comments</span>
                                <br /><hr /><br />
                                @{
                                    if (Model.OldComments != null)
                                    {
                                        foreach (Comment comment in Model.OldComments)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card rounded">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    Insert Pic
                                                                    <img src="" />
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <div class="font-weight-bolder">@comment.ApplicationUser.FirstName @comment.ApplicationUser.LastName - @comment.CommentTimeStamp</div>
                                                                    @comment.CommentText
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        }
                                    }
                                }
                                @*in the future maybe make this into a partial view so it can be called multiple times in one form*@
                                @*<div class="card rounded">
                                            <div class="card-body">
                                                <div class="font-weight-bold">+NewComment</div>
                                                <div class="form-group">
                                                    <label asp-for="NewComment.CommentText" class="control-label"></label>
                                                    <input asp-for="NewComment.CommentText" class="form-control-plaintext border-bottom" />
                                                    <span asp-validation-for="NewComment.CommentText" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                @*removed because you shouldnt be able to add new comments in the View Modal, only see previous comments.*@


                                @*<div id="order" class="tab-pane fade">
                                        <h3>ORDER</h3>
                                        <hr />
                                        <div class="form-group">
                                            <input type="submit" name="OrderType" value="Save" asp-action="ModalView" class="btn btn-outline-primary" />

                                            <button type="button" class="btn btn-outline-danger close" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>*@
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    @*<div class="modal-footer">
                        </div>*@

                    @*Begin Hidden Inputs:*@
                    @Html.HiddenFor(vm => vm.Request.ProductID)
                    @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ParentCategoryID)
                    @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
                    @Html.HiddenFor(vm => vm.Request.RequestStatusID)
                    @Html.HiddenFor(vm => vm.Request.ParentRequestID)
                    @*End Hidden Inputs*@

                    @*Hidden Input for Product Subcategory*@
                    @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
                </div>



            </form>


        </div>
    </div>

</div>

@*Javascript that filters according to which parentcategory is selected, you must have the function in the controller for GetSubcategory*@
@*This will work for the EDIT (putting in the already loaded product subcategory)*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        /*
         * Including these js pieces from site.js b/c has issue always attaching
         */

        //change product subcategory dropdown according to the parent categroy selection when a parent category is selected
        $("#parentlist").change(function () {
            var parentCategoryId = $("#parentlist").val();
            var url = "/Requests/GetSubCategoryList";

            $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
                var item = "<option value=''>Select a Subcategory</option>";
                $("#sublist").empty();
                $.each(data, function (i, subCategory) {
                    item += '<option value="' + subCategory.productSubcategoryID + '">' + subCategory.productSubcategoryDescription + '</option>'
                });
                $("#sublist").html(item);
            });
        });

    </script>
}
