@model PrototypeWithAuth.ViewModels.DocumentsModalViewModel;
@using PrototypeWithAuth.AppData
@{
    Layout = null;
    var markDisabled = "details";
    int requestid;
    if (Model.Requests[0] != null && Model.Requests.Count == 1)
    {
        requestid = Model.Requests[0].RequestID;
    }
    else
    {
        requestid = 0;
    }
    var bcColor = "order-inv-background-color";
    var color = "order-inv-color";
    var form = "order-inv-form";
    var deleteDocumentClass = "";
    var sectionType = AppUtility.MenuItems.Requests.ToString();
    if (Model.SectionType == AppUtility.MenuItems.Operations)
    {
        form = "oper-form";
        bcColor = "oper-background-color";
        color = "operations-filter";
        sectionType = AppUtility.MenuItems.Operations.ToString();
    }
    else if (Model.SectionType == AppUtility.MenuItems.LabManagement)
    {

        form = "supplier-form";
        bcColor = "lab-man-background-color";
        color = "lab-man-filter";
        sectionType = AppUtility.MenuItems.LabManagement.ToString();
    }
    var bcColorToUse = bcColor;
    var colorToUse = color;
    var disabled = false;
    var isChecked = "";
    if (!Model.IsEdittable)
    {
        disabled = true;
    }
    else
    {
        markDisabled = "edit";
        isChecked = "checked";
        deleteDocumentClass = "delete-file-document";
    }
    if (markDisabled == "details")
    {
        bcColorToUse = "disabled-color";
        colorToUse = "disabled-filter";
    }


    /*toggle switch:  only if edit*/
    /*upload button: everthing but summary*/
    /*upload button disabled:  only if edit otherwise it is not shown*/
    /*trash can: everthing but summary*/
    /*trash can disabled: only if edit needs to be disabled*/

}


@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

<div class="modal modal-document fader documentsModal @form" id="documentsModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false" style="z-index: 9999">
    <div class="modal-dialog-centered mx-auto  modal-xl " role="document">
        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow ">

            <form action="" data-string="Requests/DocumentsModal" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="m-5 modal-padding documentModalForm" id="myForm">

                @for (int x = 0; x < Model.Requests.Count; x++)
                {
                    <input type="hidden" asp-for="Requests[x].RequestID" />
                }
                <input type="hidden" asp-for="RequestFolderName" />


                <input type="hidden" asp-for="SectionType" />

                @*edittable options*@
                <input type="hidden" id="bcColor" class="@bcColor" />
                <input type="hidden" id="color" class="@color" />
                <input type="hidden" asp-for="IsEdittable" class="@markDisabled isEdittable" />
                <input type="hidden" asp-for="ModalType" class="document-modal-type" />
                <a href="" class="open-document-modal active-document-modal  @sectionType " data-string="@Model.RequestFolderName" data-id="@requestid" style="display: none;"></a>
                <div class="modal-header modal-header-padding">
                    <div class="container">

                        <div class="row">
                            <div class="col-2">
                                <input type="text" class="form-control-plaintext heading-1" asp-for="RequestFolderName" />

                            </div>
                            <div class="col-3 offset-7">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3 offset-9">
                                @if (@*User.IsInRole("Admin") &&*@ Model.ModalType == AppUtility.RequestModalType.Edit)
{
            <div class=" row text-right mb-0">
                <div class="switch col-12 switch-margin">
                    <label>
                        <label class="edit-mode-switch-description">Edit Mode Off</label>
                        <input type="checkbox" class="turn-edit-doc-on-off operations" @isChecked @*value="@Model.Request.RequestID"*@>
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    @if (Model.FileStrings != null && Model.FileStrings?.Count > 0)
                    {
                        <div id="carous


     el-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">



                            <div class="row">
                                <div class="col-1">
                                    @if (Model.FileStrings.Count > 3)
                                    {
                                        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    }
                                </div>
                                <div class="col-10">
                                    <div class="carousel-inner v-2" role="listbox">
                                        @{
                                            var ModelCount = Model.FileStrings.Count;
                                            var EndCount = ModelCount;
                                            switch (ModelCount % 3)
                                            {
                                                case 1:
                                                    EndCount += 2;
                                                    break;
                                                case 2:
                                                    EndCount += 1;
                                                    break;
                                            }


                                            for (int i = 0; i < EndCount; i++)
                                            {
                                                var carouselItemClass = "carousel-item";
                                                if (i == 0)
                                                {
                                                    carouselItemClass += " active";
                                                }
                                                <div class="@carouselItemClass">
                                                    <div class="col-12 col-md-4 m-0">
                                                        @if (ModelCount > i)
                                                        {
                                                            <div class="card iframe-container document-border m-0">
                                                                <div class="card-body responsive-iframe-container">
                                                                    @*<img class="card-img-top" src="@Model.FileStrings[i]" alt="Card image cap">*@

                                                                    @*<a href="@Model.FileStrings[i]" class="linkwrap" target="_blank">
                                                            <div class="blocker"></div>*@
                                                                    <iframe src="\@Model.FileStrings[i]" title="View" class="responsive-iframe" scrolling="no"></iframe>

                                                                    @*</a>*@
                                                                </div>
                                                                <div class="card-body d-flex text-center align-items-center justify-content-center">

                                                                    <a href="\@Model.FileStrings[i]" target="_blank" class="mx-3 @colorToUse">
                                                                        <img src="~/images/css/inventory/add-item/other icons/view_dis.png" />
                                                                    </a>

                                                                    @*@{var link = "delete-file-document"; }*@
                                                                    @*@if (!Model.IsEdittable)
                                                            {
                                                                link = " ";
                                                            }*@
                                                                    @if (Model.ModalType != AppUtility.RequestModalType.Summary)
                                                                    {
                                                                        <a href="" class="delete-document @deleteDocumentClass @Model.SectionType.ToString() mx-3" url="@Url.Action("DeleteDocumentModal", "Requests", new { FileString = Model.FileStrings[i], id = requestid, RequestFolderNameEnum = Model.RequestFolderName, IsEdittable = true, SectionType = Model.SectionType })">
                                                                            <i style="font-size:2rem;" class="icon-delete-24px documents-delete-icon hover-bold @colorToUse"></i>
                                                                        </a>}
                                                                    @*<a href="@Model.FileStrings[i]" target="_blank" class="btn btn-block btn-secondary">open</a>*@
                                                                    @*<p class="align-to-bottom w-100">@Model.FileStrings[i]</p>*@
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            }

                                        }
                                    </div>
                                </div>

                                <div class="col-1">
                                    @if (Model.FileStrings.Count > 3)
                                    {
                                        <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    }
                                </div>
                            </div>


                        </div>
                    }
                    else
                    {
                        <div class="text-center text-lowercase">
                            <div class="mt-6">
                                <img src="~/images/document_empty_image.png" />
                            </div>
                            <div class="mt-4" style="        font-size: 1.125rem;
        color: #646464; font-weight:400;"><span class="text-capitalize">No</span> @Model.RequestFolderName.ToString().ToLower() have been uploaded </div>
            <div class="mt-2 pb-5 " style="        font-size: 1rem;
        color: #646464; font-weight:400;"><span class="text-capitalize">Press</span> upload to add @Model.RequestFolderName.ToString().TrimEnd('s').ToLower()</div>
            </div>
        }
                    <div class="row justify-content-center">
                        @if (Model.ModalType != AppUtility.RequestModalType.Summary)
                        {
                            <div class="upload-btn-wrapper ">
                                <button class="custom-button custom-button-font @bcColorToUse  upload-file between-button-margin document-modal-buttons" data-string="@Model.RequestFolderName">Upload A File</button>
                                @if (disabled)
                                {
                                    <input type="file" asp-for="FilesToSave" class="file-select" accept=".png, .jpg, .jpeg, .pdf .docx .doc" multiple disabled />
                                }
                                else
                                {
                                    <input type="file" asp-for="FilesToSave" class="file-select" accept=".png, .jpg, .jpeg, .pdf" multiple />
                                }

                            </div>
                        }

                        <input type="submit" value="Save" id="save-documents" href="@Url.Action("DocumentsModal", "Requests")" class="btn btn-block inv-button save-document-files" style="display: none;" />
                        @{
                            var saveClass = "";
                            var cancelClass = "d-none";
                        }
                        @if (disabled)
                        {
                            saveClass = "d-none";
                            cancelClass = "";
                        }
                        <button type="button" class="custom-button custom-button-font @bcColorToUse @saveClass document-modal-save document-modal-buttons" @*data-dismiss="modal"*@ aria-label="Close" onclick="$('.documents').html('');">
                            Save
                        </button>
                        <button type="button" class="custom-button custom-cancel @cancelClass  document-modal-cancel" @*data-dismiss="modal"*@ aria-label="Close" onclick="$('.documents').html('');">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/js/DocumentModalJS.js"></script>
<script src="~/js/site.js"></script>