@model PrototypeWithAuth.ViewModels.DocumentsModalViewModel;
<script src="~/js/DocumentModalJS.js" asp-append-version="true"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

<div class="modal modal-document fader" id="documentsModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false">
    <div class="modal-dialog reorder-modal  modal-sm " role="document">
        <div class="modal-content d-inline-block" style="border-radius:2rem;">
            <button type="button" class="close mr-4 mt-4" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" data-string="Requests/DocumentsModal" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="m-5" id="documentModalForm">
                @*<a style="display: none;" id="ReopenDocModal" href="@Url.ActionLink("DocumentsModal","Requests", new { id = @Model.Request.RequestID, RequestFolderNameEnum = @Model.RequestFolderName})"></a>*@
                <input type="hidden" asp-for="Request.RequestID" />
                <a href="" class="open-document-modal" data-string="@Model.RequestFolderName" data-id="@Model.Request.RequestID" style="display: none;"></a>
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <h2>@Model.RequestFolderName</h2>
                            </div>
                            <div class="col-2 offset-8">
                                <div class="upload-btn-wrapper">
                                    <button class="inv-button btn-block float-right upload-file" data-string="@Model.RequestFolderName">Upload</button>
                                    <input type="file" asp-for="FilesToSave" class="file-select file-select-1" accept=".png, .jpg, .jpeg, .pdf" multiple>
                                </div>
                                @*<div class="upload-btn-wrapper">*@
                                <input type="submit" value="Save" href="@Url.Action("DocumentsModal", "Requests")" class="btn btn-block inv-button save-document-files" style="display: none;" />
                                @*</div>*@
                                @*<input type="submit" value="Save" asp-action="DocumentsModal" class="btn btn-block inv-button save-document-files" />*@
                                @*<button class="btn inv-button save-document-files">Save</button>*@
                                @*@Html.ActionLink("Save", "DocumentsModal", new { documentsModalViewModel = Model }, new { @class = "btn inv-button save-document-files" })*@
                                @*@Html.ActionLink("Save", "DocumentsModal", new { }, new { @class = "btn inv-button save-document-files" })*@
                                @*<button class="btn inv-button save-document-files"  data-string="@Html.ActionLink("Save","SaveDocumentFiles", n)">Save</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    @if (Model.FileStrings != null)
                    {
                        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

                            @*@if (Model.FileStrings.Count > 3)
                                {
                                    <div class="controls-top">
                                        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                        <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>


                                    <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-multi" data-slide-to="1"></li>
                                        </ol>
                                }*@


                            <div class="row">
                                <div class="col-1">
                                    @if (Model.FileStrings.Count > 3)
                                    {
                                        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    }
                                </div>
                                <div class="col-10">
                                    <div class="carousel-inner v-2" role="listbox">
                                        @{
                                            var ModelCount = Model.FileStrings.Count;
                                            var EndCount = ModelCount;
                                            switch (ModelCount % 3)
                                            {
                                                case 1:
                                                    EndCount += 2;
                                                    break;
                                                case 2:
                                                    EndCount += 1;
                                                    break;
                                            }


                                            for (int i = 0; i < EndCount; i++)
                                            {
                                                var carouselItemClass = "carousel-item";
                                                if (i == 0)
                                                {
                                                    carouselItemClass += " active";
                                                }
                                                <div class="@carouselItemClass">
                                                    <div class="col-12 col-md-4 m-0">
                                                        @if (ModelCount > i)
                                                        {
                                                            <div class="card document-border m-0">
                                                                <div class="card-body responsive-iframe-container">
                                                                    @*<img class="card-img-top" src="@Model.FileStrings[i]" alt="Card image cap">*@
                                                                    <iframe src="@Model.FileStrings[i]" title="View" class="responsive-iframe" scrolling="no"></iframe>
                                                                </div>
                                                                <div class="card-body text-center">
                                                                    <a href="" style="display: none;"></a>
                                                                    <a href="" class="delete-document">
                                                                        <img src="~/images/css/inventory/add-item/other icons/delete_dis.png" width="15" />
                                                                    </a>
                                                                    @*<a href="@Model.FileStrings[i]" target="_blank" class="btn btn-block btn-secondary">open</a>*@
                                                                    @*<p class="align-to-bottom w-100">@Model.FileStrings[i]</p>*@
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }

                                        }
                                        @*<div class="carousel-item active">
                                                <div class="col-12 col-md-4">
                                                    <div class="card mb-2">
                                                        <img class="card-img-top" src="@Model.FileStrings[0]"
                                                             alt="Card image cap">
                                                        <div class="card-body">
                                                            <h4 class="card-title font-weight-bold">@Model.FileStrings[0]</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="col-12 col-md-4">
                                                    <div class="card mb-2">
                                                        <img class="card-img-top" src="@Model.FileStrings[1]"
                                                             alt="Card image cap">
                                                        <div class="card-body">
                                                            <h4 class="card-title font-weight-bold">@Model.FileStrings[1]</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="col-12 col-md-4">

                                                </div>
                                            </div>*@
                                    </div>
                                </div>

                                <div class="col-1">
                                    @if (Model.FileStrings.Count > 3)
                                    {
                                        <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    }
                                </div>
                            </div>


                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
