@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData


<script src="~/js/site.js" asp-append-version="true"></script>

<div class="modal modal-view right faid" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg border-left box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        @*style needed here to override bootstraps modal width limitations*@

        <div class="modal-content d-inline-block">

            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">

                @Html.HiddenFor(model => model.Request.ParentRequest.ApplicationUserID)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@
                @*Requests search view model*@


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Request.RequestID" />

                <!-- Modal Header -->
                <div class="new-modal-header border-bottom box-shadow" style="padding: 0.5em 6em">
                    @*class needed here to override bootstraps modal limitations*@

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                        <br />
                    }
                    <div>
                        <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent"><img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" /></button>
                    </div>
                    <br />
                    <div class="form-group">
                        <h4><label asp-for="Request.Product.ProductName" class="control-label font-weight-bold"> Edit Request : </label> </h4>
                        <h4 class="modal-title"><input asp-for="Request.Product.ProductName" class="rounded form-control-plaintext border-bottom" /></h4>
                        <span asp-validation-for="Request.Product.ProductName" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center">
                                <ul class="nav nav-tabs container-fluid pr-0 border-bottom-0" style="display:inline-flex; justify-content:space-between;">
                                    <li class="nav-item"><a data-toggle="tab" href="#item" class="nav-link"><i class="icon-centarix-icons-05" style="font-size: 2rem;"></i><br />Item</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#location" class="nav-link"><i class="icon-place-24px" style="font-size: 2rem;"></i><br />Location</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#price" id="price-tab" class="nav-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#documents" class="nav-link documents-tab"><i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents</a></li>
                                    <li class="nav-item"><a data-toggle="tab" href="#comments" class="nav-link"> <i style="font-size:2rem;" class="icon-comment-24px"></i> <br />Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="new-modal-body" style="background: #F6F7F8; padding: 1em">
                    <div class="container-fluid div-tabs box-shadow" style="background: #FFF; padding: 2em; border: 2px solid #EAEAEB;">

                        <div class="tab-content">
                            <div id="item" class="tab-pane fade in active">
                                <span style="font-size: 1.7em;">Item</span>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(c => c.Request.Product.ProductSubcategory.ParentCategoryID,
            new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"),
            "Select Category", new { @class = "form-control-plaintext border-bottom", @id = "parentlist" })
                                            <span asp-validation-for="Request.Product.ProductSubcategory.ParentCategoryID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4 px-4">
                                        <div class="form-group sublist">
                                            <label asp-for="Request.Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(vm => vm.Request.Product.ProductSubcategoryID,
            new SelectList(Model.ProductSubcategories, "ProductSubcategoryID", "ProductSubcategoryDescription"),
            "Select Subcategory", new { @class = "form-control-plaintext border-bottom ", @id = "sublist" })
                                            <span asp-validation-for="Request.Product.ProductSubcategoryID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">Project:</label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.Product.SubProject.ProjectID,
                                                new SelectList(
                                                    Model.Projects,
                                                    "ProjectID",
                                                    "ProjectDescription"
                                                    ),
                                                "Select Project",
                                                new { @class = "form-control-plaintext border-bottom", id="Project" }
                                            )
                                            <span @*asp-validation-for=""*@ class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">Sub Project:</label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.Product.SubProjectID,
                                                new SelectList(
                                                    Model.SubProjects,
                                                    "SubProjectID",
                                                    "SubProjectDescription"
                                                    ),
                                                "Select Sub Project",
                                                new { @class = "form-control-plaintext border-bottom", id = "SubProject" }
                                            )<span @*asp-validation-for=""*@ class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4 px-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.Vendor" class="control-label"></label>
                                            @Html.DropDownListFor(
            vm => vm.Request.Product.VendorID,
            new SelectList(
            Model.Vendors,
            dataValueField: "VendorID",
            dataTextField: "VendorEnName"),
            optionLabel: "Select A Vendor", //FUTURE: Ask If we should put in the functionality to create a new vendor here rather than just choosing
            htmlAttributes: new { @class = "form-control-plaintext border-bottom ", @id = "vendorList" }
            )
                                            <span asp-validation-for="Request.Product.Vendor.VendorID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            @* IN MIDDLE *@
                                            <label asp-for="Request.Product.Vendor.VendorBuisnessID" class="control-label"></label>
                                            <label class="vendorBusinessId form-control-plaintext border-bottom -plaintext" />
                                            @*don't need a validation here because you it's not saving*@
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-6 pr-4">
                                        <label asp-for="Request.ParentRequest.OrderNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderNumber" class="form-control-plaintext border-bottom " readonly />
                                        <span asp-validation-for="Request.ParentRequest.OrderNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="Request.ParentRequest.OrderDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderDate" class="form-control-plaintext border-bottom  datepicker" readonly />
                                        <span asp-validation-for="Request.ParentRequest.OrderDate" class="text-danger" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-6 pr-4">
                                        <label asp-for="Request.ParentRequest.InvoiceNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.InvoiceNumber" asp-format="" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ParentRequest.InvoiceNumber" class="text-danger" />
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="Request.ParentRequest.InvoiceDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.InvoiceDate" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ParentRequest.InvoiceDate" class="text-danger" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-6">
                                        <label asp-for="Request.CatalogNumber" class="control-label"></label>
                                        <input asp-for="Request.CatalogNumber" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.CatalogNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <label asp-for="Request.Warranty" class="control-label"></label>
                                        <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.Warranty" class="text-danger"></span>
                                    </div>
                                    <div class="col-3">
                                        <label class="control-label">End Date</label>
                                        @*@{
                        //get this just to return the date (not the time)
                        //adding the amount of months of the warranty to the invoice date
                        var endWarrantyDate = Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty);
                    }*@
                                        <input value="@Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty)" name="WarrantyDate" class="form-control-plaintext border-bottom -plaintext" disabled="disabled" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger"></span>
                                    </div>
                                    <div class="col-4">
                                        @{
                                            //get this just to return the date (not the time)
                                            //adding the amount of months of the expected supply days to the invoice date
                                            var endSupplyDate = Model.Request.ParentRequest.InvoiceDate.AddDays(Model.Request.ExpectedSupplyDays);
                                        }
                                        <label class="control-label">Expected supply date</label>
                                        <input value="@endSupplyDate" class="form-control-plaintext border-bottom " disabled="disabled" />
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="Request.URL" class="control-label"></label>
                                        <input asp-for="Request.URL" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.URL" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div id="location" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Location</span>
                                <br />
                                <br />
                                @if (Model.ChildrenLocationInstances != null && Model.ChildrenLocationInstances.Any())
                                {
                                    <h4>@Model.ParentLocationInstance.LocationInstanceName</h4> //this should be a link to the manage page for admins only
                                    <table class="table table-sm border">
                                        @{
                                            int z = -1; //initiated to -1 b/c it didn't let me put the z++ on the bottom of the fx. Really should be 0.
                                        }
                                        @for (int X = 0; X < Model.ParentLocationInstance.Height; X++)
                                        {
                                            <tr>
                                                @for (int y = 0; y < Model.ParentLocationInstance.Width; y++)
                                                {
                                                    z++;
                                                    var backgroundClass = "border";
                                                    @if (Model.ChildrenLocationInstances.ToList().Count() >= z) //put this in an if statement so it won't run into an instance where it doesn't exist since it's not a foreach
                                                    {
                                                        @Html.HiddenFor(vm => vm.ChildrenLocationInstances[z].LocationInstanceID);
                                                        @Html.HiddenFor(vm => vm.ChildrenLocationInstances[z].Place);

                                                        if (Model.ChildrenLocationInstances[z].IsFull)
                                                        {
                                                            if (Model.Request.RequestID == Model.ChildrenLocationInstances[z].RequestLocationInstances.FirstOrDefault().RequestID)
                                                            {
                                                                backgroundClass += " bg-info text-light text-center";
                                                            }
                                                            else //why is this else here? it doesn't seem to ever get used.
                                                            {
                                                                backgroundClass += " bg-secondary";
                                                            }
                                                            <td class="@backgroundClass">
                                                                @Model.ChildrenLocationInstances[z].RequestLocationInstances.FirstOrDefault().Request.Product.ProductName
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="@backgroundClass"><span style="font-size:x-small">empty</span></td>
                                                        }

                                                    }

                                                }
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <span>No Locations yet</span>
                                    <br />
                                    <button>Add Locations</button>
                                }
                            </div>
                            <div id="price" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span style="font-size: 1.7em;">Price</span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="currency" class="control-label">Currency</label>
                                            <select id="currency" asp-for="Request.Currency" class="form-control-plaintext border-bottom">
                                                <option value="dollar">&dollar; USD</option>
                                                <option value="shekel">&#8362; NIS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ExchangeRate" class="control-label"></label>
                                            <input asp-for="Request.ExchangeRate" class="form-control-plaintext border-bottom" />
                                            <span asp-validation-for="Request.ExchangeRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="edit">
                                    <div class="col-4 RequestUnitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.Unit" class="control-label"></label>
                                                    <input asp-for="Request.Unit" class="form-control-plaintext border-bottom" min="0" />
                                                    <span asp-validation-for="Request.Unit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="Request.UnitType" class="control-label"></label>
                                                        @Html.DropDownListFor(
        vm => vm.Request.UnitTypeID,
        Model.UnitTypeList,
        "",
        htmlAttributes: new { @class = "form-control-plaintext border-bottom" }
        )
                                                        <span asp-validation-for="Request.UnitType" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom" name="unit-price-dollars" id="unit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom" name="unit-price-shekel" id="unit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 pl-0 RequestSubunitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubUnit" class="control-label"></label>
                                                    <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                    <span asp-validation-for="Request.SubUnit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                    @Html.DropDownListFor(
                 vm => vm.Request.SubUnitTypeID,
                 Model.UnitTypeList,
                 "",
                 htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
             )
                                                    <span asp-validation-for="Request.SubUnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subunit-price-dollars" id="subunit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 pl-0 RequestSubsubunitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                                    <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                    <span asp-validation-for="Request.SubSubUnit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubSubUnitType" class="control-label" style="font-size:0.85rem;"></label>
                                                    @Html.DropDownListFor(
                                                        vm => vm.Request.SubSubUnitTypeID,
                                                        Model.UnitTypeList,
                                                        "",
                                                        htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
                                                        )
                                                    <span asp-validation-for="Request.SubSubUnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subsubunit-price-dollars" id="subsubunit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" name="sum-dollars" id="sum-dollars" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.Cost" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.Cost" class="form-control-plaintext border-bottom" />
                                                <span class="text-danger" asp-validation-for="Request.Cost"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.VAT" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.VAT" class="form-control-plaintext border-bottom" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Total + VAT:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">____</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Discount:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Terms:</label>
                                            @Html.DropDownListFor(
                                                                    model => model.Request.Terms,
                                                                    new SelectList(AppUtility.TermsSelectList(), "Value", "Text"),
            htmlAttributes: new { @class = "form-control-plaintext border-bottom" }
                                                                )
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="paid_checkbox" onchange="changeTerms(this)" />Paid</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ParentRequest.Installments" class="control-label"></label>
                                            <input asp-for="Request.ParentRequest.Installments" class="form-control-plaintext border-bottom" />
                                            <span asp-validation-for="Request.ParentRequest.Installments" class="text-danger"></span>
                                        </div>
                                        @if (Model.NewPayments != null && Model.NewPayments.Any())
                                        {
                                            <script>
                                                console.log("in script for installments disabled");
                                                $("#Request_ParentRequest_Installments").attr("disabled", true);
                                            </script>
                                        }
                                    </div>
                                    <div class="col-md-8 rounded card p-3">
                                        <table class="table table-sm payments-table">
                                            <thead class="thead-light rounded">
                                                <tr>
                                                    <th>Payment Date</th>
                                                    <th>Payment Type</th>
                                                    <th>Account</th>
                                                    <th>Reference</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model.NewPayments != null)
                                                    {
                                                        int counter = 0;
                                                        foreach (var payment in Model.NewPayments)
                                                        {
                                                            <tr class="payment-line">
                                                                <td>
                                                                    <input asp-for="@payment.PaymentDate" class="form-control-plaintext border-bottom datepicker" />
                                                                </td>
                                                                <td>
                                                                    @Html.DropDownListFor(
                                                                   m => m.NewPayments[counter].CompanyAccount.PaymentTypeID,
                                                                   new SelectList(Model.PaymentTypes, "PaymentTypeID", "PaymentTypeDescription")
                                                                   , new { @class = "form-control-plaintext border-bottom" }
                                                                   )
                                                                </td>
                                                                <td>
                                                                    @Html.DropDownListFor(
                                                                   m => m.NewPayments[counter].CompanyAccountID,
                                                                   new SelectList(
                                                                       Model.CompanyAccountListsByPaymentTypeID[Model.NewPayments[counter].CompanyAccount.PaymentTypeID],
                                                                   "CompanyAccountID", "CompanyAccountNum"),
                                                                   new { @class = "form-control-plaintext border-bottom" })
                                                                <td>
                                                                    <input asp-for="@payment.Reference" class="form-control-plaintext border-bottom" />
                                                                </td>
                                                                @Html.HiddenFor(m => m.NewPayments[counter].PaymentID)
                                                                @Html.HiddenFor(m => m.NewPayments[counter].ParentRequestID)
                                                                @Html.HiddenFor(m => m.NewPayments[counter].Reference)
                                                            </tr>
                                                            counter++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Debt</label>
                                            <input class="form-control-plaintext border-bottom" asp-for="Debt" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="documents" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Documents</span>

                                <div class="row orders-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Order</h3>
                                        <hr />
                                        @if (Model.OrderFileStrings != null)
                                        {
                                            foreach (var orderFileString in Model.OrderFileStrings)
                                            {
                                                <a href="@orderFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row invoices-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Invoice</h3>
                                        <hr />
                                        @if (Model.InvoiceFileStrings != null)
                                        {
                                            foreach (var invoiceFileString in Model.InvoiceFileStrings)
                                            {
                                                <a href="@invoiceFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row shipments-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Shipment</h3>
                                        <hr />
                                        @if (Model.ShipmentFileStrings != null)
                                        {
                                            foreach (var shipmentFileString in Model.ShipmentFileStrings)
                                            {
                                                <a href="@shipmentFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row quotes-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Quote</h3>
                                        <hr />
                                        @if (Model.QuoteFileStrings != null)
                                        {
                                            foreach (var quoteFileString in Model.QuoteFileStrings)
                                            {
                                                <a href="@quoteFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row info-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Info</h3>
                                        <hr />
                                        @if (Model.InfoFileStrings != null)
                                        {
                                            foreach (var infoFileString in Model.InfoFileStrings)
                                            {
                                                <a href="@infoFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row pictures-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Picture</h3>
                                        <hr />
                                        @if (Model.PictureFileStrings != null)
                                        {
                                            foreach (var pictureFileString in Model.PictureFileStrings)
                                            {
                                                <a href="@pictureFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row returns-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Return</h3>
                                        <hr />
                                        @if (Model.ReturnFileStrings != null)
                                        {
                                            foreach (var returnFileString in Model.ReturnFileStrings)
                                            {
                                                <a href="@returnFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row credits-view border rounded shadow text-center mb-5">
                                    <div class="col-md-8 border-right border-dark">
                                        Preview coming soon...
                                    </div>
                                    <div class="col-md-4 border-left border-dark">
                                        <h3>Credit</h3>
                                        <hr />
                                        @if (Model.CreditFileStrings != null)
                                        {
                                            foreach (var creditFileString in Model.CreditFileStrings)
                                            {
                                                <a href="@creditFileString" target="_blank" class="btn btn-block btn-secondary">view doc</a>
                                            }
                                        }
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <!--<div class="card h-75">-->
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/order.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="OrderFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple disabled />
                                                    <label class="custom-file-label">+</label>
                                                </div>
                                                @{
                                                    var btnOrdersClass = "btn show-orders-view ";
                                                    if (Model.OrderFileStrings != null && Model.OrderFileStrings.Count > 0)
                                                    {
                                                        btnOrdersClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnOrdersClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnOrdersClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Order</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/invoice.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="InvoiceFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">+</label>
                                                </div>
                                                @{
                                                    var btnInvoicesClass = "btn show-invoices-view ";
                                                    if (Model.InvoiceFileStrings != null && Model.InvoiceFileStrings.Count > 0)
                                                    {
                                                        btnInvoicesClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnInvoicesClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnInvoicesClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Invoice</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/shipment.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="ShipmentFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">Choose File...</label>
                                                </div>
                                                @{
                                                    var btnShipmentsClass = "btn show-shipments-view ";
                                                    if (Model.ShipmentFileStrings != null && Model.ShipmentFileStrings.Count > 0)
                                                    {
                                                        btnShipmentsClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnShipmentsClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnShipmentsClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Shipment</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/quote.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="QuoteFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">Choose File...</label>
                                                </div>
                                                @{
                                                    var btnQuotesClass = "btn show-quotes-view ";
                                                    if (Model.QuoteFileStrings != null && Model.QuoteFileStrings.Count > 0)
                                                    {
                                                        btnQuotesClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnQuotesClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnQuotesClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Quote</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/info.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="InfoFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">Choose File...</label>
                                                </div>
                                                @{
                                                    var btnInfoClass = "btn show-info-view ";
                                                    if (Model.InfoFileStrings != null && Model.InfoFileStrings.Count > 0)
                                                    {
                                                        btnInfoClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnInfoClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnInfoClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Info</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/pictures.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="PictureFiles" class="form-control-plaintext border-bottom custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">Choose File...</label>
                                                </div>
                                                @{
                                                    var btnPicturesClass = "btn show-pictures-view ";
                                                    if (Model.PictureFileStrings != null && Model.PictureFileStrings.Count > 0)
                                                    {
                                                        btnPicturesClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnPicturesClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnPicturesClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Picture</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/return.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="ReturnFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">Choose File...</label>
                                                </div>
                                                @{
                                                    var btnReturnsClass = "btn show-returns-view ";
                                                    if (Model.ReturnFileStrings != null && Model.ReturnFileStrings.Count > 0)
                                                    {
                                                        btnReturnsClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnReturnsClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnReturnsClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Return</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/credit.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file">
                                                    <input type="file" asp-for="CreditFiles" class="form-control-plaintext border-bottom  custom-file-input" value="+" multiple />
                                                    <label class="custom-file-label">Choose File...</label>
                                                </div>
                                                @{
                                                    var btnCreditsClass = "btn show-credits-view ";
                                                    if (Model.CreditFileStrings != null && Model.CreditFileStrings.Count > 0)
                                                    {
                                                        btnCreditsClass += "btn-outline-primary";
                                                    }
                                                    else
                                                    {
                                                        btnCreditsClass += "btn-link";
                                                    }
                                                }
                                                <a class="@btnCreditsClass">View</a>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Credit</label>
                                    </div>
                                </div>
                            </div>


                            <div id="comments" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Comments</span>
                                <br />
                                <br />
                                @{
                                    if (Model.OldComments != null)
                                    {
                                        foreach (Comment comment in Model.OldComments)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card rounded">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <img height="75" src="~/images/css/default_user_image.png" alt="Profile Picture" />
                                                                    @*Insert Pic
                                                                    <img src="" />
                                                                    changing this to the user's profile picture*@
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <div class="font-weight-bolder">@comment.ApplicationUser.FirstName @comment.ApplicationUser.LastName - @comment.CommentTimeStamp</div>
                                                                    @comment.CommentText
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                        }
                                    }
                                }
                                @*in the future maybe make this into a partial view so it can be called multiple times in one form*@
                                <div class="card rounded">
                                    <div class="card-body">
                                        <div class="font-weight-bold">+NewComment</div>
                                        <div class="form-group">
                                            <label asp-for="NewComment.CommentText" class="control-label font-weight-bold"></label>
                                            <input asp-for="NewComment.CommentText" class="form-control-plaintext border-bottom " />
                                            <span asp-validation-for="NewComment.CommentText" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*you can only add to cart if you are creating a new one*@
                    <input type="submit" name="OrderType" value="Save" asp-action="EditModalView" class="inv-button mr-4" />

                    @*@Html.ActionLink("Delete", "Delete", new { @id = Model.Product.ProductID }, new { @class = "btn btn-outline-danger" })*@
                    <button type="button" class="cancel-button" data-dismiss="modal">Close</button>
                </div>

                


                @*Begin Hidden Inputs:*@
                @Html.HiddenFor(vm => vm.Request.ProductID)
                @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ParentCategoryID)
                @Html.HiddenFor(vm => vm.Request.RequestStatusID)
                @Html.HiddenFor(vm => vm.Request.ParentRequestID)
                @*End Hidden Inputs*@

                @*Hidden Input for Product Subcategory*@
                @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)
            </form>

        </div>
    </div>
</div>
@*Javascript that filters according to which parentcategory is selected, you must have the function in the controller for GetSubcategory*@
@*This will work for the EDIT (putting in the already loaded product subcategory)*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        /*
         * Including these js pieces from site.js b/c has issue always attaching
         */

        //change product subcategory dropdown according to the parent categroy selection when a parent category is selected
        $("#parentlist").change(function () {
            var parentCategoryId = $("#parentlist").val();
            var url = "/Requests/GetSubCategoryList";

            $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
                var item = "<option value=''>Select a Subcategory</option>";
                $("#sublist").empty();
                $.each(data, function (i, subCategory) {
                    item += '<option value="' + subCategory.productSubcategoryID + '">' + subCategory.productSubcategoryDescription + '</option>'
                });
                $("#sublist").html(item);
            });
        });

    </script>
}
