@model List<PrototypeWithAuth.Models.Quote>
@using PrototypeWithAuth.AppData


<script src="~/js/site.js" asp-append-version="true"></script>

<div class="modal modal-view fader" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog reorder-modal  modal-lg " style="min-width:1300PX !important" role="document">

        <div class="modal-content d-inline-block" style="border-radius:2rem;">

            <form action="" method="post" id="reorderForm" enctype="multipart/form-data" style="height: 100%;">
                <div class="text-right mr-5 mt-4">
                    <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent; text-transform:lowercase">x</button>
                </div>

                @*
                    NOTE: The select boxes are disabled as they cannot be edited, yet in order to pass the values into the controlller-
                        they need the hiddenfors that are right underneath it
                *@

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Modal Header -->
                <div class="new-modal-header no-box-shadow" style="padding: 0.5em 6em">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                        <br />
                    }

                <div class="form-group mb-3 ">
                    <div class="row">
                        <div class="col-2">
                            <h4><strong>Update Quote</strong></h4>
                        </div>
                        <div class="col-4">
                            <h4>@Model.FirstOrDefault().Product.Vendor.VendorEnName</h4>
                        </div>
                        <div class="col-3">
                            <div class="form-group d-inline-flex">
                                <label asp-for="@Model.FirstOrDefault().ParentQuote.QuoteNumber" class="control-label" style="width:100%;"></label>
                                <input asp-for="@Model.FirstOrDefault().ParentQuote.QuoteNumber" class="form-control-plaintext border-bottom align-with-select timeline-light-item-orange p-0 m-0" min="1"  />
                                <span asp-validation-for="@Model.FirstOrDefault().ParentQuote.QuoteNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group d-inline-flex">
                                <label asp-for="@Model.FirstOrDefault().ParentQuote.QuoteNumber" class="control-label" style="width:100%;"></label>
                                <input asp-for="@Model.FirstOrDefault().ParentQuote.QuoteNumber" class="form-control-plaintext border-bottom align-with-select m-0 p-0" min="1" />
                                <span asp-validation-for="@Model.FirstOrDefault().ParentQuote.QuoteNumber" class="text-danger"></span>
                            </div>
                        </div>                     

                    </div>
                    <div class="row">
                        <hr class="col-12" />
                    </div>
                    <table class="table table-headerspaced table-borderless mb-5">
                        <thead>
                            <tr >
                                <td class="pb-0" width="15%"></td>
                                <td class="pb-0" style="width:15%;">
                                    Name
                                </td>
                                <td class="pb-0" style="width:15%;">
                                    Units
                                </td>
                                <td class="pb-0" style="width:15%">
                                    TotalPrice
                                </td>
                                <td class="pb-0" style="width:15%">
                                    Expected Supply Days
                                </td>
                                <td class="pb-0" style="width:15%">
                                    Expected Supply Date
                                </td>                             
                            </tr>
                        </thead>                     
                        <tbody>

                            @foreach (var request in Model)
                            {
                                @Html.HiddenFor(model => request.RequestID)
                                <tr class="">
                                    <td class="" width="15%">
                                        <input type="hidden" asp-for="@request.RequestID" />
                                        @if (request.Product.ProductSubcategory.ImageURL != null)
                                        {
                                            var imageurl = request.Product.ProductSubcategory.ImageURL;
                                            <img src="@imageurl" alt="Image" width="75" class="category-image" />
                                        }
                                        else
                                        {
                                            <img src="~/images/css/accounting/sample_image.png" alt="Image" width="75" class="category-image" />
                                        }
                                    </td>
                                    <td width="15%">
                                        @request.Product.Vendor.VendorEnName
                                    </td>
                                    <td width="15%">
                                        @request.Unit &nbsp;@request.UnitType.UnitTypeDescription
                                        @if (request.SubUnitType != null)
                                        {
                                            <br />
                                            @request.SubUnit  @request.SubUnitType.UnitTypeDescription
                                            @if (request.SubSubUnitType != null)
                                            {
                                                <br />@request.SubSubUnit @request.SubSubUnitType.UnitTypeDescription
                                            }
                                        }
                                    </td>                                
                                    <td width="15%">
                                        <div class="form-group">
                                            <input asp-for="@request.Cost" class="form-control-plaintext border-bottom align-with-select" min="1" />
                                            <span asp-validation-for="@request.Cost" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td width="15%">
                                        <div class="form-group">
                                            <input asp-for="@request.ExpectedSupplyDays" class="form-control-plaintext border-bottom align-with-select" min="1" />
                                            <span asp-validation-for="@request.ExpectedSupplyDays" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td width="15%">
                                        <div class="form-group">
                                            <input id="expectedSupplyDate" class="form-control-plaintext border-bottom align-with-select " min="1" disabled />
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr class="border-0 mb-3 no-hover">
                                <td colspan="4">
                                    <input type="file"  class="  form-control-file-lab pt-1" accept=".pdf">
                                </td>
                                <td colspan="3">
                                    <div class="form-group text-center my-5">
                                        <input type="submit" name="OrderType" value="Save" class="inv-lab-button mr-3 px-5"  />
                                        <button type="button" class="cancel-button px-5" data-dismiss="modal" >Cancel</button>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                </div>
            </form>
        </div>
    </div>
    </div>


@*Javascript that filters according to which parentcategory is selected, you must have the function in the controller for GetSubcategory*@
@*This will work for the EDIT (putting in the already loaded product subcategory)*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
