@model IPagedList<PrototypeWithAuth.Models.Request>
@using PrototypeWithAuth.AppData;

@using X.PagedList.Mvc.Core; @* import this so we get our HTML Helper *@
@using X.PagedList; @* import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@

<!-- import the included stylesheet for some (very basic) default styling -->
@*<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />*@


@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";

    int vendorID = 0; int subcategoryID = 0;
    if (TempData["VendorID"] != null)
    {
        vendorID = (int)TempData["VendorID"];
    }
    else if (TempData["SubcategoryID"] != null)
    {
        subcategoryID = (int)TempData["SubcategoryID"];
    }

    string PageType = TempData["PageType"].ToString();

    string newButtonText = "New [" + TempData["AmountNew"].ToString() + "]";
    string orderedButtonText = "Ordered [" + TempData["AmountOrdered"].ToString() + "]";
    string receivedButtonText = "Received [" + TempData["AmountReceived"].ToString() + "]";

    string newActiveClass = "btn btn-outline-secondary text-dark new-button";
    string orderedActiveClass = "btn btn-outline-secondary text-dark new-button";
    string receivedActiveClass = "btn btn-outline-secondary text-dark new-button";

    //changing the classes for the action links based on the tempdata of request status
    int requestStatusID = 0;
    int.TryParse(TempData["RequestStatusID"].ToString(), out requestStatusID);
    switch (requestStatusID)
    {
        case 1:
        case 4:
        case 5:
            newActiveClass = "btn btn-secondary text-dark new-button";
            break;
        case 2:
            orderedActiveClass = "btn btn-secondary text-dark new-button";
            break;
        case 3:
            receivedActiveClass = "btn btn-secondary text-dark new-button";
            break;
    }
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
@if (PageType.Equals(AppUtility.RequestPageTypeEnum.Request.ToString()))
{
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline">
                <li class="list-inline-item nav-fill active">
                    @Html.ActionLink(newButtonText, "Index", "Requests", new { @vendorID = vendorID, @subcategoryID = subcategoryID, @RequestStatusID = 1, @PageType = AppUtility.RequestPageTypeEnum.Request }, new { @class = newActiveClass })
                </li>
                <li class="list-inline-item nav-fill">
                    @Html.ActionLink(orderedButtonText, "Index", "Requests", new { @vendorID = vendorID, @subcategoryID = subcategoryID, @RequestStatusID = 2, @PageType = AppUtility.RequestPageTypeEnum.Request }, new { @class = orderedActiveClass })
                </li>
                <li class="list-inline-item nav-fill">
                    @Html.ActionLink(receivedButtonText, "Index", "Requests", new { @vendorID = vendorID, @subcategoryID = subcategoryID, @RequestStatusID = 3, @PageType = AppUtility.RequestPageTypeEnum.Request }, new { @class = receivedActiveClass })
                </li>
            </ul>
        </div>
    </div>
}
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Product.ProductMedia)</th>
            <th>@Html.DisplayNameFor(model => model[0].Product.ProductName)</th>
            <th>@Html.DisplayNameFor(m => m[0].Product.Vendor.VendorEnName)</th>
            <th>TOTAL</th> @*Placeholder until we insert total*@
            <th>@Html.DisplayNameFor(m => m[0].Product.ProductSubcategory.ProductSubcategoryDescription)</th>
            <th>@Html.DisplayNameFor(m => m[0].ParentRequest.ApplicationUser.FirstName) @Html.DisplayNameFor(m => m[0].ParentRequest.ApplicationUser.LastName)</th>
            <th>@Html.DisplayNameFor(m => m[0].ParentRequest.OrderDate)</th>
            @*here for testing purposes*@
            <th>@Html.DisplayNameFor(m => m[0].RequestStatus.RequestStatusDescription)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>Product Image</td>
                <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.Vendor.VendorEnName)</td>
                <td>Placeholder</td> @*Computed column?*@
                <td>@Html.DisplayFor(modelItem => item.Product.ProductSubcategory.ProductSubcategoryDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.ParentRequest.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ParentRequest.ApplicationUser.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.ParentRequest.OrderDate)</td>
                @*here for testing purposes*@
                <td>@Html.DisplayFor(modelItem => item.RequestStatus.RequestStatusDescription)</td>
                <td>
                    <a asp-action="Received" asp-route-id="@item.RequestID">Received</a> |
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-link load-product-details" value="@item.RequestID" data-target="item" href="item">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
