@model IEnumerable<PrototypeWithAuth.Models.Request>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Product.ProductMedia)</th>
            <th>@Html.DisplayNameFor(model => model.Product.ProductName)</th>
            <th>@Html.DisplayNameFor(m => m.Product.Vendor.VendorEnName)</th>
            <th>TOTAL</th> @*Placeholder until we insert total*@
            <th>@Html.DisplayNameFor(m => m.Product.ProductSubcategory.ProductSubcategoryDescription)</th>
            <th>@Html.DisplayNameFor(m => m.ApplicationUser.FirstName) @Html.DisplayNameFor(m => m.ApplicationUser.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.OrderDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>Product Image</td>
                <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.Vendor.VendorEnName)</td>
                <td>Placeholder</td> @*Computed column?*@
                <td>@Html.DisplayFor(modelItem => item.Product.ProductSubcategory.ProductSubcategoryDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                <td>
                    <a asp-action="Received" asp-route-id="@item.RequestID">Received</a> |
                    <!-- Button to Open the Modal -->
                    <button class="btn btn-link load-product-details" value="@item.RequestID" data-target="item" href="item">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
