@model List<PrototypeWithAuth.Models.RequestNotification>
@using PrototypeWithAuth.AppData
@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (AppUtility.IsAjaxRequest(this.Context.Request))
    {
        Layout = null;
    }
}
<div class="">

    @{ 
        var daysLateTitle = "";
        if(Model.First().NotificationStatusID == 1)
        {
            daysLateTitle = "Days Late";
        }
                }
    <table class="table table-headerspaced table-noheaderlines table-hover" style="width:95%;">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Vendor</th>
                <th class="text-center">@daysLateTitle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string iconStyle = item.NotificationStatus.Icon;
                string icon = item.NotificationStatus.Icon;
                string color = "var(" + item.NotificationStatus.Color + ")";
                string description = item.Description;

                var fontWeight = "";
                @if (!item.IsRead)
                {
                    fontWeight = "notification-bold";
                }

                <tr style="height:100px;" class="@fontWeight">
                    <td class="px-5 " style="width:10%;">
                        <i style='font-size:1.4rem; @iconStyle' class='@icon '></i>

                    </td>
                    <td style="width:20%;"><a href="" class="load-product-details-summary" value=@item.RequestID>@Html.DisplayFor(modelItem => item.RequestName)</a></td>
                    <td style="color: @color; width:20%;">@description</td>
                    <td> @item.TimeStamp.ToString("dd'/'MM'/'yyyy") </td>
                    <td>@Html.DisplayFor(modelItem => item.Vendor) </td>

                    @*tried to put both buttons in one cell but for some reason it removes the right tr border (?!)*@
                    @if (item.NotificationStatusID == 1)
                    {
                        <td class="text-center">
                            @(DateTime.Now.Subtract(item.OrderDate??DateTime.Now).Days)
                        </td>
                        <td class="text-right mr-3">
                            <button class=" order-late btn-icon danger-color" data-title="Ask" value="@item.RequestID">Ask</button>
                        </td>
                    }
                    else
                    {
                        <td>
                        </td>
                        <td>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/IndexTablePartial.js"></script>

