@model PrototypeWithAuth.Models.Request;

<div class="modal modal-document fader" id="orderLateModal" @*role="dialog" aria-labelledby="Request"*@ data-backdrop="false">
    <div class="modal-dialog ask-modal  modal-sm " style="width:40%;">
        <div class="modal-content d-inline-block" style="border-radius:2rem;">
            <button type="button" class="close mr-4 mt-4" data-dismiss="modal" aria-label="Close" style="font-size:2.5rem; font-weight:400;">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="m-5">
                @Html.HiddenFor(r => r.RequestID)
                <div class="modal-header border-0">
                    <div class="container">
                        <div >
                            <span class="heading-1">Send Message to @Model.Product.Vendor.VendorEnName.ToLower()</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body border rounded mx-4">
                    <p class="p-3 text" >
                        The order number @Model.ParentRequest.OrderNumber for @Model.Product.ProductName , has not arrived yet.<br />
                        Please update us on the matter.<br />
                        Best regards,<br />
                        @Model.ApplicationUserCreator.FirstName @Model.ApplicationUserCreator.LastName <br />
                        Centarix
                    </p>
                </div>
                <div class="modal-footer mt-4 border-0 " >
                    <div class="m-auto">
                        <input type="submit" class="custom-button custom-button-font order-inv-background-color between-button-margin" asp-action="OrderLateModal" value="Send" />
                        <button class="custom-button custom-cancel cancel-email" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>