@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData


<script src="~/js/site.js" asp-append-version="true"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript">
</script>*@

@*<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript">
</script>*@

<div class="modal modal-view right fader" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg border-left box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">
        @*style needed here to override bootstraps modal width limitations*@

        <div class="modal-content d-inline-block">

            <form action="" id="editModalForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">

                @Html.HiddenFor(model => model.Request.ParentRequest.ApplicationUserID)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@
                @*Requests search view model*@


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Request.RequestID" />

                <!-- Modal Header -->
                <div class="new-modal-header border-bottom box-shadow" style="padding: 0.5em 6em">
                    @*class needed here to override bootstraps modal limitations*@

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                        <br />
                    }
                    <div>
                        <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent"><img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" /></button>
                    </div>
                    <br />
                    <div class="form-group">
                        <h4><label asp-for="Request.Product.ProductName" class="control-label font-weight-bold"> Edit Request : </label> </h4>
                        <h4 class="modal-title"><input asp-for="Request.Product.ProductName" class="rounded form-control-plaintext border-bottom" readonly /></h4>
                        <span asp-validation-for="Request.Product.ProductName" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center">
                                <ul class="nav nav-tabs container-fluid pr-0 border-bottom-0" style="display:inline-flex; justify-content:space-between; color:#666666;">
                                    <li class="nav-item"><a data-toggle="tab" href="#price" id="price-tab" class="nav-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-modal-body" style="background: #F6F7F8; padding: 1em">
                    <div class="container-fluid div-tabs box-shadow" style="background: #FFF; padding: 2em; border: 2px solid #EAEAEB;">

                        <div class="tab-content">

                            <div id="price" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span style="font-size: 1.7em;">Price</span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="currency" class="control-label">Currency</label>
                                            <select id="currency" asp-for="Request.Currency" class="form-control-plaintext border-bottom">
                                                <option value="dollar">&dollar; USD</option>
                                                <option value="shekel">&#8362; NIS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ExchangeRate" class="control-label"></label>
                                            <input asp-for="Request.ExchangeRate" min="0" class="form-control-plaintext border-bottom" />
                                            <span asp-validation-for="Request.ExchangeRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="edit">
                                    <div class="col-4 RequestUnitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.Unit" class="control-label"></label>
                                                    <input asp-for="Request.Unit" class="form-control-plaintext border-bottom" min="0" />
                                                    <span asp-validation-for="Request.Unit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="Request.UnitType" class="control-label"></label>
                                                        @Html.DropDownListFor(
        vm => vm.Request.UnitTypeID,
        Model.UnitTypeList,
        "",
        htmlAttributes: new { @class = "form-control-plaintext border-bottom" }
        )
                                                        <span asp-validation-for="Request.UnitType" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom" name="unit-price-dollars" id="unit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom" name="unit-price-shekel" id="unit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 pl-0 RequestSubunitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubUnit" class="control-label"></label>
                                                    <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                    <span asp-validation-for="Request.SubUnit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                    @Html.DropDownListFor(
                 vm => vm.Request.SubUnitTypeID,
                 Model.UnitTypeList,
                 "",
                 htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
             )
                                                    <span asp-validation-for="Request.SubUnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subunit-price-dollars" id="subunit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 pl-0 RequestSubsubunitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                                    <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                    <span asp-validation-for="Request.SubSubUnit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubSubUnitType" class="control-label" style="font-size:0.85rem;"></label>
                                                    @Html.DropDownListFor(
                                                        vm => vm.Request.SubSubUnitTypeID,
                                                        Model.UnitTypeList,
                                                        "",
                                                        htmlAttributes: new { @class = "form-control-plaintext border-bottom", @disabled = "disabled" }
                                                        )
                                                    <span asp-validation-for="Request.SubSubUnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subsubunit-price-dollars" id="subsubunit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled /> <span asp-validation-for="Request.SubSubUnit" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" name="sum-dollars" min="0" id="sum-dollars" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.Cost" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.Cost" min="1" class="form-control-plaintext border-bottom" />
                                                <span class="text-danger" asp-validation-for="Request.Cost"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.VAT" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.VAT" class="form-control-plaintext border-bottom" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Total + VAT:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">____</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Discount:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Terms:</label>
                                            @Html.DropDownListFor(
                                                                    model => model.Request.Terms,
                                                                    new SelectList(AppUtility.TermsSelectList(), "Value", "Text"),
            htmlAttributes: new { @class = "form-control-plaintext border-bottom" }
                                                                )
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                            <label class="form-check-label"><input class="form-check-input" type="checkbox" id="paid_checkbox" onchange="changeTerms(this)" />Paid</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ParentRequest.Installments" class="control-label"></label>
                                            <input asp-for="Request.ParentRequest.Installments" min="0" class="form-control-plaintext border-bottom" />
                                            <span asp-validation-for="Request.ParentRequest.Installments" class="text-danger"></span>
                                        </div>
                                        @if (Model.NewPayments != null && Model.NewPayments.Any())
                                        {
                                            <script>
                                                console.log("in script for installments disabled");
                                                $("#Request_ParentRequest_Installments").attr("disabled", true);
                                            </script>
                                        }
                                    </div>
                                    <div class="col-md-8 rounded card p-3">
                                        <table class="table table-sm payments-table">
                                            <thead class="thead-light rounded">
                                                <tr>
                                                    <th>Payment Date</th>
                                                    <th>Payment Type</th>
                                                    <th>Account</th>
                                                    <th>Reference</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model.NewPayments != null)
                                                    {
                                                        int counter = 0;
                                                        foreach (var payment in Model.NewPayments)
                                                        {
                                                            <tr class="payment-line">
                                                                <td>
                                                                    <input asp-for="@Model.NewPayments[counter].PaymentDate" class="form-control-plaintext border-bottom datepicker" />
                                                                </td>
                                                                <td>
                                                                    @Html.DropDownListFor(
                                                                   m => m.NewPayments[counter].CompanyAccount.PaymentTypeID,
                                                                   new SelectList(Model.PaymentTypes, "PaymentTypeID", "PaymentTypeDescription")
                                                                   , new { @class = "form-control-plaintext border-bottom" }
                                                                   )
                                                                </td>
                                                                <td>
                                                                    @Html.DropDownListFor(
                                                                   m => m.NewPayments[counter].CompanyAccountID,
                                                                   new SelectList(
                                                                       Model.CompanyAccountListsByPaymentTypeID[Model.NewPayments[counter].CompanyAccount.PaymentTypeID],
                                                                   "CompanyAccountID", "CompanyAccountNum"),
                                                                   new { @class = "form-control-plaintext border-bottom" })
                                                                <td>
                                                                    <input asp-for="@Model.NewPayments[counter].Reference" class="form-control-plaintext border-bottom" />
                                                                </td>
                                                                @Html.HiddenFor(m => m.NewPayments[counter].PaymentID)
                                                                @Html.HiddenFor(m => m.NewPayments[counter].ParentRequestID)
                                                            </tr>
                                                            counter++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Debt</label>
                                            <input class="form-control-plaintext border-bottom" asp-for="Debt" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*you can only add to cart if you are creating a new one*@
                    <input type="submit" name="OrderType" value="Save" asp-action="PriceModalView" class="inv-button mr-4" />

                    @*@Html.ActionLink("Delete", "Delete", new { @id = Model.Product.ProductID }, new { @class = "btn btn-outline-danger" })*@
                    <button type="button" class="cancel-button" data-dismiss="modal">Close</button>
                </div>




                @*Begin Hidden Inputs:*@
                @Html.HiddenFor(vm => vm.Request.ProductID)
                @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ParentCategoryID)
                @Html.HiddenFor(vm => vm.Request.RequestStatusID)
                @Html.HiddenFor(vm => vm.Request.ParentRequestID)
                @*End Hidden Inputs*@

                @*Hidden Input for Product Subcategory*@
                @Html.HiddenFor(vm => vm.Request.Product.ProductSubcategory.ProductSubcategoryDescription)

            </form>

        </div>
    </div>
</div>