@model PrototypeWithAuth.ViewModels.ConfirmEmailViewModel
@{
    ViewData["Title"] = "PurchaseOrderView";
    //Layout = "~/Views/Requests/ConfirmEmailModal.cshtml";

    var colspan = 1;
    @if (Model.ParentRequest.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
    {

        colspan = 3;
    }

    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

        <title>Order Summary</title>
    </head>
    <body style="font-family: 'Roboto', sans-serif;">

        <div style="padding: 1rem 2rem;">
            <header class="page-header">
                <div class="row">
                    <div class="col-md-6 company-logo">
                        <br />
                        <img src="~/images/css/Centarix_Logo.png" width="400" alt="Centarix Logo">
                    </div>
                    <div class="col-md-3 offset-3 pt-3 company-info">
                        <span style="font-weight: 700; font-size:1.5rem;">Centarix Biotech</span><br>
                        <span>ID: 51565512</span><br>
                        <span>Hamarpeh 3, Jerusalem</span><br>
                        <span>Tel: 073-7896888</span>
                    </div>
                </div>
                <hr>
            </header>
            <div class="row">
                <div class="col-6">
                    <span style="font-weight: 700; font-size:2rem;">Purchase Order: @Model.ParentRequest.OrderNumber</span>
                </div>
                <div class="col-3 offset-3 text-center">
                    <span style="font-weight:500" id="date"></span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div class="vendor-info">
                        <span style="font-weight: 700; font-size:1.5rem;">@Model.ParentRequest.Requests.FirstOrDefault().Product.Vendor.VendorEnName</span><br>
                        <span>ID: @Model.ParentRequest.Requests.FirstOrDefault().Product.Vendor.VendorBuisnessID</span><br>
                        <span>@Model.ParentRequest.Requests.FirstOrDefault().Product.Vendor.VendorCity</span><br>
                        <span>Tel: @Model.ParentRequest.Requests.FirstOrDefault().Product.Vendor.VendorTelephone</span>
                    </div>
                </div>
                <div class="col-6 offset-2">
                    <div class="note-message p-4 pl-5">
                        <span style="font-weight: 700; font-size:1.5rem;">Please Note</span><br>
                        <span>We need this order by next Sunday. Thank you!</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <table class="table confirm-table">
                    <thead style="background-color: #D0001C; color: #ffffff;">
                        <tr>
                            @if (Model.ParentRequest.Requests.FirstOrDefault().Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                            {
                                <th style="width:40%;">Items</th>
                                <th style="width:20%;">SKU</th>
                                <th style="width:10%;">Units</th>
                                <th style="width:20%;">Price</th>
                                <th style="width:10%;">Total</th>
                            }
                            else
                            {
                                <th>Items</th>
                                <th>SKU</th>

                                <th>Total</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @*@for (int i = 0; i < Model.ParentRequest.Requests.Count(); i++)
                            {

                                <tr>
                                    <td style="font-weight: 500;">@Model.pare.Requests[i].SubUnit @Model.Requests[i].Product.ProductName</td>
                                    <td>@Model.Requests[i].CatalogNumber</td>
                                    @if (@Model.Requests[i].Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                                    {
                                        <td>@Model.Requests[i].Unit</td>
                                        double unitPrice = (Model.Requests[i].Cost) / Model.Requests[i].Unit;
                                        <td>@unitPrice.ToString("N2")</td>
                                    }

                                    <td>@Model.Requests[i].Cost</td>
                                </tr>


                            }*@
                        @foreach (var request in Model.ParentRequest.Requests)
                        {
                            <tr>
                                <td style="font-weight: 500;">@request.SubUnit @request.Product.ProductName</td>
                                <td>@request.CatalogNumber</td>
                                @if (request.Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                                {
                                    <td>@request.Unit</td>
                                    double unitPrice = (request.Cost) / request.Unit;
                                    <td>@unitPrice.ToString("N2")</td>
                                }

                                <td>@request.Cost</td>
                            </tr>
                        }
                        @{ double total = Model.ParentRequest.Requests.Sum(r => r.Cost);
                            double vat = total * .17;
                            double totalWithVat = total + vat;}
                        <tr>
                            <td colspan="@colspan" rowspan="5" class="borderless-cell">
                                <img src="~/images/css/centarix_logo_signature.png" alt="signature" width="250" class="mt-5">
                            </td>
                            <td>Total</td>
                            <td>@total.ToString("N2")</td>
                        </tr>

                        <tr>
                            <td>Discount @*@Html.DisplayFor(modelItem => Model.Request.)*@</td>
                            @*@{double discount = Model.Request.Cost * Model.Request.Discount; }*@
                            <td>@*discount*@</td>

                        </tr>
                        <tr>
                            <td>Total Price</td>
                            @*@{ double totalWithDis = Model.Request.Cost - discount}*@
                            <td>@*@totalWithDis*@</td>
                        </tr>
                        <tr>
                            <td>VAT [17%]</td>
                            @* make the vat a global variable*@
                            <td>@vat.ToString("N2")</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total To Pay</td>

                            <td style="font-weight: bold;">@totalWithVat.ToString("N2")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="payment-terms">
                        <span style="font-weight:700; font-size:1.5rem;">Payment Terms</span><br>
                        <span class="payment-terms">@Model.ParentRequest.Requests.FirstOrDefault().Terms</span>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var today = new Date();
            var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
            document.getElementById("date").innerHTML = date;
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>

}