@using PrototypeWithAuth.AppData
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels.ReceivedLocationViewModel
@{
    var bcColor = "order-inv-background-color";
    var form = "order-inv-form";
    if (Model.RequestIndexObject.SectionType == AppUtility.MenuItems.Operations)
    {
        bcColor = "oper-background-color";
        form = "oper-form";
    }
}

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Validation/receivedModalFormValidation.js"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<script src="~/js/receivedmodal.js"></script>
<script src="~/js/customDropdown.js"></script>
<div class="modal modal-view on-form-modal" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered mx-auto  modal-lg" role="document" style="max-height:100%; max-width:90rem; overflow-y:auto;">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow">
            <button type="button" class="close modal-close-padding modal-close-style" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('received-item')">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%;" class="modal-padding @form receivedModalForm">
                @*the following hidden fors are here so i can do a request.save in for the info that is being given here.
                    in the future might want to change it to loading the request from this request id and then adding in the values
                    given here (done in the controller)*@
                @Html.HiddenFor(model => model.RequestIndexObject.PageType)
                @Html.HiddenFor(model => model.RequestIndexObject.PageNumber)
                @Html.HiddenFor(model => model.RequestIndexObject.SectionType)
                @Html.HiddenFor(model => model.RequestIndexObject.SelectedCurrency)
                @*@Html.HiddenFor(model => model.RequestIndexObject.SelectedPriceSort)*@
                @Html.HiddenFor(model => model.RequestIndexObject.RequestStatusID)
                @Html.HiddenFor(model => model.RequestIndexObject.SidebarFilterID)
                @Html.HiddenFor(model => model.RequestIndexObject.SidebarType)
                @Html.HiddenFor(vm => vm.Request.RequestID)

                @Html.HiddenFor(vm => vm.CategoryType)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @*@Html.HiddenFor(model => model.RequestStatusID)*@
                <input type="hidden" asp-for="PageRequestStatusID" value="@Model.PageRequestStatusID" />
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@



                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="modal-header border-bottom-0 modal-header-padding">
                        <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                        <br />
                    </div>
                }

            <div class="modal-body p-0">

                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-2">
                                @if (Model.Request.Product.ProductSubcategory.ImageURL != null)
                                {
                                    var imageurl = Model.Request.Product.ProductSubcategory.ImageURL;
                                    <img src="@imageurl" alt="Image" width="100" class="category-image" />
                                }
                                else
                                {
                                    <img src="~/images/css/accounting/sample_image.png" alt="Image" width="100" class="category-image" />
                                }
                            </div>
                            <div class="col-10">
                                <input asp-for="Request.Product.ProductName" class="form-control-plaintext heading-1 mt-2 center-horizontally my-auto" readonly />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="Request.ArrivalDate" class="control-label"></label>
                                <input asp-for="Request.ArrivalDate" type="text" class="form-control-plaintext border-bottom datepicker" />
                                <span asp-validation-for="Request.ArrivalDate" class="text-danger-centarix"></span>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Application User Receiver</label>
                                    <input asp-for="Request.ApplicationUserReceiver" class="form-control-plaintext border-bottom " readonly />
                                    <input type="hidden" asp-for="Request.ApplicationUserReceiverID" />
                                </div>
                            </div>
                            @*<div class="col-1 text-center">
                <input type="checkbox" asp-for="Arrival" class="new-chckbx" />
                <label asp-for="Arrival">Arrival</label>
            </div>*@
                            <div class="col-2 text-center">
                                <br />
                                <div class="form-check">
                                    <button href="#" id="clarifyPopover" type="button" data-toggle="popover" data-placement="bottom" data-container="body" data-trigger="focus" class="btn p-0 m-0 no-box-shadow">
                                    </button>
                                    <input type="checkbox" class="form-check-input filled-in clarify-checkbox" asp-for="Request.IsClarify" />
                                    <label class="form-check-label " asp-for="Request.IsClarify">Clarify</label>

                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <br />
                                <div class="form-check">
                                    <button href="#" id="partialPopover" type="button" data-toggle="popover" data-placement="bottom" data-container="body" data-trigger="focus" class="btn p-0 m-0 no-box-shadow">
                                    </button>
                                    <input type="checkbox" class="form-check-input filled-in partial-checkbox" asp-for="Request.IsPartial" />
                                    <label class="form-check-label " asp-for="Request.IsPartial">Partial</label>
                                </div>
                            </div>
                            @*<div class="col-1 text-center">
                <input type="checkbox" id="test-chkbx" class="new-chckbx" />
                <label for="test-chkbx">Trial</label>
            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-4">

                            </div>
                            @*<div class="col-1 text-center">
                <input type="checkbox" asp-for="Arrival" class="new-chckbx" />
                <label asp-for="Arrival">Arrival</label>
            </div>*@
                            <div class="clarify-popover m-5" style="display:none">
                                <label asp-for="Request.NoteForClarifyDelivery" class="control-label">Clarify Note</label>
                                <div>
                                    <div class="container">
                                        <div class="">
                                            <textarea asp-for="Request.NoteForClarifyDelivery" class="popover-clarify-note"></textarea>
                                        </div>
                                        <div class="row mt-2 text-center">
                                            <div class="col-6 p-1">
                                                <button type="button" href="#" class="rounded-pill small-text p-0 m-0 btn text-capitalize clarify-note-close" style="width: 100%;
                                                        border: 1px solid var(--acc-color);
                                                        background-color: transparent;
                                                        color: var(--acc-color);">
                                                    Save
                                                </button>
                                            </div>
                                            <div class="col-6 p-1 ">
                                                <button class="rounded-pill p-0 m-0 small-text clarify-note-close" style="background-color: transparent; border-width:1px !important; width: 100%;">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partial-popover" style="display:none">
                                <label asp-for="Request.NoteForPartialDelivery" class="control-label">Partial Note</label>
                                <div>
                                    <div class="container">
                                        <div class="">
                                            <textarea asp-for="Request.NoteForPartialDelivery" class="popover-partial-note"></textarea>
                                        </div>
                                        <div class="row mt-2 text-center">
                                            <div class="col-6 p-1">
                                                <button type="button" href="#" class="rounded-pill small-text p-0 m-0 btn text-capitalize partial-note-close" style="width: 100%;
                                                        border: 1px solid var(--acc-color);
                                                        background-color: transparent;
                                                        color: var(--acc-color);">
                                                    Save
                                                </button>
                                            </div>
                                            <div class="col-6 p-1 ">
                                                <button class="rounded-pill p-0 m-0 small-text partial-note-close" style="background-color: transparent; border-width:1px !important; width: 100%;">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-1 text-center">
                <input type="checkbox" id="test-chkbx" class="new-chckbx" />
                <label for="test-chkbx">Trial</label>
            </div>*@
                        </div>
                        <br />
                        @if (Model.Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescriptionEnum == AppUtility.ParentCategoryEnum.ReagentsAndChemicals.ToString())
                        {
                            <div class="row">
                                <div class="col-md-3 ">
                                    <label asp-for="Request.Batch" class="control-label"></label>
                                    <input asp-for="Request.Batch" class="form-control-plaintext border-bottom " type="text" />
                                    <span asp-validation-for="Request.Batch" class="text-danger-centarix"></span>
                                </div>

                                <div class="col-md-3 reusables equipment  ">
                                    <label asp-for="Request.BatchExpiration" class="control-label"></label>
                                    <input type="text" asp-for="Request.BatchExpiration" class="form-control-plaintext border-bottom datepicker" />
                                </div>
                            </div>
                        }

                        @if (Model.Request.Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                        {
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="control-label" asp-for="locationTypesDepthZero">Location Type</label>
                                        <div class=" form-control-plaintext border-bottom p-0">
                                            <span class="choose p-0"></span>
                                            <div class="dropdown dropdown-main">
                                                <div class="select d-inline-flex">
                                                    <span class="caret py-0">
                                                        ▼
                                                    </span>
                                                    <span class="overflow-hidden">Select Type:</span>

                                                </div>

                                                <ul class="p-0 locationinstance dropdown-menu ">

                                                    @foreach (var locationType in Model.locationTypesDepthZero)
                                                    {
                                                        <li id="@locationType.LocationTypeID" class="open-sublocations-types" data-string="" @*onclick="loadReceivedModalSubLocations(this.id)"*@>
                                                            @locationType.LocationTypeName
                                                        </li>
                                                    }
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-10">
                                    <div class="divSublocations container-fluid">

                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label">Location Details</label>
                        <input class="form-control-plaintext border-bottom" placeholder="Notes..." disabled />
                    </div>
                </div>
            </div>*@}
                    </div>
                    @if (Model.Request.Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                    {
                        <div class="col-4">
                            <div class="visualView col-12 p-0  text-center">

                            </div>
                        </div>
                    }
                </div>
                <div class="row ">

                    <div class="col-8 ">

                    </div>
                    <div class="col-4 heading-1 text-center locationFullName">
                        
                    </div>
                </div>

            </div>

                @*Why are there 2 empty modal-body's here?*@
                <!--<div class="modal-body">
                <div class="row">-->
                @*<div class="divSublocations">

                    </div>*@
                <!--</div>
                </div>

                <div class="modal-body">
                    <div class="row">-->
                @*<div class="visualView col-md-12 text-center">

                    </div>*@
                <!--</div>
                </div>-->
                <input type="hidden" style="pointer-events:none" id="locationSelected" name="locationSelected" />
                <div class="modal-footer border-0 modal-footer-mt">
                    <div class="m-auto">
                        <input type="submit" class="submit-received custom-button custom-button-font @bcColor between-button-margin" />
                        <input type="button" value="Cancel" @*data-dismiss="modal"*@ class="custom-cancel custom-button" onclick="$.fn.CloseModal('received-item')" />
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
<script src="~/js/InitializeDatePicker.js"></script>
<script>
    $(".clarify-checkbox").click(function () {
        $('[data-toggle="popover"]').each(function () {
            $(this).popover('dispose');
        });
        if ($(this).is(":checked")) {
            $('#clarifyPopover').popover({
                sanitize: false,
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('.clarify-popover').html();
                }
            });
            $('#clarifyPopover').popover('toggle');
        }
    });
    $(".partial-checkbox").click(function () {
        $('[data-toggle="popover"]').each(function () {
            $(this).popover('dispose');
        });
        if ($(this).is(":checked")) {
            $('#partialPopover').popover({
                sanitize: false,
                placement: 'bottom',
                html: true,
                content: function () {
                    return $('.partial-popover').html();
                }
            });
            $('#partialPopover').popover('toggle');
        }
    });
    $('body').off('change', ".popover-partial-note").on('change', '.popover-partial-note', function (e) {
        $('.popover-partial-note').val($(this).val());
    })
    $('body').off('change', ".popover-clarify-note").on('change', '.popover-clarify-note', function (e) {
        $('.popover-clarify-note').val($(this).val());
    })
    $('body').off('click', ".partial-note-close").on('click', ".partial-note-close", function (e) {
        if ($(this).val() == "Cancel") {
            $(".popover-partial-note").val("");
        }
        $('[data-toggle="popover"]').each(function () {
            $(this).popover('dispose');
        });
    })
    $('body').off('click', ".clarify-note-close").on('click', ".clarify-note-close", function (e) {
        if ($(this).val() == "Cancel") {
            $(".popover-clarify-note").val("");
        }
        $('[data-toggle="popover"]').each(function () {
            $(this).popover('dispose');
        });
    })
    $(".submit-received").click(function (e) {
        //alert("validate form");
        e.preventDefault();
        $("#myForm").data("validator").settings.ignore = "";
        var valid = $("#myForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {

            e.stopPropagation();
            if (!$('.activeSubmit').hasClass('disabled-submit')) {
                $('.activeSubmit').addClass('disabled-submit')
            }

        }
        else {
            $('.activeSubmit').removeClass('disabled-submit')
            $("#loading").show();
            var formData = new FormData($("#myForm")[0]);
            console.log(...formData)
            ajaxPartialIndexTable($(".request-status-id").val(), "/Requests/ReceivedModal/", "._IndexTableWithCounts", "POST", formData, "received-item");
        }
        $("#myForm").data("validator").settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';

        return false;
    });

</script>
