@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels.ReceivedLocationViewModel

<script src="~/js/site.js" asp-append-version="true"></script>
<div class="modal modal-view right faid" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg" role="document" style="max-height:100%; overflow-y:auto;">
        <div class="modal-content d-inline-block">

            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">
                @Html.HiddenFor(vm => vm.Request.RequestID)



                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@



                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-header border-bottom-0">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                        <br />
                    }
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-dialog-scrollable">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" asp-for="locationTypesDepthZero"></label>
                                @Html.DropDownListFor(m => m.LocationTypeID,
    new SelectList(Model.locationTypesDepthZero, "LocationTypeID", "LocationTypeName"),
    "Select Type", new { @class = "form-control-plaintext border-bottom ", @id = "locationTypeDepthZero" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="divSublocations">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="visualView col-md-12 text-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @*<div class="divSublocations">

                </div>*@
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @*<div class="visualView col-md-12 text-center">

                </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" asp-action="ReceivedModal" class="btn btn-secondary" />
                </div>
            </form>

        </div>
    </div>
</div>