@using PrototypeWithAuth.AppData
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PrototypeWithAuth.ViewModels.ReceivedLocationViewModel
@{
    var bcColor = "order-inv-background-color";
    var form = "order-inv-form";
    if (Model.SectionType == AppUtility.MenuItems.Operation)
    {
        bcColor = "oper-background-color";
        form = "oper-form";
    }
}
<script src="~/js/site.js" asp-append-version="true"></script>
<div class="modal modal-view" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered mx-auto  modal-lg" role="document" style="max-height:100%; max-width:90rem; overflow-y:auto;">

        <div class="modal-content d-inline-block modal-border-radius modal-box-shadow">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding @form">
                @*the following hidden fors are here so i can do a request.save in for the info that is being given here.
                    in the future might want to change it to loading the request from this request id and then adding in the values
                    given here (done in the controller)*@
                @Html.HiddenFor(vm => vm.Request.RequestID)

                @Html.HiddenFor(vm => vm.CategoryType)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.VendorID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@



                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="modal-header border-bottom-0 modal-header-padding">
                        <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                        <br />
                    </div>
                }

                <div class="modal-body p-0">

                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-2">
                                    @if (Model.Request.Product.ProductSubcategory.ImageURL != null)
                                    {
                                        var imageurl = Model.Request.Product.ProductSubcategory.ImageURL;
                                        <img src="@imageurl" alt="Image" width="100" class="category-image" />
                                    }
                                    else
                                    {
                                        <img src="~/images/css/accounting/sample_image.png" alt="Image" width="100" class="category-image" />
                                    }
                                </div>
                                <div class="col-10">
                                    <input asp-for="Request.Product.ProductName" class="form-control-plaintext heading-1 mt-2 center-horizontally my-auto" readonly />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-4">
                                    <label asp-for="Request.ArrivalDate" class="control-label"></label>
                                    <input asp-for="Request.ArrivalDate" class="form-control-plaintext border-bottom" />
                                    <span asp-validation-for="Request.ArrivalDate" class="text-danger-centarix"></span>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="control-label">Application User Receiver</label>
                                        <select asp-for="Request.ApplicationUserReceiverID" class="mdb-select custom select-dropdown form-control-plaintext">
                                            @foreach (var user in Model.ApplicationUsers)
                                            {
                                                <option value="@user.Id">@user.UserName</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Request.ApplicationUserReceiverID" class="text-danger-centarix"></span>
                                    </div>
                                </div>
                                @*<div class="col-1 text-center">
                                        <input type="checkbox" asp-for="Arrival" class="new-chckbx" />
                                        <label asp-for="Arrival">Arrival</label>
                                    </div>*@
                            <div class="col-2 text-center">
                                <label asp-for="Clarify">Clarify</label>
                                <br />
         
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" asp-for="Clarify" onclick="changePartialDelivery()" />
                                    <label class="custom-control-label text-white" style="font-size: 0;" asp-for="Clarify"></label>
                                </div>
                            </div>
                                <div class="col-2 text-center">
                                    <label asp-for="PartialDelivery">Partial Delivery</label>
                                    <br />
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" asp-for="PartialDelivery" onclick="changeClarify()" />
                                        <label class="custom-control-label text-white" style="font-size: 0;" asp-for="PartialDelivery"></label>
                                    </div>
                                </div>
                                @*<div class="col-1 text-center">
                                        <input type="checkbox" id="test-chkbx" class="new-chckbx" />
                                        <label for="test-chkbx">Trial</label>
                                    </div>*@
                            </div>

                            <br />
                            @if (Model.Request.Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                            {
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="locationTypesDepthZero">Location Type</label>
                                            <div class=" form-control-plaintext border-bottom p-0">
                                                <span class="choose p-0"></span>
                                                <div class="dropdown dropdown-main">
                                                    <div class="select d-inline-flex">
                                                        <span class="caret py-0">
                                                            ▼
                                                        </span>
                                                        <span class="overflow-hidden">Select Type:</span>

                                                    </div>

                                                    <ul class="p-0 locationinstance dropdown-menu ">
                                                        @foreach (var locationType in Model.locationTypesDepthZero)
                                                        {
                                                            <li  id="@locationType.LocationTypeID" onclick="loadReceivedModalSubLocations(this.id)" >
                                                                @locationType.LocationTypeName
                                                            </li>
                                                        }
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-10">
                                        <div class="divSublocations container-fluid">

                                        </div>
                                    </div>
                                </div>
                         
                                @*<div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="control-label">Location Details</label>
                                                <input class="form-control-plaintext border-bottom" placeholder="Notes..." disabled />
                                            </div>
                                        </div>
                                    </div>*@}
                        </div>
                        @if (Model.Request.Product.ProductSubcategory.ParentCategory.CategoryTypeID == 1)
                        {
                            <div class="col-4">
                                <div class="visualView col-12 text-center">

                                </div>
                            </div>
                        }
                    </div>

                </div>

                @*Why are there 2 empty modal-body's here?*@
                <!--<div class="modal-body">
                <div class="row">-->
                @*<div class="divSublocations">

                    </div>*@
                <!--</div>
                </div>

                <div class="modal-body">
                    <div class="row">-->
                @*<div class="visualView col-md-12 text-center">

                    </div>*@
                <!--</div>
                </div>-->

                <div class="modal-footer border-0 modal-footer-mt">
                    <div class="m-auto">
                        <input type="submit" asp-action="ReceivedModal" class="custom-button custom-button-font @bcColor between-button-margin" />
                        <input type="button" value="Cancel" data-dismiss="modal" class="custom-cancel custom-button" />
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>

<script>
    $("input:checkbox").on('click', function () {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            console.log(group)
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
    //AJAX load full partial view for modalview manage locations
    function loadReceivedModalSubLocations(val) {
        var myDiv = $(".divSublocations");
        $.ajax({
            //IMPORTANT: ADD IN THE ID
            url: "/Requests/ReceivedModalSublocations/?LocationTypeID=" + val,
            type: 'GET',
            cache: false,
            context: myDiv,
            success: function (result) {
                $(this).html(result);
            }
        });
    };


</script>