@model PrototypeWithAuth.ViewModels.ReorderViewModel
@using PrototypeWithAuth.AppData
@{
    var bcColor = "order-inv-background-color  ";
    var color = "order-inv-color";
    var form = "order-inv-form";
    var dollarDisabled = "disabled disabled-text";
    var shekelDisabled = "";
    if (TempData[AppUtility.TempDataTypes.MenuType.ToString()].Equals(AppUtility.MenuItems.LabManagement.ToString()))
    {
        bcColor = "lab-man-background-color";
        form = "supplier-form";
        color = "lab-man-color";
    }
    TempData.Keep();
    if (Model.RequestItemViewModel.Request.Currency == "USD")
    {
        dollarDisabled = "";
        shekelDisabled = "disabled disabled-text";
    }

}

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<script src="~/js/Validation/ReorderFormValidation.js"></script>
<script src="~/js/SubUnit.js"></script>
<script src="~/js/IndexTablePartial.js"></script>
<div class="modal modal-view reorderModal fader on-form-modal @form " id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered modal-xl mx-auto" role="document">

        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius mx-auto">
            <button type="button" class="close modal-close-padding modal-close-style cancelOrder" @*data-dismiss="modal"*@ aria-label="Close" onclick=" $('.reorder-item').html('');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding reorderForm">


                @*
                    NOTE: The select boxes are disabled as they cannot be edited, yet in order to pass the values into the controlller-
                        they need the hiddenfors that are right underneath it
                *@
                @Html.HiddenFor(model => model.RequestIndexObject.PageType)
                @Html.HiddenFor(model => model.RequestIndexObject.PageNumber)
                @Html.HiddenFor(model => model.RequestIndexObject.SectionType)
                @*@Html.HiddenFor(model => model.RequestIndexObject.SelectedPriceSort)*@
                @Html.HiddenFor(model => model.RequestIndexObject.RequestStatusID)
                @Html.HiddenFor(model => model.RequestIndexObject.SidebarFilterID)
                @Html.HiddenFor(model => model.RequestIndexObject.SidebarType)
                @Html.HiddenFor(model => model.RequestItemViewModel.Request.RequestID)
                <input type="hidden" asp-for="RequestItemViewModel.Request.ExchangeRate" id="exchangeRate" />
                <input type="hidden" asp-for="RequestItemViewModel.Request.Currency" id="currency" />

                @Html.HiddenFor(model => model.RequestItemViewModel.PageType) @*JS shoulde be taking this as a string *@
                @Html.HiddenFor(model => model.RequestItemViewModel.Request.ApplicationUserCreatorID)

                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                <input type="hidden" asp-for="@Model.RequestItemViewModel.Request.RequestID" />

                <!-- Modal Header -->
                <div class="new-modal-header no-box-shadow modal-header-padding " style="border-bottom:0 !important">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                        <br />
                    }

                    <div class="form-group mb-3 ">
                        <div class="row px-5 text-danger-centarix"> @ViewBag.ErrorMessage </div>
                        <div class="row modal-title-line">
                            <div class="col-1">
                                @if (Model.RequestItemViewModel.Request.Product.ProductSubcategory.ImageURL != null)
                                {
                                    var imageurl = Model.RequestItemViewModel.Request.Product.ProductSubcategory.ImageURL;<img src="@imageurl" alt="Image" width="75" class="category-image" />
                                }
                                else
                                {
                                    <img src="~/images/css/accounting/sample_image.png" alt="Image" width="75" class="category-image" />
                                }
                            </div>

                            <div class="col-5 heading-1">
                                @Model.RequestItemViewModel.Request.Product.ProductName
                            </div>

                        </div>
                        <div class="row">
                            <hr class="col-12" />
                        </div>

                    </div>

                    <div class="row" id="edit">
                        <div class="col-4 h-100 RequestUnitCard">
                            <div class="border p-3">
                                <div class="row mb-4">
                                    <div class="col-md-6 form-group">
                                        <label asp-for="RequestItemViewModel.Request.Unit" class="control-label"></label>
                                        <input asp-for="RequestItemViewModel.Request.Unit" class="form-control-plaintext border-bottom " id="unit" min="1" />
                                        <span asp-validation-for="RequestItemViewModel.Request.Unit" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestItemViewModel.Request.UnitType" class="control-label"></label>
                                            @Html.DropDownListFor(
vm => vm.RequestItemViewModel.Request.UnitTypeID,
Model.RequestItemViewModel.UnitTypeList,
"",
htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext reorder-unit", @id = "unitTypeID" }
)
                                            <span asp-validation-for="RequestItemViewModel.Request.UnitType" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="control-label">Price:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-text @dollarDisabled">&#36;</span>
                                                <input class="form-control-plaintext border-bottom @dollarDisabled" name="unit-price-dollars" id="unit-price-dollars"
                                                       value="@(Math.Round(Model.RequestItemViewModel.Request.PricePerUnit/Model.RequestItemViewModel.Request.ExchangeRate, 2))" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-text @shekelDisabled">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom @shekelDisabled" name="unit-price-shekel" id="unit-price-shekel"
                                                       value="@Model.RequestItemViewModel.Request.PricePerUnit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            if (Model.RequestItemViewModel.Request.SubUnit > 0)
                            {
                                <div class="col-4 pl-0 RequestSubunitCard">
                                    <div class="border h-100 ">
                                        <div class="mx-2rem  subUnitsCard  mt-4">
                                            <div class="row mb-4">
                                                <div class="col-md-6  form-group">
                                                    <label asp-for="RequestItemViewModel.Request.SubUnit" class="control-label"></label>
                                                    <input asp-for="RequestItemViewModel.Request.SubUnit" class="form-control-plaintext border-bottom" id="subUnit" />
                                                    <span asp-validation-for="RequestItemViewModel.Request.SubUnit" class="text-danger-centarix"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="RequestItemViewModel.Request.SubUnitType" class="control-label"></label>
                                                    @Html.DropDownListFor(
                vm => vm.RequestItemViewModel.Request.SubUnitTypeID,
                Model.RequestItemViewModel.UnitTypeList,
                "",
                         htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "subUnitTypeID" }
                         )
                                                    <span asp-validation-for="RequestItemViewModel.Request.SubUnitType" class="text-danger-centarix"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text @dollarDisabled">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom @dollarDisabled" name="subunit-price-dollars" id="subunit-price-dollars"
                                                                   value="@(Math.Round((Model.RequestItemViewModel.Request.PricePerSubUnit??0)/Model.RequestItemViewModel.Request.ExchangeRate, 2))" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text @shekelDisabled">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom @shekelDisabled" name="subunit-price-shekel" id="subunit-price-shekel"
                                                                   value="@Model.RequestItemViewModel.Request.PricePerSubUnit" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (Model.RequestItemViewModel.Request.SubUnit > 0)
                            {
                                if (Model.RequestItemViewModel.Request.SubSubUnit > 0)
                                {
                                    <div class="col-4 pl-0 RequestSubsubunitCard">
                                        <div class="border h-100">


                                            <div class="mx-2rem  subSubUnitsCard mt-4">
                                                <div class="row mb-4">
                                                    <div class="col-md-6  form-group">
                                                        <label asp-for="RequestItemViewModel.Request.SubSubUnit" class="control-label"></label>
                                                        <input asp-for="RequestItemViewModel.Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" id="subSubUnit" />
                                                        <span asp-validation-for="RequestItemViewModel.Request.SubSubUnit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label asp-for="RequestItemViewModel.Request.SubSubUnitType" class="control-label" style="font-size:0.85rem;"></label>
                                                        @Html.DropDownListFor(
                                                            vm => vm.RequestItemViewModel.Request.SubSubUnitTypeID,
                                                            Model.RequestItemViewModel.UnitTypeList,
                                                            "",
                                                            htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "subSubUnitTypeID" }
                                                            )
                                                        <span asp-validation-for="RequestItemViewModel.Request.SubSubUnitType" class="text-danger-centarix"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Price:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text @dollarDisabled">&#36;</span>
                                                                <input class="form-control-plaintext border-bottom @dollarDisabled" name="subsubunit-price-dollars" id="subsubunit-price-dollars"
                                                                       value="@(Math.Round((Model.RequestItemViewModel.Request.PricePerSubSubUnit??0)/Model.RequestItemViewModel.Request.ExchangeRate, 2))" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text @shekelDisabled">&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom @shekelDisabled" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled
                                                                       value="@Model.RequestItemViewModel.Request.PricePerSubSubUnit" />
                                                                <span asp-validation-for="RequestItemViewModel.Request.SubSubUnit" class="text-danger-centarix"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                        }


                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Sum:</label>
                                <div class="input-group">
                                    <span class="input-group-text @dollarDisabled">&#36;</span>
                                    <input class="form-control-plaintext border-bottom @dollarDisabled" name="sum-dollars" id="sum-dollars"
                                           value="@(String.Format("{0:n}", Math.Round((Model.RequestItemViewModel.Request.Cost??0)/Model.RequestItemViewModel.Request.ExchangeRate,2)))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="RequestItemViewModel.Request.Cost" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text @shekelDisabled">&#x20aa;</span>
                                    <input asp-for="RequestItemViewModel.Request.Cost" id="cost" class="form-control-plaintext border-bottom @shekelDisabled" min="1" />
                                    <span class="text-danger-centarix" asp-validation-for="RequestItemViewModel.Request.Cost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="RequestItemViewModel.Request.VAT" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#36;</span>
                                    <input class="form-control-plaintext border-bottom vatInDollars disabled-text" disabled value="@String.Format("{0:n}", (Math.Round(Model.RequestItemViewModel.Request.VAT / Model.RequestItemViewModel.Request.ExchangeRate, 2)))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#x20aa;</span>
                                    <input asp-for="RequestItemViewModel.Request.VAT" class="form-control-plaintext border-bottom disabled-text" id="vat" disabled />
                                    <span class="text-danger-centarix" asp-validation-for="RequestItemViewModel.Request.VAT"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Total:</label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#36;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled
                                           value="@(Math.Round(Model.RequestItemViewModel.Request.TotalWithVat/Model.RequestItemViewModel.Request.ExchangeRate,2))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled value="@Model.RequestItemViewModel.Request.TotalWithVat" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <hr class="col-12" />
                    </div>

                    <div class="form-group mx-auto text-center mb-4 modal-footer-mt">
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" name="OrderType" asp-action="ReOrderFloatModalView" value="@AppUtility.OrderTypeEnum.RequestPriceQuote"
                                        class="p-0 custom-order-inv custom-button create-modal-submit ">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.RequestPriceQuote.ToString())
                                </button>

                            </div>
                            <div class="col-4">
                                <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.OrderNow"
                                        class="p-0 custom-order-inv custom-button create-modal-submit  submitOrder">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.OrderNow.ToString())
                                </button>

                            </div>
                            <div class="col-4">
                                <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.AddToCart"
                                        class="p-0 custom-order-inv custom-button  create-modal-submit submitOrder">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.AddToCart.ToString())
                                </button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <span class="small-text">Ask the secretary to get a price quote</span>
                            </div>
                            <div class="col-4">
                                <span class="small-text">If you want to process a single order imediately</span>
                            </div>
                            <div class="col-4">
                                <span class="small-text">If you want to order multiple items</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.AlreadyPurchased"
                                        class="p-0 custom-order-inv custom-button create-modal-submit  submitOrder ">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.AlreadyPurchased.ToString())
                                </button>

                            </div>

                            <div class="col-4">
                                <button type="button" class="custom-cancel custom-button create-modal-submit cancelOrder" @*data-dismiss="modal"*@ @*onclick="$(this).closest('.reorderModal').modal('hide'); $('.reorderModal').replaceWith('');"*@>Cancel</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <span class="small-text">Update the purchase of an item</span>
                            </div>


                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".submitOrder").off('click').on("click", function (e) {
        e.preventDefault();
        console.log("submit reorder");
        //alert("validate form");
        $(".reorderForm").data("validator").settings.ignore = "";
        var valid = $(".reorderForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {

            if (!$('input[type="submit"], button[type="submit"] ').hasClass('disabled-submit')) {
                $('input[type="submit"], button[type="submit"] ').addClass('disabled-submit')
            }

        }
        else {
            $('input[type="submit"], button[type="submit"] ').removeClass('disabled-submit')
            $("#loading").show();
            var formData = new FormData($(".reorderForm")[0]);
            console.log(...formData)
            var orderType = $(this).val();
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: "/Requests/ReOrderFloatModalView?OrderTypeEnum=" + orderType,
                data: formData,
                traditional: true,
                type: "POST",
                cache: false,
                success: function (data) {
                    $.fn.OpenModal('modalStep1', 'step-1', data)
                    $("#loading").hide();
                    return true;
                },
                error: function (jqxhr) {
                    if (jqxhr.status == 500) {
                        $.fn.OpenModal('reorderModal', 'reorder-item', jqxhr.responseText)
                    }

                    $("#loading").hide();
                    return true;
                }
            });
        }
        $(".reorderForm").data("validator").settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';

        //return false;
    });
    $(".cancelOrder").off('click').on("click", function (e) {
        var formData = new FormData($(".reorderForm")[0]);
        var orderType = $(this).val();
        $.ajax({
            contentType: false,
            processData: false,
            async: true,
            url: "/Requests/ReOrderFloatModalView?OrderTypeEnum=" + orderType + "&isCancel=true",
            data: formData,
            traditional: true,
            type: "POST",
            cache: false,
            success: function (data) {
                $('.reorder-item').html('');
            }
        });
    })
</script>