@model PrototypeWithAuth.ViewModels.ReorderViewModel
@using PrototypeWithAuth.AppData
@{
    var bcColor = "order-inv-background-color  ";
    var color = "order-inv-color";
    var form = "order-inv-form";
    var dollarDisabled = "disabled disabled-text";
    var shekelDisabledText = "";
    var shekelReadOnly = "false";
    var hideVat = "";
    if (TempData[AppUtility.TempDataTypes.MenuType.ToString()].Equals(AppUtility.MenuItems.LabManagement.ToString()))
    {
        bcColor = "lab-man-background-color";
        form = "supplier-form";
        color = "lab-man-color";
    }
    TempData.Keep();
    if (Model.RequestItemViewModel.Requests[0].Currency == "USD")
    {
        dollarDisabled = "";
        shekelDisabledText = "disabled-text";
        shekelReadOnly = "readonly";
    }
    if (Model.RequestItemViewModel.Requests[0].IncludeVAT == false)
    {
        hideVat = "d-none";
    }

}

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>
<script src="~/js/Validation/ReorderFormValidation.js"></script>
<script src="~/js/SubUnit.js"></script>
<script src="~/js/IndexTablePartial.js"></script>
<div class="modal modal-view reorderModal fader on-form-modal @form " id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false" style="z-index: 6000;">

    <div class="modal-dialog-centered modal-xl mx-auto" role="document">

        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius mx-auto">
            <button type="button" class="close modal-close-padding modal-close-style cancelOrder" @*data-dismiss="modal"*@ aria-label="Close" onclick="$.fn.CloseModal('reorder-item');">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" id="myForm" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding reorderForm">

                @{ await Html.RenderPartialAsync("_TempRequestHiddenFors.cshtml", Model.RequestItemViewModel.TempRequestListViewModel); }
                @*
                    NOTE: The select boxes are disabled as they cannot be edited, yet in order to pass the values into the controlller-
                        they need the hiddenfors that are right underneath it
                *@

                @Html.HiddenFor(model => model.RequestItemViewModel.Requests.FirstOrDefault().RequestID)
                <input type="hidden" asp-for="RequestItemViewModel.Requests[0].ExchangeRate" id="exchangeRate" />
                <input type="hidden" asp-for="RequestItemViewModel.Requests[0].Currency" id="currency" />

                @Html.HiddenFor(model => model.RequestItemViewModel.PageType) @*JS shoulde be taking this as a string *@
                @Html.HiddenFor(model => model.RequestItemViewModel.Requests.FirstOrDefault().ApplicationUserCreatorID)

                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                <input type="hidden" asp-for="RequestItemViewModel.Requests[0].RequestID" />

                <!-- Modal Header -->
                <div class="new-modal-header no-box-shadow modal-header-padding " style="border-bottom:0 !important">
                    @if (Model.ErrorMessage != null)
                    {
                        <h6 class="text-danger-centarix">
                            @Model.ErrorMessage
                        </h6>
                        <br />
                    }

                    <div class="form-group mb-3 ">
                        <div class="row px-5 text-danger-centarix"> @ViewBag.ErrorMessage </div>
                        <div class="row modal-title-line">
                            <div class="col-1">
                                @if (Model.RequestItemViewModel.Requests[0].Product.ProductSubcategory.ImageURL != null)
                                {
                                    var imageurl = Model.RequestItemViewModel.Requests[0].Product.ProductSubcategory.ImageURL;<img src="@imageurl" alt="Image" width="75" class="category-image" />
                                }
                                else
                                {
                                    <img src="~/images/css/accounting/sample_image.png" alt="Image" width="75" class="category-image" />
                                }
                            </div>

                            <div class="col-5 heading-1">
                                @Model.RequestItemViewModel.Requests[0].Product.ProductName
                            </div>

                        </div>
                        <div class="row">
                            <hr class="col-12" />
                        </div>

                    </div>

                    <div class="row" id="edit">
                        <div class="col-4 h-100 RequestUnitCard">
                            <div class="border p-3">
                                <div class="row mb-4">
                                    <div class="col-md-6 form-group">
                                        <label asp-for="RequestItemViewModel.Requests[0].Unit" class="control-label"></label>
                                        <input asp-for="RequestItemViewModel.Requests[0].Unit" class="form-control-plaintext border-bottom " id="unit" min="1" />
                                        <span asp-validation-for="RequestItemViewModel.Requests[0].Unit" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RequestItemViewModel.Requests[0].UnitType" class="control-label"></label>
                                            @Html.DropDownListFor(
vm => vm.RequestItemViewModel.Requests[0].UnitTypeID,
Model.RequestItemViewModel.UnitTypeList,
"",
htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext reorder-unit", @id = "unitTypeID", @disabled = "disabled" }
)
                                            <span asp-validation-for="RequestItemViewModel.Requests[0].UnitType" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="control-label">Price Per Unit:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-text @dollarDisabled">&#36;</span>
                                                <input class="form-control-plaintext border-bottom @dollarDisabled" name="unit-price-dollars" id="unit-price-dollars"
                                                       value="@(Math.Round(Model.RequestItemViewModel.Requests[0].PricePerUnit/Model.RequestItemViewModel.Requests[0].ExchangeRate, 2))" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-text @shekelDisabledText">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom @shekelDisabledText" @shekelReadOnly name="unit-price-shekel" id="unit-price-shekel"
                                                       value="@Math.Round(Model.RequestItemViewModel.Requests[0].PricePerUnit, 2)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            if (Model.RequestItemViewModel.Requests[0].SubUnit > 0)
                            {
                                <div class="col-4 pl-0 RequestSubunitCard">
                                    <div class="border h-100 ">
                                        <div class="mx-2rem  subUnitsCard  mt-4">
                                            <div class="row mb-4">
                                                <div class="col-md-6  form-group">
                                                    <label asp-for="RequestItemViewModel.Requests[0].SubUnit" class="control-label"></label>
                                                    <input asp-for="RequestItemViewModel.Requests[0].SubUnit" class="form-control-plaintext border-bottom" id="subUnit" disabled />
                                                    <span asp-validation-for="RequestItemViewModel.Requests[0].SubUnit" class="text-danger-centarix"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="RequestItemViewModel.Requests[0].SubUnitType" class="control-label"></label>
                                                    @Html.DropDownListFor(
                vm => vm.RequestItemViewModel.Requests.FirstOrDefault().SubUnitTypeID,
                Model.RequestItemViewModel.UnitTypeList,
                "",
                         htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "subUnitTypeID", @disabled = "disabled" }
                         )
                                                    <span asp-validation-for="RequestItemViewModel.Requests[0].SubUnitType" class="text-danger-centarix"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price Per Subunit:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text disabled-text" disabled>&#36;</span>
                                                            <input class="form-control-plaintext border-bottom disabled-text" name="subunit-price-dollars" id="subunit-price-dollars" disabled
                                                                   value="@(Math.Round((Model.RequestItemViewModel.Requests[0].PricePerSubUnit??0)/Model.RequestItemViewModel.Requests[0].ExchangeRate, 2))" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text disabled-text" disabled>&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom disabled-text" name="subunit-price-shekel" id="subunit-price-shekel" disabled
                                                                   value="@Math.Round((decimal)Model.RequestItemViewModel.Requests[0].PricePerSubUnit, 2)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (Model.RequestItemViewModel.Requests[0].SubUnit > 0)
                            {
                                if (Model.RequestItemViewModel.Requests[0].SubSubUnit > 0)
                                {
                                    <div class="col-4 pl-0 RequestSubsubunitCard">
                                        <div class="border h-100">


                                            <div class="mx-2rem  subSubUnitsCard mt-4">
                                                <div class="row mb-4">
                                                    <div class="col-md-6  form-group">
                                                        <label asp-for="RequestItemViewModel.Requests[0].SubSubUnit" class="control-label"></label>
                                                        <input asp-for="RequestItemViewModel.Requests[0].SubSubUnit" class="form-control-plaintext border-bottom" min="0" id="subSubUnit" disabled />
                                                        <span asp-validation-for="RequestItemViewModel.Requests[0].SubSubUnit" class="text-danger-centarix"></span>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label asp-for="RequestItemViewModel.Requests[0].SubSubUnitType" class="control-label" style="font-size:0.85rem;"></label>
                                                        @Html.DropDownListFor(
                                                            vm => vm.RequestItemViewModel.Requests.FirstOrDefault().SubSubUnitTypeID,
                                                            Model.RequestItemViewModel.UnitTypeList,
                                                            "",
                                                            htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext", @id = "subSubUnitTypeID", @disabled = "disabled" }
                                                            )
                                                        <span asp-validation-for="RequestItemViewModel.Requests[0].SubSubUnitType" class="text-danger-centarix"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Price Per Sub-Subunit:</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text disabled-text" disabled>&#36;</span>
                                                                <input class="form-control-plaintext border-bottom disabled-text" name="subsubunit-price-dollars" id="subsubunit-price-dollars" disabled
                                                                       value="@(Math.Round((Model.RequestItemViewModel.Requests[0].PricePerSubSubUnit??0)/Model.RequestItemViewModel.Requests[0].ExchangeRate, 2))" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group">
                                                                <span class="input-group-text disabled-text" disabled>&#x20aa;</span>
                                                                <input class="form-control-plaintext border-bottom disabled-text" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled
                                                                       value="@Math.Round((decimal)Model.RequestItemViewModel.Requests[0].PricePerSubSubUnit, 2)" />
                                                                <span asp-validation-for="RequestItemViewModel.Requests[0].SubSubUnit" class="text-danger-centarix"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                        }


                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Total:</label>
                                <div class="input-group">
                                    <span class="input-group-text @dollarDisabled">&#36;</span>
                                    <input class="form-control-plaintext border-bottom @dollarDisabled" name="sum-dollars" id="sum-dollars"
                                           value="@(String.Format("{0:n}", Math.Round((Model.RequestItemViewModel.Requests[0].Cost??0)/Model.RequestItemViewModel.Requests[0].ExchangeRate,2)))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label @*asp-for="RequestItemViewModel.Requests[0].Cost"*@ class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text @shekelDisabledText">&#x20aa;</span>
                                    <input name="RequestItemViewModel.Requests[0].Cost" id="cost" class="form-control-plaintext border-bottom @shekelDisabledText" @shekelReadOnly min="1" value="@Model.RequestItemViewModel.Requests[0].Cost" />
                                    <span class="text-danger-centarix" asp-validation-for="RequestItemViewModel.Requests[0].Cost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 @hideVat">
                            <div class="form-group">
                                <label class="control-label">VAT:</label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#36;</span>
                                    <input class="form-control-plaintext border-bottom vatInDollars disabled-text" id="vatInDollars" disabled value="@String.Format("{0:n}", (Math.Round(Model.RequestItemViewModel.Requests[0].VAT / Model.RequestItemViewModel.Requests[0].ExchangeRate, 2)))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 @hideVat">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#x20aa;</span>
                                    <input asp-for="RequestItemViewModel.Requests[0].VAT" class="form-control-plaintext border-bottom disabled-text" id="vat" disabled />
                                    <span class="text-danger-centarix" asp-validation-for="RequestItemViewModel.Requests[0].VAT"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 @hideVat">
                            <div class="form-group">
                                <label class="control-label">Total + VAT:</label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#36;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled
                                           value="@(Math.Round(Model.RequestItemViewModel.Requests[0].TotalWithVat/Model.RequestItemViewModel.Requests[0].ExchangeRate,2))" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 @hideVat">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text disabled-text">&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom disabled-text" id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled value="@Model.RequestItemViewModel.Requests[0].TotalWithVat" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <hr class="col-12" />
                    </div>

                    <div class="form-group mx-auto text-center mb-4 modal-footer-mt">
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" name="OrderType" asp-action="ReOrderFloatModalView" value="@AppUtility.OrderTypeEnum.RequestPriceQuote"
                                        class="p-0 custom-order-inv custom-button create-modal-submit ">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.RequestPriceQuote.ToString())
                                </button>

                            </div>
                            <div class="col-4">
                                <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.OrderNow"
                                        class="p-0 custom-order-inv custom-button create-modal-submit  submitOrder">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.OrderNow.ToString())
                                </button>

                            </div>
                            <div class="col-4">
                                <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.AddToCart"
                                        class="p-0 custom-order-inv custom-button  create-modal-submit submitOrder">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.AddToCart.ToString())
                                </button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <span class="small-text">Ask the secretary to get a price quote</span>
                            </div>
                            <div class="col-4">
                                <span class="small-text">If you want to process a single order imediately</span>
                            </div>
                            <div class="col-4">
                                <span class="small-text">If you want to order multiple items</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" name="OrderType" value="@AppUtility.OrderTypeEnum.AlreadyPurchased"
                                        class="p-0 custom-order-inv custom-button create-modal-submit  submitOrder ">
                                    @AppUtility.GetDisplayNameOfEnumValue(AppUtility.OrderTypeEnum.AlreadyPurchased.ToString())
                                </button>

                            </div>

                            <div class="col-4">
                                <button type="button" class="custom-cancel custom-button create-modal-submit cancelOrder" @*data-dismiss="modal"*@ onclick="$.fn.CloseModal('reorder-item');">Cancel</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <span class="small-text">Update the purchase of an item</span>
                            </div>


                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".submitOrder").off('click').on("click", function (e) {
        e.preventDefault();
        console.log("submit reorder");
        //alert("validate form");
        $(".reorderForm").data("validator").settings.ignore = "";
        var valid = $(".reorderForm").valid();
        console.log("valid form: " + valid)
        if (!valid) {
            if (!$('.activeSubmit').hasClass('disabled-submit')) {
                $('.activeSubmit').addClass('disabled-submit')
            }
        }
        else {
            $('.activeSubmit').removeClass('disabled-submit')
            $("#loading").show();
            var formData = new FormData($(".reorderForm")[0]);
            console.log(...formData)
            var orderType = $(this).val();
            $.ajax({
                contentType: false,
                processData: false,
                async: true,
                url: "/Requests/ReOrderFloatModalView?OrderTypeEnum=" + orderType,
                data: formData,
                traditional: true,
                type: "POST",
                cache: false,
                success: function (data) {
                    $(".temprequesthiddenfors").remove();
                    //if (orderType == 'AddToCart') {
                    //    $("_IndexTableData").html(data);
                    //    $.fn.CloseModal('reorder-item');
                    //}
                    //else {
                    alert("$.fn.OpenModal('modalStep1', 'step-1', data)");
                    $.fn.OpenModal('modalStep1', 'step-1', data)
                    //}
                    $("#loading").hide();
                    return true;
                },
                error: function (jqxhr) {
                    if (jqxhr.status == 500) {
                        console.log('error');
                        $.fn.OpenModal('reorderModal', 'reorder-item', jqxhr.responseText)
                    }

                    $("#loading").hide();
                    return true;
                }
            });
        }
        $(".reorderForm").data("validator").settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';

        //return false;
    });
    $(".cancelOrder").off('click').on("click", function (e) {
        var formData = new FormData($(".reorderForm")[0]);
        var orderType = $(this).val();
        $.ajax({
            contentType: false,
            processData: false,
            async: true,
            url: "/Requests/ReOrderFloatModalView?OrderTypeEnum=" + orderType + "&isCancel=true",
            data: formData,
            traditional: true,
            type: "POST",
            cache: false,
            success: function (data) {
                $.fn.CloseModal("reorder-item");
            }
        });
    })
</script>