@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData


<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>

<div class="modal modal-view fader on-form-modal order-inv-form" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog-centered modal-xl mx-auto" role="document">

        <div class="modal-content d-inline-block modal-box-shadow modal-border-radius mx-auto">
            <button type="button" class="close modal-close-padding modal-close-style" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form action="" method="post" id="myForm" enctype="multipart/form-data" style="height: 100%; overflow: auto;" class="modal-padding reorderForm">


                @*
                    NOTE: The select boxes are disabled as they cannot be edited, yet in order to pass the values into the controlller-
                        they need the hiddenfors that are right underneath it
                *@

                @Html.HiddenFor(model => model.Request.RequestID)
                @Html.HiddenFor(model => model.Request.ExchangeRate)
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@

                <div asp-validation-summary="ModelOnly" class="text-danger-centarix"></div>
                <input type="hidden" asp-for="@Model.Request.RequestID" />

                <!-- Modal Header -->
                <div class="new-modal-header no-box-shadow modal-header-padding " style="border-bottom:0 !important">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger-centarix">@TempData["ErrorMessage"]</h6>
                        <br />
                    }

                    <div class="form-group mb-3 ">
                        <div class="row modal-title-line">
                            <div class="col-1">
                                @if (Model.Request.Product.ProductSubcategory.ImageURL != null)
                                {
                                    var imageurl = Model.Request.Product.ProductSubcategory.ImageURL;<img src="@imageurl" alt="Image" width="75" class="category-image" />
                                }
                                else
                                {
                                    <img src="~/images/css/accounting/sample_image.png" alt="Image" width="75" class="category-image" />
                                }
                            </div>

                            <div class="col-5 heading-1">
                                @Model.Request.Product.ProductName
                            </div>

                        </div>
                        <div class="row">
                            <hr class="col-12" />
                        </div>

                    </div>

                    <div class="row" id="edit">
                        <div class="col-4 h-100 RequestUnitCard">
                            <div class="border p-3">
                                <div class="row mb-4">
                                    <div class="col-md-6 form-group">
                                        <label asp-for="Request.Unit" class="control-label"></label>
                                        <input asp-for="Request.Unit" class="form-control-plaintext border-bottom " min="1" />
                                        <span asp-validation-for="Request.Unit" class="text-danger-centarix"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Request.UnitType" class="control-label"></label>
                                            @Html.DropDownListFor(
vm => vm.Request.UnitTypeID,
Model.UnitTypeList,
"",
htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext" }
)
                                            <span asp-validation-for="Request.UnitType" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="control-label">Price:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom " name="unit-price-dollars" id="unit-price-dollars" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom " name="unit-price-shekel" id="unit-price-shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{var cardDisplayNoneSub = "d-none";
                            var plusDisplayNoneSub = "";
                            if (Model.Request.SubUnit > 0)
                            {
                                cardDisplayNoneSub = "";
                                plusDisplayNoneSub = "d-none";
                            }
                        }
                        <div class="col-4 pl-0 RequestSubunitCard">
                            <div class="border h-100 ">
                                <button type="button" class="close sub-close @cardDisplayNoneSub pr-2 pt-2" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="mx-2rem addSubUnitCard mt-4 @plusDisplayNoneSub">
                                <div class="row " style="display:initial;">
                                    <div class="col-6 offset-3 text-center font-weight-light">
                                    <input type="button" value="+" class=" addSubUnit btn m-0 p-0 no-box-shadow " style="font-size: 5rem" />
                                       </div>

                                </div>
                                    </div>
                                <div class="mx-2rem  subUnitsCard @cardDisplayNoneSub mt-4">
                                    <div class="row mb-4">
                                        <div class="col-md-6 pl-0 form-group">
                                            <label asp-for="Request.SubUnit" class="control-label"></label>
                                            <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" disabled />
                                            <span asp-validation-for="Request.SubUnit" class="text-danger-centarix"></span>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label asp-for="Request.SubUnitType" class="control-label"></label>
                                            @Html.DropDownListFor(
        vm => vm.Request.SubUnitTypeID,
        Model.UnitTypeList,
        "",
                 htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext", @disabled = "disabled" }
                 )
                                            <span asp-validation-for="Request.SubUnitType" class="text-danger-centarix"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Price:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-text">&#36;</span>
                                                    <input class="form-control-plaintext border-bottom" name="subunit-price-dollars" id="subunit-price-dollars" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-text">&#x20aa;</span>
                                                    <input class="form-control-plaintext border-bottom" name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            var cardDivDisplayNone = "d-none";
                            var cardDisplayNoneSubSub = "d-none";
                            var plusDisplayNoneSubSub = "";
                            if (Model.Request.SubUnit > 0)
                            {
                                cardDivDisplayNone = "";
                                if (Model.Request.SubSubUnit > 0)
                                {
                                    plusDisplayNoneSubSub = "d-none";
                                    cardDisplayNoneSubSub = "";
                                }
                                else
                                {
                                    plusDisplayNoneSubSub = "";
                                    cardDisplayNoneSubSub = "d-none";
                                }
                            }
                        }
                        <div class="col-4 pl-0 RequestSubsubunitCard @cardDivDisplayNone">
                            <div class="border h-100">
                                <button type="button" class="close subsub-close @cardDisplayNoneSubSub pr-2 pt-2" aria-label="Close" style="
    /* display: flex; */
    float: right;
">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="mx-2rem addSubSubUnitCard mt-4 @plusDisplayNoneSubSub">
                                    <div class="row " style="display:initial;">
                                        <div class="col-6 offset-3 text-center font-weight-light">
                                            <input type="button" value="+" class=" addSubSubUnit btn m-0 p-0 no-box-shadow " style="font-size: 5rem" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mx-2rem  subSubUnitsCard mt-4 @cardDisplayNoneSubSub">
                                    <div class="row mb-4">
                                        <div class="col-md-6 pl-0 form-group">
                                            <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                            <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                            <span asp-validation-for="Request.SubSubUnit" class="text-danger-centarix"></span>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label asp-for="Request.SubSubUnitType" class="control-label" style="font-size:0.85rem;"></label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.SubSubUnitTypeID,
                                                Model.UnitTypeList,
                                                "",
                                                htmlAttributes: new { @class = "mdb-select custom select-dropdown form-control-plaintext", @disabled = "disabled" }
                                                )
                                            <span asp-validation-for="Request.SubSubUnitType" class="text-danger-centarix"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Price:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-text">&#36;</span>
                                                    <input class="form-control-plaintext border-bottom mark-readonly" name="subsubunit-price-dollars" id="subsubunit-price-dollars" value="" disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-text">&#x20aa;</span>
                                                    <input class="form-control-plaintext border-bottom mark-readonly" name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled /> <span asp-validation-for="Request.SubSubUnit" class="text-danger-centarix"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                            
                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Sum:</label>
                                <div class="input-group">
                                    <span class="input-group-text">&#36;</span>
                                    <input class="form-control-plaintext border-bottom" name="sum-dollars" id="sum-dollars" disabled value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="Request.Cost" class="control-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text">&#x20aa;</span>
                                    <input asp-for="Request.Cost" class="form-control-plaintext border-bottom" min="1" />
                                    <span class="text-danger-centarix" asp-validation-for="Request.Cost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">VAT</label>
                                <div class="input-group">
                                    <span class="input-group-text">&#x20aa;</span>
                                   
                                    <input class="form-control-plaintext border-bottom vat" disabled value="@Model.Request.VAT.ToString("N2")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Sum:</label>
                                <div class="input-group">
                                    <span class="input-group-text">&#36;</span>
                                    <input class="form-control-plaintext border-bottom " id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Sum:</label>
                                <div class="input-group">
                                    <span class="input-group-text">&#x20aa;</span>
                                    <input class="form-control-plaintext border-bottom " id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <hr class="col-12" />
                    </div>

                    <div class="form-group mx-auto text-center mb-4 modal-footer-mt">
                        <input type="submit" name="OrderType" id="reorderRequest" value="Request" asp-action="ReOrderFloatModalView" class="custom-button custom-button-font order-inv-background-color between-button-margin" />
                        <button type="button" class="custom-cancel custom-button " data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*Javascript that filters according to which parentcategory is selected, you must have the function in the controller for GetSubcategory*@
@*This will work for the EDIT (putting in the already loaded product subcategory)*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/SubUnit.js"></script>
<script>
    $(function () {
        $("#Request_Cost").trigger('change');
    });
</script>