@model PrototypeWithAuth.ViewModels.RequestItemViewModel
@using PrototypeWithAuth.AppData


<script src="~/js/site.js" asp-append-version="true"></script>

<div class="modal modal-view right fader" id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">

    <div class="modal-dialog modal-lg border-left box-shadow" role="document" style="max-height:100%; width: 50%; max-width: 100%">

        <div class="modal-content d-inline-block">

            <form action="" method="post" enctype="multipart/form-data" style="height: 100%; overflow: auto;">

                @*
                NOTE: The select boxes are disabled as they cannot be edited, yet in order to pass the values into the controlller-
                    they need the hiddenfors that are right underneath it
                *@

                @Html.HiddenFor(model => model.Request.ParentRequest.ApplicationUserID)
                @Html.HiddenFor(model => model.Request.ProductID)
                @Html.HiddenFor(model => model.Request.Product.ProductSubcategory)

                @*THE FOLLOWING HIDDEN VALUES ARE TO REMEMBER THE REQUESTS INDEX PAGE FROM BEFORE*@
                @*the values for the hidden data is set in js on the modal success area off of the tempdata*@
                @Html.HiddenFor(model => model.Page)
                @Html.HiddenFor(model => model.RequestStatusID)
                @Html.HiddenFor(model => model.SubCategoryID)
                @Html.HiddenFor(model => model.ApplicationUserID) @*MAKE SURE THIS IS DOING IT CORRECTLY --> make sure js is parsing it as a string*@
                @Html.HiddenFor(model => model.PageType) @*JS shoulde be taking this as a string *@
                @*Requests search view model*@


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Request.RequestID" />

                <!-- Modal Header -->
                <div class="new-modal-header border-bottom box-shadow" style="padding: 0.5em 6em">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
                        <br />
                    }
                    <div>
                        <button type="button" data-dismiss="modal" style="border-width: 0; background: transparent"><img src="~/images/css/inventory/icons/RightArrow.png" alt="Alternate Text" /></button>
                    </div>
                    <br />
                    <div class="form-group">
                        <h4><label asp-for="Request.Product.ProductName" class="control-label"> Request : </label> </h4>
                        <h4 class="modal-title"><input asp-for="Request.Product.ProductName" class="rounded form-control-plaintext border-bottom" readonly /></h4>
                        <span asp-validation-for="Request.Product.ProductName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container-fluid div-tabs text-center">
                                <ul id="modal-tabs" class="nav nav-tabs text-center container-fluid pr-0 border-bottom-0" style="display:inline-flex; justify-content:space-between;">
                                    <li class="nav-item"><a data-toggle="tab" id="item-tab" href="#item" class="nav-link"><i class="icon-centarix-icons-05" style="font-size: 2rem;"></i><br />Item</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="price-tab" href="#price" class="nav-link"><i class="icon-monetization_on-24px" style="font-size: 2rem;"></i><br />Price</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="documents-tab" href="#documents" class="nav-link documents-tab"><i class="icon-attach_file-24px" style="font-size: 2rem;"></i><br />Documents</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="comments-tab" href="#comments" class="nav-link"><i class="icon-comment-24px" style="font-size: 2rem;"></i><br />Comments</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="archive-tab" href="#archive" class="nav-link"><i class="icon-archive-24px" style="font-size: 2rem;"></i><br />Archive</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="history-tab" href="#history" class="nav-link"><i class="icon-history-24px" style="font-size: 2rem;"></i><br />History</a></li>
                                    <li class="nav-item"><a data-toggle="tab" id="order-tab" href="#order" class="nav-link"> <i class="icon-shopping_cart-24px" style="font-size: 2rem;"></i> <br />Order</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="new-modal-body" style="background: #F6F7F8; padding: 1em">
                    <div class="container-fluid div-tabs box-shadow" style="background: #FFF; padding: 2em; border: 2px solid #EAEAEB;">

                        @*<ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#item" class="btn btn-outline-secondary">Item</a></li>
                                <li><a data-toggle="tab" href="#price" class="btn btn-outline-secondary" id="price-tab">Price</a></li>
                                <li><a data-toggle="tab" href="#documents" class="btn btn-outline-secondary">Documents</a></li>
                                <li><a data-toggle="tab" href="#comments" class="btn btn-outline-secondary">Comments</a></li>
                                <li><a data-toggle="tab" href="#order" class="btn btn-outline-secondary">Order</a></li>
                            </ul>*@

                        <div class="tab-content">
                            <div id="item" class="tab-pane fade in active">
                                <span style="font-size: 1.7em;">Item</span>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.ProductSubcategory.ParentCategory.ParentCategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(c => c.Request.Product.ProductSubcategory.ParentCategoryID,
    new SelectList(Model.ParentCategories, "ParentCategoryID", "ParentCategoryDescription"),
    "Select Category", new { @class = "form-control-plaintext border-bottom ", @id = "parentlist", @disabled = "disabled" })
                                            @*do not need a hiddenfor here b/c it's built into the subcategory*@
                                            <span asp-validation-for="Request.Product.ProductSubcategory.ParentCategoryID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-4">
                                        <div class="form-group sublist">
                                            <label asp-for="Request.Product.ProductSubcategory.ProductSubcategoryDescription" class="control-label"></label>
                                            @Html.DropDownListFor(vm => vm.Request.Product.ProductSubcategoryID,
    new SelectList(Model.ProductSubcategories, "ProductSubcategoryID", "ProductSubcategoryDescription"),
    "Select Subcategory", new { @class = "form-control-plaintext border-bottom ", @id = "sublist", @disabled = "disabled" })
                                            @Html.HiddenFor(m => m.Request.Product.ProductSubcategoryID)
                                            <span asp-validation-for="Request.Product.ProductSubcategoryID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Project:</label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.SubProject.ProjectID,
                                                new SelectList(
                                                    Model.Projects,
                                                    "ProjectID",
                                                    "ProjectDescription"
                                                    ),
                                                "Select Project",
                                                new { @class = "form-control-plaintext border-bottom Project" }
                                            )
                                            <span asp-validation-for="Request.SubProject.ProjectID" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Sub Project:</label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.SubProjectID,
                                                new SelectList(
                                                    Model.SubProjects,
                                                    "SubProjectID",
                                                    "SubProjectDescription"
                                                    ),
                                                "Select Sub Project",
                                                new { @class = "form-control-plaintext border-bottom SubProject" }
                                            )
                                            <span asp-validation-for="Request.SubProjectID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-4">
                                        <div class="form-group">
                                            <label asp-for="Request.Product.Vendor" class="control-label"></label>
                                            @Html.DropDownListFor(
                                                vm => vm.Request.Product.VendorID,
                                                new SelectList(
                                                    Model.Vendors,
                                                    dataValueField: "VendorID",
                                                    dataTextField: "VendorEnName"),
                                                optionLabel: "Select A Vendor", //FUTURE: Ask If we should put in the functionality to create a new vendor here rather than just choosing
                                                htmlAttributes: new { @class = "form-control-plaintext border-bottom ", @id = "vendorList", @disabled = "disabled" }
                                            )
                                            @Html.HiddenFor(model => model.Request.Product.VendorID)
                                            <span asp-validation-for="Request.Product.Vendor.VendorID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @* IN MIDDLE *@
                                            <label asp-for="Request.Product.Vendor.VendorBuisnessID" class="control-label"></label>
                                            <label class="vendorBusinessId form-control-plaintext border-bottom" />
                                            @*don't need a validation here because you it's not saving*@
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6 pr-4">
                                        <label asp-for="Request.ParentRequest.OrderNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderNumber" class="form-control-plaintext border-bottom " readonly />
                                        <span asp-validation-for="Request.ParentRequest.OrderNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentRequest.OrderDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderDate" class="form-control-plaintext border-bottom  datepicker" readonly />
                                        <span asp-validation-for="Request.ParentRequest.OrderDate" class="text-danger" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6 pr-4">
                                        <label asp-for="Request.ParentRequest.InvoiceNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.InvoiceNumber" asp-format="" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ParentRequest.InvoiceNumber" class="text-danger" />
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Request.ParentRequest.InvoiceDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.InvoiceDate" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ParentRequest.InvoiceDate" class="text-danger" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="Request.CatalogNumber" class="control-label"></label>
                                        <input asp-for="Request.CatalogNumber" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.CatalogNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Request.Warranty" class="control-label"></label>
                                        <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.Warranty" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">End Date</label>
                                        @*no date in backend so set to zero*@
                                        <input value="0000-00-00" name="WarrantyDate" class="form-control-plaintext border-bottom " disabled="disabled" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="Request.ExpectedSupplyDays" class="control-label"></label>
                                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom " />
                                        <span asp-validation-for="Request.ExpectedSupplyDays" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Expected supply date</label>
                                        <input value="0000-00-00" class="form-control-plaintext border-bottom datepicker" disabled="disabled" />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Request.URL" class="control-label"></label>
                                        <input asp-for="Request.URL" class="form-control-plaintext border-bottom " readonly />
                                        <span asp-validation-for="Request.URL" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div id="price" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span style="font-size: 1.7em;">Price</span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="currency" class="control-label">Currency</label>
                                            <select id="currency" asp-for="Request.Currency" class="form-control-plaintext border-bottom">
                                                <option value="dollar">&dollar; USD</option>
                                                <option value="shekel">&#8362; NIS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ExchangeRate" class="control-label"></label>
                                            <input asp-for="Request.ExchangeRate" class="form-control-plaintext border-bottom " />
                                            <span asp-validation-for="Request.ExchangeRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="edit">
                                    <div class="col-md-4 RequestUnitCard">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.Unit" class="control-label"></label>
                                                    <input asp-for="Request.Unit" class="form-control-plaintext border-bottom " min="0" />
                                                    <span asp-validation-for="Request.Unit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="Request.UnitType" class="control-label"></label>
                                                        @Html.DropDownListFor(
        vm => vm.Request.UnitTypeID,
        Model.UnitTypeList,
        "",
        htmlAttributes: new { @class = "form-control-plaintext border-bottom " }
        )
                                                        <span asp-validation-for="Request.UnitType" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom " name="unit-price-dollars" id="unit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom " name="unit-price-shekel" id="unit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 RequestSubunitCard pl-0">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubUnit" class="control-label"></label>
                                                    <input asp-for="Request.SubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                    <span asp-validation-for="Request.SubUnit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubUnitType" class="control-label"></label>
                                                    @Html.DropDownListFor(
                    vm => vm.Request.SubUnitTypeID,
                    Model.UnitTypeList,
                    "",
                    htmlAttributes: new { @class = "form-control-plaintext border-bottom ", @disabled = "disabled" }
                )
                                                    <span asp-validation-for="Request.SubUnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom " name="subunit-price-dollars" id="subunit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom " name="subunit-price-shekel" id="subunit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 RequestSubsubunitCard pl-0">
                                        <div class="border rounded p-3">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubSubUnit" class="control-label"></label>
                                                    <input asp-for="Request.SubSubUnit" class="form-control-plaintext border-bottom" min="0" disabled />
                                                    <span asp-validation-for="Request.SubSubUnit" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label asp-for="Request.SubSubUnitType" class="control-label" style="font-size:0.85rem;"></label>
                                                    @Html.DropDownListFor(
        vm => vm.Request.SubSubUnitTypeID,
        Model.UnitTypeList,
        "",
        htmlAttributes: new { @class = "form-control-plaintext border-bottom ", @disabled = "disabled" }
        )
                                                    <span asp-validation-for="Request.SubSubUnitType" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Price:</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#36;</span>
                                                            <input class="form-control-plaintext border-bottom " name="subsubunit-price-dollars" id="subsubunit-price-dollars" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#x20aa;</span>
                                                            <input class="form-control-plaintext border-bottom " name="subsubunit-price-shekel" id="subsubunit-price-shekel" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom" name="sum-dollars" id="sum-dollars" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.Cost" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.Cost" class="form-control-plaintext border-bottom" />
                                                <span class="text-danger" asp-validation-for="Request.Cost"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Request.VAT" class="control-label"></label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input asp-for="Request.VAT" class="form-control-plaintext border-bottom" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#36;</span>
                                                <input class="form-control-plaintext border-bottom " id="sumPlusVat-Dollar" name="sumPlusVat-Dollar" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sum:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">&#x20aa;</span>
                                                <input class="form-control-plaintext border-bottom " id="sumPlusVat-Shekel" name="sumPlusVat-Shekel" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Discount:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Terms:</label>
                                            @Html.DropDownListFor(
                                                                    model => model.Request.Terms,
                                                                    new SelectList(AppUtility.TermsSelectList(), "Value", "Text"),
            htmlAttributes: new { @class = "form-control-plaintext border-bottom" }
                                                                )
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                            <label class="form-check-label"><input class="form-check-input" type="checkbox" />Paid</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Request.ParentRequest.Installments" class="control-label"></label>
                                            <input asp-for="Request.ParentRequest.Installments" class="form-control-plaintext border-bottom " />
                                            <span asp-validation-for="Request.ParentRequest.Installments" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 rounded card p-3">
                                        <table class="table table-sm payments-table">
                                            <thead class="thead-light rounded">
                                                <tr>
                                                    <th>Payment Date</th>
                                                    <th>Payment Type</th>
                                                    <th>Account</th>
                                                    <th>Reference</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Debt</label>
                                            <input class="form-control-plaintext border-bottom -plaintext" value="Automatically calculate..." disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="documents" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Documents</span>
                                <br /><hr /><br />

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/order.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="OrderFiles"><img src="~/images/css/inventory/add-item/other icons/upload_first.png" class="upload-file-1" /></label>
                                                    <input type="file" asp-for="OrderFiles" class="file-select file-select-1" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Order</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/invoice.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="InvoiceFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-2" /></label>
                                                    <input type="file" asp-for="InvoiceFiles" class="file-select file-select-2" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Invoice</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/shipment.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="ShipmentFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-3" /></label>
                                                    <input type="file" asp-for="ShipmentFiles" class="file-select file-select-3" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Shipment</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/quote.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="QuoteFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-4" /></label>
                                                    <input type="file" asp-for="QuoteFiles" class="file-select file-select-4" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Quote</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/info.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="InfoFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-5" /></label>
                                                    <input type="file" asp-for="InfoFiles" class="file-select file-select-5" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Info</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/pictures.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="PictureFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-6" /></label>
                                                    <input type="file" asp-for="PictureFiles" class="file-select file-select-6" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Picture</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/return.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="ReturnFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-7" /></label>
                                                    <input type="file" asp-for="ReturnFiles" class="file-select file-select-7" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Return</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body text-center" style="height:150px;">
                                                <img src="~/images/css/inventory/add-item/other icons/credit.png" style="margin-top:3rem;" alt="order" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="custom-file text-center">
                                                    <label for="CreditFiles"><img src="~/images/css/inventory/add-item/other icons/upload.png" class="upload-file-8" /></label>
                                                    <input type="file" asp-for="CreditFiles" class="file-select file-select-8" accept=".png, .jpg, .jpeg, .pdf" style="display: none" multiple>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="control-label text-center" style="width:100%; line-height:2.5;">Credit</label>
                                    </div>
                                </div>
                            </div>

                            <div id="comments" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Comments</span>
                                <br />
                                <br />

                                @*in the future maybe make this into a partial view so it can be called multiple times in one form*@
                                <div class="card rounded">
                                    <div class="card-body">
                                        <div class="font-weight-bold">+NewComment</div>
                                        <div class="form-group">
                                            <label asp-for="NewComment.CommentText" class="control-label"></label>
                                            <input asp-for="NewComment.CommentText" class="form-control-plaintext border-bottom " />
                                            <span asp-validation-for="NewComment.CommentText" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="archive" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Archive</span>
                                <br />
                                <br />
                                <h5>This is the Archive tab. As of yet there is nothing in the Archive.</h5>
                            </div>

                            <div id="history" class="tab-pane fade">
                                <span style="font-size: 1.7em;">History</span>
                                <br />
                                <br />
                                <h5>This is the History tab. This tab is Timeles, thus no past, present or future.....!</h5>
                            </div>

                            <div id="order" class="tab-pane fade">
                                <span style="font-size: 1.7em;">Order</span>
                                <br />
                                <br />
                                <div class="form-group">
                                    @*you can only add to cart if you are creating a new one*@
                                    @if (true) //if is create
                                    {
                                        <input type="submit" name="OrderType" value="Order" asp-action="ReOrderModalView" class="inv-button mr-1" />
                                        <input type="submit" name="OrderType" value="Without Order" asp-action="ReOrderModalView" class="inv-button mr-1" />
                                        <input type="submit" value="Add To Cart" asp-action="AddToCart" class="inv-button" />
                                    }
                                    else
                                    {
                                        //not sure if we need the name=OrderType here b/c it's just editing details
                                        <input type="submit" name="OrderType" value="Save" asp-action="ReOrderModalView" class="inv-button" />
                                    }
                                    @*@Html.ActionLink("Delete", "Delete", new { @id = Model.Product.ProductID }, new { @class = "btn btn-outline-danger" })*@
                                    <button type="button" class="cancel-button float-right" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*Javascript that filters according to which parentcategory is selected, you must have the function in the controller for GetSubcategory*@
@*This will work for the EDIT (putting in the already loaded product subcategory)*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        /*
         * Including these js pieces from site.js b/c has issue always attaching
         */

        //change product subcategory dropdown according to the parent categroy selection when a parent category is selected
        $("#parentlist").change(function () {
            var parentCategoryId = $("#parentlist").val();
            var url = "/Requests/GetSubCategorsyList";

            $.getJSON(url, { ParentCategoryId: parentCategoryId }, function (data) {
                var item = "<option value=''>Select a Subcategory</option>";
                $("#sublist").empty();
                $.each(data, function (i, subCategory) {
                    item += '<option value="' + subCategory.productSubcategoryID + '">' + subCategory.productSubcategoryDescription + '</option>'
                });
                $("#sublist").html(item);
            });
        });

    </script>
}
