@model PrototypeWithAuth.ViewModels.RequestsSearchViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/ManageSharedView.cshtml";
    var buttonSubmitClass = Model.SectionType == PrototypeWithAuth.AppData.AppUtility.MenuItems.LabManagement ?
        "inv-lab-button" : Model.SectionType == PrototypeWithAuth.AppData.AppUtility.MenuItems.OrdersAndInventory ? "inv-button" : "oper-button";
}
@*<div class="modal modal-view  right fader " id="myModal" role="dialog" aria-labelledby="Request" data-backdrop="false">*@

<form action="" method="post" enctype="multipart/form-data" id="search-form">
 

    <div class="row mt-5" style="flex-grow: 1;">
        <div class="col-1 offset-1 mt-3">
            <input type="checkbox" class="custom-checkbox" asp-for="Inventory" />
            <label asp-for="Inventory" class="inv-link-clr"> &ensp; Inventory</label><br />
            <input type="checkbox" class="custom-checkbox" asp-for="Ordered" />
            <label asp-for="Ordered" class="inv-link-clr"> &ensp; Ordered</label><br />
            <input type="checkbox" class="custom-checkbox" asp-for="ForApproval" />
            <label asp-for="ForApproval" class="inv-link-clr"> &ensp; For Approval</label>
            <br />
            <br />
            @*<span class="text-muted">(another option)</span>
            <select class="form-control-plaintext border-bottom">
                <option value="value">Inventory</option>
                <option value="value">Ordered</option>
                <option value="value">For Approval</option>
            </select>*@
        </div>
        <input type="hidden" asp-for="SectionType" />
        <div class="card col-6 offset-1" style="width:700px">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <span style="font-size:1.8rem;"> <i class="icon-zoom_in-24px-01"></i> Search</span>
                    </div>

                    <div class="col-md-3 text-center">
                        <input type="submit" value="Search" class="@buttonSubmitClass inv-button" style="padding-right: 3.5rem;padding-left: 3.5rem;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Request.Product.ProductName" class="control-label">Item Name: </label>
                            <input asp-for="Request.Product.ProductName" data-val="false" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Request.Product.ProductSubcategory.ParentCategoryID" class="control-label">Category</label>
                            <select data-val="false" class="form-control-plaintext border-bottom" id="parentlist" asp-for="Request.Product.ProductSubcategory.ParentCategoryID">
                                <option>Please select a category</option>
                                @foreach (var parentCategory in Model.ParentCategories)
                                {
                                    <option value="@parentCategory.ParentCategoryID">@parentCategory.ParentCategoryDescription</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4 px-md-4">
                        <div class="form-group">
                            <label asp-for="Request.Product.ProductSubcategoryID" class="control-label">Subcategory</label>
                            <select asp-for="Request.Product.ProductSubcategoryID" class="form-control-plaintext border-bottom" id="sublist" data-val="false">
                                <option>Please select a subcategory</option>
                                @foreach (var productSubcategory in Model.ProductSubcategories)
                                {
                                    <option value="@productSubcategory.ProductSubcategoryID">@productSubcategory.ProductSubcategoryDescription</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label @*asp-for=""*@ class="control-label">Project</label>
                            <select @*asp-for="" data-val="false"*@ class="form-control-plaintext border-bottom" id="Project">
                                <option>Select a project</option>
                                @foreach (var project in Model.Projects)
                                {
                                    <option value="@project.ProjectID">@project.ProjectDescription</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label @*asp-for=""*@ class="control-label">Sub Project</label>
                            <select @*asp-for="" data-val="false"*@ class="form-control-plaintext border-bottom" id="SubProject">
                                <option>Select a sub project</option>
                                @foreach (var subProject in Model.SubProjects)
                                {
                                    <option value="@subProject.SubProjectID">@subProject.SubProjectDescription</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4 px-md-4">
                        <div class="form-group">
                            <label asp-for="Request.Product.VendorID" class="control-label">Supplier</label>
                            <select asp-for="Request.Product.VendorID" data-val="false" class="form-control-plaintext border-bottom" id="vendorList">
                                <option>Select A Vendor</option>
                                @foreach (var vendor in Model.Vendors)
                                {
                                    <option value="@vendor.VendorID">@vendor.VendorEnName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* IN MIDDLE *@
                            <label class="control-label">Supplier ID</label>
                            <select asp-for="Request.Product.Vendor.VendorBuisnessID" id="vendorBusinessIDList" data-val="false" class="form-control-plaintext border-bottom">
                                <option>Select A Vendor ID</option>
                                @foreach (var vendor in Model.Vendors)
                                {
                                    <option value="@vendor.VendorID">@vendor.VendorBuisnessID</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pr-md-4">
                        <div class="form-group">
                            <label asp-for="Request.ParentRequest.OrderNumber" class="control-label"></label>
                            <input asp-for="Request.ParentRequest.OrderNumber" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Request.ParentRequest.OrderDate" class="control-label"></label>
                            <input asp-for="Request.ParentRequest.OrderDate" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pr-md-4">
                        <div class="form-group">
                            <label asp-for="Request.ParentRequest.InvoiceNumber" class="control-label"></label>
                            <input asp-for="Request.ParentRequest.InvoiceNumber" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Request.ParentRequest.InvoiceDate" class="control-label"></label>
                            <input asp-for="Request.ParentRequest.InvoiceDate" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pr-md-4">
                        <div class="form-group">
                            <label asp-for="Request.CatalogNumber" class="control-label"></label>
                            <input asp-for="Request.CatalogNumber" class="form-control-plaintext border-bottom" data-val="false" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Request.Warranty" class="control-label"></label>
                        <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">End Date</label>
                        @*@{
                            //get this just to return the date (not the time)
                            //adding the amount of months of the warranty to the invoice date
                            var endWarrantyDate = Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty);
                        }*@
                        <input value="@Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty??0)" name="WarrantyDate" class="form-control-plaintext border-bottom" disabled="disabled" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Request.ExpectedSupplyDays" class="control-label">Expected supply days</label>
                            <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                    <div class="col-md-4 px-md-4">
                        @{
                            //get this just to return the date (not the time)
                            //adding the amount of months of the expected supply days to the invoice date
                            var endSupplyDate = Model.Request.ParentRequest.InvoiceDate.AddDays(Model.Request.ExpectedSupplyDays ?? 0);
                        }
                        <div class="form-group">
                            <label class="control-label">Expected supply date</label>
                            <input value="@endSupplyDate" class="form-control-plaintext border-bottom" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Request.URL" class="control-label"></label>
                            <input asp-for="Request.URL" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input asp-for="FromDate" type="date" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                    <div class="col-md-4 px-md-4">
                        <div class="form-group">
                            <label class="control-label">Until Date</label>
                            <input asp-for="ToDate" type="date" class="form-control-plaintext border-bottom" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <input class="form-control-plaintext border-bottom" /> @*need to add "price" field in the RequestSearchViewModel*@
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>



</form>