@using PrototypeWithAuth.AppData
@model PrototypeWithAuth.ViewModels.RequestsSearchViewModel
@{
    ViewData["Title"] = "Search";
    string form = "";
    var buttonSubmitClass = "";
    Layout = "~/Views/Shared/RequestNavView.cshtml";
    if (Model.SectionType == AppUtility.MenuItems.LabManagement)
    {
        buttonSubmitClass = "lab-man-background-color";
        form = "supplier-form";

    }
    else if (Model.SectionType == AppUtility.MenuItems.Requests)
    {

        form = "order-inv-form";
        buttonSubmitClass = "order-inv-background-color";
    }
    else
    {
        form = "oper-form";
        buttonSubmitClass = "oper-background-color";
    }
}

<form action="" method="post" class="container-fluid ml-6 @form "  enctype="multipart/form-data" id="search-form">
    <div class="row">
        <div class="col-1  mr-5">
            <div class="form-check">
                <input type="checkbox" class="form-check-input filled-in" asp-for="Inventory" />
                <label class="form-check-label" asp-for="Inventory"></label>
            </div>
            <br />
            <div class="form-check">
                <input type="checkbox" class="form-check-input filled-in" asp-for="Ordered" />
                <label class="form-check-label " asp-for="Ordered"></label>
            </div>
            <br />
            <div class="form-check">
                <input type="checkbox" class="form-check-input filled-in" asp-for="ForApproval" />
                <label class="form-check-label " asp-for="ForApproval"></label>
            </div>

            @*<span class="text-muted">(another option)</span>
        <select class="form-control-plaintext border-bottom">
            <option value="value">Inventory</option>
            <option value="value">Ordered</option>
            <option value="value">For Approval</option>
        </select>*@
        </div>

        <div class="col-7 create-user  on-form-modal ">
            <div class="on-form-modal-border pb-4">
                <input type="hidden" asp-for="SectionType" />
    
                <div class="new-modal-body ">
                    <div class="container-fluid div-tabs no-box-shadow p-0">

                        <div class="modal-sides modal-body-top-p">

                            <div class="row">
                                <div class="col-md-9">
                                    <span class="heading-1 modal-tab-name"> Search In Centarix</span>
                                </div>

                                <div class="col-md-3 text-center">
                                    <input type="submit" value="Search" asp-action="Search" class="@buttonSubmitClass custom-button custom-button-font" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Request.Product.ProductName" class="control-label">Item Name: </label>
                                        <input asp-for="Request.Product.ProductName" data-val="false" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Request.Product.ProductSubcategory.ParentCategoryID" class="control-label">Category</label>
                                        <select searchable="Please select a category" data-val="false" class="mdb-select custom select-dropdown form-control-plaintext" id="parentlist" asp-for="Request.Product.ProductSubcategory.ParentCategoryID">
                                            <option value="0">Select Category</option>
                                            @foreach (var parentCategory in Model.ParentCategories)
                                            {
                                                <option value="@parentCategory.ParentCategoryID">@parentCategory.ParentCategoryDescription</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 px-md-4">
                                    <div class="form-group">
                                        <label asp-for="Request.Product.ProductSubcategoryID" class="control-label">Subcategory</label>
                                        <select searchable="Please select a subcategory" asp-for="Request.Product.ProductSubcategoryID" class="mdb-select-sublist  mdb-select custom select-dropdown form-control-plaintext" id="sublist" data-val="false">
                                            <option value="0">Select Subcategory</option>
                                            @foreach (var productSubcategory in Model.ProductSubcategories)
                                            {
                                                <option value="@productSubcategory.ProductSubcategoryID">@productSubcategory.ProductSubcategoryDescription</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                @{var display = "";}
                                @if (Model.SectionType == AppUtility.MenuItems.Operations)
                                {
                                    display = "d-none";
                                }
                                <div class="col-4 @display">
                                    <div class="form-group">
                                        <label @*asp-for=""*@ class="control-label">Project</label>
                                        <select searchable="Select a project" @*asp-for="" data-val="false"*@ class="mdb-select custom select-dropdown form-control-plaintext" id="Project">
                                            <option value="0">Select Project</option>
                                            @foreach (var project in Model.Projects)
                                            {
                                                <option value="@project.ProjectID">@project.ProjectDescription</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 @display">
                                    <div class="form-group">
                                        <label @*asp-for=""*@ class="control-label">Sub Project</label>
                                        <select searchable="Select a sub project" @*asp-for="" data-val="false"*@ class="mdb-select-subProject mdb-select custom select-dropdown form-control-plaintext" id="SubProject">
                                            <option value="0">Select Subproject</option>
                                            @foreach (var subProject in Model.SubProjects)
                                            {
                                                <option value="@subProject.SubProjectID">@subProject.SubProjectDescription</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 ">
                                    <div class="form-group">
                                        <label asp-for="Request.Product.VendorID" class="control-label">Supplier</label>
                                        <select searchable="Select A Vendor" asp-for="Request.Product.VendorID" data-val="false" class="mdb-select custom select-dropdown form-control-plaintext" id="vendorList">
                                            <option value="0">Select Vendor</option>
                                            @foreach (var vendor in Model.Vendors)
                                            {
                                                <option value="@vendor.VendorID">@vendor.VendorEnName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @* IN MIDDLE *@
                                        <label class="control-label">Supplier ID</label>
                                        <select searchable="Select A Vendor ID" asp-for="Request.Product.Vendor.VendorBuisnessID" id="vendorBusinessIDList" data-val="false" class="mdb-select custom select-dropdown form-control-plaintext">
                                            <option value="0">Select Vendor ID</option>
                                            @foreach (var vendor in Model.Vendors)
                                            {
                                                <option value="@vendor.VendorID">@vendor.VendorBuisnessID</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="form-group">
                                        <label asp-for="Request.ParentRequest.OrderNumber" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderNumber" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Request.ParentRequest.OrderDate" class="control-label"></label>
                                        <input asp-for="Request.ParentRequest.OrderDate" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="form-group">
                                        <label asp-for="Request.Invoice.InvoiceNumber" class="control-label"></label>
                                        <input asp-for="Request.Invoice.InvoiceNumber" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Request.Invoice.InvoiceDate" class="control-label"></label>
                                        <input asp-for="Request.Invoice.InvoiceDate" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Request.Product.CatalogNumber" class="control-label"></label>
                                        <input asp-for="Request.Product.CatalogNumber" class="form-control-plaintext border-bottom" data-val="false" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="Request.Warranty" class="control-label"></label>
                                    <input asp-for="Request.Warranty" class="form-control-plaintext border-bottom" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">End Date</label>
                                    @*@{
                                    //get this just to return the date (not the time)
                                    //adding the amount of months of the warranty to the invoice date
                                    var endWarrantyDate = Model.Request.ParentRequest.InvoiceDate.AddMonths(Model.Request.Warranty);
                                }*@
                                    <input value="@Model.Request.Invoice.InvoiceDate.AddMonths(Model.Request.Warranty??0)" name="WarrantyDate" class="form-control-plaintext border-bottom" disabled="disabled" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Request.ExpectedSupplyDays" class="control-label">Expected supply days</label>
                                        <input asp-for="Request.ExpectedSupplyDays" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                                <div class="col-md-4 px-md-4">
                                    @{
                                        //get this just to return the date (not the time)
                                        //adding the amount of months of the expected supply days to the invoice date
                                        var endSupplyDate = Model.Request.Invoice.InvoiceDate.AddDays(Model.Request.ExpectedSupplyDays ?? 0);
                                    }
                                    <div class="form-group">
                                        <label class="control-label">Expected supply date</label>
                                        <input value="@endSupplyDate" class="form-control-plaintext border-bottom" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Request.URL" class="control-label"></label>
                                        <input asp-for="Request.URL" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <input asp-for="FromDate" type="date" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                                <div class="col-md-4 px-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Until Date</label>
                                        <input asp-for="ToDate" type="date" class="form-control-plaintext border-bottom" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Price</label>
                                        <input class="form-control-plaintext border-bottom" /> @*need to add "price" field in the RequestSearchViewModel*@
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
</div>
        </div>
</form>
